.activity-image-container {
    cursor: pointer;
    text-align: center;
    
    .activity-image-placeholder-container {
        background-color: #eeeeee;
        border: 1px dashed #979797;
        height: 192px;
        position: relative;
        width: 100%;
    }
    
    .activity-image-placeholder {
        bottom: 0;
        height: 69px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 83px;
    }
    
    .activity-image {
        display: block;
        margin: 0 auto 8px;
        width: 100%;
    }
    
    .activity-image-zoom-icon-container {
        display: inline-block;
        margin-right: 4px;
        vertical-align: top;
    }
    
    .activity-image-zoom-icon {
        height: 19px;
        width: 18px;
    }
    
    .activity-image-zoom-label {
        display: inline-block;
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        
        .activity-image {
            max-width: 300px;
            width: auto;
        }
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        
        .activity-image-placeholder-container {
            height: 200px;
            width: 300px;
        }
    }
}
