.anchor-default {
    display: inline-block;
    position: relative;
}

.anchor-default-disabled {
    color: #555555;
    cursor: default;
    text-decoration: none;
}

.anchor-tooltip {
    bottom: 35px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 265px;
    
    .triangle-left-above {
        right: 121px;
    }
    
    .triangle-right-above {
        right: 125px;
    }
}
