.crumb-default {
    display: inline-block;
    line-height: 24px;
    position: relative;
}

.crumb-nav-folder-menu {
    top: 3px;
}

.crumb-nav-no-folder-menu {
    top: 10px;
}

.crumb-label-container {
    display: inline-block;
    position: relative;
}

.crumb-label {
    cursor: default;
    display: inline-block;
    font-size: 16px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    .unselectable;
    white-space: nowrap;
    
    &.link {
        cursor: pointer;
    }
}

.crumb-tooltip {
    left: 50%;
    line-height: 14px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    
    .title-tooltip-arrow-above {
        top: 16px;
    }
}

.crumb-separator {
    margin: 0 18px;
    position: relative;
    top: -5px;
}

@media screen and (min-width: @breakpoint-xlarge) {
    
    .crumb-label {
        max-width: 160px;
    }
}
