.folder-menu-default {
    display: inline-block;
    position: relative;
}

.folder-menu-button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    height: 44px;
    margin-right: 10px;
    outline: none;
    padding: 8px;
    
    &:hover {
        background-color: #eeeeee;
    }
    
    &.folder-menu-button-selected {
        background-color: #eeeeee;
    }
}

.folder-menu-folder-icon {
    fill: #8cb4d2;
}

.folder-menu-chevron-icon {
    fill: #8cb4d2;
    margin-left: 10px;
    position: relative;
    top: -2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.folder-menu-items-container {
    background-color: #ffffff;
    border-radius: 4px;
    .box-shadow (0 0 4px #999999);
    min-width: 178px;
    position: absolute;
    z-index: 3;
}

.folder-menu-item {
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
    .unselectable;
    white-space: nowrap;
    
    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    &:hover {
        background-color: #eeeeee;
    }
}
