@list-folder-height: 45px;

.list-folder-container-default {
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    height: @list-folder-height;
    line-height: @list-folder-height;
    padding: 0 4px 0 16px;
    position: relative;
    width: 100%;
    
    &:hover {
        background-color: #f8f8f8;
    }
}

.list-folder-container-default-selected {
    background-color: rgba(140, 180, 210, 0.1875);
    
    &:hover {
        background-color: rgba(140, 180, 210, 0.1875);
    }
}

.list-folder-icon {
    cursor: pointer;
    display: inline-block;
    height: 17px;
    position: relative;
    top: 3px;
    width: 21px;
}

.list-folder-name {
    cursor: pointer;
    display: inline-block;
    max-width: 350px;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    .unselectable;
    vertical-align: top;
    white-space: nowrap;
}

.list-folder-banner {
    background-color: #e50800;
    cursor: default;
    height: @list-folder-height;
    left: 0;
    line-height: @list-folder-height;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    
    -webkit-animation: list-folder-banner-fade 0.5s ease-out 1.75s forwards;
            animation: list-folder-banner-fade 0.5s ease-out 1.75s forwards;
}

@-webkit-keyframes list-folder-banner-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes list-folder-banner-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.list-folder-banner-icon {
    height: 20px;
    position: relative;
    top: 4px;
    width: 20px;
}

.list-folder-banner-text {
    color: #ffffff;
    cursor: default;
    font-size: 14px;
    font-weight: 400;
    line-height: @list-folder-height;
    margin-left: 10px;
    position: relative;
    .unselectable;
}

.list-folder-go-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    height: 36px;
    outline: none;
    position: relative;
    top: 4px;
    width: 36px;
    z-index: 3;
    
    &:hover:enabled {
        background-color: #e6e6e6;
    }
}

.list-folder-go-button-icon {
    position: relative;
    top: 1px;
}
