.button-menu-default {
    display: inline-block;
    position: relative;
}

.menu-button-menu-items-container {
    background-color: #ffffff;
    border-radius: 4px;
    .box-shadow (0 0 4px #999999);
    min-width: 178px;
    position: absolute;
    z-index: 3;
}

.menu-button-menu-item {
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    padding: 0 16px;
    .unselectable;
    white-space: nowrap;
    
    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
    &:hover {
        background-color: #eeeeee;
    }
}
