.nav-folder {
    cursor: pointer;
    height: 36px;
    position: relative;
    .unselectable;
    z-index: 2;
    
    &:hover {
        background-color: #f8f8f8;
    }
    
    &.nav-folder-current {
        background-color: #f3f3f3;
    }
    
    .nav-folder-expander-button {
        background-color: transparent;
        border: none;
        display: inline-block;
        height: 36px;
        margin-right: 8px;
        outline: none;
        padding-top: 4px;
        position: relative;
        width: 36px;
    }
    
    .nav-folder-expander-button-expanded {
        position: relative;
        top: -1px;
    }
    
    .nav-folder-container {
        display: inline-block;
        position: relative;
    }
    
    .nav-folder-icon {
        display: inline-block;
        height: 17px;
        position: relative;
        top: 4px;
        width: 21px;
    }
    
    .nav-folder-name {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        white-space: nowrap;
    }
    
    .nav-folder-name-current {
        font-weight: 600;
    }
    
    .nav-folder-name-tooltip {
        bottom: 32px;
        left: 50%;
        line-height: 16px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}
