.nav-trash {
    cursor: pointer;
    height: 36px;
    padding-left: 43px;
    position: relative;
    .unselectable;
    
    &:hover {
        background-color: #f8f8f8;
    }
    
    &.nav-trash-current {
        background-color: #f3f3f3;
    }
    
    .nav-trash-icon {
        display: inline-block;
        fill: #cccccc;
        height: 21px;
        position: relative;
        top: 4px;
        width: 23px;
    }
    
    .nav-trash-icon-current {
        fill: #8cb4d2;
    }
    
    .nav-trash-name {
        display: inline-block;
        height: 36px;
        line-height: 36px;
        margin-left: 8px;
    }
    
    .nav-trash-name-current {
        font-weight: 600;
    }
}
