.student-nav-container {
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    bottom: 0;
    height: 56px;
    padding-top: 7px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    
    .student-nav-x-of-x-container {
        display: none;
    }
    
    .quiz-nav-button {
        background-color: #ffffff;
        border: none;
        color: rgba(85, 85, 85, 0.5);
        font-size: 14px;
        height: 40px;
        outline: none;
        vertical-align: top;
        width: 40px;
    }
    
    .first-question-button {
        border: 1px solid #6d9ec4;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        cursor: pointer;
        
        &.disabled {
            cursor: default;
        }
    }
    
    .first-question-arrow {
        height: 20px;
        left: -1px;
        position: relative;
        top: 2px;
        width: 13px;
    }
    
    .previous-question-button {
        border: 1px solid #6d9ec4;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        margin-right: 1px;
    }
    
    .next-question-button {
        border: 1px solid #6d9ec4;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        margin-left: 2px;
    }
    
    .previous-question-arrow {
        height: 20px;
        left: -1px;
        position: relative;
        top: 2px;
        width: 11px;
    }
    
    .next-question-arrow {
        height: 20px;
        left: 1px;
        position: relative;
        top: 2px;
        width: 11px;
    }
    
    .question-number-container {
        display: inline-block;
        margin-left: 1px;
        height: 44px;
    }
    
    .fr-container-selected {
        border-bottom: 2px solid @shortAnswerColor;
    }
    
    .mc-container-selected {
        border-bottom: 2px solid #e8c400;
    }
    
    .tf-container-selected {
        border-bottom: 2px solid #8c6fcc;
    }
    
    .fr-question-unanswered {
        
        &.fr-question-selected {
            border: 1px solid @shortAnswerColor;
            color: @shortAnswerColor;
            cursor: default;
            font-weight: 700;
        }
        
        &.fr-question-unselected {
            border-bottom: 2px solid @shortAnswerColor;
            cursor: pointer;
        }
    }
    
    .mc-question-unanswered {
        
        &.mc-question-selected {
            border: 1px solid #e8c400;
            color: #e8c400;
            cursor: default;
            font-weight: 700;
        }
        
        &.mc-question-unselected {
            border-bottom: 2px solid #e8c400;
            cursor: pointer;
        }
    }
    
    .tf-question-unanswered {
        
        &.tf-question-selected {
            border: 1px solid #8c6fcc;
            color: #8c6fcc;
            cursor: default;
            font-weight: 700;
        }
        
        &.tf-question-unselected {
            border-bottom: 2px solid #8c6fcc;
            cursor: pointer;
        }
    }
    
    .fr-question-answered {
        background-color: @shortAnswerColor;
        border: none;
        color: #ffffff;
    }
    
    .mc-question-answered {
        background-color: #e8c400;
        border: none;
        color: #ffffff;
    }
    
    .tf-question-answered {
        background-color: #8c6fcc;
        border: none;
        color: #ffffff;
    }
    
    .last-question-button {
        border: 1px solid #6d9ec4;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        cursor: pointer;
        
        &.disabled {
            cursor: default;
        }
    }
    
    .last-question-arrow {
        height: 20px;
        left: 1px;
        position: relative;
        top: 2px;
        width: 13px;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        border-top: none;
        height: auto;
        padding-bottom: 84px;
        position: relative;
        
        .student-nav-x-of-x-container {
            display: block;
            margin-bottom: 5px;
        }
        
        .previous-question-button {
            border-bottom-left-radius: 0;
            border-left: none;
            border-top-left-radius: 0;
            cursor: pointer;
            margin-right: 7px;
            
            &.disabled {
                cursor: default;
            }
        }
        
        .next-question-button {
            border-bottom-right-radius: 0;
            border-right: none;
            border-top-right-radius: 0;
            cursor: pointer;
            margin-left: 8px;
            
            &.disabled {
                cursor: default;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-large) {
        .first-question-button:hover {
            background-color: #eeeeee;
            
            &.disabled:hover {
                background-color: #ffffff;
            }
        }
        
        .previous-question-button:hover {
            background-color: #eeeeee;
            
            &.disabled:hover {
                background-color: #ffffff;
            }
        }
        
        .fr-question-unanswered {
            
            &.fr-question-unselected:hover {
                background-color: #eeeeee;
            }
        }
        
        .mc-question-unanswered {
            
            &.mc-question-unselected:hover {
                background-color: #eeeeee;
            }
        }
        
        .tf-question-unanswered {
            
            &.tf-question-unselected:hover {
                background-color: #eeeeee;
            }
        }
        
        .fr-question-answered {
            
            &.fr-question-unselected:hover {
                background-color: #eeeeee;
                color: #555555;
                cursor: pointer;
            }
        }
        
        .mc-question-answered {
            
            &.mc-question-unselected:hover {
                background-color: #eeeeee;
                color: #555555;
                cursor: pointer;
            }
        }
        
        .tf-question-answered {
            
            &.tf-question-unselected:hover {
                background-color: #eeeeee;
                color: #555555;
                cursor: pointer;
            }
        }
        
        .next-question-button:hover {
            background-color: #eeeeee;
            
            &.disabled:hover {
                background-color: #ffffff;
            }
        }
        
        .last-question-button:hover {
            background-color: #eeeeee;
            
            &.disabled:hover {
                background-color: #ffffff;
            }
        }
    }
}
