.title-tooltip-default {
    background-color: #ffffff;
    border: solid 1px #cccccc;
    border-radius: 4px;
    .box-shadow (0 0 2px #aaaaaa);
    padding: 4px 7px 5px 8px;
    position: absolute;
}

.title-tooltip-default-above {
    bottom: 40px;
}

.title-tooltip-default-below {
    top: 40px;
}

.title-tooltip-arrow {
    border-right: 14px solid transparent;
    border-top: 14px solid #ffffff;
    .box-shadow(-2px -2px 2px 0px #cccccc);
    height: 0;
    left: 7px;
    position: absolute;
    width: 0;
    z-index: 2;
}

.title-tooltip-arrow-above {
    left: 0;
    margin: auto;
    right: 0;
    .rotate(225deg);
    top: 17px;
}

.title-tooltip-arrow-below {
    .rotate(45deg);
}

.title-tooltip-text-default {
    font-size: 12px;
    position: relative;
    white-space: nowrap;
    z-index: 3;
}
