#zoom-view-background {
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#zoom-view-box {
    
    &.modal-dialog {
        border-radius: 0;
        box-shadow: none;
        margin: 10px auto;
        min-height: unset;
        padding: 1px;
    }
    
    .zoom-image-close-container {
        background-color: #ffffff;
        cursor: pointer;
        height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        z-index: 1;
    }
    
    .zoom-image-close-x {
        height: 18px;
        left: 1px;
        position: relative;
        top: 6px;
        width: 17px;
    }
    
    .zoom-image-placeholder-container {
        background-color: #eeeeee;
        border: 1px dashed #979797;
        height: 192px;
        position: relative;
        width: 100%;
    }
    
    .zoom-image-placeholder {
        bottom: 0;
        height: 69px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 83px;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        
        .zoom-image-placeholder-container {
            height: 200px;
            width: 300px;
        }
    }
}
