doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        <!--[if !mso]><!-->
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        <!--<![endif]-->
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title
        <!--[if (gte mso 9)|(IE)]>
        style(type='text/css').
            table {border-collapse: collapse !important;}
        <![endif]-->
    body(style='margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;background-color:#f0f0f0;color:#444444;-webkit-font-smoothing:antialiased')
        div(style='max-width:500px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;background:#F0F0F0')
            <!--[if (gte mso 9)|(IE)]>
            <table width="500" style="border-spacing:0;width:100%;">
                <tr>
                    <td style="vertical-align:top;">
            <![endif]-->
            table(bgcolor='#ffffff' cellpadding='0' cellspacing='0' style='border-spacing:0;width:100%;max-width:500px')
                tr
                    td(style='text-align:center;vertical-align:top')
                        img(src='https://storage.pardot.com/27752/176796/header_stripes.gif' style='border-width:0;width:100%;max-width:520px;height:auto;display:block')
                tr
                    td(height='50' style='text-align:center')
                        img(src='https://storage.pardot.com/27752/176802/socrative_logo_email.gif' alt='Socrative by MasteryConnect' style='border-width:0;width:100px;height:auto')
                tr
                    block content
                tr
                    td(colspan='3' bgcolor='#789AB3' style='height:5px;text-align:center;vertical-align:top')
            table(bgcolor='#F0F0F0' cellpadding='0' cellspacing='0' style='border-spacing:0;width:100%;max-width:500px;font-size:11px;color:#666666;line-height:1.5')
                tr
                    td(height='60' style='vertical-align:middle;text-align:center')
                        a(href='http://eoaclk.com/iCCotI2Iaj/' target='_blank' style='text-decoration:none')
                            img(src='https://storage.pardot.com/27752/176804/social_fb.gif' alt='Facebook' width='24' height='18' border='0' style='margin-right:35px')
                        a(href='http://eoaclk.com/lAJBWeF36o/' target='_blank' style='text-decoration:none')
                            img(src='https://storage.pardot.com/27752/176810/social_twitter.gif' alt='Twitter' width='24' height='18' border='0' style='margin-right:38px')
                        a(href='http://eoaclk.com/n7kg0dzBfU/' target='_blank' style='text-decoration:none')
                            img(src='https://storage.pardot.com/27752/176806/social_instagram.gif' alt='Instagram' width='24' height='18' border='0' style='margin-right:32px')
                        a(href='http://eoaclk.com/vB8sDFh9b6/' target='_blank' style='text-decoration:none')
                            img(src='https://storage.pardot.com/27752/176808/social_pinterest.gif' alt='Pinterest' width='24' height='18' border='0')
                tr
                    td(height='1' bgcolor='#CCCCCC' style='text-align:center;vertical-align:top')
                tr
                    td(height='30' style='text-align:center;vertical-align:top')
                tr
                    td(style='text-align:center;vertical-align:top;font-family:\'Open Sans\',Arial,sans-serif')
                        a(href='http://eoaclk.com/BoRWMW9O52/' target='_blank' style='text-decoration:none;color:#444444').
                            SOCRATIVE.COM
                        .
                            &nbsp;|&nbsp;
                        a(href='http://eoaclk.com/ueKoe9TaZC/?lang=en-us' target='_blank' style='text-decoration:none;color:#444444').
                            SUPPORT
                        br
                        .
                            Copyright &copy; 2016 MasteryConnect, Inc. All Rights Reserved
                        br
                        .
                            Socrative, Inc.
                        br
                        .
                            175 West 200 South, Suite 1000
                        br
                        .
                            Salt Lake City, UT 84101
                        br
                        .
                            USA
                        br
                        a(href='https://app.masteryconnect.com/Privacy' target='_blank' style='text-decoration:none;color:#444444').
                            Privacy Policy
                        .
                            &nbsp;|&nbsp;
                        a(href='https://www.socrative.com/terms.html' target='_blank' style='text-decoration:none;color:#444444').
                            Terms &amp; Conditions
                        .
                            &nbsp;|&nbsp;
                        a(href='http://eoaclk.com/L1ihq5DGb0/' target='_blank' style='text-decoration:none;color:#444444').
                            Report a problem
                tr
                    td(height='30' style='text-align:center;vertical-align:top')
            <!--[if (gte mso 9)|(IE)]>
                    </td>
            </tr>
            </table>
            <![endif]-->
