extends base-email
block content
    td(style='vertical-align:top;font-family:\'Open Sans\',Arial,sans-serif;font-size:14px;line-height:1.5;font-weight:100')
        br
        div(style='font-size:24px;font-family:\'Open Sans\',Arial,sans-serif;color:#333333;height:60px;font-weight:200;text-align:center')
            | Socrative&nbsp;
            span(style='font-weight:bold')
                | PRO&nbsp;
            | Renewal
        div(style='text-align:center')
            img(src='https://s3.amazonaws.com/socimages.socrative.com/receipt/vector-smart-object.png' alt='Socrative PRO')
        div(style='margin-bottom:40px;margin-left:40px;margin-top:40px;max-width:420px')
            block renewal
