extends base-email
block content
    td(style='vertical-align:top;font-family:\'Open Sans\',Arial,sans-serif;font-size:14px;line-height:1.5;font-weight:100')
        br
        div(style='font-size:24px;font-family:\'Open Sans\',Arial,sans-serif;color:#333333;height:60px;font-weight:200;text-align:center')
            | Socrative&nbsp;
            span(style='font-weight:bold')
                | PRO&nbsp;
            | Receipt
        div(style='text-align:center')
            img(src='https://s3.amazonaws.com/socimages.socrative.com/receipt/vector-smart-object.png' alt='Socrative PRO')
        div(style='font-size:14px;font-weight:bold;line-height:19px;margin-bottom:40px;margin-left:105px;margin-top:40px;max-width:290px;text-align:center')
            | #{thankYou}
            div(style='font-weight:normal')
                | #{explanation}
        div(style='border-top:solid #f0f0f0 1px;margin-left:40px;max-width:420px;text-align:center')
            div(style='font-weight:bold;margin-top:25px')
                | Socrative, Inc.
            div
                | 175 West 200 South, Suite 1000
            div
                | Salt Lake City, Utah 84101
            div
                | USA
        div(style='border-bottom:solid #f0f0f0 1px;margin-bottom:40px;margin-left:40px;margin-top:25px;max-width:420px;padding-bottom:25px')
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{nameHeading}
                span(style='float:right')
                    | #{name}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{orgHeading}
                span(style='float:right')
                    | #{org}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{emailHeading}
                span(style='float:right')
                    | #{email}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{amountHeading}
                span(style='float:right')
                    | #{amount}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{orderNumberHeading}
                span(style='float:right')
                    | #{orderNumber}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{paymentMethodHeading}
                span(style='float:right')
                    | #{paymentMethod}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{licenseKeyHeading}
                span(style='float:right')
                    | #{licenseKey}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{subscriptionLengthHeading}
                span(style='float:right')
                    | #{subscriptionLength}
            div(style='height:30px;clear:both')
                span(style='font-weight:bold;float:left')
                    | #{expirationDateHeading}
                span(style='float:right')
                    | #{expirationDate}
            div(style='height:120px;clear:both;margin-top:20px')
                span(style='font-weight:bold;font-size: 12px;float:left')
                    | #{waStateSalesLabel}
                span(style='float:left;font-size: 11px;')
                    | #{waStateSalesContent}
