extends base-renewal
block renewal
    p(style='color:#111111')
        | #{renewalProblem}:
    p(style='background-color:#f0f0f0;border-radius:4px;color:#111111;padding:20px')
        | #{errorMessage}
    p(style='color:#111111')
        | #{manuallyRenew}
