extends base-renewal
block renewal
    p(style='color:#111111')
        | #{renewalSeatsAndDate}
        | #{renewalProcess}
        | #{renewalConfirmation}
    p(style='color:#111111')
        | #{profileActions}:
        ul
            li
                | #{disableRenew}
            li
                | #{manualRenew}
