		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/scripts/main.js"></script>
		{{#if accountingPage}}
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script type="text/javascript" src="/js/scripts/accounting.js"></script>
		{{/if}}
		{{#if queries}}
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script type="text/javascript" src="/js/scripts/queries.js"></script>
		{{/if}}
		{{#if manageAdmins}}
			<script type="text/javascript" src="/js/scripts/manage-admins.js"></script>
		{{/if}}
		{{#if manageBanners}}
			<script type="text/javascript" src="/js/scripts/manage-banners.js"></script>
		{{/if}}
		{{#if mergeAccounts}}
			<script type="text/javascript" src="/js/scripts/merge-accounts.js"></script>
		{{/if}}
		{{#if bulkUpgrade}}
			<script type="text/javascript" src="/js/scripts/bulk-upgrade.js"></script>
		{{/if}}
		{{#if resetPassword}}
			<script type="text/javascript" src="/js/scripts/reset-password.js"></script>
		{{/if}}
		{{#if receipt}}
			<script type="text/javascript" src="/js/scripts/receipt.js"></script>
		{{/if}}
		{{#if undeleteQuiz}}
			<script type="text/javascript" src="/js/scripts/undelete-quiz.js"></script>
		{{/if}}
		{{#if downgradeUser}}
			<script type="text/javascript" src="/js/scripts/downgrade-user.js"></script>
		{{/if}}
		{{#if deleteAccount}}
			<script type="text/javascript" src="/js/scripts/delete-account.js"></script>
		{{/if}}
		{{#if searchByRoom}}
			<script type="text/javascript" src="/js/scripts/search-by-room.js"></script>
		{{/if}}
		{{#if loginToAccount}}
			<script type="text/javascript" src="/js/scripts/login-to-account.js"></script>
		{{/if}}
		{{#if priceManagement}}
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script type="text/javascript" src="/js/scripts/price-management.js"></script>
		{{/if}}
	</body>
</html> 