<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> 
		<title>Socrative Admin</title>
		{{#if UIcss}}
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		{{/if}}
        <link rel="stylesheet" href="/css/main.css" type="text/css">
	</head>
	<body class="inner-page">
		<div class="page-wrapper">
			<div class="header clearfix">
				<h1 class="pull-left">Hi: {{email}}</h1>
				<nav id="secondary-menu" class="pull-right">
					<ul>
						<li><a href="/logout" title="Logout">Logout</a></li>
					</ul>
				</nav>
			</div>