doctype html
html(lang='en')
    head
        title Socrative
        link(rel='shortcut icon' href=`${STATIC_URL}favicon.ico`)
        meta(name='viewport' content='user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1, width=device-width')
        meta(name='theme-color' content='#8cb4d2')
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(name='google' content='notranslate')
        meta(http-equiv='Content-Language' content='en')
        meta(name='MobileOptimized' content='480')
        meta(http-equiv='X-UA-Compatible' content='IE=Edge')
        meta(name='google-site-verification' content='ArL5R90c597UaAk4Thb5jPAZsrXIvzfhZDeSfdkNkWk')
        style.
            @font-face {font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');}
            @font-face {font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'),local('OpenSansLight-Italic'),url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');}
            @font-face {font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans'),local('OpenSans'),url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');}
            @font-face {font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans Semibold'),local('OpenSans-Semibold'),url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');}
            @font-face {font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');}
            @font-face {font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'),local('OpenSans-Italic'),url(https://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');}
            @font-face {font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'),local('OpenSans-BoldItalic'),url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');}
            @font-face {font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'),local('Roboto-Medium'),url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');}
            @font-face {font-family:'Roboto Mono';font-style:normal;font-weight:300;src:local('Roboto Mono Light'),local('RobotoMono-Light'),url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz_R_54zmj3SbGZQh3vCOwvY.woff) format('woff');}
        script(src=`${STATIC_URL}libs/pubnub-4.20.0.min.js`)
        script.
            window.backend_host = '#{BACKEND_HOST}';
            window.teacher_service = '#{TEACHER_SERVICE}';
            window.marketing_host = '#{MARKETING_HOST}';
            window.static_url = '#{STATIC_URL}#{VERSION}/';
            window.libs_url = '#{STATIC_URL}libs/';
            window.pubnub = new PubNub({
                subscribeKey: '#{PUBNUB_SUBSCRIBE_KEY}',
                origin: 'pubsub.pubnub.com',
                ssl: true
            });
        block stripe
        block css
        block head
    body(id='body')
        block content
        //- The following script handles the loading messages that appear at the top
            of the page. The non-minified version is in loading-state-optimized.js.
        script.
            var SOCRATIVE=SOCRATIVE||{};SOCRATIVE.initTemplateLoader={start:function(){document.getElementById("body").insertAdjacentHTML("beforeend",'<div id="loader"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div id="loader-message">Loading.</div></div>');var a=0,b=document.getElementById("loader-message"),c=function(){a++,a>9&&(b.innerHTML="Still working on it."),a>16&&(b.innerHTML="We're making progress."),a>24&&(b.innerHTML="Did you know? Socrative supports teachers in over 150 countries!"),a>34&&(b.innerHTML="Did you know? Socrative users have created over 6 million quizzes!")};this.intervalId=setInterval(c,1e3)},stop:function(){var a=document.getElementById("loader");null!=a&&a.parentNode.removeChild(a),clearInterval(this.intervalId)}},SOCRATIVE.checkTime={start:function(){var a=this,b=function(){SOCRATIVE.initTemplateLoader.start(),a.reset()};this.intervalId=setInterval(b,3e3)},reset:function(){clearInterval(this.intervalId)}},SOCRATIVE.checkTime.start();
        script(src=`${STATIC_URL}${VERSION}/js/common.bundle.min.js`)
        block webpack
            script.
                window.location.href = 'https://www.socrative.com/';
