script.
    window.stripe_key = '#{STRIPE_KEY}';
    if (!/iOS APP/i.test(navigator.userAgent)) {
        (function (a) {
            if (window.Stripe) {
                return
            }
            var b = a.createElement('script');
            b.async = !0;
            b.src = 'https://js.stripe.com/v2/';
            var c = a.getElementsByTagName('script')[0];
            c.parentNode.insertBefore(b, c);
        })(document);
    }
