extends base.pug
block css
    link(type='text/css' rel='stylesheet' href=`${STATIC_URL}${VERSION}/css/student.min.css`)
block head
    script(src=`${STATIC_URL}libs/TweenLite.min.js?v=2`)
block content
    div(id='student-page-container')
        div(id='student-header-container')
        div(id='main-content')
        footer(id='footer' class='vertical-align')
block webpack
    script(src=`${STATIC_URL}${VERSION}/js/student.bundle.min.js`)
