extends base.pug
block css
    link(type='text/css' rel='stylesheet' href=`${STATIC_URL}${VERSION}/css/studentLogin.min.css`)
block webpack
    script(src=`${STATIC_URL}${VERSION}/js/studentLogin.bundle.min.js`)
