extends base.pug
block stripe
    include stripe.pug
block css
    link(type='text/css' rel='stylesheet' href=`${STATIC_URL}${VERSION}/css/teacher.min.css`)
block head
    script(src=`${STATIC_URL}libs/TweenLite.min.js?v=2`)
block content
    div(id='page-container')
        div(id='renewal-notify-container')
        div(id='banner-container')
        div(id='header-container')
        div(id='main-content')
    footer(id='footer' class='vertical-align')
block webpack
    script(src=`${STATIC_URL}${VERSION}/js/teacher.bundle.min.js`)

    script.
        (function(a){if(window.tinyMCE){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src="#{STATIC_URL}libs/tinymce/tinymce.min.js?v=4.1.10";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);})(document);
