extends base.pug
block stripe
    include stripe.pug
block css
    link(type='text/css' rel='stylesheet' href=`${STATIC_URL}${VERSION}/css/teacherLogin.min.css`)
block webpack
    script(src=`${STATIC_URL}${VERSION}/js/teacherLogin.bundle.min.js`)
