<div class="terms-section">

<h1>Socrative, Inc. Terms &amp; Conditions of Service</h1></br>

<p>PLEASE NOTE THAT THIS SITE AND THE SERVICES ARE IN BETA RELEASE.  ACCORDINGLY, SOME OF THE FEATURES OF THE SITE AND SERVICES DESCRIBED BELOW MAY BE NOT BE AVAILABLE TO YOU AND THE SITE AND SERVICES MAY EXHIBIT BUGS AND ERRORS.  PLEASE SEE FURTHER UNDER “BETA RELEASE” BELOW.</p>

<p>THESE TERMS &amp; CONDITIONS OF SERVICE (<strong>"TERMS"</strong>) ARE A LEGAL CONTRACT BETWEEN YOU (<strong>"YOU"</strong> OR <strong>"YOUR"</strong>) AND SOCRATIVE.COM (THE <strong>"SOCRATIVE"</strong>, <strong>"OUR"</strong> OR <strong>"US"</strong>).  THESE TERMS EXPLAIN HOW YOU ARE PERMITTED TO USE THE WEBSITE LOCATED AT THE URL: <span style="text-decoration:underline;">WWW.SOCRATIVE.COM</span> AS WELL AS ALL ASSOCIATED SITES LINKED TO <span style="text-decoration:underline;">WWW.SOCRATIVE.COM</span> BY SOCRATIVE, ITS SUBSIDIARIES, AND AFFILIATED COMPANIES (COLLECTIVELY, THE <strong>"SITE"</strong>); THE SERVICES MADE AVAILABLE ON OR THROUGH THIS SITE (COLLECTIVELY, THE <strong>"SERVICES"</strong>); AND ANY SOFTWARE THAT SOCRATIVE PROVIDES TO YOU THAT ALLOWS YOU TO ACCESS THE SERVICES FROM A MOBILE DEVICE (A <strong>"MOBILE APPLICATION"</strong>).  BY USING THIS SITE AND THE SERVICES, YOU ARE AGREEING TO ALL THESE TERMS; IF YOU DO NOT AGREE WITH ANY OF THESE TERMS, DO NOT ACCESS OR OTHERWISE USE THIS SITE, ANY SERVICES AVAILABLE THROUGH THIS SITE, OR ANY INFORMATION CONTAINED ON THIS SITE.</p>

<p>IN ADDITION TO THESE TERMS, YOUR USE OF CERTAIN SERVICES, FEATURES AND CONTENT MADE AVAILABLE ON OR THROUGH THE SITE MAY BE SUBJECT TO ADDITIONAL OR OTHER TERMS AND CONDITIONS; IN SUCH CASE YOU WILL BE NOTIFIED AND YOU WILL HAVE AN OPPORTUNITY TO REVIEW SUCH ADDITIONAL TERMS.</p>

<p><span style="text-decoration:underline;"><em>NOTE: THESE TERMS CONTAIN A DISPUTE RESOLUTION AND ARBITRATION PROVISION, INCLUDING CLASS ACTION WAIVER, THAT AFFECTS YOUR RIGHTS UNDER THESE TERMS AND WITH RESPECT TO DISPUTES YOU MAY HAVE WITH SOCRATIVE.  YOU MAY OPT OUT OF THE BINDING INDIVIDUAL ARBITRATION AND CLASS ACTION WAIVER AS PROVIDED BELOW.</em></span></p>

<h4>Age Restrictions.</h4>

<p>You may only use the Site and Services if you are: (i) at least 13 years of age; or (ii) if you are under 13 years of age, with the consent of your teacher or a legal parent or guardian.  By using the Site and Services, you hereby represent and warrant that you are at least 13 years of age or, if you are under 13 years of age, that you have the consent of your teacher, legal parent, or guardian to use the Site and Services.</p>

<p>IF YOU REGISTER, APPROVE THE REGISTRATION OF, OR OTHERWISE ASSUME RESPONSIBILITY FOR ANY STUDENT, YOU REPRESENT AND WARRANT THAT YOU ARE THAT STUDENT\'S LEGAL PARENT OR GUARDIAN; OR, IF YOU ARE A TEACHER OR SCHOOL, THAT YOU HAVE THE AUTHORITY TO CONSENT TO SUCH STUDENT\'S USE OF THE SITE AND SERVICES, AND YOU AGREE TO BE BOUND BY THESE TERMS ON BEHALF OF SUCH STUDENT, INCLUDING WITHOUT LIMITATION BEING LIABLE FOR ALL USE OF THE SITE AND SERVICES BY SUCH STUDENT.</p>

<h4>Verification of Identity.</h4>

<p>You acknowledge that we may choose, but are not obligated, to make any inquiries, either directly or through third parties, that we deem necessary to validate any user\'s registration information, including without limitation engaging third parties to provide identity or other verification services.  Socrative reserves all rights to take legal action against anyone who misrepresents personal information or is otherwise untruthful about their identity in connection with their use of the Services.  NOTWITHSTANDING THE FOREGOING, YOU ACKNOWLEDGE THAT SOCRATIVE CANNOT GUARANTEE THE ACCURACY OF ANY INFORMATION SUBMITTED BY ANY USER, OR THE IDENTITY OF ANY USER WHO CHOOSES TO USE THE SERVICES, AND WE ARE NOT OBLIGATED TO VERIFY THE IDENTITY OF ANY USER.</p>

<h4>Teachers and Educators.</h4>

<p>If you are a teacher or educator, and will use the Socrative Services as an education tool, please read this section carefully.  The Children\'s Online Privacy Protection Act ("COPPA") requires that Socrative obtain consent prior to the collection, use, and disclosure of information from children under 13.  If you have students under 13 and would like those students to use the Socrative Services as a classroom tool, you are responsible for using the Services in accordance with COPPA.  By using the Socrative Services, you expressly consent to the collection, use, and disclosure of personal information as set forth in our COPPA Privacy Policy, available at <a href="https://app.masteryconnect.com/Privacy#coppa" target="_blank">https://app.masteryconnect.com/Privacy#coppa</a>, from those of your students under 13 that use Socrative Services as a classroom tool.  You also agree to use the Socrative Services and any information you collect from children via the Socrative Services in accordance with our COPPA Policy, COPPA, and all applicable laws.  You represent, warrant, and covenant that you, as a teacher, educator, or school, have the authority to use the Socrative Services as a classroom tool.  You also agree that you will not use Socrative Services with any children under 13 years old, unless you are the teacher or an authorized representative of that child\'s school with authority to consent to the collection use and disclosure of personal information from such child in the context of your classroom or school.</p>

<h4>Changes.</h4>

<p>Socrative may make changes to the content and Services offered on or through the Site at any time.  Socrative may also change, update, add, or remove provisions of these Terms at any time.  If we change these Terms, we will use commercially reasonable efforts to notify you of such changes; for example, we may send you an email if you have registered with us to use our Services, or we may post a notice on the Site indicating that we changed our Terms.  However, it is your responsibility to periodically check on the Site to see if these Terms have changed.  By using this Site after Socrative has updated these Terms, you are agreeing to all the updated Terms; if you do not agree with any of the updated Terms, you must stop using the Site and Services.</p>

<h4>General Use.</h4>

<p>Socrative provides content through the Site and Services that is copyrighted and/or trademarked work of Socrative, of Socrative\'s third-party licensors and suppliers, or of other users of the Services (collectively, the “Materials”).  Materials may include without limitation, logos, graphics, video, images, software, and other content.  Without limiting the foregoing, all lessons, exercises, games, blog, message board content, and related educational information made available on the Site and/or through the Services and all associated intellectual property and other proprietary rights are owned by Socrative, its third party licensors and suppliers, or other users of the Services, except that you retain ownership of any Submissions that you have provided as described below in these Term.</p>

<p>Subject to the terms and conditions of these Terms, and your compliance with these Terms, Socrative hereby grants you a limited, personal, non-exclusive and non-transferable license to use and to display the Materials and to use this Site and the Services solely for your personal educational use, which in the case of Teachers (as defined below) includes use for the benefits of each Teacher\'s Students (as defined below).  Except for the foregoing license and the rights you retain to Submissions that you have provided, you have no other rights in the Site, Services, or any Materials and you may not modify, edit, copy, reproduce, create derivative works of, reverse engineer, alter, enhance, or in any way exploit any of the Site, Services, or Materials, or any part thereof, in any manner.</p>

<p>If you breach any of these Terms, the above license will terminate automatically and you must immediately destroy any downloaded or printed Materials and refrain from any further use of the Site, Services, and Materials.</p>

<h4>Mobile Applications.</h4>

<p>Socrative makes available Mobile Applications to access the Site and Services via a mobile device.  To use the Mobile Application you must have a mobile device that is compatible with the mobile service.  Socrative does not warrant that the Mobile Application will be compatible with your mobile device.  Socrative hereby grants to you a non-exclusive, non-transferable, revocable license to use an object code copy of the Mobile Application for one registered account on one mobile device owned or leased solely by you (or to the extent legally required in the case of children, owned or leased on your behalf by your Parent or Teacher ) for your personal use.</p>

<p>You shall not (and you shall not permit or induce any third party to): (i) modify, disassemble, decompile, or reverse engineer the Mobile Application, except to the extent that such restriction is expressly prohibited by law, and in such case, solely to the extent permitted by applicable law; (ii) rent, lease, loan, resell, sublicense, distribute, or otherwise transfer the Mobile Application to any third party or use the Mobile Application to provide time sharing or similar services for any third party; (iii) make any copies of the Mobile Application; (iv) remove, circumvent, disable, damage, or otherwise interfere with security-related features of the Mobile Application, features that prevent or restrict use or copying of any content accessible through the Mobile Application, or features that enforce limitations on use of the Mobile Application; or (v) delete any copyright and/or other proprietary rights notices on the Mobile Application.</p>

<p>You acknowledge and agree that Socrative may from time-to-time, and in its sole discretion, issue upgraded versions of the Mobile Application, and may automatically electronically upgrade the version of the Mobile Application that you are using on your mobile device.  You consent to such automatic upgrading on your mobile device and agree that these Terms will apply to all such upgrades.  The foregoing license grant is not a sale of the Mobile Application or any copy thereof, and Socrative and its affiliates, third party licensors, and/or suppliers retain all right, title, and interest in and to the Mobile Application (and any copy of the Mobile Application).  Standard carrier data charges may apply to your use of the Mobile Application for which you are solely responsible.</p>

<p>The following additional terms and conditions apply with respect to any Mobile Application that Socrative may, in its sole discretion, now or in the future, provide to you designed for use on an Apple iOS-powered mobile device (an <strong>"iOS App"</strong>):</p>

<ul>
<li>You acknowledge that these Terms are between you and Socrative only, and not with Apple, Inc. (<strong>"Apple"</strong>).</li>
<li>Your use of Socrative\'s iOS App must comply with Apple\'s then-current App Store Terms of Services.</li>
<li>Socrative, and not Apple, is solely responsible for our iOS App and the Services and Materials available thereon.  You acknowledge that Apple has no obligation to provide maintenance and support services with respect to our iOS App.  To the maximum extent permitted by applicable law, Apple will have no warranty obligation whatsoever with respect to our iOS App.</li>
<li>You agree that Socrative, and not Apple, is responsible for addressing any claims by you or any third party relating to our iOS App or your possession and/or use of our iOS App, including, but not limited to: (i) product liability claims; (ii) any claim that the iOS App fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation. All such claims are governed solely by these Terms and any law applicable to us as provider of the iOS App.</li>
<li>You agree that Socrative, and not Apple, shall be responsible, to the extent required by these Terms, for the investigation, defense, settlement, and discharge of any third party intellectual property infringement claim related to our iOS App or your possession and use of our iOS App.</li>
<li>You represent and warrant that: (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</li>
<li>You agree to comply with all applicable third-party terms of agreement when using our iOS App (e.g., you must not be in violation of your wireless data service terms of agreement when using the iOS App).</li>
<li>The parties agree that Apple and Apple\'s subsidiaries are third-party beneficiaries to these Terms as they relate to your license of Socrative\'s iOS App.  Upon your acceptance of these Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce these Terms against you as they relate to your license of the iOS App as a third party beneficiary thereof.</li>
</ul>

<p>The following additional terms and conditions apply with respect to any Mobile Application that Socrative may, in its sole discretion, now or in the future, provide to you designed for use on an Android-powered mobile device (an <strong>"Android App"</strong>):</p>

<ul>
<li>You acknowledge that these Terms are between you and Socrative only, and not with Google, Inc. (<strong>"Google"</strong>).</li> 
<li>Your use of Socrative\'s Android App must comply with Google\'s then-current Android Market Terms of Services.</li>
<li>Google is only a provider of the Android Market where you obtained the Android App.  Socrative, and not Google, is solely responsible for Socrative\'s Android App and the Services and Content available thereon.  Google has no obligation or liability to you with respect to Socrative\'s Android App or these Terms.</li>
<li>You acknowledge and agree that Google is a third-party beneficiary to these Terms as they relate to Socrative\'s Android App.</li>
</ul>

<h4>Registering to Use the Site and Services.</h4>

<p>You do not need to register with Socrative to simply visit and view the Site, and you will be able to see a preview of lessons for Students and the Teacher dashboard without registration.  However, in order to use the Services and Materials offered on and through the Site, Teachers must register with Socrative to create an account.</p>

<p><span style="text-decoration:underline;">Teacher Registration</span>.  You are only permitted to use the Services as a teacher user (<strong>"Teacher"</strong>) on condition that you are a teacher, teacher-assistant, or similar educational professional who is employed by the school that the Student attends.  The Services may grant different permissions to teachers on the one hand and teacher-assistants and similar educational professionals on the other.  Once you complete the registration process, the Services may enable you to send invitations to your Students via email, inviting such Students to register to use the Site and Services.  We may terminate a Teacher user account at any time and without warning for any failure to comply with these Terms.</p>

<p>In addition to your other obligations specified in these Terms, by registering to use the Services as a Teacher, you represent and warrant that: (i) you are a teacher, teacher-assistant, or similar educational professional who is employed by the school which Student attends; (ii) you have full permission from the school by which you are employed to use the Site and Services on the school\'s behalf; (iii) you have the legal right and authority to enter these Terms on the school\'s behalf and to legally bind the school to these Terms; (iv) you have the written permission from each Parent and/or Student to whom you request an invitation to be sent through the Services, to communicate with them via email and/or text message; (v) you will immediately cease using the Site and Services when you are no longer a Teacher of the Students (unless you re-register for new Students at a different school in accordance with these Terms); and (vi) you will not require any Students to register to use the Services; Students must be free to determine whether they wish to use the Services.</p>

<p><span style="text-decoration:underline;">Student Registration</span>.  You are only permitted to use the Services as a student user (<strong>"Student"</strong>) on condition that: (i) you are at least 13 years of age; or (ii) if you are under 13 years of age, your legal parent or guardian and/or Teacher has consented to your use of the Services.  We may terminate a Student\'s access to the Services at any time and without warning for any failure to comply with these Terms.</p>

<p>In addition to your other obligations specified in these Terms, by registering to use the Services as a Student, you represent and warrant that: (i) you are a student who wishes to use the Services for your own personal educational purposes; (ii) you understand and agree that your use of the Site and Services is governed by these Terms (please ask your Parent to explain these Terms if you do not understand them); and (iii) you will immediately cease using the Site and Services when you no longer wish to use (or you are no longer permitted to use) the Site and/or Services for any reason.  You acknowledge and agree that through the Teacher dashboard, and/or other features of the Services, Socrative and/or your Teacher may be able to review your activities using the Services, including without limitation, your scores in practice lessons and benchmark assessments, and your communications and messages to and from, and other interactions with, message boards, blogs, and other Students and Teachers.</p>

<p><span style="text-decoration:underline;">Required Registration Information</span>. Students are not required to submit any registration information to use the Services.</p>

<p>Socrative reserves the right to approve or reject all users of the Services, in Socrative\'s sole discretion.</p>

<p>You are responsible for maintaining the confidentiality of your password used to access the Site or Services, secret identity (in the case of Students) and any Third-Party Site Passwords (collectively, <strong>"Passwords"</strong>), and you are responsible for all activities that occur using your Passwords.  Except to the extent a Student shares his or her secret identity with his or her Parent, you agree not to share your Passwords, let others access or use your Passwords or do anything else that might jeopardize the security of your Passwords.  You agree to notify Socrative if any of your Passwords are lost, stolen, if you are aware of any unauthorized use of your Passwords or if you know of, or suspect, any other breach of security in relation to this Site or the Services.</p>

<p><span style="text-decoration:underline;">Termination of Accounts</span>. You may close your user account at any time by following the account cancellation procedure on the Site or by contacting us using the contact information specified below in these Terms, and requesting termination of your account.  We may terminate your account any time and for any reason in our sole discretion.  To the extent you have paid any fees to Socrative (as further specified below in these Terms) prior to termination of your account, you will not be entitled to any refund of such fees.</p>      

<h4>Beta Release.</h4>

<p>If you register for a "beta account" or other pre-release version of the Site, Services, and/or Materials (each, a <strong>"Beta Release"</strong>), you acknowledge and agree that the Beta Release may contain, in Socrative\'s sole discretion, more or fewer features, content, or different licensing terms than a subsequent commercial release version of the Beta Release that may be offered through the Site and/or Services.  You acknowledge and agree that any “beta account” will automatically convert to a commercial release version account upon the launch date of the Site or Services to the public (<strong>"Public Launch Date"</strong>).  If you do not wish to continue using the Site or Services after the Public Launch Date, you may delete your account as set forth above in these Terms.</p>

<p>While Socrative generally intends to distribute commercial release versions of the Site, Services, and Materials, Socrative reserves the right not to release later commercial release versions of any Beta Release.  Without limiting any disclaimer of warranty or other limitation stated in these Terms, you agree that any Beta Release is not considered by Socrative to be suitable for production use, and that it may contain errors affecting its proper operation.</p>

<p>BY ACCEPTING THESE TERMS, YOU ACKNOWLEDGE AND AGREE THAT USE OF A BETA RELEASE MAY EXHIBIT SPORADIC DISRUPTIONS THAT HAVE THE POTENTIAL TO DISRUPT YOUR USE OF THE SITE IN GENERAL AND ANY SERVICES AND/OR MATERIALS THAT MAY BE OFFERED ON OR THROUGH THE SITE.  SOCRATIVE, ON ITS BEHALF AND ON BEHALF OF THE OTHER SOCRATIVE PARTIES (AS DEFINED BELOW), SPECIFICALLY DISCLAIMS ALL DAMAGES RESULTING FROM YOUR USE OF ANY BETA RELEASE.</p>

<h4>Fees.</h4>

<p>Socrative does not currently charge any fee to register to open an account for the Services.  However, you may be required to pay fees to use certain features or content made available through the Site and Services.  We reserve the right in our sole discretion to introduce fees for use of all or any portion(s) of the Site and/or Services at any time.  We will notify you if we introduce any new fees or change existing fees.  Such notification will take place as specified above in these Terms.  However, we will never apply any new or higher fees to you retroactively.</p>

<h4>Electronic Communications.</h4>

<p>By using the Site and Services provided on or through the Site, you hereby consent to receive electronic communications from Socrative.  These electronic communications may include notices about applicable fees, taxes, other charges, transactional information, and other information concerning or related to the Site and Services.  These electronic communications are part of your relationship with Socrative.  You agree that any notices, agreements, disclosures, or other communications that we send you electronically will satisfy any legal communication requirements, including that such communications be in writing.</p>

<h4>Links to Third-Party Sites.</h4>

<p>This Site may be linked to other websites that are not Socrative sites, including, without limitation, social networking, blogging, and similar websites through which you may be able to log into this Site using your existing account and log-in credentials for such third party websites, including without limitation, Google and Facebook (any and all of which of the foregoing listed websites may change from time-to-time) and websites that provide educational content and question-and-answer forum functionality (collectively, <strong>"Third-Party Sites"</strong>).  Certain areas and features of the Site may allow you to interact and/or conduct transactions with such Third-Party Sites, and, if applicable, allow you to configure your privacy settings in your Third-Party Site account to permit your activities on this Site to be shared with your contacts in your Third-Party Site account and, in certain situations, you may be transferred to a Third-Party Site through a link but it may appear that you are still on this Site.</p>

<p>You acknowledge and agree that the Third-Party Sites may have different privacy policies, terms and conditions, and/or user guides and business practices than Socrative, and you further acknowledge and agree that your use of such Third-Party Sites is governed by the respective Third-Party Site privacy policy and terms and conditions and/or user guides.  You hereby agree to comply with any and all terms and conditions, users guides, and privacy policies of any of Third-Party Sites.  Socrative is providing links to the Third-Party Sites to you as a convenience, and Socrative does not verify, make any representations about, or take responsibility for such Third-Party Sites, including, without limitation, the truthfulness, accuracy, quality, or completeness of the content, services, links displayed, and/or any other activities conducted on or through such Third-Party Sites.</p>

<p>YOU AGREE THAT NEITHER SOCRATIVE NOR THE OTHER SOCRATIVE PARTIES SHALL, UNDER ANY CIRCUMSTANCES, BE RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, TO YOU OR ANY THIRD PARTY, FOR ANY GOODS, SERVICES, INFORMATION, RESOURCES, MATERIALS, AND/OR CONTENT AVAILABLE ON OR THROUGH ANY THIRD-PARTY SITES AND/OR THIRD-PARTY DEALINGS OR COMMUNICATIONS, OR FOR ANY HARM RELATED THERETO, OR FOR ANY DAMAGES OR LOSS CAUSED OR ALLEGED TO BE CAUSED BY OR IN CONNECTION WITH YOUR USE OR RELIANCE ON THE PRODUCTS, SERVICES, CONTENT, OR BUSINESS PRACTICES OF ANY THIRD PARTY.</p>

<h4>Submissions.</h4>

<p>You are responsible for the information, opinions, messages, comments, photos, videos, graphics, sounds, lessons, educational materials and other content that you submit, upload, post, send, or otherwise make available on or through the Site and Services (each a <strong>"Submission"</strong>).  You may not upload, post, send or otherwise make available on this Site or through the Services, any material protected by copyright, trademark or any other intellectual property or other proprietary right without the express permission of the owner of such copyright, trademark or other intellectual property or other proprietary right, and the burden of determining whether any material is protected by any such right is on you.</p>

<p>You agree to pay for all royalties, fees, damages, and any other monies owing to any person and/or entity by reason of any Submissions posted by you to or through this Site and the Services.  Without limiting the foregoing, you shall be solely liable for any and all claims, damage, and loss resulting from any infringement and/or misappropriation of copyrights, trademarks, and/or other proprietary rights, violation of contract, privacy or publicity rights or any other harm resulting from any Submission that you make.  You have full responsibility for each Submission you make, including its legality, reliability, and appropriateness.  Without limiting the foregoing, you are only permitted to make Submissions that are consistent with the educational purposes for which Socrative makes the Site and Services available.</p>

<p>Socrative\'s guiding philosophy is to promote education for children as broadly as possible.  Accordingly, to the extent you provide Submissions that consist of lessons or other educational content, we encourage you to place such content in the public domain so that anyone may use it.  Unless otherwise explicitly stated herein or in Socrative Privacy Policy, you agree that any Submission provided by you in connection with these Services is provided on a non-confidential basis.  You hereby grant to Socrative a non-exclusive, perpetual, irrevocable, royalty-free, fully paid-up, worldwide license (including the right to sublicense through multiple tiers) to reproduce, process, adapt, publicly perform, publicly display, modify, prepare derivative works of, publish, transmit, distribute, and otherwise use each of your Submissions, or any portion thereof, in any form, medium or distribution method now known or hereafter existing, known or developed, and authorize others to use the Submissions.</p>

<p>We may modify or adapt your Submissions in order to transmit, display, or distribute them over computer networks, in various media, and/or make changes to the Submissions as necessary to conform and adapt them to any requirements or limitations of any networks, devices, services, or media and/or otherwise modify them in any manner in our sole discretion.  Socrative does not guarantee any confidentiality with respect to any Submissions.</p>

<p>For the avoidance of doubt and without limiting the foregoing, you acknowledge and agree that you retain ownership of your Submissions; provided however, that Socrative may use such Submissions in accordance with the foregoing license.  By way of example only, Socrative may use any lesson (or any modification and/or derivative work thereof) submitted by a user through the Services for Socrative\'s benefit, without any fee, royalty, other payment, or attribution due to the submitting user; provided, however, that the submitting user may not compel any such use.</p>

<p>When you provide Submissions you agree that those Submissions shall not be in violation of the "Unauthorized Activities" paragraph below.  THOSE PROHIBITIONS DO NOT REQUIRE SOCRATIVE TO MONITOR, POLICE OR REMOVE ANY SUBMISSIONS OR OTHER INFORMATION SUBMITTED BY YOU OR ANY OTHER USER.</p>

<h4>Ratings.</h4>

<p>Socrative may in its sole discretion, enable users to provide feedback and/or ratings concerning lessons and other Materials that they have used through the Services or otherwise.  Such feedback and ratings are intended to enable users to evaluate the usefulness of such Materials.  Please use caution and good judgment when providing feedback or ratings, as they will be viewable by other users of the Services.  All feedback and ratings that you provide through the feedback and ratings features will constitute Submissions.  Without limiting the foregoing, you may not: (i) post any false, malicious, reckless, abusive, defamatory, offensive, inflammatory, or inappropriate information about any lesson or other Materials; (ii) disclose any personally identifiable information or other confidential information of any user or other person using the feedback and ratings tool; (iii) manipulate feedback and ratings, including, without limitation, by rating your Submissions; or (iv) provide feedback or ratings on unrelated Materials.  You are solely and exclusively responsible and liable for all feedback and other ratings that you provide.</p>

<h4>Unauthorized Activities.</h4>

<p>When using this Site and/or the Services, you agree not to:</p>

<ul>
<li>Defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights (such as the rights of privacy and publicity) of others.</li>
<li>Use racially, ethnically, or otherwise offensive language.</li>
<li>Discuss or incite illegal activity.</li>
<li>Use explicit/obscene language or solicit/post sexually explicit images (actual or simulated).</li>
<li>Post anything that exploits children or minors or that depicts cruelty to animals.</li>
<li>Post any materials that violate the copyright rights, trademark rights, or other intellectual property rights of any person without the express permission from the owner.</li>
<li>Disseminate any unsolicited or unauthorized advertising, promotional materials, \'junk mail\', \'spam\', \'chain letters\', \'pyramid schemes\', or any other form of such solicitations.</li>
<li>Use any robot, spider, scraper, or other automated means to access the Site or Services.</li>
<li>Take any action that imposes an unreasonable or disproportionately large load on our or our third-party service providers\' infrastructure.</li>
<li>Alter the opinions, comments, messages or other Submissions posted, sent or otherwise communicated by others on this Site or through the Services.</li>
<li>Post, send, or otherwise communicate any Submission or other information contrary to our public image, goodwill or reputation, as determined by us in our sole discretion.</li>
</ul>

<p>This list of prohibitions provides examples and is not complete or exclusive.  Socrative reserves the right to: (i) terminate access to your account and your ability to post to this Site (or use the Services); and (ii) refuse, modify, delete, or remove any Submissions; with or without cause and with or without notice, for any reason or no reason, or for any action that Socrative determines is inappropriate or disruptive to this Site and/or the Services or to any other user of this Site and/or Services.  In addition to violating these Terms, any unauthorized use of any Materials may violate applicable laws, rules, and/or regulations.</p>

<p>SOCRATIVE MAY REPORT TO LAW ENFORCEMENT AUTHORITIES, OR OTHER THIRD PARTIES, ANY ACTIONS THAT MAY BE ILLEGAL AND ANY REPORTS IT RECEIVES OF SUCH CONDUCT.  WHEN LEGALLY REQUIRED OR AT SOCRATIVE\'S DISCRETION, SOCRATIVE WILL COOPERATE WITH LAW ENFORCEMENT AUTHORITIES IN ANY INVESTIGATION OF ALLEGED ILLEGAL ACTIVITY IN CONNECTION WITH THE SITE, SERVICES, OR ON THE INTERNET, WITH OR WITHOUT NOTICE TO YOU.</p>

<h4>Indemnification.</h4>

<p>You hereby agree to indemnify, defend, and hold harmless, Socrative, its parents, affiliates, subsidiaries, suppliers, licensors, and business partners, and its and their respective officers, directors, employees, and agents (collectively, the “Socrative Parties”) from and against any and all costs, damages, liabilities, losses, and expenses (including without limitation attorneys\' fees and costs of defense) any Socrative Party suffers in relation to, arising from, or for the purpose of avoiding, any claim or demand from a third party that your use of this Site and/or the Services, or the use of this Site and/or the Services, by any person using your user name and/or Password (including without limitation, your participation in the Interactive Features and your Submissions) violates any applicable law, rule or regulation, or the copyrights, trademark rights or other rights of any third party, including without limitation, the intellectual property, privacy, and/or publicity rights of any third party.  For the avoidance of doubt, Teachers\' foregoing indemnification obligations expressly extend to the acts and omissions of their Students for whom they are responsible in accordance with these Terms.</p>

<h4>Proprietary Rights.</h4>

<p>"Socrative" and associated logo(s) are trademarks owned by Socrative in the United States of America and in other countries.  Other trademarks, names and logos on this Site are the property of their respective owners.</p>

<p>Unless otherwise expressly specified in these Terms, all information and screens appearing on this Site, including documents, services, site design, text, graphics, logos, images, and icons and all Materials, as well as the arrangement thereof, are the sole property of Socrative, Copyright © 2013 Socrative.com.  All rights not expressly granted herein are reserved.  Except as otherwise required or limited by applicable law, any reproduction, distribution, modification, retransmission, or publication of any copyrighted material is strictly prohibited without the express prior written consent of the copyright owner or license.</p>

<p>The Mobile Application software that is provided to you through the Site and Services and related documentation are “Commercial Items”, as that term is defined at 48 C.F.R. §2.101, consisting of “Commercial Computer Software” and "Commercial Computer Software Documentation", as such terms are used in 48 C.F.R. §12.212 or 48 C.F.R. §227.7202, as applicable. Consistent with 48 C.F.R. §12.212 or 48 C.F.R. §227.7202-1 through 227.7202-4, as applicable, if you are a government entity, the Commercial Computer Software and Commercial Computer Software Documentation are being licensed to U.S. Government end users: (i) only as Commercial Items; and (ii) with only those rights as are granted to all other end users pursuant to the terms and conditions herein.  Unpublished-rights reserved under the copyright laws of the United States of America.</p> 

<p>Certain Materials that are not Submissions may be provided by third party licensors and suppliers to Socrative and your use of such Materials may be governed by separate and additional terms; you will be notified if such additional terms apply.</p>

<h4>Intellectual Property Infringement.</h4>

<p>Socrative respects the intellectual property rights of others, and we ask you to do the same.  Socrative may, in appropriate circumstances and at our discretion, terminate service and/or access to this Site and the Services for users who infringe or misappropriate the intellectual property rights of others.  If you believe that your work is the subject of copyright infringement and/or trademark infringement and appears on our Site or is otherwise made available through the Services, please provide Socrative\'s designated agent with the following information:</p>

<ul>
<li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
<li>Identification of the copyrighted and/or trademarked work claimed to have been infringed, or, if multiple works at a single online site are covered by a single notification, a representative list of such works at that site.</li>
<li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled at the Site, and information reasonably sufficient to permit Socrative to locate the material.</li>
<li>Information reasonably sufficient to permit Socrative to contact you as the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted.</li>
<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright and/or trademark owner, its agent, or the law.</li>
<li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul>

<p>Socrative\'s agent for notice of claims of copyright or trademark infringement on this Site can be reached as follows:</p>

<p><a href="mailto:support@socrative.com">support@socrative.com</a></p>

<p>Please also note that for copyright infringements under Section 512(f) of the Copyright Act, any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability.</p>

<p><span style="text-decoration:underline;">Submitting a DMCA Counter-Notification</span></p>

<p>We will notify you that we have removed or disabled access to copyright-protected material that you provided, if such removal is pursuant to a valid DMCA take-down notice that we have received. If you receive such notice from us, you may provide us with a counter-notification in writing to the Socrative designated agent specified above, that includes all of the following information:</p>

<ol>
<li>Your physical or electronic signature;</li>
<li>Identification of the material that has been removed or to which access has been disabled, and the location at which the material appeared before it was removed or access to it was disabled;</li>
<li>A statement from you under the penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled; and</li>
<li>Your name, physical address and telephone number, and a statement that you consent to the jurisdiction of a court for the judicial district in which your physical address is located, or if your physical address is outside of the United States of America, for any judicial district in which Socrative may be located, and that you will accept service of process from the person who provided notification of allegedly infringing material or an agent of such person.</li>
</ol>
<br>

<p><span style="text-decoration:underline;">Termination of Repeat Infringers</span></p>

<p>Socrative reserves the right, in its sole discretion, to terminate the account or access of any user of our Site and/or Services who is the subject or repeated DMCA or other infringement notifications.</p>

<h4>Disclaimer of Warranties.</h4>

<p>Your use of this Site and/or the Services is entirely at your own risk.  The Materials have not been verified or authenticated in whole or in part by Socrative, and they may include inaccuracies or typographical or other errors.  Socrative does not warrant the accuracy or timeliness of the Materials contained on this Site or otherwise made available through the Services.  Socrative has no liability for any errors or omissions in the Materials, whether provided by Socrative, our licensors or suppliers or other users.</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT SOCRATIVE AND THE OTHER SOCRATIVE PARTIES DO NOT REPRESENT, WARRANT, COVENANT OR GUARANTEE THAT USING THE SITE AND/OR SERVICES WILL RESULT IN ANY IMPROVED PERFORMANCE BY ANY STUDENT OR WILL RESULT IN ANY PARTICULAR STUDENT ADVANCEMENT OR ATTAINMENT.</p>

<p>SOCRATIVE, FOR ITSELF AND THE OTHER SOCRATIVE PARTIES, MAKES NO EXPRESS, IMPLIED OR STATUTORY REPRESENTATIONS, WARRANTIES, COVENANTS OR GUARANTEES IN CONNECTION WITH THIS SITE OR THE SERVICES RELATING TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF ANY INFORMATION OR CONTENT CONTAINED OR PRESENTED ON OR THROUGH THIS SITE AND/OR THE SERVICES, INCLUDING WITHOUT LIMITATION, THE MATERIALS AND SUBMISSIONS.</p>

<p>THIS SITE, THE SERVICES, AND MATERIALS, AND ANY INFORMATION OR CONTENT CONTAINED OR PRESENTED BY SOCRATIVE ARE PROVIDED TO YOU ON AN “AS IS,” “AS AVAILABLE” AND “WHERE-IS” BASIS WITH NO WARRANTY OR IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS.  SOCRATIVE DOES NOT PROVIDE ANY WARRANTIES AGAINST VIRUSES, SPYWARE OR MALWARE THAT MAY BE INSTALLED ON YOUR COMPUTER.</p>

<p>Some jurisdictions do not allow certain disclaimers and/or limitations of warranties and similar protections, so the foregoing may not apply to you; in such case, Socrative\'s warranties shall be limited to the greatest extent permitted under the applicable laws of such jurisdiction.</p>

<h4>Limitation of Liability.</h4>

<p>IN NO EVENT SHALL SOCRATIVE OR THE OTHER SOCRATIVE PARTIES BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, EXTRAORDINARY, EXEMPLARY, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING BUT NOT LIMITED TO, LOSS OF BUSINESS, REVENUE, PROFITS, USE, DATA OR OTHER ECONOMIC ADVANTAGE), HOWEVER IT ARISES, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE SITE, SERVICES AND/OR MATERIALS, INCLUDING WITHOUT LIMITATION, LIABILITY ASSOCIATED WITH ANY VIRUSES WHICH MAY INFECT YOUR COMPUTER EQUIPMENT OR DATA, EVEN IF SOCRATIVE KNOWS THERE IS A POSSIBILITY OF SUCH DAMAGE.</p>

<p>IN ADDITION, IN NO EVENT SHALL SOCRATIVE\'S OR THE OTHER SOCRATIVE PARTIES\' TOTAL CUMULATIVE LIABILITY ARISING UNDER OR IN CONNECTION WITH THESE TERMS, EXCEED THE GREATER OF: (I) ONE HUNDRED US DOLLARS (US$100); OR (II) THE TOTAL AMOUNT OF ANY FEES YOU HAVE PAID SOCRATIVE FOR THE SERVICES DURING THE ONE (1) YEAR PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE RELEVANT SOCRATIVE PARTY\'S LIABILITY.</p>

<p>Some jurisdictions do not allow certain limitations of liability, so the foregoing may not apply to you; in such case, Socrative Parties\' liability will be limited to the greatest extent permitted under the applicable laws of such jurisdiction.</p>

<h4>Local Laws.</h4>

<p>Socrative controls and operates this Site from its headquarters in the United States of America and the Site and Services may not be appropriate or available for use in other locations.  If you use this Site or Services outside the United States of America, you are responsible for following applicable local laws, rules and regulations.  You acknowledge and agree that the Site and Services are primarily designed for users in the United States of America and are based on U.S. curricula, requirements and standards, which may be different to curricula, requirements and standards in other jurisdictions; the Site and Services do not take non-U.S. curricula, requirements or standards into account.</p>

<h4>Feedback.</h4>

<p>If you send or transmit any communications, comments, questions, suggestions, or related materials to Socrative, whether by letter, email, telephone, or otherwise (collectively, “Feedback”), suggesting or recommending changes to the Site or Services, including, without limitation, new features or functionality relating thereto, all such Feedback is, and will be treated as, non-confidential and non-proprietary.  You hereby assign all right, title, and interest in, and Socrative is free to use, without any attribution or compensation to you, any ideas, know-how, concepts, techniques, or other intellectual property and proprietary rights contained in the Feedback, whether or not patentable, for any purpose whatsoever, including but not limited to, developing, manufacturing, having manufactured, licensing, marketing, and selling, directly or indirectly, products and services using such Feedback.  You understand and agree that Socrative is not obligated to use, display, reproduce, or distribute any such ideas, know-how, concepts, or techniques contained in the Feedback, and you have no right to compel such use, display, reproduction, or distribution.  The terms of this paragraph shall not apply to your Submissions which are governed by the terms set forth above under "Submissions".</p>

<h4>Dispute Resolution and Arbitration; Class Action Waiver.</h4>

<p>PLEASE READ THIS CAREFULLY.  IT AFFECTS YOUR RIGHTS.</p>

<p>Most customer concerns can be resolved quickly and to a customer\'s satisfaction by contacting us at <a href="mailto:support@socrative.com">support@socrative.com</a>. This arbitration agreement (the “Provision”) facilitates the prompt and efficient resolution of any Disputes (as defined below) that may arise between you and Socrative.  Arbitration is a form of private dispute resolution in which persons with a dispute waive their rights to file a lawsuit, to proceed in court and to a jury trial, and instead submit their disputes to a neutral third person (or arbitrator) for a binding decision.  You have the right to opt-out of this Provision (as explained below), which means you would retain your right to litigate your disputes in a court, either before a judge or jury.</p>

<p>Please read this Provision carefully.  It provides that all Disputes between you and Socrative shall be resolved by binding arbitration.  Arbitration replaces the right to go to court.  In the absence of this Provision, you may otherwise have a right or opportunity to bring claims in a court, before a judge or jury, and/or to participate in or be represented in a case filed in court by others (including, but not limited to, class actions).  Except as otherwise provided, entering into this Provision constitutes a waiver of your right to litigate claims and all opportunity to be heard by a judge or jury.  There is no judge or jury in arbitration, and court review of an arbitration award is limited.  The arbitrator must follow this Provision and can award the same damages and relief as a court (including attorney\'s fees).</p>

<p>For the purpose of this Provision, <strong>"Socrative"</strong> means Socrative and its parents, subsidiaries, and affiliate companies, and each of their respective officers, directors, employees, and agents.  The term <strong>"Dispute"</strong> means any dispute, claim, or controversy between you and Socrative regarding any aspect of your relationship with Socrative, whether based in contract, statute, regulation, ordinance, tort (including, but not limited to, fraud, misrepresentation, fraudulent inducement, or negligence), or any other legal or equitable theory, and includes the validity, enforceability or scope of this Provision (with the exception of the enforceability of the Class Action Waiver clause below).  “Dispute” is to be given the broadest possible meaning that will be enforced, and shall include any claims against other parties relating to services or products provided or billed to you (such as Socrative\'s licensors, suppliers, dealers or third party vendors) whenever you also assert claims against us in the same proceeding.</p>

<p>WE EACH AGREE THAT, EXCEPT AS PROVIDED BELOW, ANY AND ALL DISPUTES, AS DEFINED ABOVE, WHETHER PRESENTLY IN EXISTENCE OR BASED ON ACTS OR OMISSIONS IN THE PAST OR IN THE FUTURE, WILL BE RESOLVED EXCLUSIVELY AND FINALLY BY BINDING ARBITRATION RATHER THAN IN COURT IN ACCORDANCE WITH THIS PROVISION.</p>

<p><span style="text-decoration:underline;">Pre-Arbitration Claim Resolution</span></p>

<p>For all Disputes, whether pursued in court or arbitration, you must first give Socrative an opportunity to resolve the Dispute.  You must commence this process by mailing written notification to Socrative at 9350 South 150 East, Suite 575 
Sandy, Utah 84070 or <a href="mailto:support@socrative.com">support@socrative.com</a>.  That written notification must include: (i) your name; (ii) your address; (iii) a written description of your claim; and (iv) a description of the specific relief you seek.  If Socrative does not resolve the Dispute within forty-five (45) days after it receives your written notification, you may pursue your Dispute in arbitration.  You may pursue your Dispute in a court only under the circumstances described below.</p>

<p><span style="text-decoration:underline;">Exclusions from Arbitration/Right to Opt Out</span></p>

<p>Notwithstanding the above, you or Socrative may choose to pursue a Dispute in court and not by arbitration if: (i) the Dispute qualifies, it may be initiated in small claims court; or (ii) YOU OPT-OUT OF THESE ARBITRATION PROCEDURES WITHIN 30 DAYS FROM THE DATE THAT YOU FIRST CONSENT TO THESE TERMS (the <strong>"Opt-Out Deadline"</strong>).  You may opt out of this Provision by mailing written notification to Socrative at 9350 South 150 East, Suite 575
Sandy, Utah 84070 or <a href="mailto:support@socrative.com">support@socrative.com</a>.  Your written notification must include: (a) your name; (b) your address; and (c) a clear statement that you do not wish to resolve disputes with Socrative through arbitration.  Your decision to opt-out of this Arbitration Provision will have no adverse effect on your relationship with Socrative.  ANY OPT-OUT REQUEST RECEIVED AFTER THE OPT-OUT DEADLINE WILL NOT BE VALID AND YOU MUST PURSUE YOUR DISPUTE IN ARBITRATION OR SMALL CLAIMS COURT.</p>

<p><span style="text-decoration:underline;">Arbitration Procedures</span></p>

<p>If this Provision applies and the Dispute is not resolved as provided above (Pre-Arbitration Claim Resolution) either you or Socrative may initiate arbitration proceedings.  The American Arbitration Association (“AAA”), <a href="http://www.adr.org" target="_blank">www.adr.org</a>, or JAMS, <a href="http://www.jamsadr.com" target="_blank">www.jamsadr.com</a>, will arbitrate all Disputes, and the arbitration will be conducted before a single arbitrator.  The arbitration shall be commenced as an individual arbitration, and shall in no event be commenced as a class arbitration.  All issues shall be for the arbitrator to decide, including the scope of this Provision.</p>

<p>For arbitration before the AAA, for Disputes of less than $75,000, the AAA\'s Supplementary Procedures for Consumer-Related Disputes will apply; for Disputes involving $75,000 or more, the AAA\'s Commercial Arbitration Rules will apply.  In either instance, the AAA\'s Optional Rules For Emergency Measures Of Protection shall apply.  The AAA rules are currently available at www.adr.org or by calling 1-800-778-7879.  For arbitration before JAMS, the JAMS Comprehensive Arbitration Rules &amp; Procedures and the JAMS Recommended Arbitration Discovery Protocols For Domestic, Commercial Cases will apply.  The JAMS rules are currently available at www.jamsadr.com or by calling 1-800-352-5267.  This Provision governs in the event it conflicts with the applicable arbitration rules.  Under no circumstances will class action procedures or rules apply to the arbitration.</p>

<p>Because the Site, Services and these Terms concern interstate commerce, the Federal Arbitration Act (“FAA”) governs the arbitrability of all Disputes.  However, the arbitrator will apply applicable substantive law consistent with the FAA and the applicable statute of limitations or condition precedent to suit.</p>

<p><span style="text-decoration:underline;">Arbitration Award</span>.  The arbitrator may award on an individual basis any relief that would be available pursuant to applicable law, and will not have the power to award relief to, against or for the benefit of any person who is not a party to the proceeding.  The arbitrator will make any award in writing but need not provide a statement of reasons unless requested by a party.  Such award will be final and binding on the parties, except for any right of appeal provided by the FAA, and may be entered in any court having jurisdiction over the parties for purposes of enforcement.</p>

<p><span style="text-decoration:underline;">Location of Arbitration</span>.  You or Socrative may initiate arbitration in either Santa Clara County, California or the federal judicial district that includes your billing address.  In the event that you select the federal judicial district that includes your billing address, Socrative may transfer the arbitration to Santa Clara County, California in the event that it agrees to pay any additional fees or costs you incur as a result of the transfer, as determined by the arbitrator.</p>

<p><span style="text-decoration:underline;">Payment of Arbitration Fees and Costs</span>.  Socrative will pay all arbitration filing fees and arbitrator\'s costs and expenses upon your written request given prior to the commencement of the arbitration.  You are responsible for all additional fees and costs that you incur in the arbitration, including, but not limited to, your attorneys\' and/or expert witnesses\' fees and costs.  Fees and costs may be awarded as provided pursuant to applicable law.  In addition to any rights to recover fees and costs under applicable law, if you provide notice and negotiate in good faith with Socrative as provided in the section above titled “Pre-Arbitration Claim Resolution” and the arbitrator concludes that you are the prevailing party in the arbitration, you will be entitled to recover reasonable attorneys\' fees and costs as determined by the arbitrator.</p>

<p><span style="text-decoration:underline;">Class Action Waiver</span>.  Except as otherwise provided in this Provision, the arbitrator may not consolidate more than one person\'s claims, and may not otherwise preside over any form of a class or representative proceeding or claims (such as a class action, consolidated action or private attorney general action) unless both you and Socrative specifically agree to do so following initiation of the arbitration.  IF YOU CHOOSE TO PURSUE YOUR DISPUTE IN COURT BY OPTING OUT OF THIS ARBITRATION PROVISION, AS SPECIFIED ABOVE, THIS CLASS ACTION WAIVER WILL NOT APPLY TO YOU.  Neither you, nor any other user of the Site or Services can be a class representative, class member, or otherwise participate in a class, consolidated, or representative proceeding without having complied with the opt-out requirements above.</p>

<p><span style="text-decoration:underline;">Jury Waiver</span>. You understand and agree that by entering into this Agreement you and Socrative are each waiving the right to a jury trial or a trial before a judge in a public court.  In the absence of this Provision, you and Socrative might otherwise have had a right or opportunity to bring Disputes in a court, before a judge or jury, and/or to participate or be represented in a case filed in court by others (including class actions).  Except as otherwise provided below, those rights are waived.  Other rights that you would have if you went to court, such as the right to appeal and to certain types of discovery, may be more limited or may also be waived.</p>

<p><span style="text-decoration:underline;">Severability</span>. If any clause within this Provision (other than the Class Action Waiver clause above) is found to be illegal or unenforceable, that clause will be severed from this Provision, and the remainder of this Provision will be given full force and effect.  If the Class Action Waiver clause is found to be illegal or unenforceable, this entire Provision will be unenforceable and the Dispute will be decided by a court.</p>

<p><span style="text-decoration:underline;">Continuation</span>. This Provision shall survive the termination of these Terms with Socrative and your termination of your use of the Site and Services.  Notwithstanding any provision in this Agreement to the contrary, we agree that if Socrative makes any change to this Provision (other than a change to the notice address), you may reject any such change and require Socrative to adhere to the language in this Provision if a dispute between us arises.</p>

<h4>General.</h4>

<p>Socrative prefers to inform you if we feel that you are not complying with these Terms and to recommend any necessary corrective action.  However, certain violations of these Terms, as determined by Socrative in our sole discretion, may result in immediate termination of your access to the Site and Services without prior notice to you.  The Federal Arbitration Act, Massachusetts state law and applicable U.S. federal law, without regard to the choice or conflicts of law provisions thereof, will govern these Terms.  Foreign laws do not apply.  The United Nations Convention on Contracts for the International Sale of Goods and any laws based on the Uniform Computer Information Transactions Act (UCITA) shall not apply to these Terms.  Except for Disputes subject to arbitration as described above, any disputes relating to these Terms or the Site or Services will be heard in the courts located in Suffolk County in the Commonwealth of Massachusetts.  If any of these Terms is found to be inconsistent with applicable law, then such term shall be interpreted to reflect the intentions of the parties, and no other terms will be modified.  Socrative\'s failure to enforce any of these Terms is not a waiver of such term.  These Terms are the entire agreement between you and Socrative in respect of the Site and Services and supersede all prior or contemporaneous negotiations, discussions or agreements between you and Socrative relating thereto.  The proprietary rights, disclaimer of warranties, representations made by you, indemnities, limitations of liability and general provisions, and any other terms which by their nature are intended to survive, shall survive any termination of these Terms.</p>

<h4>Contact Us.</h4>

<p>If you have any questions about these Terms or otherwise need to contact Socrative for any reason, you can reach us 9350 South 150 East, Suite 575, Sandy, Utah 84070 or <a href="mailto:support@socrative.com">support@socrative.com</a>.</p>

</div>

<div class="privacy-section">

<h1>Socrative, Inc. Privacy Policy</h1>

<p><span class="redLegal">PLEASE NOTE THAT THE SITE, APP AND SERVICES ARE IN BETA RELEASE AND, THUS, THEIR FEATURES ARE SUBJECT TO CHANGE.  WE MAY REVISE AND CHANGE THIS POLICY AND THE WAYS IN WHICH WE COLLECT, USE AND DISCLOSE PERSONAL INFORMATION AS WE AMEND THE SITE, APP AND SERVICES.  PLEASE CHECK BACK HERE FREQUENTLY TO REVIEW THE LATEST VERSION OF THIS POLICY.</span></p>

<p>Socrative ("Socrative") values your privacy.  At Socrative we provide educational software that teachers can use for quick polling, pre-made quizzes, and open response activities.  We offer real-time questioning in order to provide teachers with visualizations of student understanding.  Questions are also auto-graded and teachers can use our services to track student progress and grades.  In this Privacy Policy ("Policy"), we describe how we collect, use, and disclose information that we obtain about visitors to our website www.socrative.com (the "Site"), users of our mobile application (the "App"), and users of the services available through our Site and App (collectively, the "Services").</p>

<p>By visiting the Site, using or downloading the App, or using any of our Services, you agree that your personal information will be handled as described in this Policy.  Your use of our Site, App, or Services, and any dispute over privacy, is subject to this Policy and our Terms of Service (http://www.socrative.com/terms), including its applicable limitations on damages and the resolution of disputes. The Terms of Service are incorporated by reference into this Policy.</p>

<p>If you are a parent or teacher of a child under thirteen years old, please <a href="https://app.masteryconnect.com/Privacy#coppa" target="_blank">click here</a> (https://app.masteryconnect.com/Privacy#coppa) to review our COPPA Privacy Policy, which contains important information for parents about how we collect, use, and disclose the personal information we collect from children under thirteen years old.</p>

<h4>What Information Do We Collect About You and Why?</h4>

<p>We may collect information about you directly from you and from third parties, as well as automatically through your use of our Site or Services.</p>

<p><span class="privacy-bold">Information We Collect Directly From You.</span></p>
<ul>
<li><em>Teachers.</em> Certain areas and features of our Site, App, and Services may require registration. To register, teachers must provide an email and password.  We also may collect additional optional information from you, including first name, last name, primary role, what you teach, and where do you teach, though you are not required to provide us with this information.  If you make a purchase on our Site or App, you must provide your e-mail address and password, credit card information, and name on card.</li>
<li><em>Students.</em> We do not require students to submit registration information to use the Socrative Site, App or Service.  To log on, students simply enter their unique classroom ID, provided by a teacher.  However, we may collect a child\'s name and other information where directed by the child\'s teacher.  In such cases, we do not use the child\'s personal information for our own commercial purposes.</li>
</ul>

<p><span class="privacy-bold">Information We Collect Automatically.</span> We may automatically collect the following information about a child\'s use of our Site, App, or Services through cookies and other technologies: domain name; browser type and operating system; web pages viewed; links clicked; the length of time spent on our Site or App; the length of time our Services are used; Google Analytics statistics; the referring URL, or the webpage that led a user to our Site; language information; device name and model; operating system type, name, and version; and activities within our Site and App.  We may also collect IP address, device identifier or a similar unique identifier from users of our App and Site, including children; we only use such identifiers to support the internal operations of our Site and App and do not use such identifiers to collect information about users outside of our Site or App.  We may also collect location information from teacher users of our app and may combine the information we automatically collect from teachers with the information we collect directly.</p>

<h4>How We Use Your Information</h4>

<p>We use the information that we gather about you for the purposes such as the following:</p>

<ul>
<li>To provide our Services, to communicate with teacher users about your use of our Services, to respond to inquiries, and for other customer service purposes.</li>
<li>To provide students and teachers with information and reports about student performance and use of the Site, App, and Services.</li>
<li>To tailor the content and information that we may send or display to users, to offer personalized help and instructions, and to otherwise personalize your experiences while using the Site, App, or Services.</li>
<li>For marketing and promotional purposes.  We may use information collected from teacher users, to send such users you news and newsletters, special offers, and promotions, or to otherwise contact such users about products or information we think may be of interest.  We will not send marketing or promotional materials to student users.</li>
<li>To better understand how users access and use our Site, App, and Services, on an aggregated or de-identified basis, in order to improve our Site, App, and Services and respond to user desires and preferences, and for other research and analytical purposes.</li>
</ul>

<h4>How We Share Your Information</h4>

<p>We do not sell your personal information.  Generally, we may disclose the personal information that we collect to provide our Services, to comply with the law, and to protect Socrative and other users of our Services.  For example, we may share the personal information we collect as follows:</p>

<ul>
<li>Service Providers. We may disclose the information we collect from you to third-party vendors, service providers, contractors or agents who perform functions on our behalf.</li>
<li>Business Transfers. If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have collected from you to the other company.</li>
<li>In Response to Legal Process. We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal process.</li>
<li>To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Service or this Policy, or as evidence in litigation in which Socrative is involved.</li>
<li>Teachers and Other Users. Teachers are able to provide students with quizzes and other educational exercises, as well as receive grades for those assignments, through the Site, App, or Services.  As part of this, teachers can see information about a student\'s use of the Services, including their performance on certain tasks, assignments, and other activities.</li>
<li>Aggregate and De-Identified Information. We may share aggregate or de-identified information about users with third parties for marketing, advertising, research, or similar purposes.</li>
</ul>

<h4>Our Use of Cookies and Other Tracking Mechanisms</h4>

<p>We use cookies and other tracking mechanisms to track information about your use of our Site, App, or Services.  We may combine this information with other personal information we collect from you. Cookies are alphanumeric identifiers that we transfer to your computer\'s hard drive through your web browser for record-keeping purposes.  Some cookies allow us to make it easier for you to navigate our Site and Services, while others are used to enable a faster log-in process or to allow us to track your activities at our Site and Service.</p>

<p><span class="privacy-bold">Third-Party Cookies.</span> We may also engage third parties, such as Google Analytics, to track and analyze data from our Site, App, or Services.  We use the data collected by such third parties to help us administer and improve the quality of our Site, App, and Services and to analyze Site and App usage.  These third parties are not permitted to use the information collected on our behalf, except to help us conduct and improve our business.</p>

<p><span class="privacy-bold">Disabling Cookies.</span> Most web browsers automatically accept cookies, but if you prefer, you can edit your browser options to block them in the future.  The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether.  Visitors to our Site who disable cookies will be able to browse certain areas of the Site, but some features may not function.</p>

<h4>Third-Party Analytics</h4>

<p>We use automated devices and applications, such as Google Analytics, to evaluate usage of our Site and, to the extent permitted, our App. We also may use other analytic means to evaluate our Site, App, and Services. We use these tools to help us improve our Services, performance, and user experiences.  These entities may use cookies and other tracking technologies to perform their services.  We do not share personal information with these third parties.</p>

<h4>Third-Party Links</h4>

<p>Our Site, App, and Services may contain links to third-party websites.  Any access to and use of such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third-party websites.  We are not responsible for the information practices of such third-party websites.</p>

<h4>Security of My Personal Information</h4>

<p>We have implemented a variety of security measures to protect the personal information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction.  Please be aware that despite our best efforts, no data security measures can guarantee 100% security.  You should take steps to protect against unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping your log-in and password private.  We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity.</p>

<h4>Access to My Personal Information</h4>

<p>Teachers may modify personal information that you have submitted by logging into your account and updating your profile information.  As noted above, student users are not required to register or to create a profile to use the Site, App or Services.  Please note that copies of information that you have updated, modified or deleted may remain viewable in cached and archived pages of the Site or App for a period of time.</p>

<h4>Marketing Communications</h4>

<p>We may send periodic promotional or informational emails to teacher users.  You may opt-out of such communications by following the opt-out instructions contained in the e-mail. Please note that it may take up to 10 business days for us to process opt-out requests.  If you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you e-mails about your account or any Services you have requested or received from us.</p>

<h4>Contact Us</h4>

<p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at <a href="mailto:support@socrative.com">support@socrative.com</a>.</p>

<h4>Changes to This Policy</h4>

<p>This Policy is current as of the Effective Date set forth above.  We may change this Policy from time to time, so please be sure to check back periodically.  We will post any changes to this Policy on our Site, at (<a href="https://app.masteryconnect.com/Privacy" target="_blank">https://app.masteryconnect.com/Privacy</a>).  If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site.</p>

</div>