#activate-license-modal-background {
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#activate-license-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    
    &.modal-dialog {
        padding: 16px;
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 0;
            top: 4px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            margin-bottom: 19px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            .unselectable;
        }
    }
    
    #activate-license-modal-content {
        
        .input-container {
            width: 100%;
            
            label {
                cursor: default;
                display: inline-block;
                margin-bottom: 4px;
                .unselectable;
            }
            
            #license-key {
                margin-top: 4px;
                width: 100%;
                
                &.activated {
                    border: 1px solid #8fc254;
                    color: #8fc254;
                }
                
            }
            
            #license-key-id {
                width: 100%;
            }
            
            #license-key::selection {
                background: #b0d6ff;
                color: #555555;
            }
            
            #license-key::-moz-selection {
                background: #b0d6ff;
                color: #555555;
            }
        }
        
        .activate-license-buttons-container {
            margin-top: 24px;
        }
        
        .activate-license-button {
            background-color: #ffa100;
            border: none;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            outline: none;
            margin-left: -1px;
            width: 130px;
            .unselectable;
        }
        
        .activate-license-info {
            display:block;
            margin-bottom: 20px;
        }
        
        .activate-license-button:disabled {
            background-color: rgba(255, 161, 0, 0.5);
            cursor: default;
        }
        
        .activate-license-cancel-button {
            background-color: #ffffff;
            border: 1px solid #ffa100;
            color: #FFA100;
            margin-left: 8px;
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        width: 355px;
        
        #activate-license-modal-content {
            
            .activate-license-button {
                width: 158px;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-large) {
        width: 394px;
        
        #activate-license-modal-content {
            
            .activate-license-button {
                width: 177px;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 20px 24px 24px 24px;
        width: 500px;
        
        &.modal-dialog {
            
            .cancel-button {
                right: 14px;
                top: 11px;
            }
        }
        
        #activate-license-modal-content {
            
            .activate-license-button {
                width: 116px;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-large) {
        
        #activate-license-modal-content {
            
            .activate-license-button:hover {
                background-color: #cb7e00;
            }
            
            .activate-license-cancel-button:hover {
                background-color: #cb7e00;
                border: 1px solid #cb7e00;
                color: #ffffff;
            }
            
            .activate-license-button:disabled:hover {
                background-color: rgba(255, 161, 0, 0.5);
                cursor: default;
            }
        }
    }
}
