#add-room-modal-background {
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#add-room-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    
    &.modal-dialog {
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 0;
            top: 4px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            margin-bottom: 19px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            .unselectable;
        }
    }
    
    #add-room-modal-content {
        
        .input-container {
            width: 100%;
            
            .input-error-icon {
                top: 16px;
            }
            
            .tooltip-container-above {
                width: 246px;
            }
            
            label {
                cursor: default;
                .unselectable;
            }
            
            #roomName {
                margin-top: 4px;
                text-transform: uppercase;
                width: 100%;
            }
            
            #roomName::selection {
                background: #b0d6ff;
                color: #555555;
            }
            
            #roomName::-moz-selection {
                background: #b0d6ff;
                color: #555555;
            }
        }
        
        .add-room-buttons-container {
            margin-top: 24px;
        }
        
        .add-room-button {
            background-color: #6d9ec4;
            border: none;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            outline: none;
            margin-left: -1px;
            min-width: 96px;
            .unselectable;
            
            &:hover:enabled {
                background-color: @button-secondary-hover-background;
            }
            
            &:disabled {
                cursor: default;
                opacity: 0.5;
            }
        }
        
        .add-room-cancel-button {
            background-color: #ffffff;
            border: 1px solid #6d9ec4;
            color: #6d9ec4;
            margin-left: 8px;
        }
        
        .add-room-cancel-button:hover {
            background-color: @button-secondary-hover-background;
            border: 1px solid @button-secondary-hover-background;
            color: #ffffff;
        }
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 20px 24px 24px 24px;
        width: 352px;
        
        &.modal-dialog {
            
            .cancel-button {
                right: 14px;
                top: 11px;
            }
        }
    }
}
