.quick-question-container {
    margin: 0 auto;
    padding: 2em 0;

    h2 {
        padding-bottom: 0.5em;
    }

    .quick-question-button(@color, @borderColor, @hoverColor) {
        .unselectable;
        cursor: pointer;
        position: relative;
        width: 20%;
        max-width: 20em;
        float: left;
        .boxsizing(border-box);
        border: 3px solid @borderColor;
        background-color: white;
        white-space: nowrap;
        padding: 1em;
        height: 140px;
        text-transform: uppercase;
        .border-radius(0.5em);
        .transition(all ease 0.3s);

        &:hover {
            background: @hoverColor;
            border-color: darken(@borderColor, 10%);

            .question-name {
                background: darken(@hoverColor, 15%);
            }
        }

        &:active {
            background-color: lighten(@color, 20%);
        }

        &#true-false-button {
            margin: 0 5%;
        }

        .question-name {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 1.4em;
            font-weight: 700;
            text-transform: uppercase;
            background: @hoverColor;
            padding: 0.5em 0;
            color: @textGray;
            .border-radius(0 0 0.25em 0.25em);
            .transition(all ease 0.3s);
        }

        .question-type {
            position: absolute;
            font-size: 3em;
            color: @borderColor;
            left: 0;
            top: 0.7em;
            width: 100%;
            font-weight: 600;
        }

        @media only screen and (max-width: @breakpoint-xlarge) {
            .question-name {
                font-size: 1.0em;
            }
        }

        @media only screen and (max-width: @breakpoint-medium) {
            width: 30%;
            .question-name {
                font-size: 1em;
            }

            .question-type {
                top: 0.7em;
            }
        }


        @media only screen and (max-width: @breakpoint-small) {
            width: 96%;
            max-width: 96%;
            margin: 2%;
            float: left;
            .question-name {
                font-size: 1.1em;
            }
            &#true-false-button {
                margin: 0 2%;
            }
        }


    }

    #multiple-choice-button {
        .quick-question-button(@semiLightOrange, @mainOrange, @lightOrange);
    }

    #true-false-button {
        .quick-question-button(@semiLightPurple, @mainPurple, @lightPurple);
    }

    &.lr-view {
        h2 {
            padding-bottom: .5em;
        }
        button {
            height: 120px!important;
            font-size: 0.8em;
        }
    }
    
    .launch-button-container {
        width: 96px;
    }
    
    .mc-button,
    .tf-button,
    .sa-button {
        .launch-button-circle {
            border: solid 2px #e8c400;
            color: #e8c400;
            font-size: 21px;
            font-weight: 300;
            height: 54px;
            letter-spacing: -0.5px;
            line-height: 50px;
            margin: 0 auto 11px;
            width: 54px;
        }
        
        .launch-button-label {
            font-size: 12px;
        }
    }
    
    .tf-button {
        .launch-button-circle {
            border: solid 2px #8c6fcc;
            color: #8c6fcc;
        }
    }
    
    .sa-button {
        .launch-button-circle {
            border: solid 2px @shortAnswerColor;
            color: @shortAnswerColor;
        }
    }
    
    @media only screen and (min-width: @breakpoint-phone-medium) {
        .launch-button-container {
            width: 114px;
            
            .launch-button-circle {
                font-size: 32px;
                height: 84px;
                line-height: 80px;
                width: 84px;
            }
            
            .launch-button-label {
                font-size: 16px;
            }
        }
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        .launch-button-container {
            margin-left: 10px;
            margin-right: 10px;
            width: 148px;
            
            .launch-button-circle {
                font-size: 36px;
                height: 102px;
                line-height: 97px;
                width: 102px;
            }
            
            .launch-button-label {
                font-size: 19px;
            }
        }
    }
    
    .launch-button-container.mc-button:hover .launch-button-circle {
        background-color: #e8c400;
        color: #ffffff;
    }
    
    .launch-button-container.mc-button:hover .launch-button-label {
        color: #e8c400;
    }
    
    .launch-button-container.tf-button:hover .launch-button-circle {
        background-color: #8c6fcc;
        color: #ffffff;
    }
    
    .launch-button-container.tf-button:hover .launch-button-label {
        color: #8c6fcc;
    }
    
    .launch-button-container.sa-button:hover .launch-button-circle {
        background-color: @shortAnswerColor;
        color: #ffffff;
    }
    
    .launch-button-container.sa-button:hover .launch-button-label {
        color: @shortAnswerColor;
    }
}



