@create-quiz-body-width: 85%;
@menuHeaderHeight: 2em;
@menuPadding: 1em;

.header-action-button-container,
.edit-quiz-header {
    .clearfix;

    width: @create-quiz-body-width;
    margin: 0 auto;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;
    }
}

/**
 * 
 * GENERAL CSS USED FOR ALL QUESTIONS
 * 
 */
#questions {
    max-width: @create-quiz-body-width;
    margin: auto;
}

.question(@backgroundColor) {
    .placeholder(#aaa);
    padding: 1em;
    position: relative;
    margin-top: 3em;
    
    background-color: @backgroundColor;
}

// css for the question textfields, usually a textarea
.question-textfield {
    
    width: 100%;
    min-height: 30px;
    padding: 5px;
    
    color: #333;
    font-size: 1em;
    background-color: white;

    resize: vertical;
    box-sizing: border-box;
}

.editable-menu-element {
    .unselectable;
    position: relative;
}

.question-text-entry {
    .editable-menu-element;
    width: 83%;
    margin-left: 1%;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;
        margin: 1em 0 0 0;
    }

    .question-text-setup-container {
        width: 100%;
        min-height: 4em;
        
        background: transparent;
    }
}

.edit-question-number {
    font-size: 1.2em;
    padding: 0 0 1em 0;
    span {
        font-weight: 700;
    }

    .question-number {
        margin-right: 1em;
    }

    .save-question {
        cursor: pointer;
        margin-left: 1em; 
        i {
            font-size: 1.5em;
            margin: 0 0.4em 0 0;
            position: relative;
            top: 4px;
        }

        @media only screen and (max-width: @breakpoint-small) {
            padding: 0 10px;
            i {margin: 0;}
            span {
                display: none;
            }
        }
    }

    &.disabled {
        opacity: 0.6;
    }

    .toggle-slider {
        display: inline-block;

        .toggle-slider-label {
            height: 32px;

            .toggle-slider-inner {
                &:before, &:after {
                    line-height: 1.5em;
                }
            }
        }

        &.disabled {
            opacity: 0.7;
        }
    }

    .formatting {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 0.5em;
        padding-right: 1em;

        @media only screen and (max-width: (@breakpoint-small + 30px)) {
            font-size: 0.6em;
        }
    }
}

.question textarea {
    .question-textfield;
    height: 3em;
    &:focus {
        -webkit-box-shadow:inset 0 0 3px 3px #E3E3E3;
        box-shadow:inset 0 0 8px 2px #E3E3E3;
    }
}

.question .explanation-input {
    width: 100%;
    float: left;
    height: 4.2em;
    .border-radius(.3em);

    color: #333!important;
    background-color: white!important;
}

.edit-question(@backgroundColor, @borderColor) {
    .question(@backgroundColor);
    border-top: 3px solid @borderColor;
    padding-right: 4.6em;
    min-height: 15em;
}

.add-answer-button {
    width: 10em;
    height: 3em;
    
    margin-top: 2em;
}

/**
 * FR QUESTION
 */
.free-response-menu {

    padding: 1em 0;

    button {
        margin: 0.5em 0.5em 0 0;
    }
    .text-entry-toggle {
        input{
            border:2px solid #444!important;
            margin-top: 2px!important;
        }
    }
}

.fr-answers-container {
    .text-entry-toggle {
        max-width: 15em;

        input, input:disabled {
            background: #fafafa;
            margin-top: 2px;
        }

        input:focus {
            border: 2px solid #bbb;
        }
    }
}


.free-response-menu .edit-answer {
    .editable(-.3em);
    display: block;
    width: 100%;
    .boxsizing(border-box);
    line-height: 2em;
    padding: 0.5em;
    margin: .3em 0;
    min-height: 3em;
}

/**
 * MC QUESTION
 */

.multiple-choice-header {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
    padding: 1em 0;
}

.mc-answer {
    margin-bottom: .5em;
    min-height: 2.4em;
    position: relative;
    /*color: white;*/
    float: left;
    width: 100%;

    .edit-question-number {
        float: left;
        width: 5%;
        padding: 0.53em 0;
        background: @secondaryBlue;
        border: 2px solid @darkBlue;
        color: @textGray;
        font-weight: 600;
        text-align: center;
        @media only screen and (max-width: @breakpoint-medium) {
            width: 10%;
        }
        @media only screen and (max-width: @breakpoint-small) {
            width: 15%;
        }
    }

    .text-entry-toggle {
        float: left;
        width: 90%;
        margin-left: 0.5em;

        @media only screen and (max-width: @breakpoint-large) {
            width: 85%;
        }

        @media only screen and (max-width: @breakpoint-medium) {
            width: 78%;
            .text-entry-toggle-display-container {
                width: 85%;
            }
        }

        @media only screen and (max-width: @breakpoint-small) {
            width: 70%;
            .edit-mc-answer-correctness {
                float: left!important;
            }
        }

        @media only screen and (max-width: @breakpoint-xsmall) {
            width: 65%;
            /*.edit-mc-answer-correctness {
                float: left;
            }*/
        }

        @media only screen and (min-width: @breakpoint-xlarge) {
            width: 92%;
        }
    }

    .text-entry-toggle-display-container {
        background: white;
        border: 2px solid #bbb;
        float: left;
        margin-left: 1em;
        word-break: break-word;
        position: relative;
        padding: 0.12em;
    }

    textarea {
        min-height: 3em;
    }

    &.is-correct {
        .edit-question-number {
            background: @green;
            border-color: @darkGreen;
        }
        textarea, .text-entry-toggle-display-container {
            background: @lightGreen;
            border-color: @darkGreen;
        }
    }
}

.add-choice {
    cursor: pointer;
    display: inline-block;
    margin-top: 1em;

    span {
        font-weight: 600;
        font-size: 1.2em;
    }

    .add-choice-icon {
        display: inline-block;
        margin-right: 0.5em;
        padding: 0.53em;
        background: @secondaryBlue;
        border: 2px solid @darkBlue;
        color: @textGray;
        text-align: center;

        .transition(all ease 0.3s);

    }

    &:hover {
        .add-choice-icon {
            background: darken(@secondaryBlue, 10%);
            border-color: darken(@darkBlue, 10%);
        }
    }
}

.mc-choice-container {
    .mc-answer-right-side {
        float: left;
        // margin-top: 0.4em;
        
        width: 13%;
        height: 3em;

        @media only screen and (min-width: @breakpoint-xlarge) {
            width: 8%;
        }
        
        @media only screen and (max-width: @breakpoint-medium) {
            width: 17%;
        }

        @media only screen and (max-width: @breakpoint-small) {
            width: 27%;
            .delete-option-answer {
                margin-left: 2%;
            }
        }

        @media only screen and (max-width: @breakpoint-xsmall) {
            /*.delete-option-answer {
                margin: 0.3em 0 0 0.5em;
            }*/
        }

        .edit-mc-answer-correctness {
            float: right;
            // margin-top: 0.2em;
            height: 100%;
            line-height: 3em;

            .mc-correct-checkbox {
                -ms-transform: scale(1.8);
                -moz-transform: scale(1.8);
                -webkit-transform: scale(1.8);
                -o-transform: scale(1.8);
                
                // position: relative;
                // top: 5px;
                margin: 0;
                vertical-align: middle;
                display: inline;
            }
        }

        .delete-option-answer {
            float: left;
            // margin: 0.2em 0 0 0.2em;
            
            padding-left: 0.2em;
            
            cursor: pointer;
            
            color: #bbb;
            font-size: 1.8em;
            line-height: 2em;
            .transition(all ease 0.3s);
            
            i {
                display: inline-block;
                
                &:before {
                    text-align: left;
                    display: block;
                    width: 1em;
                }
            }

            &:hover {
                color: @textGray;
            }
        }
    }

    .edit-question-text {
        padding: 0.5em;
    }
}

// .free-response-menu .textfield {
//  max-width: 15em!important;
// }

.edit-mc-answer-number {
    display: inline-block;
    border-bottom: .1em solid rgba(255, 255, 255, .1);
    width: 5%;
}

.edit-mc-answer-choice {
    .editable(10%);

    min-height: 1em;
    display: inline-block;
    padding: 0.5em 3em 0.5em 0.5em;
    margin-bottom: 0.3em;
    color: #333;
}

#edit-question-true-false-answer {
    max-width: 40em;
    width: 95%;
}

.relocate-question-container {
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 3.6em;
    background: white;

    .button {
        background: @mainBlue;
        width: 2.4em;
        border-bottom: 1px solid white;
        color: white;
        font-size: 1.5em;
        line-height: 2.3em;
        padding: 0;
        font-weight: normal;
        min-width: 0;

        i {
            display: inline-block;

            &:before {
                text-align: left;
                display: block;
                width: 1em;
            }
        }

        .transition(all ease 0.3s);

        &:hover {
            background: @lightBlue;
            color: @textGray;
        }

        &:disabled {
            background-color: #bbbbbb;
            &:hover{
                color: white;
            }
        }
    }

}

.edit-multiple-choice-question {
    .edit-question(@lightBlue, @mainOrange);    
    &.edit-mode {
        .edit-question(#F7FCFF, @mainOrange);
    }
}

.edit-true-false-question {
    .edit-question(@lightBlue, @mainPurple);
    &.edit-mode {
        .edit-question(#F7FCFF, @mainPurple);
        .true-false-toggle {
            button {
                &:hover {
                    background: @green;
                    border-color: @darkGreen;
                    cursor: pointer;
                }
            }
        }
    }
}

.edit-free-response-question {
    .edit-question(@lightBlue, @shortAnswerColor);
    &.edit-mode {
        .edit-question(#F7FCFF, @shortAnswerColor);
    }
}

#create-quiz-top-row {
    margin: 2em auto;
    width: @create-quiz-body-width;

    .transition(all ease 0.3s);

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;
    }
}

.create-edit-title {
    cursor: default;
    font-size: 30px;
    font-weight: 300;
    .unselectable;
}


#quizname-textbox {
    width: 100%;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;
    }
}

#quizname {
    .editable(.15em);
    
    display: inline-block;
    width: auto;
    color: @mainBlue;
    cursor: pointer;
    text-align: left;
}

/**
 * SOC CONTAINER
 */
#soc-number-container { 
    padding-top: 1em;
}
#soc-container {
    float: left;
}

#soc-number-label {
    padding-left: 1em;
    display: inline-block;
    margin: 0;
    width: auto;
    text-align: right;
	float: left;
	margin: -0.4em 1em 0 0;
    span {
        &:first-child {
            display: block;
        }
    }
}

#soc-number {
    font-family: sans-serif;
    display: inline-block;
    margin: 0;
    font-weight: 600;
}
.edit-mode {
    .resources-container {
        .image-container {
            max-width: 10em;
            margin: 0 auto;
            position: relative;
        }
    }
}


/**
 * QUESTION RESOURCE
 */
.resources-container {
    width: 15%;
    position: relative;
    text-align: center;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;

        img {
            width: 100%;
            max-width: 10em;
        }
    }
}
.add-resource-button {
    
    text-align: center;

    i {
        display: inline-block;
        
        font-size: 4em;
        color: @darkBlue;
        cursor: pointer;

        .transition(all ease 0.3s);

        &.add-image-button {
            font-size: 2em;
            position: relative;
            top: 0.5em;
            vertical-align: top;
            margin-left: 0.1em;
        }


    }
        
    .add-resource-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0; 
        background: red;
        z-index: 2;
        cursor: pointer;
    }

    &:hover {
        i {
            color: darken(@darkBlue, 10%);
        }
    }
}

.edit-mode {
    .add-resource-button {
        position: relative;
        top: -5px;
    }
}

.remove-resource-button {
    font-size: 1.4em;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: @darkBlue;
    padding: 0.4em;
    border-left: 1px solid #dfeaf3;
    border-bottom: 1px solid #dfeaf3;
    .transition(all ease 0.3s);

    &:hover {
        color: #333;
        background: lighten(@darkBlue, 10%);
    }
}

.question-image-preview {
    display: inline-block;
    height: auto;

    border: .3em solid @darkBlue;
    background-color: black;
}

#question-image-preview-loading {
    .question-image-preview;
    padding: 1em;
    padding-bottom: 0.5em;
    background-color: rgba(0, 0, 0, .5);
}

#question-image-preview-loading img {
    margin-bottom: 0.75em;
}

.edit-question-answers {
    margin-bottom: 1em;
    margin-top: 1em;
}

.explanation-title {
    font-size: 1.2em;
    font-weight: 700;
}

.edit-question-explanation {
    .editable-menu-element;
    margin-top: 0.5em;

    & .question-explanation-wrapper {
        margin-top: .66em;
        display: inline-block;
        width: 100%;
        .boxsizing(border-box);
    }
}

/**
 * TF QUESTION
 */
.edit-question-answers-tf {
    .edit-question-answers;
    width: 100%;

    .true-false-toggle {
        width: 40%;
        padding-top: 0.5em;

        button {
            height: 3em;
            width: 48%;
            outline: none;

            &:first-child {
                margin-right: 1%;
            }

            &:hover {
                background-color: @lightBlue;
                border-color: @darkBlue;
                cursor: default;
            }
        }

        .true-false-toggle-on {
            background: @green;
            border-color: @darkGreen;
            &:hover {
                background: @green;
                border-color: @darkGreen;
                cursor: default;
            }
        }

        span {
            font-size: 1em;
            font-weight: 700;
        }
    }

    @media only screen and (max-width: @breakpoint-medium) {
        .true-false-toggle {
            width: 70%;
        }
    }

    @media only screen and (max-width: @breakpoint-small) {
        .true-false-toggle {
            width: 100%;
        }
    }

    span {
        font-size: 1.2em;
        font-weight: 700;
    }
}

#share-button {
    float: left;
    display: inline-block;
}

#share-button-text {
    color: white;
}

// STANDARDS
// the container for choosing a standard

@standard-select-padding:           0.9em 0.7em;
@standard-select-border:            1px solid #bbbbbb; // @textGray;
@standard-select-option-border:     1px solid #e2e2e2; // @textGray;

// container used for a saved standard
.standard-name-container,
.standard-container {
    width: @create-quiz-body-width;

    margin: 1em auto;
    padding: 1em 0.5em;

    border-top: @standard-select-border;
    border-bottom: @standard-select-border;

    .transition(all ease 0.3s);

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;
    }
}

.standard-container {
    border:  none;
    margin: 16px auto 27px;
    
    label {
        padding-left: 1em;
    }

    li {
        position: relative;
        width: 100%;
        margin-top: 1em;

        &.disabled-list {

            input, i, .cores-title {
                opacity: 0.6;
            }
        }

        // @media only screen and (max-width: @breakpoint-medium) {
            // width: 100%;
        // }
    }

    // center the spinner
    .spinner {
        position: absolute;
        left: 50%;
        margin-left: -11px;
        margin-top: 5px;
        z-index: 1;

        [class^='bounce'], div {
            background-color: #bbb;
        }
    }
}

.standards-no-access {
    position: relative;
    padding-left: 80px;
    
    // margin: 3em 0;
    font-size: 18px;

    span {
        color: #779bb7;
    }

    .info-icon {
        position: absolute;
        left: 28px;
        top: 50%;
        margin-top: -9px;
    }
}

// the input containing the add standard checkbox
#standard-input-container {
    label {
        cursor: pointer;
        padding-left: 8px;
    }
    input {
        top: -1px;
    }
}

.display-options {
    label {
        margin-right: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

.standards-select {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    background: white;
    border: @standard-select-border;
    margin-top: 0.5em!important;

    max-height: 250px;

    cursor: pointer;
    
    padding: @standard-select-padding;

}

#grade-select, #core-select {    
    &:disabled {
        background: white; 
    }
}

.standards-cancel-button {
    margin-left: 1em;
    font-weight: normal;
}


#standard-select {

    overflow-y: visible;
    
    padding: 0;
    max-height: none;
    border: 0;

    .select-standard-text {
        border: @standard-select-border;
        width: 100%;
        cursor: pointer;
        padding: @standard-select-padding;
        color: @mainLigherGray;
        background-color: transparent;
    }

    .custom-select-list {
        border-top: @standard-select-option-border;
    }

    .custom-select-item {
        padding: 1.4em 1.2em;
    }

    .main-standard-select {

        max-height: 370px;
        position: absolute;
        z-index: 2;
        background: white;
        overflow-y: scroll;

        border: @standard-select-border;
        border-top: 0;

        // div {
        //     padding: 1.4em 1.2em;
        // }



        // > li {
        //     border-top: @standard-select-option-border;

        //     > ul {
        //         border-top: @standard-select-option-border;
        //     }
        // }
    }

    ul {
        width: 100%;

        li {
            width: 100%;
            margin: 0;
            position: relative;

            strong, p {
                display: block;
                text-transform: uppercase;
            }

            span {
                color: #c0c0c0;
            }
        }
    }

    // for sub standards select, add an additional padding
    .sub-standard-select {
        div {
            border: none;
            padding-left: 3.4em;
        }
    }

    .selected-standard-checkmark {
        top: 14px;
    }

}

.selected-standard-checkmark {
    color: #8cb4d2;
    position: absolute;
    right: 10px;
    font-size: 14px;
}

.standard-name {

    display: inline-block;
    width: 15%;

    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;
    vertical-align: top;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 40%;
        text-align: left;
    }
}

.standard-description {
    display: inline-block;

    width: 60%;
    
    color: #c0c0c0;
    font-size: 1.1em;
    line-height: 1.3em;

    @media only screen and (max-width: @breakpoint-medium) {
        display: none;
    }
}

.standard-buttons {

    display: inline-block;
    vertical-align: top;
    width: 25%;

    text-align: center;
    white-space: nowrap;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 60%;
        text-align: right;
    }
}

.standard-change-button,
.standard-delete-button,
.standard-show-description-button {
    background: white;
    display: inline;
    vertical-align: top;

    margin: 0 3% 0 0;
    
    cursor: pointer;
    border: none;

    text-transform: uppercase;
    font-family: @base-body-font-family;
    font-size: 12px;

    i {
        display: block;
        font-size: 1.4em;
        color: @darkBlue;
        margin-bottom: 4px;
        @media only screen and (max-width: @breakpoint-medium) {
            font-size: 1em;
        }
    }
}

.standard-show-description-button {

    display: none;

    i:before {
        color: #ccc;
        font-size: 2em;
    }

    // this button should appear only on mobile
    @media only screen and (max-width: @breakpoint-medium) {
        display: inline-block;
    }
}

.second-standard-description {
    
    display: block;

    width: 100%;
    color: #c0c0c0;
    margin-top: 1em;
    
    // this should appear only on mobile
    @media only screen and (min-width: @breakpoint-medium) {
        .hidden;
    }   
}

// ===================
// END STANDARDS CSS
// ===================


/**
 * CREATE QUIZ FOOTER
 */
#add-quiz-objects-title {
    font-weight: 600;
    letter-spacing: 0.8px;
    margin-top: 3em;
    margin-bottom: 11px;
}

#add-question-container {
    padding-bottom: 3em;

    .add-questions-button(@color, @borderColor, @hoverColor) {
        width: 30%;
        line-height: 1.66em;
        height: 4em;
        background: @color;
        border: 2px solid @borderColor;
        margin-left: 5%;
        .transition(all ease 0.3s);

        @media only screen and (max-width: @breakpoint-medium) {
            width: 30%;
            margin-left: 5%;
        }

        @media only screen and (max-width: @breakpoint-small) {
            width: 100%;
            margin: 1em 0 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            background: @hoverColor;
            border-color: darken(@borderColor, 10%);
        }
    }
    
    .add-mc-question-plus-icon,
    .add-tf-question-plus-icon,
    .add-sa-question-plus-icon {
        cursor: pointer;
        height: 16px;
        left: 17px;
        position: absolute;
        top: 12px;
        width: 16px;
    }
    
    .add-mc-question-plus-icon .add-mc-question-plus-icon-inner {
        stroke: #e8c400;
    }
    
    .add-tf-question-plus-icon .add-tf-question-plus-icon-inner {
        stroke: #8c6fcc;
    }
    
    .add-sa-question-plus-icon .add-sa-question-plus-icon-inner {
        stroke: @shortAnswerColor;
    }
    
    .add-question-button {
        background-color: #ffffff;
        border: none;
        border-radius: 97px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        height: 44px;
        margin-bottom: 12px;
        margin-right: 26px;
        min-width: 170px;
        outline: none;
        padding-left: 38px;
        padding-right: 16px;
        position: relative;
    }
    
    .add-mc-question-button {
        border: 2px solid #e8c400;
        color: #e8c400;
    }
    
    .add-mc-question-button:hover {
        background-color: #e8c400;
        color: #ffffff;
    }
    
    .add-mc-question-button:hover .add-mc-question-plus-icon-inner {
        stroke: #ffffff;
    }
    
    .add-tf-question-button {
        border: 2px solid #8c6fcc;
        color: #8c6fcc;
    }
    
    .add-tf-question-button:hover {
        background-color: #8c6fcc;
        color: #ffffff;
    }
    
    .add-tf-question-button:hover .add-tf-question-plus-icon-inner {
        stroke: #ffffff;
    }
    
    .add-sa-question-button {
        border: 2px solid @shortAnswerColor;
        color: @shortAnswerColor;
    }
    
    .add-sa-question-button:hover {
        background-color: @shortAnswerColor;
        color: #ffffff;
    }
    
    .add-sa-question-button:hover .add-sa-question-plus-icon-inner {
        stroke: #ffffff;
    }
}

#plus-icon {
    position: relative;
    top: -.115em;
    left: .014em;
    color: @mainBlue;
    font-size: 2em;
}

#no-questions-spacer {  
    height: 4em;
    background-color: transparent;
}

#help-text p {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #999;
}

.text-entry-toggle-display-container{
  word-wrap: break-word;
}

.mc-choice-container .text-entry-toggle-textbox-container,
.mc-choice-container .text-entry-toggle-display-container {
    width: 84%;
    float: left;
    margin-left: 1%;

    @media only screen and (max-width: @breakpoint-medium) {
        width: 75%;
    }

    @media only screen and (max-width: @breakpoint-small) {
        width: 65%;
    }
}

.edit-mode {
    .mc-answer{
        .text-entry-toggle-textbox-container {
            width: 80%;

            @media only screen and (min-width: @breakpoint-xlarge) {
                width: 85%;
            }

            @media only screen and (max-width: @breakpoint-medium) {
                width: 70%;
            }

            @media only screen and (max-width: @breakpoint-small) {
                width: 55%;
            }
        }
    }
}


div.invalidQuestion
{
    border: solid #921212 !important;
}

#add-resource-input
{
    margin-top: 1em;
}

// qustion loading indicator
.question-loading-indicator-container {

    text-align: right;

    & span{

        padding: 0.3em;
    }

    & .incomplete-question {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 900;
        cursor: pointer;
    }

    & .saving-question {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 900;
    }

    & .saved-question {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 900;
    }

    & .not-saved-question {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 900;
    }
}

.confirm-ok-button, .confirm-cancel-button {
    width: 45%!important;
}

/* Standards Styles */
#standard-select {
    li {
        padding: 0;

        div{
            padding: 1em 0.8em; 
        }
    }
}

#edit-quiz-container {
    margin: 0 auto;
    padding: 28px 0 84px;
    width: 90%;
    
    .edit-quiz-banner {
        background-color: #8fc254;
        height: 62px;
        left: 0;
        opacity: 0.95;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .edit-quiz-banner-icon {
        height: 20px;
        left: 24px;
        position: relative;
        top: 4px;
        width: 20px;
    }
    
    .edit-quiz-banner-text {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 62px;
        padding-left: 34px;
    }
    
    .button-container {
        top: -9px;
    }
    
    @media only screen and (min-width: @breakpoint-phone-medium) {
        width: 91%;
    }
    
    @media only screen and (min-width: @breakpoint-phone-large) {
        width: 92.5%;
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        padding: 47px 0 84px;
        width: 92.5%;
        
        #add-question-container {
            
            .add-question-button {
                margin-bottom: 0;
            }
        }
    }
    
    @media only screen and (min-width: @breakpoint-large) {
        width: 95%;
    }
}
