#gradecam-container {
    height: 1px;
    left: -2px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    width: 1px;
}

#export-scores-modal-background {
    left: 0;
	height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 1000;
}

#export-scores-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 412px;
    
    &.modal-dialog {
        padding: 0;
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 14px;
            top: 13px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            height: 71px;
            margin-bottom: 5px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            line-height: 71px;
            padding-left: 24px;
            .unselectable;
        }
    }
    
    .export-scores-loader {
        margin: 30px auto 0;
        padding-bottom: 60px;
    }
    
    .settings-text {
        color: #555555;
        cursor: default;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 18px;
        .unselectable;
    }
    
    .settings-text-summary {
        margin-bottom: 12px;
    }
    
    .export-scores-select-container {
        margin-bottom: 15px;
    }
    
    .export-scores-keystroke-container {
        margin-bottom: 24px;
    }
    
    #export-scores-modal-content {
        padding: 0 24px;
    }
    
    .export-scores-settings-label {
        cursor: default;
        padding-bottom: 4px;
        .unselectable;
    }
    
    .export-scores-change-container {
        display: inline-block;
        float: right;
    }
    
    .export-score-settings-change-text {
        .unselectable;
    }
    
    .export-scores-radio-buttons-container {
        position: relative;
        top: -10px;
    }
    
    .percentage-scores-radio {
        margin-left: 51px;
    }
    
    .export-scores-settings-table {
        border-spacing: 0;
        margin-bottom: 36px;
    }
    
    .export-scores-settings-descriptor {
        cursor: default;
        font-weight: 600;
        padding: 0;
        .unselectable;
    }
    
    .export-scores-settings-text {
        cursor: default;
        padding-left: 8px;
        .unselectable;
    }
    
    .ready-for-export-checkmark {
        height: 24px;
        width: 24px;
    }
    
    .ready-for-export-text-container {
        cursor: default;
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        margin-left: 12px;
        .unselectable;
        vertical-align: top;
    }
    
    .export-scores-settings-container {
        margin-bottom: 5px;
    }
    
    .export-scores-method-text {
        cursor: default;
        display: block;
        margin-bottom: 8px;
        margin-top: 8px;
        .unselectable;
    }
    
    .export-scores-note-text {
        cursor: default;
        display: block;
        margin-bottom: 14px;
        .unselectable;
    }
    
    .export-scores-footer {
        height: 94px;
        padding-top: 24px;
        position: relative;
    }
    
    .export-scores-footer-button {
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        height: 44px;
        outline: none;
        margin-left: 25px;
        min-width: 132px;
        .unselectable;
    }
    
    .export-scores-cancel-button {
        background-color: #ffffff;
        border: 1px solid rgb(255,147,0);
        color: rgb(255,161,0);
    }
    
    .export-scores-cancel-button:disabled {
        border: 1px solid rgba(255,147,0,0.5);
        color: rgba(255,161,0,0.5);
        cursor: default;
    }
    
    .export-scores-cancel-button:hover:enabled {
        background-color: #cb7e00;
        border: 1px solid #cb7e00;
        color: #ffffff;
    }
    
    .export-scores-primary-button {
        background-color: rgb(255,161,0);
        color: rgb(255,255,255);
        margin-left: 8px;
    }
    
    .export-scores-primary-button:disabled {
        background-color: rgba(255,161,0,0.5);
        cursor: default;
    }
    
    .export-scores-primary-button:hover:enabled {
        background-color: #cb7e00;
        border: 1px solid #cb7e00;
        color: #ffffff;
    }
}
