
////////////////////////////////////////////////
/////////////////// CONTROLS ///////////////////
////////////////////////////////////////////////


@sliderWidthReport: 4em;
@sliderHeightReport: 1em;
@sliderSwitchWidthReport: 1.3em;

#report-settings {

    @media (max-width: @breakpoint-small-max) {
        .modal-dialog {
            width: @modal-dialog-large-width-large;
            margin: 10px auto;
        }
    }
    
    & .reports-header {

        h2 {
            font-size: 20px;
            margin-top: 20px;
        }

        & .report-settings-heading-icons {
            width: 100%;

            margin: 25px 0;
            text-align: center;

            & p {
                font-size: 15px;
                line-height: 15px;
                text-align: center;
                margin-top: 8px;
            }
            & img {
                margin: 0 auto;
            }

            & div {
                width: 20%;
                height: 100%;
                cursor: pointer;
                display: inline-block;
                padding: 2%;
                border: 1px solid white;
                box-sizing: content-box;
    
                // for a selected/hover option, add a special background and border
                &.selected, &:hover {
                    border-radius: 10%;
                    border: 1px solid @darkBlue;
                    background: @lightBlue;
                }
            }


            
            & #get-report, #report-view-chart, #report-view-later {
                margin: 0 12px;
                
                @media (max-width: @breakpoint-mini-max) {
                    margin: 0 6px;
                }

                @media (max-width: 560px) {
                    span {
                        display: block;
                    }
                }
                
            }

            #get-report {
                img {
                    width: 55%;
                    max-height: 39px;
                    max-width: 62px;
                }
            }

            #report-view-chart {
                img {
                    width: 55%;
                    max-height: 39px;
                    max-width: 62px;
                }
            }

            #report-view-later {
                img {
                    width: 37%;
                    max-height: 42px;
                    max-width: 42px;
                }
            }

            .not-allowed {
                cursor: default;
                img {
                    filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
                    -webkit-filter: grayscale(100%); 
                }
                p {
                    span {
                        color: #999;
                    }
                }
                
            }
        }
    }

    & .report-settings-option {
        width: 60%;

        @media (max-width: 1220px) and (min-width: 768px) {
            width: 100%;
        }

        @media (max-width: @breakpoint-small) {
            width: 100%;
        }

        margin: 1em 0;
        line-height: 2.3em;

        & .report-settings-option-label {
            float: left;
            width: 70%;

            padding-left: 15px;
            font-size: 1em;

            @media (max-width : 400px) {
                min-width: 183px;
                font-size: 0.9em;
            }

            & p {
                margin: 0;
                font-size: 1em;
                text-align: left;
                
                // this is to align it vertically
                line-height: 3em;
            }
        }

        & .report-settings-option-control {
            margin: 0 10px;
            
            .toggle-label {
                margin: 0.5em 0 0 0.5em;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }
    
    & .report-settings-option.disabled {
        & .report-settings-option-control {
            .toggle-slider-label, .toggle-label {
                &:hover {
                    cursor: default;
                }
            }
        }
    }

    & .report-type {
        width: 100%;
        margin: 2em 0 0 0;
        text-align: left;
        
        & .all-report-settings {
            margin: 18px auto 36px auto;
            text-align: left;
        }
        
        // at first make it look disabled
        &.disabled .toggle-slider-label {
            cursor: default;
        }

        h2 {
            margin: 0;
            font-size: 20px;
            text-align: left;
            margin-left: 15px;
        }
    }

    .report-type-container {

        width: 100%;
        text-align: center;

        h2 {
            text-align: left;
            margin-left: 15px;
        }

        .report-option {
            display: inline-block;
            width: 22%;
            margin: 33px 10px 10px;
            cursor: pointer;
            padding: 2%;
            border: 1px solid white;
            font-size: 13px;
            vertical-align: top;
            
            &.disabled, &.not-allowed {
                .disabled
            }

            &.selected, &:hover {
                border-radius: 4px;
                border: 1px solid @darkBlue;
                background: @lightBlue;
            }
            
            &.not-allowed {
                &:hover {
                    border: 1px solid white;
                    background: none;
                }
            }

            img {
                max-width: 40px;
            }
            p {
                margin-top: 7px;
            }

            @media only screen and (max-width: @breakpoint-mini-max) {
                margin: 0px;
                width: 30%;
            }
        }

        #report-email {
            img {
                max-width: 60px;
            }
        }

        & #report-google-drive {
            margin-left: 6px;
        }
    }

    & .modal-footer {
        text-align: right;

        #report-settings-exit {
            padding: 0 30px;
        }
    }
}

.full-height {
    #report-settings {
        padding-top: 120px;

        @media only screen and (max-width: @breakpoint-mini-max) {
            padding-top: 130px;
        }
    }
}
