#import-quiz-modal-background {
    position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
}

#import-quiz-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    
    &.modal-dialog {
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 0;
            top: 4px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            margin-bottom: 31px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            .unselectable;
        }
    }
    
    #import-quiz-modal-content {
        
        .import-by-soc-container {
            margin-bottom: 21px;
            
            .input-container {
                width: ~"calc(100% - 112px)";
                
                .input-block {
                    display: inline-block;
                    width: 100%;
                }
                
                #socNumber {
                    font-weight: 300;
                    height: 44px;
                    text-transform: uppercase;
                    width: 100%;
                }
            }
        }
        
        .from-another-teacher-text,
        .from-excel-text {
            color: #555555;
            cursor: default;
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 3px;
            .unselectable;
        }
        
        .from-excel-text {
            margin-bottom: 13px;
        }
        
        .enter-soc-number-text {
            color: rgba(85, 85, 85, 0.5);
            cursor: default;
            display: block;
            font-size: 14px;
            line-height: 1.71;
            margin-bottom: 13px;
            .unselectable;
        }
        
        .import-quiz-button {
            background-color: #6d9ec4;
            border: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            outline: none;
            margin-left: -1px;
            min-width: 112px;
            .unselectable;
        }
        
        .import-quiz-button:hover {
            background-color: @button-secondary-hover-background;
        }
        
        .import-by-excel-container .input-container label {
            background-color: #6d9ec4;
            border: none;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            line-height: 44px;
            outline: none;
            margin-left: -1px;
            text-align: center;
            min-width: 124px;
            .unselectable;
        }
        
        .import-by-excel-container .input-container label:hover {
            background-color: @button-secondary-hover-background;
        }
        
        .import-by-excel-container .input-container .input-block {
            display: none;
        }
        
        .import-by-excel-link {
            float: right;
            line-height: 40px;
        }
        
        .excel-filename {
            display: block;
        }
        
        .import-by-excel-container {
            
            .progress-bar {
                background-color: #ccc;
                border-radius: 5px;
                display: inline-block;
                padding: 0;
                vertical-align: middle;
                width: 100%;
                
                .progress {
                    background-color: @darkBlue;
                    width: 0; /* Adjust with JavaScript */
                    height: 8px;
                    border-radius: 5px;
                }
            }
            
            .excel-error-container {
                margin-top: 20px;
            }
            
            .excel-error-header {
                color: #e50900;
                cursor: default;
                display: inline-block;
                margin-left: 8px;
                .unselectable;
                vertical-align: top;
            }
            
            .excel-error-text {
                color: #e50900;
                cursor: default;
                font-size: 12px;
                list-style-type: disc;
                margin-left: 22px;
                margin-top: 3px;
                .unselectable;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        width: 355px;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 16px 26px 26px 26px;
        width: 400px;
        
        &.modal-dialog {
            
            .cancel-button {
                right: 14px;
                top: 11px;
            }
        }
    }
}
