#install-plugin-modal-background {
    left: 0;
	height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 1000;
}

#install-plugin-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 432px;
    
    &.modal-dialog {
        padding: 24px;
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 9px;
            top: 10px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            margin-bottom: 24px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            .unselectable;
        }
    }
}

.install-plugin-title {
    color: #555555;
    cursor: default;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    .unselectable;
}

.install-plugin-explanation {
    cursor: default;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-top: 7px;
    .unselectable;
}

.install-plugin-steps {
    counter-reset: step;
    cursor: default;
    font-weight: 300;
    line-height: 24px;
    list-style: none;
    margin-bottom: 24px;
    .unselectable;
    
    li {
        counter-increment: step;
        margin-top: 20px;
    }
    
    li:before {
        background-color: #8cb4d2;
        border-radius: 50%;
        color: #ffffff;
        content: counter(step);
        display: inline-block;
        height: 24px;
        margin-right: 12px;
        text-align: center;
        width: 24px;
    }
}

.install-plugin-explanation-lower {
    margin-bottom: 36px;
}

.install-plugin-link {
    display: inline-block;
    line-height: 44px;
    margin-left: 8px;
    padding: 0 20px;
    text-decoration: none;
    vertical-align: top;
}
