.launch-button-container {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 104px;
    
    .launch-button-circle {
        border: solid 2px #6d9ec4;
        border-radius: 50%;
        color: #cccccc;
        font-size: 28px;
        font-weight: 400;
        height: 72px;
        line-height: 68px;
        margin: 0 auto 15px;
        position: relative;
        text-align: center;
        .unselectable;
        width: 72px;
    }
    
    .launch-button-label {
        color: #777777;
        display: block;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        .unselectable;
    }
}

#launch-container {
    margin: 0 auto;
    padding: 38px 0;
    text-align: center;
    width: 100%;
    
    .launch-button-row-1 {
        margin-bottom: 32px;
    }
    
    .launch-quiz-icon,
    .launch-space-race-icon,
    .launch-exit-ticket-icon {
        fill: #6d9ec4;
        left: 21px;
        height: 35px;
        position: absolute;
        top: 12px;
        width: 35px;
    }
    
    .launch-space-race-icon {
        left: 17px;
        top: 15px;
    }
    
    .launch-exit-ticket-icon {
        left: 21px;
        top: 15px;
    }
    
    .quick-question-separator {
        border-bottom: solid 1px rgba(85,85,85,0.15);
        margin: 0 auto 26px;
        position: relative;
        width: 254px;
    }
    
    .quick-question-separator-text {
        background-color: #ffffff;
        color: #666666;
        cursor: default;
        font-weight: 600;
        padding: 0 10px;
        position: relative;
        top: 11px;
        .unselectable;
    }
    
    .mc-button,
    .tf-button,
    .sa-button {
        margin-left: 8px;
        margin-right: 8px;
        width: 84px;
        
        .launch-button-circle {
            border: solid 2px #e8c400;
            color: #e8c400;
            font-size: 21px;
            font-weight: 300;
            height: 54px;
            letter-spacing: -0.5px;
            line-height: 50px;
            margin: 0 auto 11px;
            width: 54px;
        }
        
        .launch-button-label {
            font-size: 12px;
        }
    }
    
    .tf-button {
        .launch-button-circle {
            border: solid 2px #8c6fcc;
            color: #8c6fcc;
        }
    }
    
    .sa-button {
        .launch-button-circle {
            border: solid 2px @shortAnswerColor;
            color: @shortAnswerColor;
        }
    }
    
    @media only screen and (min-width: @breakpoint-phone-medium) {
        .launch-button-container {
            width: 122px;
            
            .launch-button-circle {
                font-size: 32px;
                height: 84px;
                line-height: 80px;
                width: 84px;
            }
            
            .launch-button-label {
                font-size: 17px;
            }
        }
        
        .launch-quiz-icon,
        .launch-space-race-icon,
        .launch-exit-ticket-icon {
            height: 41px;
            left: 24px;
            top: 14px;
            width: 41px;
        }
        
        .launch-space-race-icon {
            left: 19px;
            top: 17px;
        }
        
        .launch-exit-ticket-icon {
            left: 25px;
            top: 19px;
        }
        
        .quick-question-separator {
            margin: 0 auto 30px;
            width: 292px;
        }
        
        .mc-button,
        .tf-button,
        .sa-button {
            width: 98px;
            
            .launch-button-circle {
                font-size: 24px;
                height: 63px;
                line-height: 59px;
                width: 63px;
            }
            
            .launch-button-label {
                font-size: 14px;
            }
        }
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        .launch-button-row-1 {
            margin-bottom: 64px;
        }
        
        .launch-button-container {
            margin-left: 16px;
            margin-right: 16px;
            width: 148px;
            
            .launch-button-circle {
                border: solid 3px #6d9ec4;
                font-size: 36px;
                height: 102px;
                line-height: 97px;
                width: 102px;
            }
            
            .launch-button-label {
                font-size: 21px;
            }
        }
        
        .launch-quiz-icon,
        .launch-space-race-icon,
        .launch-exit-ticket-icon {
            height: 53px;
            left: 29px;
            top: 16px;
            width: 53px;
        }
        
        .launch-space-race-icon {
            left: 21px;
            top: 20px;
        }
        
        .launch-exit-ticket-icon {
            left: 29px;
            top: 21px;
        }
        
        .quick-question-separator {
            margin: 0 auto 30px;
            width: 364px;
        }
        
        .mc-button,
        .tf-button,
        .sa-button {
            margin-left: 16px;
            margin-right: 16px;
            width: 112px;
            
            .launch-button-circle {
                border: solid 2px #e8c400;
                color: #e8c400;
                font-size: 26px;
                height: 76px;
                line-height: 72px;
                width: 76px;
            }
            
            .launch-button-label {
                font-size: 16px;
            }
        }
        
        .tf-button {
            .launch-button-circle {
                border: solid 2px #8c6fcc;
                color: #8c6fcc;
            }
        }
        
        .sa-button {
            .launch-button-circle {
                border: solid 2px @shortAnswerColor;
                color: @shortAnswerColor;
            }
        }
    }
    
    @media only screen and (min-width: @breakpoint-large) {
        .launch-button-container {
            margin-left: 52px;
            margin-right: 52px;
            width: 160px;
            
            .launch-button-circle {
                font-size: 44px;
                height: 132px;
                line-height: 129px;
                margin: 0 auto 26px;
                width: 132px;
            }
            
            .launch-button-label {
                font-size: 24px;
            }
        }
        
        .quick-question-separator {
            margin: 0 auto 39px;
            width: 518px;
        }
        
        .quick-question-separator-text {
            font-size: 16px;
            letter-spacing: 0.8px;
        }
        
        .mc-button,
        .tf-button,
        .sa-button {
            margin-left: 25px;
            margin-right: 25px;
            
            .launch-button-circle {
                font-size: 40px;
                font-weight: 300;
                height: 99px;
                letter-spacing: -0.75px;
                line-height: 95px;
                margin: 0 auto 31px;
                width: 99px;
            }
            
            .launch-button-label {
                font-size: 20px;
            }
        }
        
        .launch-quiz-icon,
        .launch-space-race-icon,
        .launch-exit-ticket-icon {
            height: 69px;
            left: 38px;
            top: 23px;
            width: 69px;
        }
        
        .launch-space-race-icon {
            left: 29px;
            top: 28px;
        }
        
        .launch-exit-ticket-icon {
            left: 39px;
            top: 30px;
        }
    }
    
    .launch-button-container:hover .launch-button-circle {
        background-color: #6d9ec4;
        color: #6d9ec4;
    }
    
    .launch-button-container:hover .launch-quiz-icon-path {
        fill: #ffffff;
    }
    
    .launch-button-container:hover .launch-space-race-icon-path {
        fill: #ffffff;
    }
    
    .launch-button-container:hover .launch-exit-ticket-icon-path {
        fill: #ffffff;
    }
    
    .launch-button-container:hover .launch-button-label {
        color: #6d9ec4;
    }
    
    .launch-button-container.mc-button:hover .launch-button-circle {
        background-color: #e8c400;
        color: #ffffff;
    }
    
    .launch-button-container.mc-button:hover .launch-button-label {
        color: #e8c400;
    }
    
    .launch-button-container.tf-button:hover .launch-button-circle {
        background-color: #8c6fcc;
        color: #ffffff;
    }
    
    .launch-button-container.tf-button:hover .launch-button-label {
        color: #8c6fcc;
    }
    
    .launch-button-container.sa-button:hover .launch-button-circle {
        background-color: @shortAnswerColor;
        color: #ffffff;
    }
    
    .launch-button-container.sa-button:hover .launch-button-label {
        color: @shortAnswerColor;
    }
}

#pop-up-message {
    .welcome-popup-message {
        color: #777777;
        font-weight: 300;
        
        &.link {
            color: #6f9fc2;
        }
        
        span {
            color: #777777;
            font-weight: 300;
        }
    }
}
