#start-quiz-modal-background {
    left: 0;
	height: 100%;
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 1000;
}

#start-quiz-modal-box {
    text-align: left;
    
    &.modal-dialog {
        margin: 0 auto;
        max-width: 100%;
        padding: 0;
        .transform(none);
        
        .modal-header {
            border-bottom: 1px solid #cccccc;
            height: 49px;
            margin-bottom: 0;
            
            .cancel-button {
                cursor: pointer;
                height: 44px;
                position: absolute;
                right: 0;
                top: 2px;
                width: 44px;
                
                .cancel-button-x {
                    left: 14px;
                    position: absolute;
                    top: 13px;
                }
            }
            
            .popup-title {
                color: #333333;
                cursor: default;
                line-height: 49px;
                padding-left: 10px;
                .unselectable;
            }
        }
    }
    
    #start-quiz-modal-content {
        padding: 0 10px;
        
        .start-quiz-loader {
            margin: 40px auto 0;
            padding-bottom: 40px;
            text-align: center;
            width: 190px;
        }
    }
    
    .step-header {
        height: 60px;
    }
    
    .step-header-2 {
        border-top: 1px solid #cccccc;
    }
    
    .step-circle {
        border-radius: 50%;
        display: inline-block;
        height: 32px;
        text-align: center;
        width: 32px;
    }
    
    .step-circle-text {
        cursor: default;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        .unselectable;
    }
    
    .active-step-circle {
        background-color: #8cb4d2;
        border: 1px solid #8cb4d2;
        
        .step-circle-text {
            color: #ffffff;
        }
    }
    
    .inactive-step-circle {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        
        .step-circle-text {
            color: #cccccc;
        }
    }
    
    .step-title-text {
        cursor: default;
        font-size: 18px;
        font-weight: 300;
        line-height: 60px;
        padding-left: 8px;
        .unselectable;
    }
    
    .active-step-title-text {
        color: #333333;
    }
    
    .inactive-step-title-text {
        color: rgba(51, 51, 51, 0.5);
    }
    
    .step-x-of-x-text {
        color: #333333;
        cursor: default;
        float: right;
        font-size: 18px;
        font-weight: 300;
        line-height: 60px;
        .unselectable;
    }
    
    .inactive-step-x-of-x-text {
        color: rgba(51, 51, 51, 0.5);
    }
    
    .selected-quiz-change-container {
        display: inline-block;
        float: right;
    }
    
    .selected-quiz-name-text {
        color: #333333;
        cursor: default;
        font-size: 14px;
        line-height: 60px;
        padding-right: 10px;
        .unselectable;
    }
    
    .selected-quiz-change-text {
        cursor: pointer;
        font-size: 14px;
        line-height: 60px;
        .unselectable;
    }
    
    .start-quiz-filter-bar {
        background-color: rgba(238, 238, 238, 0.5);
        height: 68px;
        padding: 11px;
        position: relative;
    }
    
    .launch-quiz-folder-context-row {
        margin-top: 9px;
    }
    
    .launch-quiz-folder-context-row-root {
        margin: 10px 0 10px;
    }
    
    .launch-quiz-back-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 36px;
        outline: none;
        width: 36px;
        
        &:hover:enabled {
            background-color: #eeeeee;
        }
    }
    
    .launch-quiz-back-button-icon {
        position: relative;
        top: 1px;
    }
    
    .launch-quiz-current-folder-label {
        cursor: default;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        left: 8px;
        max-width: 575px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        text-transform: uppercase;
        top: 3px;
        .unselectable;
        white-space: nowrap;
    }
    
    .launch-quiz-current-folder-label-root {
        left: 0;
        top: 8px;
    }
    
    .input-container {
        margin-bottom: 4px;
        width: 100%;
        
        .input-block {
            border: none;
        }
    }
    
    #start-quiz-search-input {
        padding-left: 42px;
        padding-right: 40px;
        width: 100%;
    }
    
    .start-quiz-search-icon {
        height: 19px;
        left: 24px;
        position: absolute;
        top: 25px;
        width: 18px;
        z-index: 1;
    }
    
    .clear-search {
        cursor: pointer;
        height: 44px;
        position: absolute;
        right: 15px;
        top: 11px;
        width: 37px;
    }

    .clear-search-x {
        left: 13px;
        position: relative;
        top: 13px;
    }
    
    .no-quizzes-found-container {
        margin: 20px auto;
        text-align: center;
        width: 300px;
        
        .no-quizzes-found-icon {
            height: 100px;
            width: 83px;
        }
        
        .no-quizzes-found-large-text {
            color: #555555;
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin-top: 24px;
        }
        
        .empty-folder-large-text {
            margin-top: 0;
        }
        
        .no-quizzes-found-small-text {
            color: rgba(85, 85, 85, 0.5);
            display: block;
            font-size: 14px;
            line-height: 24px;
            margin-top: 10px;
        }
    }
    
    .start-quiz-table-container {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .start-quiz-table {
        border-collapse: collapse;
        width: 100%;
        
        .start-quiz-row {
            border-top: 1px solid #cccccc;
            cursor: pointer;
            height: 45px;
        }
        
        .selected-start-quiz-row,
        .start-quiz-row:hover {
            background-color: #eeeeee;
        }
        
        th {
            font-size: 12px;
            font-weight: 400;
            padding: 14px 8px 0;
            position: relative;
            text-align: left;
            .unselectable;

            .start-quiz-sort-header {
                cursor: pointer;
                padding: 4px 4px 4px 0;
            }
            
            .start-quiz-column-header-text {
                padding-right: 4px;
            }
        }
        
        .start-quiz-sort-icon {
            height: 12px;
            left: 3px;
            position: relative;
            stroke: #cccccc;
            top: 1px;
            width: 10px;
        }
        
        .start-quiz-active-sort-icon {
            stroke: #8cb4d2;
        }
        
        tr:last-of-type {
            border-bottom: 1px solid #cccccc;
        }
    }
    
    .launch-quiz-folder-row {
        border-top: 1px solid #cccccc;
        height: 44px;
        
        &:hover {
            background-color: #eeeeee;
        }
    }
    
    
    
    .launch-quiz-list-folder {
        border-bottom: none;
        height: 42px;
        line-height: 42px;
        padding: 0 4px 0 11px;
        
        &.list-folder-container-default {
            &:hover {
                background-color: transparent;
            }
        }
        
        .list-folder-name {
            max-width: 545px;
            padding-left: 11px;
        }
        
        .list-folder-go-button {
            top: 3px;
        }
    }
    
    .start-quiz-active-sort-header .start-quiz-column-header-text {
        font-weight: 700;
    }
    
    .start-quiz-radio-column,
    .start-quiz-name-column {
        display: table-cell;
    }
    
    .start-quiz-radio-column {
        width: 12.5%;
    }
    
    .start-quiz-date-column {
        display: none;
        .unselectable;
    }
    
    .start-quiz-name-text {
        .unselectable;
    }
    
    .start-quiz-radio-outer {
        background-color: transparent;
        border: 1px solid #cccccc;
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        position: relative;
        top: 3px;
        width: 20px;
        
        .start-quiz-radio-inner {
            background-color: #6d9ec4;
            border-radius: 50%;
            height: 12px;
            left: 3px;
            position: absolute;
            top: 3px;
            width: 12px;
        }
    }
    
    .start-quiz-radio-outer-selected {
        border: 1px solid #6d9ec4;
    }
    
    .start-quiz-standard-text {
        color: rgba(85, 85, 85, 0.5);
        font-size: 12px;
    }
    
    .step2 {
        padding-bottom: 56px;
    }
    
    .start-quiz-delivery-container {
        clear: both;
        margin-bottom: 16px;
        padding-left: 8px;
    }
    
    .delivery-method-container {
        margin-bottom: 5px;
    }
    
    .delivery-method-button {
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        min-width: 230px;
        padding: 8px;
    }
    
    .delivery-method-circle {
        border: 2px solid #6d9ec4;
        border-radius: 50%;
        display: inline-block;
        height: 72px;
        position: relative;
        text-align: center;
        width: 72px;
    }
    
    .feedback-svg {
        height: 38px;
        position: relative;
        top: 18px;
        width: 41px;
    }
    
    .feedback-path {
        fill: #6d9ec4;
    }
    
    .navigation-svg {
        height: 45px;
        left: 4px;
        position: relative;
        top: 11px;
        width: 40px;
    }
    
    .navigation-path {
        fill: #6d9ec4;
    }
    
    .teacher-paced-svg {
        height: 35px;
        position: relative;
        top: 16px;
        width: 37px;
    }
    
    .teacher-paced-path {
        fill: #6d9ec4;
    }
    
    .delivery-method-button:hover,
    .delivery-method-button-selected {
        background-color: #6d9ec4;
        border: 1px solid #6d9ec4;
    }
    
    .delivery-method-button:hover .delivery-method-circle,
    .delivery-method-circle-selected {
        background-color: #6d9ec4;
        border: 2px solid #ffffff;
    }
    
    .delivery-method-button:hover .feedback-path,
    .delivery-method-button:hover .navigation-path,
    .delivery-method-button:hover .teacher-paced-path,
    .delivery-method-icon-selected {
        fill: #ffffff;
    }
    
    .delivery-method-button:hover .delivery-method-text,
    .delivery-method-text-selected {
        color: #ffffff;
    }
    
    .delivery-method-text {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        line-height: 72px;
        padding-left: 12px;
        text-align: center;
        .unselectable;
        vertical-align: top;
        white-space: normal;
    }
    
    .start-quiz-help-tooltip {
        display: inline-block;
        left: 1px;
        top: 30px;
        vertical-align: top;
    }
    
    .help-tooltip {
        left: -230px;
        width: 280px;
    }
    
    .additional-settings-gear-icon {
        height: 20px;
        left: 17px;
        position: absolute;
        top: 17px;
        width: 20px;
    }
    
    .additional-settings-header {
        color: #ffffff;
        cursor: default;
        display: block;
        font-size: 14px;
        font-weight: 600;
        margin: 17px 0;
        text-align: center;
        .unselectable;
    }
    
    .tooltip-title-text {
        cursor: default;
        .unselectable;
    }
    
    .tooltip-text {
        cursor: default;
        .unselectable;
        white-space: normal;
    }
    
    .start-quiz-select-container {
        padding-bottom: 32px;
    }
    
    .space-race-select-label {
        cursor: default;
        .unselectable;
    }
    
    .radio-buttons-container {
        margin: 7px 0 9px;
    }
    
    .student-choice-radio {
        margin-left: 22px;
    }
    
    .start-quiz-space-race-icon {
        left: 11px;
        position: absolute;
        top: 8px;
    }
    
    .custom-select-text {
        &.space-race-icon {
            padding-left: 60px;
        }
        
        &.space-race-icon:disabled {
            cursor: default;
        }
    }
    
    .custom-select-item {
        position: relative;

        .start-quiz-space-race-icon {
            left: 10px;
            position: absolute;
            top: 7px;
        }
        
        span.space-race-icon {
            padding-left: 49px;
        }
    }
    
    .countdown-container {
        margin-top: 20px;
        position: relative;
        
        .custom-select input:disabled:hover {
            cursor: default;
        }
        
        .tooltip-container-above {
            bottom: 49px;
            right: -6px;
        }
        
        .tooltip {
            max-width: 200px;
        }
        
        .tooltip-title {
            width: auto;
        }
    }
    
    .start-quiz-settings-container {
        border-top: 1px solid #cccccc;
        padding-bottom: 18px;
        padding-left: 40px;
        padding-top: 22px;
        vertical-align: top;
        
        .settings-cnt {
            margin-bottom: 12px;
            position: relative;
            
            .tooltip-container-above {
                bottom: 40px;
                right: 40px;
            }
            
            .delivery-method-tooltip {
                
                .tooltip {
                    top: -15px;
                    width: 195px;
                }
                
                .triangle-left-above {
                    right: 85px;
                }
                
                .triangle-right-above {
                    right: 89px;
                }
            }
            
            .tooltip-title {
                width: 250px;
            }
            
            .triangle-left-above {
                right: 113px;
            }
            
            .triangle-right-above {
                right: 117px;
            }

            .start-quiz-help-tooltip {
                left: 5px;
                top: 2px;
            }

            .help-tooltip {
                left: -180px;
                width: 300px;
                padding-top: 8px;

                .pro-badge-icon {
                    position: relative;
                    top: 5px;
                    margin-right: 10px;
                }

                .help-title {
                    display: inline-block;
                }

                .help-text {
                    display: block;
                }
            }
        }

        &.large-view {
            padding-top: 12px;
        }
        
        .toggle-label {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            padding-left: 8px;
            .unselectable;
        }
    }
    
    .space-race-additional-settings-header {
        cursor: default;
        display: block;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
        .unselectable;
    }
    
    .start-quiz-footer {
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        bottom: 0;
        height: 56px;
        padding-top: 8px;
        position: fixed;
        width: 100%;
    }
    
    .start-quiz-footer-button {
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        height: 40px;
        outline: none;
        margin-left: 8px;
        min-width: 112px;
        .unselectable;
    }
    
    .start-quiz-previous-button {
        background-color: #ffffff;
        border: 1px solid rgb(255,147,0);
        color: rgb(255,161,0);
    }
    
    .start-quiz-previous-button:disabled {
        border: 1px solid rgba(255,147,0,0.5);
        color: rgba(255,161,0,0.5);
        cursor: default;
    }
    
    .start-quiz-previous-button:hover:enabled {
        background-color: #cb7e00;
        border: 1px solid #cb7e00;
        color: #ffffff;
    }
    
    .start-quiz-next-button,
    .start-quiz-start-button {
        background-color: rgb(255,161,0);
        color: rgb(255,255,255);
        float: right;
        margin-right: 8px;
    }
    
    .start-quiz-next-button:disabled,
    .start-quiz-start-button:disabled {
        background-color: rgba(255,161,0,0.5);
        cursor: default;
    }
    
    .start-quiz-next-button:hover:enabled,
    .start-quiz-start-button:hover:enabled {
        background-color: #cb7e00;
        border: 1px solid #cb7e00;
        color: #ffffff;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        width: 700px;
        
        &.modal-dialog {
            margin: 30px auto;
            
            .modal-header {
                height: 71px;
                
                .cancel-button {
                    right: 14px;
                    top: 13px;
                }
                
                .popup-title {
                    line-height: 71px;
                    padding-left: 24px;
                }
            }
        }
        
        #start-quiz-modal-content {
            padding: 0 25px;
        }
        
        .step-header {
            height: 80px;
        }
        
        .step-title-text {
            line-height: 80px;
            .unselectable;
        }
        
        .step-x-of-x-text {
            line-height: 80px;
        }
        
        .selected-quiz-name-text {
            line-height: 80px;
        }
        
        .selected-quiz-change-text {
            line-height: 80px;
        }
        
        .input-container {
            margin-top: 1px;
            width: 236px;
        }
        
        #start-quiz-search-input {
            width: 236px;
        }
        
        .clear-search {
            left: 204px;
            position: absolute;
            top: 12px;
        }

        .clear-search-x {
            left: 13px;
            position: relative;
            top: 13px;
        }
        
        .start-quiz-filter-bar .custom-select {
            margin: 0;
            position: absolute;
            right: 12px;
            top: 12px;
            width: 236px;
        }
        
        .no-quizzes-found-container {
            margin: 46px auto;
        }
        
        .empty-folder-container {
            margin: 40px auto;
        }
        
        .start-quiz-radio-column {
            padding-left: 12px;
            width: 43px;
        }
        
        .start-quiz-name-column {
            max-width: 200px;
        }
        
        .start-quiz-date-column {
            display: table-cell;
            width: 50%;
        }
        
        .start-quiz-delivery-container {
            display: inline-block;
            margin-bottom: 24px;
            text-align: left;
            white-space: nowrap;
            width: 50%;
        }
        
        .help-tooltip {
            left: -135px;
            width: 300px;
        }
        
        .step2 {
            padding-bottom: 0;
            white-space: nowrap;
        }

        .start-quiz-select-container {
            display: inline-block;
            margin-bottom: 32px;
            padding-bottom: 0;
            padding-right: 40px;
            width: 50%;
        }
        
        .teams-container {
            margin-top: 5px;
        }
        
        .start-quiz-settings-container {
            border-top: none;
            border-left: 1px solid #cccccc;
            display: inline-block;
            padding-bottom: 0;
            padding-top: 7px;
            width: 50%;
            
            .settings-cnt {
                
                .delivery-method-tooltip {
                    right: 0;
                    
                    .tooltip {
                        left: -414px;
                        top: -10px;
                    }
                }
            }
        }
        
        .start-quiz-footer {
            height: 70px;
            padding-top: 13px;
            position: relative;
        }
        
        .start-quiz-footer-button {
            height: 44px;
            margin-left: 25px;
        }
        
        .start-quiz-next-button,
        .start-quiz-start-button {
            margin-right: 25px;
        }
    }
    
    @media screen and (min-width: @breakpoint-large) {
        
        .start-quiz-table {
            
            th {
                
                .start-quiz-sort-header {
                    left: -12px;
                    padding: 6px 12px;
                    position: relative;
                    top: -4px;
                }
                
                .start-quiz-sort-header:hover {
                    background-color: #f6f6f6;
                }
                
                .start-quiz-sort-header:hover .start-quiz-sort-icon {
                    stroke: #8cb4d2;
                }
                
                .start-quiz-sort-header:hover .start-quiz-column-header-text {
                    font-weight: 700;
                }
            }
        }
    }

    @media screen and (max-width: @breakpoint-medium){
        .start-quiz-settings-container {
            .settings-cnt {
                .help-tooltip {
                    left: -198px;
                }
            }
        }
    }
}
