#register-container,
#profile-container {
    
    .purchase-license-container {
        margin-top: 35px;

        .wa-tax-text-label {
            font-size: 12px;
            font-weight: 600;
            margin-top: 72px;
            width: 100%;
            display: block;
        }

        .wa-tax-text-content {
            display: block;
            font-size: 11px;
            margin-top: 4px;
        }
    }

    .activate-link-container {
        text-align: center;
    }

    .license-information-header {
        display: block;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 25px;
    }
    
    .license-information-details {
        position: relative;
    }
    
    .register-form-container,
    #profile-form-container {

        .license-information-item {
            display: inline-block;
            position: relative;
            vertical-align: bottom;
            
            .license-seats-input-container {
                width: 60px;
            }
            
            .input-container {
                margin-top: 19px;
            }
            
            .coupon-name-input-container {
                margin-top: 10px;
                width: 198px;
                
                label {
                    display: none;
                }
            }
            
            &.license-years-select {
                top: -1px;
                
                .custom-select-list {
                    z-index: 1001; // Make sure the "Years" select renders over the "Auto Renew" information icon.
                }
            }
            
            .license-years-select-label {
                margin-left: 16px;
            }
            
            .custom-select {
                margin-left: 16px;
                width: 60px;
            }
            
            .tooltip {
                min-width: 190px;
            }
        }
        
        .input-container {
            
            &.name-on-card-input-container {
                width: 100%;
            }
            
            &.card-number-input-container {
                margin-top: 14px;
                width: 100%;
            }
            
            &.card-cvc-input-container {
                margin-left: 16px;
                margin-top: 13px;
                position: relative;
                top: 1px;
                width: 56px;
            }
        }
        
        .card-month-container,
        .card-year-container {
            width: auto;
            
            .custom-select {
                width: 94px;
            }
        }
        
        .card-year-container {
            margin-left: 8px;
        }
    }
    
    #profile-form-container {
        
        .license-information-item {
            
            .coupon-name-input-container {
                width: 214px;
            }
        }
        
        .action-button-200 {
            
            &.license-previous-button,
            &.license-purchase-button {
                width: 126px;
            }
        }
    }
    
    #couponName {
        text-transform: uppercase;
    }
    
    .coupon-input-success {
        border: solid 1px #8fc254;
        color: #8fc254;
    }
    
    .clear-coupon-x {
        bottom: 13px;
        cursor: pointer;
        position: absolute;
        right: 13px;
        z-index: 1;
    }
    
    .apply-coupon-button,
    .apply-coupon-button-success {
        background-color: transparent;
        border: solid 1px #6d9ec4;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #6d9ec4;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        height: 44px;
        left: -2px;
        min-width: 70px;
        outline: none;
        position: relative;
        top: -1px;
    }
    
    .apply-coupon-button-success {
        background-color: #8fc254;
        border: solid 1px #8fc254;
        cursor: default;
    }
    
    .coupon-success-icon {
        height: 20px;
        position: relative;
        top: 2px;
        width: 20px;
    }
    
    .license-information-total-container {
        bottom: 70px;
        position: absolute;
        right: 0;
        text-align: right;
    }
    
    .license-information-total-header {
        font-size: 12px;
        font-weight: 600;
    }
    
    .license-information-total-amount {
        display: block;
        font-size: 30px;
        font-weight: 700;
        margin-top: 5px;
    }
    
    .license-information-tooltip {
        display: inline-block;
        left: 6px;
        top: -4px;
        vertical-align: top;
        z-index: 1000;
    }
    
    .apply-now-tooltip {
        
        .help-tooltip {
            left: -240px;
        }
    }
    
    .auto-renew-tooltip {
        
        .help-tooltip {
            left: -127px;
        }
    }
    
    .apply-license-container,
    .auto-renew-container {
        margin-top: 14px;
        padding-left: 9px;
    }
    
    .auto-renew-container {
        margin-top: 5px;
    }
    
    .apply-license-checkbox,
    .auto-renew-checkbox {
        position: relative;
        right: 8px;
        width: 18px;
    }
    
    .apply-license-label,
    .auto-renew-label {
        cursor: pointer;
        position: relative;
        top: 1px;
    }
    
    .review-and-pay-container {
        margin-top: 39px;
        text-align: center;
    }
    
    .order-summary-header-text,
    .payment-information-header-text {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    .other-payment-options-link {
        display: block;
        .link;
        
        &:hover {
            text-decoration: none;
        }
    }
    
    .order-summary-right-column {
        float: right;
    }
    
    .license-key-right-column {
        font-size: 12px;
    }
    
    .order-summary-row {
        margin-top: 8px;
    }
    
    .first-order-summary-row {
        margin-top: 17px;
    }
    
    .order-summary-total {
        margin-top: 19px;
    }
    
    .order-summary-total-column {
        font-size: 20px;
        font-weight: 700;
    }
    
    .payment-information-header {
        margin-top: 31px;
    }
    
    .card-detail-container {
        display: inline-block;
        position: relative;
        vertical-align: bottom;
        width: 100%;
    }
    
    #cardNumber {
        padding-left: 53px;
    }
    
    .credit-card-icon {
        bottom: 12px;
        height: 21px;
        left: 18px;
        position: absolute;
        width: 28px;
    }
    
    .card-detail-container-cvc {
        width: 48px;
    }
    
    .license-buttons-container {
        margin-top: 44px;
    }
    
    .license-previous-button,
    .license-purchase-button {
        width: 126px;
    }
    
    .license-previous-button {
        background-color: transparent;
    }
    
    .license-purchase-button {
        float: right;
    }
    
    .payment-receipt-container {
        margin: 0 auto;
    }
    
    .payment-complete-container {
        text-align: center;
    }
    
    .payment-complete-icon {
        height: 100px;
        width: 100px;
    }
    
    .payment-complete-header {
        display: block;
        font-size: 18px;
        font-weight: 300;
        margin-top: 16px;
    }
    
    .my-account-button-container {
        margin-top: 32px;
        text-align: center;
    }
    
    .license-receipt-sent {
        display: block;
        margin-top: 64px;
        text-align: center;
        width: 100%;
    }
    
    .license-receipt-divider {
        border-top: solid 1px #cccccc;
        display: block;
        height: 1px;
        margin-top: 28px;
        width: 100%
    }
    
    .account-information-header,
    .license-receipt-information-header {
        display: block;
        font-weight: 700;
        margin-top: 28px;
    }
    
    .license-receipt-left-column {
        font-weight: 600;
    }
    
    .license-receipt-total {
        font-weight: 700;
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        
        .register-form-container,
        #profile-form-container {

            .license-information-item {
                
                .coupon-name-input-container {
                    width: 253px;
                }
            }
            
            .input-container {
                
                &.card-cvc-input-container {
                    margin-left: 29px;
                    width: 66px;
                }
            }
            
            .card-month-container,
            .card-year-container {
                
                .custom-select {
                    width: 110px;
                }
            }
        }
        
        #profile-form-container {
            
            .license-information-item {
                
                .coupon-name-input-container {
                    width: 269px;
                }
            }
        }
        
        .license-information-tooltip {
            
            .help-tooltip-above {
                bottom: 37px;
            }
        }
        
        .apply-now-tooltip {
            
            .help-tooltip {
                left: -213px;
            }
        }
        
        .auto-renew-tooltip {
            
            .help-tooltip {
                left: -127px;
            }
        }
        
        .license-key-right-column {
            font-size: 14px;
        }
        
        .license-previous-button,
        .license-purchase-button {
            width: 153px;
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-large) {
        
        .register-form-container,
        #profile-form-container {

            .license-information-item {
                
                .coupon-name-input-container {
                    width: 303px;
                }
            }
            
            .input-container {
                
                &.card-cvc-input-container {
                    margin-left: 79px;
                }
            }
        }
        
        #profile-form-container {
            
            .license-information-item {
                
                .coupon-name-input-container {
                    width: 308px;
                }
            }
        }
        
        .apply-now-tooltip {
            
            .help-tooltip {
                left: -185px;
            }
        }
        
        .license-previous-button,
        .license-purchase-button {
            width: 178px;
        }
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        
        .register-form-container,
        #profile-form-container {

            .license-information-item {
                
                .coupon-name-input-container {
                    margin-left: 16px;
                    width: 190px;
                    
                    label {
                        display: inline;
                    }
                }
            }
            
            .input-container {
                
                &.card-number-input-container {
                    width: 256px;
                }
                
                &.card-cvc-input-container {
                    margin-left: 16px;
                    top: 0;
                }
            }
            
            .card-month-container,
            .card-year-container {
                margin-left: 16px;
                position: relative;
                top: -1px;
                
                .custom-select {
                    width: 119px;
                }
            }
            
            .card-year-container {
                margin-left: 8px;
            }
        }
        
        .license-information-total-container {
            bottom: 14px;
        }
        
        .apply-coupon-button:hover {
            background-color: #6d9ec4;
            color: #ffffff;
        }
        
        .apply-now-tooltip {
            
            .help-tooltip {
                left: -135px;
            }
        }
        
        .auto-renew-tooltip {
            
            .help-tooltip {
                left: -135px;
            }
        }
        
        .other-payment-options-link {
            float: right;
        }
        
        .card-detail-container {
            width: auto;
        }
        
        .license-buttons-container {
            margin-top: 60px;
        }
        
        .license-previous-button:hover {
            background-color: #cb7e00;
        }
        
        .license-previous-button,
        .license-purchase-button {
            width: 200px;
        }
        
        .payment-receipt-container {
            width: 450px;
        }
    }
}
