@import "question-display-drilldown.less";
@import "question-results-drilldown.less";
@import "student-paced-live-results.less";

////////////////////////////////////////////////
///////////////////// MAIN /////////////////////
////////////////////////////////////////////////

#live-results-main-content {
	.main-padding;
    margin: 0 auto;
	position: relative;
    width: 91%;
    
    @media only screen and (max-width: @breakpoint-small-max) {
        padding-top: 16px;
    }

	.title {
		display: inline-block;
		line-height: @button-large-line-height;
        max-width: 50%;
		padding-bottom: 6px;

		@media only screen and (max-width: @breakpoint-small-max) {
            padding-bottom: 40px;
        }
        
        span {
            font-weight: 300;
        }
	}

	.toggle-content {
		@media only screen and (max-width: @breakpoint-small-max) {
			padding-bottom: 1em;
		}
		.toggle-button {
			margin-left: 2px;

			&:first-child {
				min-width: 16em;
				margin: 0 0.8em 0 0;
			}

			label {
				&:hover {
					cursor: pointer;
				}
			}
		}

		.toggle-text {
			margin: 0.5em 0 0 0.5em;
		}
	}

	.standard-display {
		color: #bbb;
		font-size: 14px;
		display: block;
		line-height: 16px;
	}
	
	.hide-student-responses {
		position: absolute;
		margin-left: 20px;
		border: 2px solid #aeaeae;
		max-width: 48%;

		@media only screen and (max-width: @breakpoint-medium ) {
			.button-mini();
			line-height: @button-large-line-height;
			max-width: 60%;
		}
	}

	.buttons-container {
		padding: 1em 0 3em;
		text-align: center;
		position: relative;
		min-height: 3em;

		button {
			border: 2px solid #bbb;
			
			@media only screen and (max-width: @breakpoint-small ) {
				width: 100%;
				// remove border for all nav buttons, except the first one
				// &:not(:first-child) {
					// border-top: 0;
				// }
			}
		}
		#previous-button {
			float: left;
			transition: width 0s;
			@media only screen and (min-width: @breakpoint-medium ) {
				margin-left: 10%;
			}
			&.special {
				@media only screen and (max-width: @breakpoint-small ) {
					border-bottom: 0;
				}
			}
		}

		#back-to-live-results-button {
			width: 300px;
			position: absolute;
			left: 50%;
			margin-left: -150px;
			transition: width 0s;
			@media only screen and (max-width: @breakpoint-medium ) {
				width: 150px;
				margin-left: -75px;
			}
			@media only screen and (max-width: @breakpoint-small ) {
				width: 100%;
				float: none;
				position: inherit;
				left: 0;
				margin-left: 0;
			}
		}

		#next-button {
			float: right;
			transition: width 0s;
			@media only screen and (min-width: @breakpoint-medium ) {
				margin-right: 10%;
			}
			&.special {
				@media only screen and (max-width: @breakpoint-small ) {
					border-top: 0;
				}
			}
		}
	}

	.lr-question-container {
		background: @lightBlue;
		padding: 1em;
		#switch-theme {
			font-size: 2.5em;
			line-height: 0.75em;
			padding: 0.1em;
			background: transparent;
			float: right;
			border: 2px solid darken(#afcbe0, 10%);
			color: darken(#afcbe0, 10%);
			margin-left: 5px;
			min-width: inherit;
			@media only screen and (max-width: @breakpoint-small ) {
				position: absolute;
				top: 0;
				right: 0;
			}

			&:hover {
				color: #afcbe0;
				border-color: #afcbe0;
			}

			.transition(all ease 0.3s);
		}
		&.dark-theme {
			background: #afcbe0;
			#switch-theme {
				border: 2px solid lighten(@lightBlue, 5%);
				color: lighten(@lightBlue, 5%);

				&:hover {
					color: @lightBlue;
					border-color: @lightBlue;
				}
			}
			.fr-response-line {
				background: white;
				span {
					color: @textGray;

					&.student-name {
						color: black;
					}
				}
			}

			#question-explanation-display {
				background: white;
			}
		}
	}

	@media only screen and (max-width: @breakpoint-medium) {
        .toggle-content {
        	.toggle-button {
        		margin: 0;
	        	width: 100%;

		        &:first-child {
		        	margin-bottom: 1em;
		        }
	        }

	        
        }
        
    }
    
    @media only screen and (min-width: @breakpoint-phone-medium) {
        width: 92.5%;
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        width: 93%;
    }
    
    @media only screen and (min-width: @breakpoint-large) {
        width: 82%;
    }
}
