@import "rooms/room-entry.less";

@import "rooms/roster.less";

@import "rooms/popup-errors.less";
@import "rooms/add-students.less";


@import "rooms/import-roster-popup.less";
@import "rooms/import-roster-message.less";

@import "rooms/notify.less";

@import "rooms/premium-popup.less";

@import "rooms/share-room-popup.less";

.rooms-container {
    margin: 0 auto;
    padding: 35px 2em;

    .page-title {
        .align-left;
        font-weight: 300;
        margin-top: 4px;
    }

    .add-room-icon {
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 2px;
    }

    .rooms-filters {
        border-bottom: 1px solid #ddd;
        padding: 56px 0 6px 0;
        text-transform: uppercase;
        
        .in-menu-checkbox,
        .room-status-column,
        .filter-room-name {
            span {
                font-weight: 300;
            }
        }

        @media only screen and (max-width: @breakpoint-small-max) {
            padding-top: 40px;
        }

        /* disable filters for non premium users */
        &.disabled {
            .filter {
                &:hover {
                    cursor: default;
                }

                &.active {
                    span {
                        font-weight: inherit;
                    }
                    i {
                        display: none;
                    }
                }
            }
        }
    }

    .filter {
        width: 10%;
        text-align: left;
        display: inline-block;
        // float: left;
        
        i {
            display: none;
            color: @blue-500;
            font-size: 1.2em;
            position: relative;
            top: 4px;
        }

        &.active {
            span {
                font-weight: 900;
            }
            
            i {
                display: inline-block;
            }
        }

        > span:hover {
            cursor: pointer;
        }
    
        @media only screen and (max-width: @breakpoint-medium) {

            width: 15%;
            // text-align: center;

            &.in-menu-checkbox {
                display: none;
            }
        }

        @media only screen and (max-width: @breakpoint-small) {
            font-size: 0.8em;
        }
    }

    .filter-room-name {
        display: inline-block;
        width: 40%;
        @media only screen and (max-width: @breakpoint-xlarge) {
            width: 30%;
        }
        @media only screen and (max-width: @breakpoint-medium) {
            width: 40%;
        }
        .button-secondary {
            margin-right: 10px;
        }
    }

    
    @media only screen and (min-width: @breakpoint-large) {
        width: 85%;
    }

    @media only screen and (max-width: @breakpoint-small-max) {
        padding: 16px 14px 3em 14px;
    }

    @media only screen and (max-width: @breakpoint-medium) {
        width: 100%;

        &.form {
            input[type="text"] {
                width: 100%;
            }
            .list-view {
                input[type="text"] {
                    height: 20px;
                    line-height: 20px;
                    /*width: 100%;*/
                }
            }

        }
        
        .hide-mobile {
            display: none;
        }
    }

}

.right-buttons {
    .align-right();

    height: 100%;
    // height: 64px;
    
    .right-side {
        min-width: 8em;
        height: 100%;
        display: inline-block;
        
        text-align: center;

        span {
            font-weight: 300;
        }
    }

    @media only screen and (max-width: @breakpoint-medium) {
        width: 40%;
        .right-side {
            display: none;
        }
    }
    
}


#add-room-container {
    text-align: left;
    label {
        display: block;
    }
    #room-name {
        width: 100%;
    }
}

.non-premium-info {
    text-align: center;
    padding-top: 70px;
    
    p {
        width: 320px;
        margin: 18px auto 20px;
        
        color: rgba(85, 85, 85, 0.5);
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;

        @media only screen and (max-width: @breakpoint-phone-medium) {
            width: 100%;
        }
    }

    .button {
        width: 169px;
    }
}
