#merge-quizzes-modal-background {
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#merge-quizzes-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    
    &.modal-dialog {
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 0;
            top: 4px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            margin-bottom: 19px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            .unselectable;
        }
    }
    
    #merge-quizzes-modal-content {
        
        .input-container {
            margin-bottom: 12px;
            width: 100%;
            
            label {
                cursor: default;
                .unselectable;
            }
            
            #quizName {
                margin-top: 4px;
                width: 100%;
            }
            
            #quizName::selection {
                background: #b0d6ff;
                color: #555555;
            }
            
            #quizName::-moz-selection {
                background: #b0d6ff;
                color: #555555;
            }
        }
        
        .merge-quizzes-question {
            cursor: default;
            display: block;
            .unselectable;
        }
        
        .merge-quizzes-radio {
            height: 36px;
            
            .radio-button-outer {
                top: 8px;
            }
            
            .radio-button-label {
                display: inline-block;
                line-height: 36px;
                max-width: 252px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        
        .merge-quizzes-note {
            color: rgba(85, 85, 85, 0.5);
            cursor: default;
            display: block;
            font-style: italic;
            margin-bottom: 28px;
            margin-top: 16px;
            .unselectable;
        }
        
        .merge-quizzes-buttons-container {
            margin-top: 24px;
        }
        
        .merge-quizzes-button {
            background-color: #6d9ec4;
            border: none;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            outline: none;
            margin-left: -1px;
            min-width: 96px;
            .unselectable;
        }
        
        .merge-quizzes-button:disabled {
            background-color: rgba(109, 158, 196, 0.5);
            cursor: default;
        }
        
        .merge-quizzes-cancel-button {
            background-color: #ffffff;
            border: 1px solid #6d9ec4;
            color: #6d9ec4;
            margin-left: 8px;
        }
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 20px 24px 24px 24px;
        width: 352px;
        
        &.modal-dialog {
            
            .cancel-button {
                right: 14px;
                top: 11px;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-large) {
        width: 407px;
        
        #merge-quizzes-modal-content {
            
            .merge-quizzes-radio {
                
                .radio-button-label {
                    max-width: 331px;
                }
            }
            
            .merge-quizzes-button:hover {
                background-color: @button-secondary-hover-background;
            }

            .merge-quizzes-cancel-button:hover {
                background-color: @button-secondary-hover-background;
                border: 1px solid @button-secondary-hover-background;
                color: #ffffff;
            }
            
            .merge-quizzes-button:disabled:hover {
                background-color: rgba(109, 158, 196, 0.5);
            }
        }
    }
}
