#modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background: rgba(239, 239, 239, 0.5);
}

#modal-wrapper {
	background: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	color: #777;

	-webkit-box-shadow: 0px 0px 8px 0px rgba(136,136,136,1);
	-moz-box-shadow: 0px 0px 8px 0px rgba(136,136,136,1);
	box-shadow: 0px 0px 8px 0px rgba(136,136,136,1);

	border-radius: 3px;

	@media only screen and (max-width: @breakpoint-medium) {
		width: 95%!important;
		left: 0;
		margin-left: 2.5%!important;
	}

	&.full-height {
		transform: translateY(0);
		top: 20px;
		#modal-holder {
			overflow: hidden;
		}

		.modal-header {
			position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			background: white;
			z-index: 1000;
			background: white;
			border-bottom: 1px solid #ccc;

			&.ie-browser {
				position: absolute;
			}
		}

		#modal-content {
			padding: 0 18px;
			overflow-y: auto; 
			position: relative;
		}

		.modal-footer {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			background: white;
			border-top: 1px solid #ccc;
			z-index: 1000;
			padding: 18px;

			&.ie-browser {
				width: 700px;
				left: 50%;
				margin-left: -350px;
				bottom: 20px;

				@media only screen and (max-width: @breakpoint-medium) {
					width: 95%!important;
					left: 0;
					margin-left: 2.5%!important;
				}
			}
		}
	}

	.modal-header {
		padding: 24px;
		margin-bottom: 0;
		

		.cancel-button {
			color: #777;
			position: absolute;
			top: 20px;
			right: 9px;
			z-index: 1000;
			padding: 7px 14px;

			@media only screen and (max-width: @breakpoint-small-max) {
				top: 8px;
			}
		}

		@media only screen and (max-width: @breakpoint-medium) {
			padding: 16px;

			.cancel-button {
				top: 11px;
				right: 4px;
			}
		}

		.modal-title {
	        color: #666666;
	        font-size: 24px;
	        font-weight: 300;
	        padding-right: 30px;

	        @media only screen and (max-width: @breakpoint-small-max) {
				font-size: 20px;
				line-height: 30px;
			}
	    }
	}

	#modal-content {
		padding: 0 24px;

		@media only screen and (max-width: @breakpoint-medium) {
			padding: 0 16px;
		}
	}

	.modal-footer {
		padding: 18px 0;
		margin-top: 0;
	}
}