#move-modal-background {
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#move-modal-box {
    height: 397px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    
    @header-height: 72px;
    
    &.modal-dialog {
        padding: 0;
        
        .modal-header {
            border-bottom: 1px solid #cccccc;
            height: @header-height;
            margin-bottom: 0;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            line-height: 72px;
            padding-left: 25px;
            .unselectable;
        }
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 14px;
            top: 13px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .cancel-button-disabled {
            cursor: default;
        }
        
        .move-modal-banner {
            background-color: #8fc254;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: @header-height;
            left: 0;
            line-height: @header-height;
            opacity: 0.95;
            padding-left: 20px;
            position: absolute;
            top: 0;
            width: 501px;
            z-index: 2;
        }
        
        .move-modal-banner-icon {
            height: 20px;
            position: relative;
            top: 4px;
            width: 20px;
        }
        
        .move-modal-banner-text {
            color: #ffffff;
            cursor: default;
            font-size: 16px;
            font-weight: 600;
            line-height: 68px;
            margin-left: 8px;
            position: relative;
            .unselectable;
        }
        
        .move-modal-banner-error {
            background-color: #e50800;
        }
    }
    
    #move-modal-content {
        padding: 25px;
        
        .move-modal-action-row {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 7px;
        }
        
        .move-modal-action-row-root {
            padding-bottom: 13px;
        }
        
        .move-modal-back-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: 36px;
            outline: none;
            width: 36px;
            
            &:hover:enabled {
                background-color: #eeeeee;
            }
            
            &:disabled {
                cursor: default;
                opacity: 0.5;
            }
        }
        
        .move-modal-back-button-icon {
            position: relative;
            top: 1px;
        }
        
        .move-modal-current-label {
            cursor: default;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            left: 9px;
            line-height: 25px;
            max-width: 255px;
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            text-transform: uppercase;
            top: 4px;
            .unselectable;
            white-space: nowrap;
        }
        
        .move-modal-current-label-root {
            left: 0;
            top: 5px;
        }
        
        .move-modal-current-label-truncated {
            max-width: 130px;
        }
        
        .move-modal-new-folder-container {
            float: right;
            
            .input-container {
                vertical-align: top;
                width: 192px;
                
                #newFolderName {
                    height: 36px;
                    padding: 0 8px 1px;
                    width: 100%
                }
            }
        }
        
        .move-modal-create-folder-button {
            height: 40px;
            line-height: 40px;
            position: relative;
            top: -1px;
        }
        
        .move-modal-create-folder-button-icon {
            top: 7px;
        }
        
        .move-modal-confirm-create-folder-button,
        .move-modal-cancel-create-folder-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            height: 36px;
            outline: none;
            position: relative;
            top: 1px;
            vertical-align: top;
            width: 36px;
            
            &:hover:enabled {
                background-color: #eeeeee;
            }
            
            &:disabled {
                cursor: default;
            }
        }
        
        .move-modal-cancel-create-folder-button-icon {
            height: 17px;
            position: relative;
            top: 1px;
            width: 18px;
        }
        
        .move-modal-folder-list-container {
            border-bottom: 1px solid #cccccc;
            height: 160px;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            width: 100%;
        }
        
        .move-modal-loader {
            margin: 50px auto 0;
            text-align: center;
            width: 210px;
        }
        
        .move-modal-folder-list-empty {
            color: #888888;
            cursor: default;
            display: block;
            position: relative;
            text-align: center;
            top: 43%;
            .unselectable;
        }
        
        .move-modal-buttons-container {
            margin-top: 25px;
        }
        
        .move-modal-button {
            background-color: #6d9ec4;
            border: none;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            outline: none;
            min-width: 96px;
            .unselectable;
            
            &:hover:enabled {
                background-color: @button-secondary-hover-background;
            }
            
            &:disabled {
                cursor: default;
                opacity: 0.5;
            }
        }
        
        .move-modal-cancel-button {
            background-color: #ffffff;
            border: 1px solid #6d9ec4;
            color: #6d9ec4;
            margin-left: 8px;
            
            &:hover:enabled {
                background-color: @button-secondary-hover-background;
                border: 1px solid @button-secondary-hover-background;
                color: #ffffff;
            }
        }
    }
}
