.pagination-container {
    text-align: center;
    width: 310px;
    
    .previous-next-container {
        
        .top-page-button {
            background-color: #ffffff;
            border: none;
            cursor: pointer;
            height: 40px;
            outline: none;
            vertical-align: top;
            width: 40px;
            
            &.disabled {
                cursor: default;
            }
            
            .first-last-page-arrow {
                height: 20px;
                width: 13px;
            }
            
            .next-previous-page-arrow {
                height: 20px;
                width: 11px;
            }
        }
        
        .top-page-button:hover {
            background-color: #eeeeee;
            
            &.disabled {
                background-color: #ffffff;
            }
        }
        
        .previous-button {
            padding: 2px 1px 0 0;
        }
        
        .next-button {
            padding: 2px 0 1px 0;
        }
        
        .pagination-range {
            display: inline-block;
            line-height: 40px;
            margin: 0 12px;
            vertical-align: top;
            
            b {
                font-weight: 600;
            }
        }
    }
    
    .page-numbers-container {
        margin-top: 7px;
        
        .page-number-button {
            background-color: #ffffff;
            border: none;
            color: rgba(85, 85, 85, 0.5);
            cursor: pointer;
            font-size: 14px;
            height: 40px;
            outline: none;
            width: 40px;
        }
        
        .page-number-button:hover {
            background-color: #eeeeee;
            color: #555555;
        }
        
        .page-number-button-selected,
        .page-number-button-selected:hover {
            background-color: #6d9ec4;
            color: #ffffff;
            cursor: default;
        }
    }
}
