#pop-up-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000000;
	background: rgba(0,0,4,0.4);
	z-index: 1000;
	top: 0;
	left: 0;
}

#pop-up-box {
	border: 0.2em solid #0caed6;
	padding: 0.5em;
	@media only screen and (max-width: 420px) {
		width:16em;
		margin:20% auto;
	}
}

#pop-up-message {
	font-size: 1em;
	border: 10px solid red;
	h1 {
		text-align: left;
		font-size: 2em;
	}
}
