#profile-container {
    padding-bottom: 84px;
    
    .profile-tabs {
        margin-bottom: 24px;
        padding-top: 15px;
        position: relative;
        text-align: center;
        width: 100%;
        
        .profile-error-banner,
        .profile-success-banner {
            background-color: #8fc254;
            display: table;
            height: 62px;
            opacity: 0.85;
            padding-left: 48px;
            padding-right: 48px;
            position: fixed;
            text-align: left;
            top: 0;
            width: 100%;
            z-index: 5;
            
            .profile-banner-icon {
                left: 14px;
                position: absolute;
                top: 21px;
            }
            
            .profile-banner-text {
                color: #ffffff;
                display: table-cell;
                font-size: 16px;
                font-weight: 600;
                vertical-align: middle;
            }
            
            .profile-banner-error-close {
                cursor: pointer;
                height: 44px;
                position: absolute;
                right: 2px;
                top: 11px;
                width: 44px;
                
                .profile-banner-error-close-x {
                    left: 13px;
                    position: relative;
                    top: 13px;
                }
            }
        }
        
        .profile-error-banner {
            background-color: rgba(229, 8, 0, 0.9);
        }
    }
    
    .profile-nav li {
        border-bottom: 2px solid rgba(109,158,196,0);
        color: rgba(68,68,68,0.5);
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 44px;
        margin: 0 1px;
        padding: 20px 16px 0;
        .unselectable;
    }
    
    .profile-nav li.selected {
        border-bottom: 2px solid rgba(109,158,196,1);
        color: rgba(68,68,68,1);
    }
    
    .profile-nav li:hover {
        border-bottom: 2px solid rgba(109,158,196,1);
        color: rgba(68,68,68,1);
    }
    
    #profile-form-container {
        margin: 0 18px;
        
        .input-container,
        .profile-select-container {
            display: inline-block;
            margin-top: 24px;
        }
        
        .profile-select-container {
            display: block;
            margin-left: 1px;
            vertical-align: top;
            
            &.profile-language-select {
                position: relative;
            }
        }
        
        .input-container {
            width: 100%;
            
            input {
                font-size: 14px;
                font-weight: 300;
                width: 100%;
            }
        }
        
        input {
            font-size: 14px;
            font-weight: 300;
        }
        
        .profile-change-password-link {
            margin-top: 30px;
        }
        
        .old-password-input {
            display: block;
        }
        
        #show-passwords-checkbox,
        .show-passwords-label {
            cursor: pointer;
            display: inline-block;
        }
        
        .show-passwords-label {
            margin-top: 12px;
            padding-left: 8px;
        }
        
        .profile-button-container {
            padding-bottom: 84px;
            margin-top: 53px;
            text-align: center;
        }
        
        .custom-select {
            width: 100%;
            
            .spinner {
                position: absolute;
                left: 50%;
                margin-left: -11px;
                margin-top: 5px;
                z-index: 1;
        
                [class^='bounce'], div {
                    background-color: #bbb;
                }
            }
            
            .list-title-text {
                cursor: default;
            }
        }
        
        .profile-language-icon {
            left: 13px;
            position: absolute;
            top: 11px;
        }
        
        .custom-select-text {
            &.flag {
                padding-left: 46px;
            }
            
            &.flag:disabled {
                cursor: default;
            }
        }
        
        .custom-select-item {
            position: relative;

            .profile-language-icon {
                left: 13px;
                position: absolute;
                top: 10px;
            }
            
            span.flag {
                padding-left: 36px;
            }
        }
        
        .account-type-buttons-outer {
            padding-top: 9px;
            text-align: center;
            
            .account-type-button {
                border-radius: 5px;
                display: inline-block;
                margin: 0 auto;
                padding-top: 6px;
                position: relative;
                text-align: center;
                vertical-align: top;
                width: 100%;
                
                .profile-type-check {
                    position: absolute;
                    right: -8px;
                    top: -8px;
                }
            }
            
            .account-type-button-selected,
            .account-type-button-selected:hover {
                .account-type-button;
                
                background-color: #6d9ec4;
                border: 1px solid #6d9ec4;
            }
            
            .account-type-button-text {
                color: #555555;
                cursor: default;
                font-weight: 300;
                margin: 11px auto 6px;
                .unselectable;
                width: 90%;
            }
            
            .account-type-button-text-selected {
                .account-type-button-text;
                color: #ffffff;
            }
        }
        
        .complete-profile-text {
            display: block;
            font-size: 20px;
            line-height: 21px;
            margin-top: 48px;
            padding-bottom: 84px;
            text-align: center;
        }
        
        .upgrade-now-text,
        .price-text {
            display: block;
            font-size: 20px;
            font-weight: 600;
            margin-top: 40px;
            text-align: center;
        }
        
        .price-text {
            font-weight: 400;
            margin-top: 10px;
        }
        
        .profile-billing-required-container {
            margin-top: 28px;
            
            .profile-billing-asterisk {
                color: #d0021b;
                font-size: 12px;
            }
            
            .profile-billing-required {
                font-size: 12px;
            }
        }
        
        .expiration-date-container {
            display: inline-block;
            margin-left: 1px;
            margin-top: 25px;
            vertical-align: top;
            
            .billing-select-container {
                display: inline-block;
            }
            
            .billing-select-container-left-margin {
                margin-left: 0;
            }

            @media screen and (max-width: @breakpoint-medium) {
                width: 100%;

                .billing-select-container {
                    width: 48.85%;
                }

                .billing-select-container-left-margin {
                    margin-left: 2%;
                }
                
            }

            @media screen and (max-width: @breakpoint-small) {

                .billing-select-container {
                    width: 100%;
                }

                .billing-select-container-left-margin {
                    margin-left: 0;
                }
            }
        }
        
        .action-button-200 {
            width: 100%;
        }
        
        .profile-action-button {
            padding-bottom: 84px;
            margin-top: 30px;
            text-align: center;
            
            .action-button-282 {
                width: 258px;
            }
        }
    }
    
    .renewal-container {
        margin-top: 45px;
    }
    
    .account-icon-container {
        height: 132px;
        text-align: center;
    }
    
    .account-summary-row {
        margin: 8px auto 0;
        padding-top: 4px;
    }
    
    .first-account-summary-row {
        margin-top: 30px;
    }
    
    .account-summary-left-column {
        font-weight: 600;
    }
    
    .account-summary-right-column {
        float: right;
    }
    
    .default-renew-pro-icon {
        height: 93px;
        position: relative;
        top: 19px;
        width: 99px;
    }
    
    .license-expired-header {
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-top: 14px;
        text-align: center;
    }
    
    .days-left-text {
        display: block;
        margin-top: 4px;
        text-align: center;
    }
    
    .account-license-key,
    .account-expiration {
        display: block;
    }
    
    .auto-renew-toggle {
        float: right;
        position: relative;
        top: -4px;
    }
    
    #renewLicenseButton {
        display: block;
        margin: 60px auto 0;
    }
    
    #profileUpgradeButton {
        display: block;
        margin: 21px auto 0;
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        
        .profile-nav li {
            padding: 20px 21px 0;
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-large) {
        
        .profile-nav li {
            padding: 20px 30px 0;
        }
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        .profile-tabs {
            .profile-error-banner,
            .profile-success-banner {
                padding-left: 54px;
                position: absolute;
                
                .profile-banner-icon {
                    left: 22px;
                }
            }
        }
        
        .profile-nav li {
            padding: 20px 16px 0;
            width: 150px;
        }
        
        #profile-form-container {
            margin: 0 auto;
            width: 600px;
            
            .account-summary-row {
                width: 375px;
            }
            
            .profile-select-container {
                display: inline-block;
            }
            
            .account-type-buttons-outer {
                .account-type-button-text {
                    width: 48%;
                }
            }
            
            .custom-select {
                width: 282px;
            }
            
            .input-container {
                width: 284px;
                
                input {
                    font-size: 14px;
                    font-weight: 300;
                    width: 100%;
                }
            }
            
            .profile-margin-left {
                margin-left: 32px;
            }
            
            .billing-select-container {
                .custom-select {
                    width: 130px;
                }
            }
            
            .expiration-date-container {
                .billing-select-container-left-margin {
                    margin-left: 22px;
                }
            }
            
            .action-button-200 {
                width: 200px;
            }
            
            .profile-action-button {
                display: inline-block;
                padding-bottom: 160px;
                margin-left: 7px;
                margin-right: 7px;
                
                .action-button-282 {
                    width: 282px;
                }
            }
            
            .profile-finish-button {
                display: block;
            }
        }
    }
    
    .view-receipt-container {
        margin-top: 60px;
        padding-bottom: 20px;
        text-align: center;
        
        p {
            font-size: 16px;
        }
        
        .receipt-buttons-container {
            padding-top: 11px;
            margin: 0 auto;
            display: inline-block;

            .receipt-button {
                background: white;
                display: inline-block;
                float: left;
                margin: 0 13px;
                padding: 8px 7px 0 8px;
                position: relative;
                width: 85px;
                
                span {
                    display: block;
                    font-size: 12px;
                }
                
                .receipt-email-label {
                    left: -1px;
                    position: relative;
                    top: -5px;
                }
                
                .receipt-download-label {
                    left: -1px;
                    position: relative;
                    top: -2px;
                }
            }

            &.hover {
                .receipt-button {
                    &:hover {
                        background: #eeeeee;
                        cursor: pointer;
                    }
                }
            }
        }

        &.fixed-width {
            .receipt-button {
                width: 120px;
            }
        }
    }
}
