#question-results {
	position: relative;
	/*margin-top: 2em;*/
	.action-buttons-container {
		padding-bottom: 14px;
		position: relative;
	}
	#question-results-table-header {
		font-size: 1.2em;
		padding-top: 0.7em;

		span {
			&:first-child {
				font-weight: 600;
			}
		}
	}

	#show-hide-names-container {
		margin-right: 1em;
	}

	@media only screen and (max-width: @breakpoint-medium ) {
		#question-results-table-header {
			padding-top: 0.4em;
		}
		#show-hide-names-container button {
			margin-bottom: 0.5em;
			.button-small;
		}
	}

	@media only screen and (max-width: @breakpoint-small ) {
		#question-results-table-header {
			padding-top: 0.1em;
		}
		#show-hide-names-container {
			width: 100%;
		}
		#show-hide-names-container button {
			.button-mini;
			width: 40%!important;
		}
	}

	@media only screen and (max-width: 360px ) {
		#show-hide-names-container button {
			width: 60%!important;
		}
	}

	#convert-to-survey-button {
		text-transform: uppercase;
	}

}

.fr-response-container {
	width: 80%;
	position: relative;
	.fr-response-line {
		background: @secondaryBlue;
		padding: 0.37em;
		border: 2px solid @darkBlue;
		margin-top: 2px;
		overflow: hidden;
		font-size: 18px;
		line-height: 22px;

		.student-name {
			color: #dfeaf3;
		}

		span, pre {
			color: white;
		}
	}

	button {
		position: absolute;
		width: 25%;
		right: -25.1%;
		top: 0;
		height: 100%;
		max-height: 57px;
		line-height: 1.2em;
		padding: 0;
		border: 2px solid #aeaeae;

		&:hover {

		}
	}

	.no-answers {
		padding-top: 1em;
		font-size: 1.2em;
	}

	.fr-response-block {
		position: relative;
	}

	@media only screen and (min-width: @breakpoint-xlarge) {
        width: 90%;

        button {
			width: 11%;
			right: -11.1%;
		}
    }

    @media only screen and (max-width: @breakpoint-small) {
    	button {
    		font-size: 0.6em;
    	}
    }
}


#question-results .percentage-selected {
	position: absolute;
	height: 100%;
	margin-left: 5%;
	background-color: rgba(255, 255, 255, .85);
    .transition(0.2s ease all);
}

.question-results-selection(@questionColor) {
	position: relative;

	margin-top: 1em;

	background-color: @darkBlue;
	min-height: 2.5em;
	height: auto;

	z-index: 1;

	& h3 {
		position: absolute;
		top: 0;
		left: 0;
		right: 95%;
		bottom: 0;

		margin: 0;
		padding-top: .25em;
		
		width: auto;
		height: auto;
		text-align: center;
		background-color: @questionColor;
		border-right: 0.5em solid @lightBlue;

		@media only screen and (max-width: @breakpoint-medium) {
			min-width: 2em;
		}
	}

	& .correct {
		background-color: @mainGreen;
	}

	& .percentage-label {
		font-size: 1.5em;
		margin-top: -.25em;
		margin-right: .5em;
		display: inline-block;
		float: right;
		color: rgba(255, 255, 255, 0.8);
		position: relative;
		top: .33em;
		line-height: 1.5em;
		margin-left: 2em;
	}

	& .correct-percent {
		background-color: rgb(107, 157, 54);
		z-index: -1;
	}

	& .incorrect-percent {
		background-color: rgb(223, 83, 77,);
		z-index: -1;
	}

	.results-answer-text {
		padding: 0.4em 0.4em 0.4em 6%;
		color: white;
		font-size: 1.2em;
		word-break: break-word;

		p, span {
			color: white;
		}

		@media only screen and (max-width: @breakpoint-medium) {
			padding: 0.4em 0.4em 0.4em 3em;
		}
	}
}

#question-results .mc-selection-row {
	.question-results-selection(@mainOrange);
}

#question-results .tf-selection-row {
	.question-results-selection(@mainPurple);
}