
#question-display {
	position: relative;
	margin-bottom: 1em;
	word-break: break-word;
	
	.question-number {
		float: left;
		display: inline-block;
		margin: 0 1em 0 0;

		.no-top-margin-question-number {
			width: 5em;
		}
	}

	pre {
		font-size: 1.2em;
		line-height: 1.5em;
	}
}

#question-explanation-display {
	background: @mainBlue;
	padding: 1em;
	border: 2px solid @darkBlue;
	word-break: break-word;
}

#less-explanation-button {
	margin: 2em 0 1em;
}


#question-display .fr-question .question-number {
	.question-number(@shortAnswerLiveResultsColor, 4.5em, 4.5em, @shortAnswerColor);
}

#question-display .mc-question .question-number {
	.question-number(@semiLightOrange, 4.5em, 4.5em, @mainOrange);
}

#question-display .tf-question .question-number {
	.question-number(@semiLightPurple, 4.5em, 4.5em, @mainPurple);
}

.teacher-activity-image {
    float: none;
}

@media screen and (min-width: @breakpoint-tablet) {
    
    .teacher-activity-image {
        float: left;
    }
}
