#quizzes-container {
    margin: 0 auto;
    padding: 28px 0 84px;
    width: 93%;
    
    .quizzes-header-text {
        cursor: default;
        display: inline-block;
        font-size: 30px;
        font-weight: 300;
        height: 44px;
        position: relative;
        top: 7px;
        .unselectable;
    }
    
    .add-quiz-menu-button {
        float: right;
        top: -2px;
        
        .button-dropdown-container li {
            color: #333333;
            font-size: 12px;
            min-width: 178px;
        }
        
        .button-dropdown-container li:hover {
            background-color: #eeeeee;
        }
        
        .menu-button-menu-items-container {
            right: 0;
        }
    }
    
    .add-quiz-button {
        min-width: 120px !important;
        
        &:hover:enabled {
            border: 1px solid transparent;
        }
    }
    
    .create-quiz-plus-icon {
        height: 16px;
        left: -10px;
        position: relative;
        top: 4px;
        width: 16px;
    }
    
    .create-quiz-plus-icon .create-quiz-plus-icon-color {
        stroke: #ffffff;
    }
    
    .create-quiz-text {
        padding-left: 16px;
    }
    
    .quizzes-search-bar {
        background-color: rgba(238, 238, 238, 0.5);
        height: 68px;
        margin-top: 34px;
        width: 100%;
    }
    
    .quizzes-search-container {
        padding: 11px;
        position: relative;

        .quizzes-banner {
            background-color: #8fc254;
            height: 100%;
            left: 0;
            opacity: 0.95;
            padding-left: 20px;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;

            .quizzes-banner-icon {
                height: 20px;
                position: relative;
                top: 4px;
                width: 20px;
            }

            .quizzes-banner-text {
                color: #ffffff;
                font-size: 16px;
                font-weight: 600;
                line-height: 68px;
                margin-left: 8px;
                position: relative;
            }

            .quizzes-banner-sub-text {
                .quizzes-banner-text;

                display: block;
                font-weight: 400;
                line-height: 20px;
            }
        }
        
        .quizzes-banner-error {
            background-color: #e50800;
        }
        
        #quizzes-search-input {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-left: 42px;
            padding-right: 112px;
            transition: none;
            -webkit-transition: none;
            width: 100%;
        }

        .input-container {
            width: 100%;

            .input-block {
                border-right: none;
            }
        }

        .clear-search {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 14px;
            top: 12px;
            width: 37px;
        }

        .clear-search-x {
            left: 13px;
            position: relative;
            top: 13px;
        }

        .quizzes-search-button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: inline-block;
            margin-top: 1px;
            min-width: 70px;
            position: absolute;
            right: 12px;
        }

        .custom-select {
            margin: 11px 0 0 1px;
            width: 100%;
        }
    }
    
    .quizzes-search-icon {
        height: 19px;
        left: 28px;
        position: absolute;
        top: 25px;
        width: 18px;
        z-index: 1;
    }
    
    .quizzes-trash-tooltip {
        bottom: 61px;
        left: 12px;
        width: 234px;
        
        .triangle-left-above {
            right: 174px;
        }
        
        .triangle-right-above {
            right: 178px;
        }
    }
    
    .quizzes-more-button {
        height: 100%;
        padding-top: 7px;
        width: 100%
    }
    
    .quizzes-more-menu {
        left: -204px;
        top: -18px;
        width: 200px;
        z-index: 2;
    }

    .quizzes-more-menu-item {
        height: 44px;
        position: relative;
        text-align: left;
    }

    .more-restore-icon,
    .more-purge-icon,
    .more-item-icon {
        height: 24px;
        left: 10px;
        position: absolute;
        top: 10px;
        width: 24px;
    }
    
    .more-share-quiz-icon {
        fill: #8CB4D2;
    }
    
    .more-share-quiz-icon-disabled {
        fill: #cccccc;
    }
    
    .more-menu-text {
        line-height: 44px;
        padding-left: 44px;
    }
    
    .more-menu-text-disabled {
        color: #cccccc;
    }
    
    .quizzes-more-menu-arrow {
        top: 30px;
    }
    
    
    
    .no-quizzes-found-container {
        margin: 138px auto 0;
        text-align: center;
        width: 300px;
        
        .no-quizzes-found-icon {
            height: 100px;
            width: 83px;
        }
        
        .no-quizzes-found-large-text {
            color: #555555;
            cursor: default;
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin-top: 24px;
            .unselectable;
        }
        
        .start-over-text {
            color: rgba(85, 85, 85, 0.5);
            cursor: default;
            display: block;
            font-size: 14px;
            line-height: 24px;
            margin-top: 10px;
            .unselectable;
        }
    }
    
    .add-something-menu-button {
        margin-top: 25px;
        
        .menu-button-menu-items-container {
            text-align: left;
        }
    }
    
    .search-results-for-text {
        display: block;
        font-size: 18px;
        font-weight: 300;
        margin-top: 25px;
    }
    
    .top-buttons {
        position: relative;
    }
    
    .state-change-button {
        display: inline-block;
    }
    
    .toggle-folders-button {
        
        .icon-label-button-label {
            font-weight: 700;
            padding-left: 7px;
        }
    }
    
    .quizzes-new-folder-button {
        float: right;
    }
    
    .quizzes-new-folder-button-icon {
        top: 8px;
    }
    
    .show-folders-divider {
        background-color: #8cb4d2;
        display: inline-block;
        height: 48px;
        margin-right: 16px;
        vertical-align: top;
        width: 2px;
    }
    
    .quizzes-delete-button-icon {
        top: 7px;
    }
    
    .quizzes-merge-icon {
        top: 7px;
    }
    
    .quizzes-move-icon {
        top: 8px;
    }
    
    .quizzes-table {
        border-collapse: collapse;
        width: 100%;
        
        th {
            border-bottom: 1px solid #cccccc;
            font-size: 12px;
            font-weight: 400;
            padding: 16px 8px 0;
            position: relative;
            text-align: left;
            .unselectable;

            .quizzes-sort-header {
                cursor: pointer;
                padding: 4px 4px 4px 0;
            }
            
            .quizzes-column-header-text {
                padding-right: 4px;
            }
        }
        
        .quizzes-sort-icon {
            height: 12px;
            left: 1px;
            position: relative;
            stroke: #cccccc;
            top: 1px;
            width: 10px;
        }
        
        .quizzes-active-sort-icon {
            stroke: #8cb4d2;
        }
        
        td {
            border-bottom: 1px solid #cccccc;
            height: 64px;
            padding: 0 8px;
        }
        
        tr th:first-child,
        tr th:last-child,
        tr td:first-child,
        tr td:last-child {
            padding: 18px 0 0;

            &.quizzes-all-column {
                padding-bottom: 4px;
                padding-top: 18px;
                width: 15%
            }

            &.quizzes-checkbox-column {
                padding: 0;
            }

            &.quizzes-more-column {
                padding: 0;
                width: 60px;
            }
        }

        tr td:last-child {
            &.quizzes-share-column {
                padding: 0;
            }
        }
        
        .quiz-list-folder-icon {
            height: 18px;
            margin-right: 11px;
            position: relative;
            top: 3px;
            width: 22px;
        }
        
        .edit-quiz-folder-button {
            margin-left: 6px;
            position: absolute;
            top: 16px;
        }
    }
    
    .quizzes-name-column {
        position: relative;
        
        .link {
            .unselectable;
        }
        
        a {
            font-size: 18px;
            font-weight: 300;
        }
    }
    
    .quiz-name-sub-children {
        padding-top: 2px;
        position: relative;
        z-index: 1;
    }
    
    .quiz-standard-text {
        color: rgba(85, 85, 85, 0.5);
        font-size: 14px;
        font-weight: 300;
    }
    
    input[type='checkbox']:before {
        left: 4px;
        top: 0;
    }
    
    .quizzes-all-label {
        cursor: pointer;
        font-size: 12px;
        padding-left: 4px;
    }
    
    .quizzes-active-sort-header .quizzes-column-header-text {
        font-weight: 700;
    }
    
    .quizzes-date-column,
    .quizzes-copy-column,
    .quizzes-download-column,
    .quizzes-share-column {
        display: none;
    }
    
    .quizzes-go-pro-row {
        background-color: #f6f6f6;
        cursor: pointer;
    }
    
    .quizzes-go-pro-cell-container {
        padding-left: 64px;
        position: relative;
        top: -12px;
    }
    
    .quizzes-go-pro-cell-folder-icon {
        display: inline-block;
        fill: #8cb4d2;
        margin-right: 10px;
        position: relative;
        top: 7px;
    }
    
    .quizzes-go-pro-badge-icon {
        display: inline-block;
        margin: 0 6px 0 10px;
        position: relative;
        top: 6px;
    }
    
    .quizzes-go-pro-cell-learn-more-text {
        display: inline-block;
        margin-left: 10px;
    }
    
    .quizzes-loader {
        margin: 164px auto 0;
        text-align: center;
        width: 210px;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 40px 0 84px;
        width: 94%;
        
        .quizzes-search-bar {
            margin-top: 37px;
        }
        
        .quizzes-search-container {
            
            .quizzes-banner {
                
                .quizzes-banner-sub-text {
                    display: inline-block;
                    line-height: 68px;
                }
            }
            
            .input-container {
                width: auto;
            }

            #quizzes-search-input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding-right: 34px;
                width: 305px;
            }

            .clear-search {
                left: 279px;
            }

            .quizzes-search-button {
                margin-top: 0;
                min-width: 70px;
                position: inherit;
                right: auto;
            }

            .custom-select {
                margin: 0;
                position: absolute;
                right: 12px;
                top: 12px;
                width: 236px;
            }
        }
        
        .quizzes-folder-nav-container {
            border-right: 1px solid #d7d7d7;
            display: inline-block;
            margin-top: 17px;
            min-height: 500px;
            padding-right: 18px;
            vertical-align: top;
            width: 258px;
        }
        
        .quizzes-folder-nav-container-closed {
            width: 48px;
        }
        
        .quizzes-folder-nav {
            margin-top: 8px;
        }
        
        .quizzes-folders-toggle-icon {
            top: 8px;
        }
        
        .quizzes-content-container {
            margin-top: 17px;
        }
        
        .quizzes-content-container-with-folder-nav,
        .quizzes-content-container-without-folder-nav {
            border-left: 1px solid #d7d7d7;
            display: inline-block;
            left: -1px;
            padding-left: 20px;
            position: relative;
            width: calc(~'100% - 258px');
            vertical-align: top;
            
        }
        
        .quizzes-content-container-without-folder-nav {
            width: calc(~'100% - 48px');
        }
        
        .quizzes-all-label {
            padding-left: 10px;
        }
        
        .copy-quiz-icon-button,
        .download-quiz-icon-button,
        .share-quiz-icon-button {
            cursor: pointer;
            height: 64px;
            margin: 0 auto;
            position: relative;
            width: 64px;
        }
        
        .copy-quiz-icon-button:hover,
        .download-quiz-icon-button:hover,
        .share-quiz-icon-button:hover {
            background-color: #eeeeee;
        }
        
        .share-quiz-icon-button {
            
            .tooltip-container-above {
                bottom: 60px;
                cursor: default;
                right: 6px;
            }
            
            .tooltip-title {
                width: 290px;
            }
            
            .tooltip-title-text,
            .tooltip-text {
                .unselectable;
            }
        }
        
        .share-quiz-icon-button-disabled {
            cursor: default;
        }
        
        .share-quiz-icon-button-disabled:hover {
            background-color: transparent;
        }
        
        .copy-quiz-icon,
        .download-quiz-icon,
        .share-quiz-icon {
            bottom: 0;
            height: 24px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;
        }
        
        .copy-quiz-icon {
            width: 20px;
        }
        
        .download-quiz-icon {
            height: 20px;
            width: 14px;
        }
        
        .share-quiz-icon {
            fill: #8CB4D2;
        }
        
        .share-quiz-icon-disabled {
            fill: #cccccc;
        }
    }
    
    @media screen and (min-width: @breakpoint-large) {
        width: 82%;
        
        .quizzes-table {
            th {
                
                .quizzes-sort-header {
                    left: -12px;
                    padding: 6px 12px;
                    position: relative;
                }
                
                .quizzes-sort-header:hover {
                    background-color: #f6f6f6;
                }
                
                .quizzes-sort-header:hover .quizzes-sort-icon {
                    stroke: #8cb4d2;
                }
                
                .quizzes-sort-header:hover .quizzes-column-header-text {
                    font-weight: 700;
                }
                
                &.quizzes-copy-column,
                &.quizzes-download-column,
                &.quizzes-share-column {
                    cursor: default;
                    text-align: center;
                }
            }
            
            tr th:first-child {
                &.quizzes-all-column {
                    width: 8%;
                    
                    &.quizzes-folder-nav-open {
                        width: 15%;
                    }
                }
            }
            
            tr td:last-child {
    
                &.quizzes-more-column {
                    display: none;
                    
                    &.quizzes-folder-nav-open {
                        display: table-cell;
                    }
                }
            }
        }
        
        .quizzes-name-column {
            width: 61%;
            
            &.quizzes-folder-nav-open {
                width: auto;
            }
        }
        
        .quizzes-date-column {
            display: table-cell;
            width: 12%;
            
            &.quizzes-folder-nav-open {
                display: none;
            }
        }
        
        .quizzes-copy-column,
        .quizzes-download-column,
        .quizzes-share-column {
            display: table-cell;
            width: 7%;
            
            &.quizzes-folder-nav-open {
                display: none;
            }
        }
        
        .quizzes-folder-row:hover {
            background-color: #eeeeee;
        }
        
        .quizzes-more-menu-item:hover {
            background-color: #eeeeee;
        }
        
        .quizzes-more-menu-item-disabled:hover {
            background-color: transparent;
            cursor: default;
        }
    }
    
    @media screen and (min-width: @breakpoint-desktop-large) {
        
        .quizzes-table {
            
            tr th:first-child {
                
                &.quizzes-all-column {
                    
                    &.quizzes-folder-nav-open {
                        width: 7%;
                    }
                }
            }
            
            tr td:last-child {
    
                &.quizzes-more-column {
                    
                    &.quizzes-folder-nav-open {
                        display: none;
                    }
                }
            }
        }
        
        .quizzes-name-column {
            
            &.quizzes-folder-nav-open {
                width: 61%;
            }
        }
        
        .quizzes-date-column {
            
            &.quizzes-folder-nav-open {
                display: table-cell;
            }
        }
        
        .quizzes-copy-column,
        .quizzes-download-column,
        .quizzes-share-column {
            
            &.quizzes-folder-nav-open {
                display: table-cell;
                
            }
        }
    }
    
}
