.register-header {
    margin-bottom: 53px;
    
    .link {
        text-decoration: underline;
    }
}

.register-header-payment-complete {
    margin-bottom: 0;
}

#register-steps {
    margin: 0 auto;
    
    #register-steps-header {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 26px;
        text-align: center;
    }
    
    #register-steps-container {
        margin-bottom: -11px;
        text-align: center;
        
        .register-step {
            cursor: default;
            display: inline-block;
            min-width: 80px;
            .unselectable;
            
            .register-step-check-circle {
                background-color: #ffffff;
                border-radius: 50%;
                height: 18px;
                right: -6px;
                position: absolute;
                top: -5px;
                width: 18px;
                
                .register-step-check {
                    left: 4px;
                    position: absolute;
                    top: -3px;
                }
            }
            
            .register-step-number-selected,
            .register-step-number-completed,
            .register-step-number-idle {
                background-color: #7899b2;
                border-radius: 16px;
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                height: 32px;
                margin-bottom: 12px;
                padding-top: 5px;
                position: relative;
                width: 32px;
            }
            
            .register-step-number-selected {
                background-color: #7899b2;
                color: #ffffff;
            }
            
            .register-step-number-completed {
                background-color: #cccccc;
                color: #ffffff;
            }
            
            .register-step-number-idle {
                background-color: #ffffff;
                border: solid 1px #cccccc;
                color: #cccccc;
            }
        }
        
        .register-step-divider-left,
        .register-step-divider-right {
            border-top: 1px solid #343434;
            display: inline-block;
            height: 9px;
            opacity: 0.1;
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        
        #register-steps-container {
            
            .register-step {
                min-width: 92px;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-large) {
        
        #register-steps-container {
            
            .register-step {
                min-width: 102px;
            }
        }
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        width: 660px;
        
        #register-steps-container {
            margin-bottom: 19px;
            
            .register-step {
                min-width: 130px;
            }
            
            .register-step-divider-left,
            .register-step-divider-right {
                width: 98px;
            }
            
            .register-step-divider-left {
                margin-left: -26px;
                margin-right: -26px;
            }
            
            .register-step-divider-right {
                margin-left: -26px;
                margin-right: -26px;
            }
        }
    }
}

#register-container {
    margin-bottom: 188px;
    text-align: left;
    width: 300px;
    
    .register-form-container {
        background-color: @lightBlue;
        border-radius: 5px;
        padding: 32px 16px;
        position: relative;
        
        .register-form-stripe-error {
            background-color: #e31e17;
            display: table;
            height: 62px;
            left: 0;
            padding-left: 48px;
            padding-right: 48px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
            
            .register-form-stripe-alert {
                left: 16px;
                position: absolute;
                top: 21px;
            }
            
            .register-form-stripe-text {
                color: #ffffff;
                display: table-cell;
                vertical-align: middle;
            }
            
            .register-stripe-error-close {
                cursor: pointer;
                height: 44px;
                position: absolute;
                right: 2px;
                top: 11px;
                width: 44px;
                
                .register-stripe-error-close-x {
                    left: 13px;
                    position: relative;
                    top: 13px;
                }
            }
        }
        
        .register-login-container,
        .register-new-account-container {
            display: inline-block;
            
            .register-login-header {
                color: #686868;
                font-size: 24px;
                font-weight: 300;
            }
            
            
            
            .register-action-button {
                width: 100%;
                
                .action-button-282 {
                    width: 99%;
                }
            }
        }
        
        .register-new-account-container {
            border-top: 1px solid rgba(0,0,0,.1);
            margin-top: 48px;
            padding-top: 32px;
        }
        
        .register-login-forgot-container {
            margin-top: 15px;
            
            a {
                text-decoration: underline;
            }
        }
        
        .register-login-google-button {
            margin-top: 42px;
            width: 100%;
        }
        
        .register-new-account-explanation {
            margin-top: 33px;
        }
        
        .input-container,
        .register-select-container {
            display: inline-block;
            margin-top: 24px;
        }
        
        .register-select-container {
            margin-left: 1px;
            vertical-align: top;
        }
        
        .demo-select-label {
            margin-bottom: 1px;
        }
        
        input {
            font-size: 14px;
            font-weight: 300;
        }
        
        .input-container {
            width: 100%;
            
            .input-block {
                input {
                    vertical-align: inherit;
                }
            }
        }
        
        .custom-select {
            width: 266px;
            
            .spinner {
                position: absolute;
                left: 50%;
                margin-left: -11px;
                margin-top: 5px;
                z-index: 1;
        
                [class^='bounce'], div {
                    background-color: #bbb;
                }
            }
            
            .list-title-text {
                cursor: default;
            }
        }
        
        .custom-select-item {
            cursor: pointer;
        }
        
        .selected-standard-checkmark {
            color: #8cb4d2;
            position: absolute;
            right: 10px;
            font-size: 14px;
        }
        
        .terms-module-container {
            position: relative;
            
            .tooltip-container-below {
                left: -5px;
                right: inherit;
                top: 72px;
            }
            
            .tooltip-title {
                width: auto;
            }
        }
        
        #terms-container {
            padding-bottom: 11px;
            padding-top: 41px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            
            input {
                position: relative;
                right: 8px;
                width: 18px;
            }
            
            .terms-tooltip {
                bottom: 39px;
                right: -42px;
                text-align: left;
                white-space: nowrap;
            }
            
            .terms-label {
                position: relative;
                
                .input-error-icon {
                    position: absolute;
                    right: -26px;
                }
            }
        }
        
        .expiration-date-container {
            display: inline-block;
            margin-left: 1px;
            margin-top: 24px;
            vertical-align: top;
            
            .billing-select-container {
                display: inline-block;
            }
            
            .billing-select-container-left-margin {
                margin-left: 0;
            }
        }
    }
    
    .register-form-container-payment-complete {
        background-color: #ffffff;
        padding: 0 5px;
    }
    
    .register-form-header {
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    
    .register-form-sub-header-free {
        margin-top: 21px;
    }
    
    .register-form-header-sub1 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .register-form-header-sub2 {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    
    .register-form-required-container {
        margin-top: 21px;
    }
    
    .register-form-asterisk {
        color: #d0021b;
        font-size: 12px;
    }
    
    .register-form-required {
        font-size: 12px;
    }
    
    .account-type-buttons-outer {
        margin-top: 30px;
        text-align: center;
        
        .account-type-button {
            border: 1px solid rgba(0,0,0,0); // Transparent border so there's no jitter on the hover.
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            height: 96px;
            margin: 0 4px;
            padding-top: 10px;
            position: relative;
            text-align: center;
            vertical-align: top;
            width: 120px;
            
            .account-type-check {
                height: 24px;
                position: absolute;
                right: -6px;
                top: -6px;
                width: 24px;
            }
        }
        
        .account-type-button:hover {
            border: 1px solid #6d9ec4;
        }
        
        .account-type-button-selected,
        .account-type-button-selected:hover {
            .account-type-button;
            
            background-color: #6d9ec4;
            border: 1px solid #6d9ec4;
        }
        
        .free-account-type-icon {
            height: 60px;
            width: 60px;
        }
        
        .pro-account-type-icon {
            height: 78px;
            width: 100px;
        }
        
        .account-type-button-text {
            display: none;
            margin: 6px auto;
            width: 81%;
        }
        
        .account-type-button-text-selected {
            .account-type-button-text;
            
            color: #ffffff;
        }
        
        .account-type-free-text {
            display: block;
            font-size: 11px;
            font-weight: 300;
            margin: -2px auto;
        }
    }
    
    .pro-billing-logo-outer {
        text-align: center;
        
        .pro-billing-logo-inner {
            margin: 0 auto;
            width: 170px;
        }
    }
    
    .register-buttons {
        text-align: center;
    }
    
    .register-action-button {
        display: inline-block;
        margin: 30px 0 1px;
        text-align: center;
        vertical-align: top;
        
        .action-button-200 {
            width: 125px;
        }
        
        .action-button-282 {
            width: 258px;
        }
        
        .secondary-action-button {
            background-color: @lightBlue;
            margin-right: 14px;
        }
        
        .secondary-action-button:hover {
            background-color: #CB7E00;
        }
        
        &.register-finish-button {
            display: block;
            margin: 30px auto 1px;
            width: 100%;
            
            #register-finish-button {
                width: 270px;
            }
        }
    }
    
    .info-next-button {
        margin-top: 30px;
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        width: 355px;
        
        .register-form-container {
            .custom-select {
                width: 321px;
            }
        }
        
        .register-form-container-payment-complete {
            padding: 0 20px;
        }
        
        .register-action-button {
            .action-button-200 {
                width: 152px;
            }
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-large) {
        width: 405px;
        
        .register-form-container {
            .custom-select {
                width: 371px;
            }
        }
        
        .register-action-button {
            .action-button-200 {
                width: 178px;
            }
        }
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        width: 662px;
        
        .register-form-container {
            padding: 31px;
            
            .register-form-stripe-error {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-right: 0;
                position: absolute;
                
                .register-form-stripe-alert {
                    top: 21px;
                }
                
                .register-form-stripe-text {
                    top: 20px;
                }
            }
            
            .custom-select {
                width: 256px;
            }
            
            .register-login-container {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
            
            .register-login-container,
            .register-new-account-container {
                width: 50%;
                
                .register-action-button {
                    margin: 30px 0 1px;
                    width: 282px;
                }
            }
            
            .register-new-account-container {
                border-top: none;
                float: right;
                margin-top: 0;
                padding-left: 32px;
                padding-top: 0;
            }
            
            .register-action-button {
                margin: 30px 7px 1px;
                
                .action-button-200 {
                    width: 200px;
                }
                
                .action-button-282 {
                    width: 282px;
                }
                
                .secondary-action-button {
                    margin-right: 0;
                }
                
                &.register-finish-button {
                    #register-finish-button {
                        width: 200px;
                    }
                }
            }
            
            .register-login-google-button {
                width: 282px;
            }
            
            .input-container {
                width: 284px;
            }
            
            .custom-select {
                width: 282px;
            }
            
            .billing-select-container {
                .custom-select {
                    width: 130px;
                }
            }
            
            .expiration-date-container {
                .billing-select-container-left-margin {
                    margin-left: 22px;
                }
            }
            
            .register-margin-left {
                margin-left: 30px;
            }
        }
        
        .register-form-container-payment-complete {
            padding: 11px 31px 31px;
        }
        
        .account-type-buttons-outer {
            
            .account-type-button {
                height: 220px;
                margin: 0 16px;
                padding-top: 17px;
                position: relative;
                text-align: center;
                vertical-align: top;
                width: 209px;
                
                .account-type-check {
                    height: 36px;
                    position: absolute;
                    right: -8px;
                    top: -8px;
                    width: 36px;
                }
            }
            
            .account-type-button:hover {
                border: 1px solid #6d9ec4;
            }
            
            .account-type-button-selected,
            .account-type-button-selected:hover {
                .account-type-button;
                
                background-color: #6d9ec4;
                border: 1px solid #6d9ec4;
            }
            
            .free-account-type-icon {
                height: 104px;
                width: 104px;
            }
            
            .pro-account-type-icon {
                height: 132px;
                width: 126px;
            }
            
            .account-type-button-text {
                display: block;
                margin: 6px auto;
                width: 81%;
            }
            
            .account-type-button-text-selected {
                .account-type-button-text;
                
                color: #ffffff;
            }
            
            .account-type-free-text {
                font-size: 17px;
                font-weight: 300;
                margin: 8px auto;
            }
        }
    }
    
    &.register-account-container {
        width: 305px;
        
        @media only screen and (min-width: @breakpoint-tablet) {
            width: 693px;
        }
    }
}
