#reports-outer-container {
    
    #reports-inner-container {
        margin: 0 auto;
        padding: 28px 0 84px;
        width: 93%;

        &.reports-with-pages {
            padding: 28px 0 0;
        }

        .reports-header-text {
            font-size: 30px;
            font-weight: 300;
        }

        .reports-search-bar {
            background-color: rgba(238, 238, 238, 0.5);
            height: 124px;
            margin-top: 32px;
            width: 100%;
        }

        .reports-search-container {
            padding: 11px;
            position: relative;

            .reports-banner {
                background-color: #8fc254;
                height: 100%;
                left: 0;
                opacity: 0.95;
                padding-left: 20px;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;

                .reports-banner-icon {
                    height: 20px;
                    position: relative;
                    top: 4px;
                    width: 20px;
                }

                .reports-banner-text {
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 68px;
                    margin-left: 8px;
                    position: relative;
                }

                .reports-banner-sub-text {
                    .reports-banner-text;

                    display: block;
                    font-weight: 400;
                    top: -20px;
                }
            }

            #reports-search-input {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                padding-left: 42px;
                padding-right: 112px;
                transition: none;
                -webkit-transition: none;
                width: 100%;
            }

            .input-container {
                width: 100%;

                .input-block {
                    border-right: none;
                }
            }

            .clear-search {
                cursor: pointer;
                height: 44px;
                position: absolute;
                right: 91px;
                top: 12px;
                width: 37px;
            }

            .clear-search-x {
                left: 13px;
                position: relative;
                top: 13px;
            }

            .reports-search-button {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                display: inline-block;
                margin-top: 1px;
                min-width: 70px;
                position: absolute;
                right: 12px;
            }
            
            .filter-by-text {
                display: none;
            }
            
            .custom-select {
                margin: 11px 0 0 1px;
                width: 100%;
            }
        }

        .reports-search-icon {
            height: 19px;
            left: 28px;
            position: absolute;
            top: 25px;
            width: 18px;
            z-index: 1;
        }

        .list-title-text {
            cursor: default;
        }

        .custom-select-text,
        .custom-select-item span {
            color: #555555;
        }

        .reports-loader {
            margin: 164px auto 0;
            text-align: center;
            width: 160px;
        }

        .no-reports-found-container {
            margin: 138px auto 0;
            text-align: center;
            width: 300px;
            @media only screen and (max-width: @breakpoint-medium) {
                margin-top: 80px;
            }

            .no-reports-found-icon {
                height: 100px;
                width: 83px;
            }

            .no-reports-found-large-text {
                color: #555555;
                display: block;
                font-size: 18px;
                font-weight: 300;
                margin-top: 24px;
            }

            .no-reports-found-small-text,
            .start-over-text {
                color: rgba(85, 85, 85, 0.5);
                display: block;
                font-size: 14px;
                line-height: 24px;
                margin-top: 10px;
            }

            .start-over-text {
                margin: 0;
            }
        }

        .search-results-for-text {
            display: block;
            font-size: 18px;
            font-weight: 300;
            margin-top: 25px;
        }

        .state-change-button {
            display: inline-block;
            margin-top: 17px;
        }

        .auto-delete-container {
            margin-top: 17px;
            position: relative;

            .auto-delete-icon {
                position: relative;
                top: 5px;
            }

            .auto-delete-text {
                color: #309bff;
                font-weight: 600;
                margin-left: 8px;
            }
        }

        .reports-table {
            border-collapse: collapse;
            margin-bottom: 84px;
            width: 100%;

            th {
                border-bottom: 1px solid #cccccc;
                font-size: 12px;
                font-weight: 400;
                padding: 16px 8px 0;
                position: relative;
                text-align: left;
                .unselectable;

                .reports-sort-header {
                    cursor: pointer;
                    padding: 4px 4px 4px 0;
                }
                
                .reports-column-header-text {
                    padding-right: 4px;
                }
                
                &.reports-restore-column,
                &.reports-purge-column {
                    text-align: center;
                }
            }

            .reports-sort-icon {
                height: 12px;
                left: 1px;
                position: relative;
                top: 1px;
                stroke: #cccccc;
                width: 10px;
            }
            
            .reports-active-sort-icon {
                stroke: #8cb4d2;
            }
            
            td {
                border-bottom: 1px solid #cccccc;
                height: 64px;
                padding: 0 8px;
            }

            tr th:first-child,
            tr td:first-child {
                padding: 18px 0 0;

                &.reports-all-column {
                    padding-bottom: 4px;
                    padding-top: 18px;
                    width: 15%
                }

                &.reports-checkbox {
                    padding: 0;
                }
            }

            tr td:last-child {
                &.reports-purge-column {
                    padding: 0;
                }
                
                &.reports-more-column {
                    padding: 0;
                    width: 60px;
                }
            }
            
            td.reports-name-column,
            td.reports-name-trash-column {
                font-size: 18px;
                font-weight: 300;
                
                .link {
                    font-weight: 300;
                }
            }
        }
        
        .standard-sub-text {
            color: #bbbbbb;
            font-size: 14px;
        }
        
        .reports-date-column {
            width: 26%;
        }
        
        .reports-date-text {
            display: block;
        }
        
        .reports-time-text {
            color: #bbbbbb;
        }
        
        .reports-table-with-pagination {
            margin-bottom: 48px;
        }

        input[type='checkbox']:before {
            left: 4px;
            top: 0;
        }

        .reports-all-label {
            cursor: pointer;
            font-size: 12px;
            padding-left: 4px;
        }

        .reports-active-sort-header .reports-column-header-text {
            font-weight: 700;
        }

        .reports-date-trash-column,
        .reports-type-column,
        .reports-room-column {
            display: none;
        }

        .name-sub-text {
            margin-top: 4px;
        }

        .days-remaining-blue,
        .days-remaining-red,
        .date-sub-text {
            color: rgba(85, 85, 85, 0.5);
            font-size: 14px;
        }

        .days-remaining-blue {
            color: #309bff;
        }

        .days-remaining-red {
            color: #ce0000;
        }

        .restore-report-icon-button,
        .purge-report-icon-button {
            cursor: pointer;
            height: 100%;
            margin: 0 auto;
            position: relative;
            width: 64px;
        }

        .restore-report-icon-button:hover,
        .purge-report-icon-button:hover {
            background-color: #eeeeee;
        }

        .restore-report-icon,
        .purge-report-icon {
            fill: #8cb4d2;
            height: 26px;
            left: 19px;
            position: relative;
            top: 19px;
            width: 26px;
        }

        .reports-more-button {
            height: 100%;
            padding-top: 7px;
            width: 100%
        }

        .reports-more-menu {
            left: -204px;
            top: -18px;
            width: 200px;
        }

        .reports-more-menu-item {
            height: 44px;
            position: relative;
            text-align: left;
        }

        .more-restore-icon,
        .more-purge-icon {
            fill: #8cb4d2;
            height: 24px;
            left: 10px;
            position: absolute;
            top: 10px;
            width: 24px;
        }

        .more-menu-text {
            line-height: 44px;
            padding-left: 44px;
        }

        .reports-more-menu-arrow {
            top: 30px;
        }
        
        @media screen and (min-width: @breakpoint-phone-medium) {
            .reports-date-column {
                width: 23%;
            }
        }
        
        @media screen and (min-width: @breakpoint-tablet) {
            padding: 47px 0 84px;
            width: 94%;
            
            &.reports-with-pages {
                padding: 47px 0 0;
            }
            
            .reports-search-bar {
                height: 68px;
            }

            .reports-search-container {
                
                .reports-banner {
                    .reports-banner-sub-text {
                        display: inline;
                        top: 0;
                    }
                }
                
                .input-container {
                    width: auto;
                }

                #reports-search-input {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    padding-right: 34px;
                    width: 236px;
                }

                .clear-search {
                    left: 210px;
                }

                .reports-search-button {
                    margin-top: 0;
                    min-width: 70px;
                    position: inherit;
                    right: auto;
                }
                
                .reports-filter-container {
                    margin: 0;
                    position: absolute;
                    right: 12px;
                    top: 1px;
                }
                
                .custom-select {
                    display: inline-block;
                    width: 300px;
                }
            }
            
            .reports-all-label {
                padding-left: 10px;
            }
            
            .reports-date-column {
                width: 11%;
            }
            
            .auto-delete-container {
                float: right;
                line-height: 48px;
                margin-top: 17px;
                position: relative;

                .auto-delete-icon {
                    left: -10px;
                }

                .auto-delete-text {
                    margin: 0;
                }
            }
        }

        @media screen and (min-width: @breakpoint-large) {
            width: 82%;
            
            .reports-search-container {
                #reports-search-input {
                    width: 266px;
                }

                .clear-search {
                    left: 240px;
                }
                
                .filter-by-text {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
            
            .date-sub-text {
                display: none;
            }
            
            .reports-table {
                
                tr th:first-child {
                    &.reports-all-column {
                        width: 7%
                    }
                }
                
                th {
                    
                    .reports-sort-header {
                        left: -12px;
                        padding: 6px 12px;
                        position: relative;
                    }
                    
                    .reports-sort-header:hover {
                        background-color: #f6f6f6;
                    }
                    
                    .reports-sort-header:hover .reports-sort-icon {
                        stroke: #8cb4d2;
                    }
                    
                    .reports-sort-header:hover .reports-column-header-text {
                        font-weight: 700;
                    }
                }
            }
            
            .reports-name-column {
                font-size: 18px;
                font-weight: 300;
                width: auto;
            }
            
            .reports-date-trash-column,
            .reports-date-column {
                width: 11%
            }
            
            .reports-date-trash-column,
            .reports-room-column,
            .reports-type-column {
                display: table-cell;
            }
            
            .reports-room-column {
                width: 15%;
            }
            
            .reports-type-column {
                width: 13%;
            }
            
            .reports-name-trash-column {
                font-size: 18px;
                font-weight: 300;
                width: auto;
            }
            
            .reports-restore-column {
                display: table-cell;
                width: 8%;
            }

            .reports-purge-column {
                display: table-cell;
                width: 10%;
            }

            .restore-report-icon,
            .purge-report-icon {
                left: 19px;
            }
        }
    }
    
    .pagination-container {
        margin: 0 auto;
        padding-bottom: 84px;
    }
}
