#roster-file-modal-background {
    left: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#roster-file-modal-box {
    left: 50%;
    margin: 0 auto;
    max-width: 412px;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 412px;
    
    &.modal-dialog {
        padding: 0;
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 14px;
            top: 13px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            height: 71px;
            margin-bottom: 5px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            line-height: 71px;
            padding-left: 24px;
            .unselectable;
        }
    }
    
    .roster-file-import-banner {
        background-color: #aecbe1;
        display: table;
        margin-bottom: 14px;
        min-height: 68px;
        position: relative;
        width: 100%;
    }
    
    .roster-file-info-icon {
        display: inline-block;
        left: 14px;
        position: relative;
        top: 24px;
    }
    
    .roster-file-import-message {
        color: #ffffff;
        cursor: default;
        display: table-cell;
        padding-left: 28px;
        padding-right: 24px;
        .unselectable;
        vertical-align: middle;
    }
    
    #roster-file-modal-content {
        padding: 0 24px;
    }
    
    .roster-file-loader {
        margin: 30px auto 0;
        padding-bottom: 60px;
    }
    
    .roster-file-subtitle-container {
        margin-bottom: 18px;
    }
    
    .roster-file-subtitle-container-uploading {
        margin-bottom: 8px;
    }
    
    .roster-file-subtitle-text {
        cursor: default;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        .unselectable;
    }
    
    .roster-file-change-text {
        float: right;
    }
    
    .roster-file-select-container {
        margin-bottom: 16px;
    }
    
    .roster-file-type-select-container {
        display: inline-block;
        margin-bottom: 18px;
        margin-right: 20px;
        width: 212px;
    }
    
    .roster-file-settings-label {
        cursor: default;
        margin-bottom: 2px;
        .unselectable;
    }
    
    .roster-file-template-link {
        display: inline-block;
        .unselectable;
    }
    
    .includes-headers-container {
        margin-bottom: 36px;
    }
    
    .includes-headers-label {
        cursor: pointer;
        margin-left: 8px;
        .unselectable;
    }
    
    .roster-error-header-text,
    .roster-error-list-header,
    .roster-error-item {
        color: #e50900;
        cursor: default;
        font-size: 12px;
        .unselectable;
    }
    
    .roster-error-header-text {
        font-size: 14px;
        font-weight: 600;
        padding-left: 8px;
        vertical-align: top;
    }
    
    .roster-error-list-header {
        display: block;
        margin-bottom: 8px;
    }
    
    .roster-error-list {
        list-style-type: disc;
        margin-bottom: 32px;
        padding-left: 16px;
    }
    
    .roster-file-footer {
        padding-bottom: 24px;
    }
    
    .roster-file-footer-button {
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        height: 44px;
        outline: none;
        margin-left: 25px;
        min-width: 132px;
        .unselectable;
    }
    
    .roster-file-cancel-button {
        background-color: #ffffff;
        border: 1px solid rgb(255,147,0);
        color: rgb(255,161,0);
    }
    
    .roster-file-cancel-button:hover,
    .roster-file-export-button:hover {
        background-color: #cb7e00;
        border: 1px solid #cb7e00;
        color: #ffffff;
    }
    
    .roster-file-export-button {
        background-color: #ffa100;
        border: 1px solid #ffa100;
        color: #ffffff;
        margin-left: 8px;
    }
    
    .roster-file-footer .input-container label {
        background-color: #ffa100;
        border: none;
        border-radius: 3px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 44px;
        line-height: 44px;
        outline: none;
        margin-left: 8px;
        text-align: center;
        min-width: 132px;
        .unselectable;
    }
    
    .roster-file-footer .input-container label:hover {
        background-color: #cb7e00;
    }
    
    .roster-file-footer .input-container .input-block {
        display: none;
    }
    
    .roster-file-settings-table {
        border-spacing: 0;
        margin-bottom: 20px;
    }
    
    .roster-file-settings-table-export-summary {
        border-spacing: 0;
        margin-bottom: 36px;
    }
    
    .roster-file-settings-descriptor {
        cursor: default;
        font-weight: 600;
        padding: 0;
        .unselectable;
    }
    
    .roster-file-settings-text {
        cursor: default;
        padding-left: 8px;
        .unselectable;
    }
    
    .roster-filename {
        display: block;
        margin-bottom: 3px;
    }
    
    .progress-bar {
        background-color: #ccc;
        border-radius: 5px;
        margin-bottom: 2px;
        padding: 0;
        vertical-align: middle;
        width: 100%;
        
        .progress {
            background-color: @darkBlue;
            width: 0; /* Adjust with JavaScript */
            height: 8px;
            border-radius: 5px;
        }
    }
    
    .progress-percent {
        display: block;
        font-size: 12px;
        padding-bottom: 18px;
    }
    
    .upload-error {
        color: #e50900;
        display: block;
        font-size: 12px;
        margin-top: 3px;
    }
}
