
@searchTabButtonHeight: 2.5em;
@searchTabButtonWidth: auto;
@searchTabButtonWidthWide: auto;
@buttonBorder: #bbb;
@buttonActiveBorder: #7799b3;


.tab-button-base {
	background: white;
	color: @textGray;
	text-transform: uppercase;
	font-weight: 600;

	float: left;
	padding: 0 1em;
	text-align: center;
	outline: none;

	&.selected-tab-button {
		background: @secondaryBlue;
		border: 2px solid @buttonActiveBorder!important;
	}
}

.tab-button {
	.tab-button-base;
}

.selected-tab-button {
	.tab-button-base;
}

.buttons-container {
    height: auto;
    margin: 0 auto;
	padding: @base-padding 0;
    width: 91%;
    
    .info-block {
        padding: 13px;
        margin-bottom: 20px;
        color: white;
        background: @mainBlue;

        .info-icon {
            position: relative;
            
            svg {
                position: absolute;
            }
        }

        .info-text {
            margin-left: 32px;
            span {
                color: white;
            }
        }
    }
    
	button {
		border: none;
		border-top: 2px solid @buttonBorder;
		border-bottom: 2px solid @buttonBorder;
		border-right: 1px solid @buttonBorder;
		height: 55px;
		width: 150px;
		cursor: pointer;

		.transition(0.3s ease all);

		&:first-child, &.first-btn {
			border-left: 2px solid @buttonBorder;
		}

		&:last-child {
			border-right: 2px solid @buttonBorder;
		}

		&:hover {
			background: @secondaryBlue;
		}

		@media only screen and (max-width: @breakpoint-xlarge) {
			font-size: 0.9em;
			padding: 0 0.3em;
		}

		@media only screen and (max-width: @breakpoint-small) {
			font-size: 0.8em;
			padding: 0 1em;
			width: 120px;
		}
	}
	&.special {
		& button {
			width: 14.285714286%;
		}

		@media only screen and (max-width: @breakpoint-medium) {
			button {
				width: 33.33%;

				&:nth-child(3) {
					border-right: 2px solid @buttonBorder;
				}

				&:nth-child(4) {
					border-left: 2px solid @buttonBorder;
				}

				&:nth-child(4), &:nth-child(5), &:nth-child(6) {
					border-top: 0;
				}

				&:nth-child(6) {
					border-right: 2px solid @buttonBorder;
				}

				&:nth-child(7) {
					width: 100%;
					border-left: 2px solid @buttonBorder;
					border-top: 0;
				}
			}
		}
	}

	h1 {
		float: left;
		margin: 0.5em 0 0 1em;
		font-size: 1.2em;
	}
    
    @media only screen and (min-width: @breakpoint-phone-medium) {
        width: 92.5%;
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        width: 93%;
    }
    
    @media only screen and (min-width: @breakpoint-large) {
        width: 82%;
    }
}

#quiz-list-container {
    margin: 0 auto;
	padding-bottom: @base-padding;
    width: 91%;
    
    @media only screen and (min-width: @breakpoint-phone-medium) {
        width: 92.5%;
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        width: 93%;
    }
    
    @media only screen and (min-width: @breakpoint-large) {
        width: 82%;
    }

    .no-quizzes {
    	width: 100%;
    }
}

.selectable-row {
	.unselectable;
	
	background: @lightBlue;
	margin-bottom: 1em;
	padding: 1em;
    .transition(0.3s ease all);
    cursor: pointer;
    border: 2px solid @mainBlue;

    &:hover {
    	background: @mainBlue;
    	border-color: @darkBlue;
    }

    .row-active-area {
    	overflow: hidden;
    }

	& span {
		.unselectable;
		color: @textGray;
		font-size: 1em;
		line-height: 1em;
		white-space: nowrap;
		overflow: hidden;
	}

	& .report-row-checkbox {
		float: right;
		margin: 0.6em;
	}

	.standard-display {
		display: block;
		color: rgba(74, 51, 51, 0.5);
		text-transform: uppercase;
		padding-top:5px;
	}
}

.selected-row {
	.selectable-row;
	border-color: @lightBlue;

	&:hover {
    	background: @lightBlue;
    	border-color: @lightBlue;
    }
}
