#share-quiz-modal-background {
    left: 0;
	height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 1000;
}

#share-quiz-modal-box {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    
    &.modal-dialog {
        padding: 16px;
        
        .cancel-button {
            cursor: pointer;
            height: 44px;
            position: absolute;
            right: 6px;
            top: 10px;
            width: 44px;
            
            .cancel-button-x {
                left: 14px;
                position: absolute;
                top: 13px;
            }
        }
        
        .modal-header {
            margin-bottom: 24px;
        }
        
        .popup-title {
            color: #333333;
            cursor: default;
            font-size: 24px;
            .unselectable;
        }
    }
    
    #copy-quiz-modal-content {
        
        .share-quiz-explanation {
            cursor: default;
            display: block;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            margin-bottom: 14px;
            margin-top: 5px;
            .unselectable;
        }
        
        .share-quiz-name-and-number {
            cursor: default;
            display: block;
            font-weight: 600;
            .unselectable;
        }
        
        .share-quiz-name,
        .share-quiz-soc-number,
        .share-quiz-copy-url {
            display: block;
        }
        
        .share-quiz-name {
            margin-bottom: 1px;
        }
        
        .share-quiz-soc-number {
            margin-bottom: 16px;
        }
        
        .share-quiz-copy-url {
            margin-bottom: 6px;
        }
        
        .share-quiz-copy-url-input {
            border: 1px solid #bbbbbb;
            color: #555555;
            display: inline-block;
            height: 44px;
            .transition(none);
            vertical-align: top;
            width: 100%;
        }
        
        .share-quiz-copy-url-input-copied {
            border: 1px solid #8fc254;
            color: #8fc254;
            .transition(none);
        }
        
        .share-quiz-copy-url-input::selection {
            background: #b0d6ff;
            color: #555555;
        }
        
        .share-quiz-copy-url-input::-moz-selection {
            background: #b0d6ff;
            color: #555555;
        }
        
        .share-quiz-copy-url-button {
            background-color: #6d9ec4;
            border: none;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            height: 44px;
            line-height: 41px;
            outline: none;
            margin-left: -1px;
            margin-top: 10px;
            min-width: 92px;
            padding-left: 10px;
            .unselectable;
        }
        
        .share-quiz-copy-url-button:hover {
            background-color: @button-secondary-hover-background;
        }
        
        .share-quiz-copy-url-button-copied {
            background-color: #8fc254;
        }
        
        .share-quiz-copy-url-button-copied:hover {
            background-color: #8fc254;
        }
        
        .share-url-copied-icon {
            height: 20px;
            left: -6px;
            position: relative;
            top: 5px;
            width: 20px;
        }
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        width: 355px;
    }
    
    @media screen and (min-width: @breakpoint-phone-small-landscape) {
        width: 450px;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 20px 24px 24px 24px;
        
        &.modal-dialog {
            
            .cancel-button {
                right: 14px;
                top: 11px;
            }
        }
        
        #copy-quiz-modal-content {
            
            .share-quiz-copy-url-container {
                white-space: nowrap;
            }
            
            .share-quiz-copy-url-input {
                width: 326px;
            }
            
            .share-quiz-copy-url-button {
                margin-top: 0;
            }
        }
    }
}
