#sa-popup-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
}

#sa-popup-box {
    text-align: left;
    width: 90%;
    
    &.modal-dialog {
        .cancel-button {
            padding: 15px 10px 15px 15px;
        }
    }
    
    #sa-popup-content {
        
        .input-container {
            margin: 8px 0 24px;
            width: 100%;
            
            #saQuestion {
                font-weight: 300;
                width: 100%;
            }
        }
        
        .settings-cnt {
            margin-bottom: 20px;
            position: relative;
            
            .toggle-label {
                line-height: 32px;
                padding-left: 10px;
                .unselectable;
            }
            
            .tooltip-title {
                left: -5px;
                right: inherit;
                width: 275px;
                
                .triangle-left-above {
                    right: 126px;
                }
                
                .triangle-right-above {
                    right: 130px;
                }
            }

            .help-tooltip-container {
                vertical-align:top;
                display: inline-block;
            }

            .short-answer-help-tooltip {
                .help-tooltip-above {
                    bottom: 37px;
                }

                left: 5px;
                top: 0px;
            }

            .help-tooltip {
                left: -160px;
                width: 300px;
                padding-top: 8px;

                .pro-badge-icon {
                    position: relative;
                    top: 5px;
                    margin-right: 10px;
                }

                .help-title {
                    display: inline-block;
                }

                .help-text {
                    display: block;
                }
            }
        }
    }
    
    #sa-start-button {
        margin-top: 10px;
    }
    
    .action-button-200 {
        width: 100px;
    }
    
    .secondary-action-button {
        margin-left: 16px;
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        max-width: 700px;
        padding: 32px;
        
        &.modal-dialog {
            .cancel-button {
                padding: 32px;
            }
        }
        
        .action-button-200 {
            width: 200px;
        }
    }

    @media screen and (max-width: @breakpoint-small){
        #sa-popup-content {
            .settings-cnt {
                .help-tooltip {
                    left: -175px;
                }
            }
        }
    }
}
