@headerMarginLeft: 6em;

.race-module-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #262628;
	border: 2px solid #121213;
	.boxsizing(border-box);
	/* z-index: 2; */
	left: 0; 
}

#race-module {
	padding: 7px 1em 2em 1em;
	height: auto;
	position: relative;
	
	.boxsizing(border-box);
	left: 0;
	width: 100%;
	min-height: 100%;

}

#race-module-with-countdown {
    #race-module;
    padding: 5px 1em 2em 1em;
}

.rocket-wrap{
	width: auto;
	height: auto;
	position: relative;

	.progress-wrapper{
		width: auto;
		height: auto;
		position: relative;
		margin-left: @headerMarginLeft;
	}

	.rocket-path-row{
		width: 100%;
		height: 100%;
		background-color: #313132;
		position: relative;
		margin: .5em auto;
		border: .2em solid #222224;
	}

	.progress-wrapper {
		height: 1.4em;
	}

	.team-icon {
		width: 2em;
		right: -1em;
		padding-top: 0.2em;
	}

	.team-color-row {
		font-size: 0.8em;
		line-height: 1.4em;
	}

	&.x_large {
		.rocket-path-row{
			margin: .7em auto;
		}

		.progress-wrapper {
			height: 6em;
		}

		.team-icon {
			width: 6.5em;
			right: -5.5em;
			padding-top: 1em;
		}

		.team-color-row {
			font-size: 1.3em;
			line-height: 4.5em;
		}
	}

	&.largest {
		.rocket-path-row{
			margin: .7em auto;
		}
		
		.progress-wrapper {
			height: 4.0em;
		}

		.team-icon {
			width: 5.5em;
			right: -4.5em;
			padding-top: 0.3em;
		}

		.team-color-row {
			font-size: 1em;
			line-height: 4em;
		}
	}

	&.larger {
		.rocket-path-row{
			margin: .7em auto;
		}
		
		.progress-wrapper {
			height: 2.5em;
		}

		.team-icon {
			width: 4em;
			right: -2.8em;
			padding-top: 0.05em;
		}

		.team-color-row {
			font-size: 0.9em;
			line-height: 2.5em;
		}
	}

	&.large {
		.rocket-path-row{
			margin: .7em auto;
		}
		
		.progress-wrapper {
			height: 2.3em;
		}

		.team-icon {
			width: 3.6em;
			right: -2.2em;
			padding-top: 0.1em;
		}

		.team-color-row {
			font-size: 0.8em;
			line-height: 2.7em;
		}
	}
}

.team-icon{
	width: 4.5em;
	right: -2.5em;
	top: -0.32em;
	position: absolute;
	z-index: 5;

	& img {
		width: 100%;
	}
}
.team-color-row{
	height: 100%;
	position: absolute;
	float: left;
	width: 6em;
	padding: 0em 0.2em;
	color: #ffffff;
	font-size: .8em;
}
.progress-color-row {
	height: 100%;
	position: relative;
	float: left;
	padding-left: 1em;
	border-radius: .85em;
	-moz-border-radius: 0em .85em .85em 0em;
	-webkit-border-radius: 0em .85em .85em 0em;
}


/* Countdown Styles */

@countdownBarHeight: 62px;

.space-race-header {
    line-height: @countdownBarHeight;
    margin-bottom: -.7em;
    position: relative;
    
    .space-race-header-text {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
    }
    
    .space-race-finish-button {
        position: absolute;
        right: 0;
        top: 10px;
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        .space-race-header-text {
            font-size: 30px;
        }
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        margin-left: 2px;
    }
    
    @media screen and (min-width: @breakpoint-large) {
        margin-left: @headerMarginLeft;
        
        .space-race-finish-button {
            right: 75px;
        }
    }
}

#countdown-bar {
    height: @countdownBarHeight;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
    
    .time-remaining {
        left: 0;
        line-height: @countdownBarHeight;
        margin-left: 18px;
        position: absolute;
    }
    
    .time-remaining-icon {
        position: absolute;
        top: 18px;
    }
    
    .time-remaining-text {
        color: #ffffff;
        margin-left: 31px;
        visibility: hidden;
    }
    
    .countdown-time {
        color: #ffffff;
        font-size: 30px;
        font-weight: 300;
        line-height: @countdownBarHeight;
    }
    
    .stop-countdown {
        cursor: pointer;
        height: 44px;
        position: absolute;
        right: 6px;
        top: 9px;
        width: 44px;
    }
    
    .stop-countdown-x {
        position: relative;
        top: 13px;
    }
    
    .space-race-countdown-finish-button {
        border: 1px solid #ffffff;
        height: 40px;
        min-width: 108px;
        position: absolute;
        right: 16px;
        top: 11px;
    }
    
    @media only screen and (min-width: @breakpoint-tablet) {
        .time-remaining-text {
            visibility: visible;
        }
        
        .stop-countdown {
            right: 29px;
        }
    }
}

.countdown-bar-green {
    background-color: rgb(127, 171, 77);
}

.countdown-bar-red {
    background-color: rgb(201, 12, 6);
}

.countdown-bar-orange {
    background-color: rgb(255, 161, 0);
}
