
#waiting-for-teacher-container {
    padding: 45px 0 4em 0;
    
    #already-responded-text,
    #waiting-for-activity-text {
        font-size: 18px;
        font-weight: 300;
        
        span {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.waiting-inside-container {
    position: relative;

    width: 90%;
    min-width: 20em;
    height: 100%;

    padding: 0.4em;
    margin: 0 auto;
}
.hex-loading-container {
    width: 15em;
    height: 13em;
    margin: 0 auto 30px;
    padding-top: 30px;
    position: relative;
    .unselectable;

    #cir {
        background: #ffffff;
        -moz-border-radius: 77px;
	    -webkit-border-radius: 77px;
	    border-radius: 77px;
        height: 154px;
        margin: 0 auto;
        width: 154px;
        left: 28px;
        position: absolute;
    }

    #hex {
        left: 46px;
        position: absolute;
        top: 56px;
    }
}
.waiting-text{
    position: relative;
    width: 100%;
    height: auto;
}
.waiting-text p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}
