
@columnWidth: 6em;

#live-results-main-content {
	h2 {
		span {
			color: @textGray;
			display: inline-block;

		}
	}
}

.final-results-button-container {
    float: right;
    max-width: 50%;
}

.final-results-button {
    cursor: pointer;
    display: inline-block;
    height: 48px;
    padding: 0 8px;
    position: relative;
    line-height: 48px;
}

.get-reports-button-icon {
    height: 24px;
    position: relative;
    top: 7px;
    width: 24px;
}

.final-results-button-label {
    font-size: 12px;
    padding-left: 8px;
    .unselectable
}

.export-scores-tooltip {
    line-height: normal;
    right: -14px;
}

.final-results-divider {
    border-top: 1px solid #cccccc;
    margin-bottom: 24px;
}

#results-table {
	height: auto;
	margin-top: 1em;
	padding-bottom: 1em;
	position: relative;
	overflow: hidden;

	@media only screen and (max-width: @breakpoint-small-max) {
        margin-top: 0;
    }

    .relative-area {
		position: absolute;
		top: 0;
		left: 235px;
		bottom: 0;
		right: 0;
		width:auto;
		height:auto;
		padding: 0;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&.with-presence {
		.relative-area {
			left: 301px;
		}
	}
}

#scroll-area {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	height: auto;
	width: auto;
	overflow: hidden;
}

.here-column {
    display: inline-block;
    margin-top: 1px;
    margin-right: 2px;
    vertical-align: top;
    width: 64px;
    
    .column-title {
        background-color: #eeeeee;
        border: 2px solid #dddddd;
        line-height: 2.4em;
		margin-bottom: 2px;
	}
}

.here-column-title {
    font-weight: 600;
    padding-left: 5px;
}

.here-cell {
    background-color: #dfeaf3;
    border: 2px solid @mainBlue;
    height: 2.4em;
    margin-bottom: 2px;
    overflow: visible;
    position: relative;
    width: 64px;
}

.here-cell-logged-out {
    background-color: #ffffff;
    border: 2px solid #dddddd;
}

.here-cell-icon {
    height: 21px;
    left: 19px;
    position: relative;
    top: 4px;
    width: 21px;
}

.here-icon-path {
    fill: #cccccc;
}

.here-total {
    text-align: center;
}

.name-column {
    border: 1px solid white;
    display: inline-block;
	height: auto;
    vertical-align: top;
	width: 234px;
    
    #student-name-title {
        cursor: pointer;
        padding-right: 8px;
    }
    
	#student-name-title, #student-progress-title {
		float: left;
		font-size: 1em;
		line-height: 2.4em;
		color: @textGray;
		padding-left: 5px;
		font-weight: 600;

		span {
			float: left;
			margin-right: 5px;
			font-weight: 600;
		}

	}

	.column-title, .result-row {
		margin-bottom: 2px;
		border: 2px solid @mainBlue;
		background: @lightBlue;
	}
    
    .column-title {
        background-color: #eeeeee;
        border: 2px solid #dddddd;
    }
    
    .results-sort-icon {
        height: 12px;
        left: 1px;
        position: relative;
        stroke: #8cb4d2;
        top: 1px;
        width: 10px;
    }
    
    #student-progress-sort {
        font-size: 14px;
    }
    
	.row-total {
		background: @mainBlue;
		border: 2px solid @secondaryBlue;
	}

	.row-total {
		p {
			padding-left: 5px;
		}
	}

	& #hide-student-names {
		#student-name-title;

		top: 1.5em;
		left: .5em;
		cursor: pointer;

		.unselectable;

        background-color: rgba(80, 82, 90, 0.2);
		border: .1em solid #121213;
	}

	#student-progress-title {
		float: right;
		margin: 0 2px 0;
		cursor: pointer;
		padding-left: 0;
	}
}

.relative-area-right {
    left: 301px;
}

.status-column {
	float: right;
	width: 20px;
	height: 20px;
	margin: 5px 5px 0 5px;
	font-size: 1.5em;
	&:before {
		content:  "";
	}

	&.finished {
		&:before {
			content:  "\2713";
		}
	}
}

.question-column { 

	position:relative;
	overflow: hidden;
	width: @columnWidth;
	height: auto;
	text-align:center;
	background-color: white;
	vertical-align: top;
	
	display:inline-block;
	float: left;
	border: 1px solid white;

	.boxsizing(border-box);
	.unselectable();

	&.special {
		width: 35px;
		background: #262628;
		border-left: 0;
		border-top: 0;

		.result-row {
			background-color: rgba(80, 82, 90, 0.2);
		}
	}

	&>div {
		margin-bottom: 2px;
		overflow: hidden;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.column-title, .row-total {
		cursor: pointer;
	}

	.row-total {
		.transition(0.3s ease all);
		&:hover {
			background: @secondaryBlue;
			border-color: @darkBlue;
		}

		&:active {
			border-color: #5F84A1; 
		}
	}
}

.active-column{
	width:7em;
	height:100%;
	position:relative;
	margin:0 .2em;
	text-align:center;
	background-color:rgba(80, 82, 90, 0.4);
	border-bottom:.1em #efefff solid;
	display:inline-block;
}

.result-row {
	height: 2.4em;
	position: relative;
	overflow: visible;
	border: 2px solid @mainBlue;

	p {
		padding-top: 4px;
		color: @textGray;
		line-height: 1.6em;
	}

	&.hidden-response-table-cell {
		background-color: @button-background;
	}

	& .student-row-name {
		float: left;
		width: 10em;
		text-align: left;
		height: 2.2em;
		overflow: hidden;
		padding-left: 5px;

		& p {
			width: 100%;
			white-space: nowrap;
		}
	}

	& .percent-complete {
		float: right;
		right: .3em;
		top: 5px;
		text-align: right;
		color: @textGray;
		position: relative;
	}
}

.blue-table-cell {
	background: @lightBlue;
	border: 2px solid @mainBlue;
}

.red-table-cell {
	background: @incorrectRed;
	border: 2px solid @incorrectRedBorder;
}

.green-table-cell {
	background: @green;
	border: 2px solid @darkGreen;
}

.red-table-cell, .green-table-cell {
	p {
		color: white;
	}
}

.question-number-tf {
	.question-number(@semiLightPurple, 2.48em, 1.46em, @mainPurple);
	.transition(0.3s ease all);
	&:hover {
		background: @lightPurple;
		border-color: @mainDarkPurple;
	}
	&:active {
		border-color: @darkenPurple;
	}
}

.question-number-mc {
	.question-number(@semiLightOrange, 2.48em, 1.46em, @mainOrange);
	.transition(0.3s ease all);
	
	&:hover {
		background: @lightOrange;
		border-color: @mainDarkOrange;
	}
	&:active {
		border-color: @darkenOrange;
	}
}

.question-number-fr {
	.question-number(@shortAnswerLiveResultsColor, 2.48em, 1.46em, @shortAnswerColor);
	.transition(0.3s ease all);
	
	&:hover {
		background: @shortAnswerLiveResultsHoverColor;
		border-color: @shortAnswerLiveResultsHoverBorderColor;
	}
}

.row-total {
	background: @mainBlue;
	border: 2px solid @secondaryBlue;

	p {
		font-weight: 600;
	}
}

@media screen and (min-width: @breakpoint-tablet) {
    
    .final-results-button-container {
        max-width: inherit;
    }
    
    .right-final-results-button {
        margin-left: 4px;
    }
    
    .export-scores-tooltip {
        cursor: default;
        right: 36px;
    }
}

@media screen and (min-width: @breakpoint-large) {
    
    .final-results-button:hover {
        background-color: #eeeeee;
    }
    
    .name-column {
        
        #student-name-title:hover {
            background-color: #dddddd;
        }
    }
}
