#student-page-container {
    #main-content {
        padding: 0;
    }
}

#main-content {
	position: relative;
}

// MAIN CONTAINER
#take-quiz-master-container {

	width: 100%;

	margin: 0 auto;
	padding: 21px 16px 3em;

	/**
	 * QUESTION CONTAINER
	 */
	#question-container {
		
		// this applies to mc-question, tf-question and fr-question
		[class*='-question'] {

			.question-header-container {
				
				// the container for the question text and question explanation
				.question-explanation-container {
                    margin-bottom: 11px;
					margin-left: 310px;
                    
					@media screen and (max-width: @breakpoint-medium) {
						margin-left: 0;
					}

					&.no-image{
						margin-left: 0;
					}

					.question-text {
						padding: 0;
						word-wrap: break-word;

						// the question text comes wrapped in a paragraph
						// make that inline
						// reverting this change
						p, pre {
                            color: #555555;
							font-size: 16px;
                            font-weight: 300;
                            line-height: 24px;
						}
					}
				}

			}

			.question-answer-container {
				margin-bottom: 31px;

				// MC QUESTION ANSWERS
				.mc-answer-area {
					.mc-answer-option {
						margin-bottom: 8px;

						&.selected {
							.answer-option-letter {
								background-color: #6d9ec4;
                                border: 1px solid #6d9ec4;
                                color: #ffffff;
							}
						}
                        
                        .mc-answer-option-container {
                            cursor: pointer;
                            display: inline-block;
                        }
                        
						.answer-option-letter {
							border: 1px solid #555555;
                            border-radius: 50%;
                            display: block;
                            float: left;
                            font-weight: 600;
                            height: 40px;
                            line-height: 38px;
							text-align: center;
                            width: 40px;
						}

						.mc-answer-option-text {
                            box-sizing: content-box;
                            margin-left: 55px;
                            min-height: 20px;
							padding: 10px 10px 10px 0;
							word-wrap: break-word;
						}

						@media screen and (max-width: @breakpoint-small) {
							.wrap-text {
								word-wrap:break-word;
								line-height:20px;
							}
						}
					}
				}

				.fr-question-textarea {
                    border: 1px solid #cccccc;
                    .boxsizing(border-box);
                    color: #555555;
                    display: block;
					font-size: 14px;
					height: 150px;
					margin: 0 auto;
                    outline: none;
					padding: 10px;
                    resize: none;
                    width: 100%;
                    
                    &::-webkit-input-placeholder {
                        color: #c0c0c0;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 300;
                    }
                    
                    &:-moz-placeholder {
                        color: #c0c0c0;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 300;
                    }
                    
                    &::-moz-placeholder {
                        color: #c0c0c0;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 300;
                    }
                    
                    &:-ms-input-placeholder {
                        color: #c0c0c0;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 300;
                    }
				}
			}
		}
	
		.nav-container {
			width: 100%;
            
			#previous-button, #next-button {
				padding: 0;
				min-width: 120px;
				margin: 0 60px;
			}

			#submit-button {
                font-size: 12px;
				height: 44px;
                min-width: 100%;
			}
			
            #submit-button:disabled,
            #submit-button:disabled:active,
            #submit-button:disabled:focus,
            #submit-button:disabled:hover {
                background-color: #ffa100;
                border: 1px solid #ffa100;
                opacity: 0.5;
                .transition(none);
            }

			@media screen and (max-width: @breakpoint-medium) {
				#previous-button, #next-button {
					.button-small;
					margin: 0 30px;
				}
			}
			
			@media screen and (max-width: 550px) {
				#previous-button, #next-button {
					width: 49%;
					min-width: 0;
					margin: 0;
					
					font-size: 10px;
					line-height: 16px;

				}
                
				#next-button {
					margin-left: 1%;
				}
			}

			@media screen and (max-width: @breakpoint-phone-medium) {
				#previous-button, #next-button {
					padding: 0;
				}
			}
		}
	}
    
    .student-quiz-image-container {
        margin-bottom: 11px;
        margin-top: 10px;
        min-height: 192px;
        min-width: 100%;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding: 37px 0 3em;
        width: 80%;
        
        #question-container {
            
            [class*='-question'] {
                
                .question-header-container {
                    
                    .question-explanation-container {
                        margin-bottom: 15px;
                        
                        .question-text {
                            
                            p, pre {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            
            .nav-container {
                
                #submit-button {
                    min-width: 236px;
                }
            }
        }
        
        .student-quiz-image-container {
            float: left;
            margin-right: 21px;
            margin-top: 0;
            min-height: 200px;
            min-width: 300px;
        }
    }
}

// ////////////////////////////////////////////
// //////// ENTER NAME/TEAM/FEEDBACK //////////
// ////////////////////////////////////////////
.take-quiz-container {
	padding: 4em 0;
    
	#select-team-container,
	#enter-name-container {
		position: relative;

		width: 32em;
		max-width: 100%;
		// height: 16em;
		
		margin: 0 auto;
		padding: 1em 0 2em;
		text-align: center;
		font-size: 14px;
		background: @lightBlue;

		.enter-name {
			width: 100%;
		}

	    @media only screen and (max-width: 600px) {
	    	width: 90%;
		}
	}
    
    #enter-name-container {
        border-radius: 5px;
        
        .input-container {
            width: 90%;
            
            .input-error-icon {
                right: 12px;
                top: 40px;
            }
        }
        
        input {
			width: 100%;
			margin: 2em 0;
		}
    }
}

.take-quiz-container {
    #select-team-container {
        border-radius: 5px;
        padding: 32px;
        text-align: left;
        width: 305px;
        
        .custom-select {
            margin: 0 auto;
            width: 100%;
        }
        
        .selected-standard-checkmark {
            color: #8cb4d2;
            position: absolute;
            right: 10px;
            font-size: 14px;
        }
        
        .start-racing-container {
            text-align: center;
            
            .action-button {
                margin-top: 32px;
                width: 100%;
            }
        }
        
        @media only screen and (min-width: @breakpoint-tablet) {
            width: 490px;
        }
    }
}

/* STUDENT SPACE RACE AND PROGRESS */

.progress-container,
.space-race-progress-container {
    cursor: default;
    padding-top: 17px;
    .unselectable;
    width: 100%;
    
    .quiz-progress,
    .space-race-progress {
        margin: 0 auto;
        position: relative;
        text-align: center;
        padding: 0 14px;
        
        @media only screen and (min-width: @breakpoint-large) {
            width: 68.541666666667%; // 658 / 960
        }
        @media only screen and (min-width: @breakpoint-xlarge) {
            width: 82.131147540984%; // 1002 / 1220
        }
        
        .quiz-progress-text,
        .space-race-progress-text {
            color: #555555;
            float: left;
            font-size: 24px;
            font-weight: 300;
        }
        
        .quiz-progress-text {
            float: none;
            line-height: 44px;
        }
        
        .space-race-progress-text {
            color: #ffffff;
        }
        
        .space-race-team {
            display: inline-block;
            float: right;
            margin-right: 8px;
            position: relative;
            
            .student-rocket-icon {
                position: absolute;
                top: 25%;
            }
            
            .space-race-team-text {
                color: #ffffff;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1px;
                padding-left: 37px;
                text-transform: uppercase;
            }
        }
        
        .student-nav-finish-button {
            float: right;
            margin-top: 10px;
            padding: 0;
            min-width: 111px;
        }
    }
    
    .space-race-progress {
        margin: 0 auto;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        padding-top: 36px;
        
        .quiz-progress,
        .space-race-progress {
            padding: 0;
            width: 80%;
            
            .quiz-progress-text,
            .space-race-progress-text {
                font-size: 30px;
            }
            
            .space-race-team {
                float: none;
                margin-left: -33px;
                margin-right: auto;
            }
            
            .student-nav-finish-button {
                min-width: 144px;
            }
        }
    }
}

.space-race-progress-container {
    line-height: 62px;
    padding-top: 0;
}

#feedback-container {
	
	.modal-header, 
	.modal-body, 
	.modal-footer {
		text-align: left;
		word-wrap: break-word;
	}
	
	.modal-header {
		i {
			display: inline-block;
			position: relative;
			top: 2px;
		}
		h4 {
			font-weight: 700;
		}

		.incorrect-title-bar i {
			color: @incorrectRed;
		}
		.correct-title-bar i {
			color: @mainGreen;
		}
        
        .correct-title-bar > h4 > span,
        .incorrect-title-bar > h4 > span {
            font-weight: 700;
        }
	}

	#answer-text {
		word-wrap: break-word;
		margin-top: 1.25em;

		.answer-header {
			font-weight: 700;
		}
	}

    #explanation-text {
        display: block;
        margin-top: 1.25em;
    }
    
    #submit-feedback-button {
        height: 44px;
    }
}

#results-container {
    
    .modal-header,
	.modal-body,
	.modal-footer {
		text-align: left;
		word-wrap: break-word;
	}
    
    .modal-header {
		i {
			display: inline-block;
			position: relative;
			top: 2px;
		}
		h4 {
			font-weight: 700;
		}

        .results-title-bar > h3 {
            font-weight: 700;
        }
	}
    
    .result-value {
        padding-left: 7px;
    }

	#percent-text {
		word-wrap: break-word;
		margin-top: 1.25em;

		.percent-header {
			font-weight: 700;
		}
	}

    #neutral-text {
        display: block;
        margin-top: 1.25em;
    }
    
    .button-primary {
        height: 44px;
    }
}

#take-quiz-master-container {
    
    &.take-quiz-master-container-nav {
        padding: 21px 16px 0;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        
        &.take-quiz-master-container-nav {
            padding: 21px 0 0;
        }
    }
}

.quiz-progress-container {
    float: left;
    text-align: left;
}

.question-type-container {
    padding-bottom: 6px;
}

.question-type-dot {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}

.fr-question-type-dot {
    background-color: @shortAnswerColor;
}

.mc-question-type-dot {
    background-color: #e8c400;
}

.tf-question-type-dot {
    background-color: #8c6fcc;
}

.question-type-text {
    font-size: 12px;
    vertical-align: top;
}

.fr-question-type-text {
    color: @shortAnswerColor;
}

.mc-question-type-text {
    color: #e8c400;
}

.tf-question-type-text {
    color: #8c6fcc;
}

.pagination-container {
    margin: 24px auto 0;
    padding-bottom: 48px;
}
