@import "../form";

.default-pro-icon {
    height: 132px;
    width: 126px;
}

.teacher-info {
	a {
		white-space: nowrap;
	}
}

@media screen and (max-width: @breakpoint-medium) { 
	.teacher-info {
		margin: 1% 0;

		.teacher-info-row {
			display: block;
		}
	}
}
