#banner-container {
	position: relative;
	overflow: hidden;
	font-size: 14px;
}
#info-banner {
	background: @orange-500;
	padding: 10px 0 11px 53px;
	text-align: left;
	color: white;
	position: relative;

	@media screen and (max-width: @breakpoint-medium) {
		padding: 12px 16px;
	}

	.info-banner-icon {
		position: absolute;
	    top: 22px;
	    left: 18px;

	    @media screen and (max-width: @breakpoint-medium) {
	    	display: none;
	    }
	}

	.close-banner-icon {
		position: absolute;
	    top: 22px;
	    right: 22px;
	    cursor: pointer;

	    @media screen and (max-width: @breakpoint-medium) {
	    	right: 16px;
	    }
	}

	.banner-content {
		.content {
			max-width: 55%;
			@media screen and (max-width: @breakpoint-large) {
				max-width: 45%;
			}

			@media screen and (max-width: @breakpoint-medium) {
				max-width: 100%;
				padding-right: 40px;
			}
		}
		h1 {
			font-size: 14px;
			line-height: 20px;
			color: white;
		    font-weight: 600;
		    padding-bottom: 3px;
		}
		
		.link {
			color: white;

			&.learn-more {
				font-weight: 600;
				margin-left: 10px;
				white-space: nowrap;
			}

			&.remind-later {
				float: right;
				margin: 10px 60px 0;

				@media screen and (max-width: @breakpoint-medium) {
					margin: 7px 30px 0;
				}

				@media screen and (max-width: @breakpoint-small) {
					width: 100%;
					text-align: right;
					margin-right: 0;
				}
			}
		}
	}
}