.custom-select {
	position: relative;
	.custom-select-container {
		position: relative;
        
        .custom-select-text-label {
            color: #bbbbbb;
        }
        
        .custom-select-text-label:focus {
            color: #bbbbbb;
        }
        
        .custom-select-arrows {
            cursor: pointer;
            position: absolute;
			right: 14px;
			top: 14px;
        }

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
        
        .selected-option-tag {
            cursor: pointer;
            left: 11px;
            position: absolute;
            top: 13px;
        }
        
        .selected-option-tag-text {
            cursor: pointer;
            left: 43px;
            position: absolute;
            top: 11px;
        }
	}
    
    .custom-select-container-error {
        input {
            border: 1px solid #ce0000;
            .box-shadow (0 0 0 2px rgba(206, 0, 0, 0.4));
        }
        
        .select-error-icon {
            cursor: pointer;
            pointer-events: none;
            position: absolute;
            right: 34px;
            top: 13px;
        }
    }
    
	input {
		display: block;
		width: 100%;

		&:hover {
			cursor: pointer;
		}

		&:disabled {
			background-color: white!important;
		}
	}
    
	.custom-select-list {
		max-height: 300px;
		overflow-y: auto;
		width: 100%;
		border: 1px solid #bbb;
		position: absolute;
		left: 0;
		top: 43px;
		background: white;
		z-index: 1000;

		li {
			padding: 12px;
            position: relative;
			margin: 0;
			width: 100%;

			&:hover {
				background: #eee;
				cursor: pointer;
			}

            &.active,
            &:active,
            &.highlighted-option {
                background: #eeeeee;
            }
            
			&.parent {
				&:hover ul {
					background: white;
				}
			}

			&.no-hover {
				&:hover {
					background: inherit;
				}
			}

			&.list-title {
                height: auto;
				padding: 0;
                
				.list-title-text {
                    cursor: default;
					font-weight: bold;
					padding: 0.8em;
					display: block;	
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;
				}

				li {
					padding-left: 1em;
				}
				
				&:hover {
					background: transparent;
				}
			}
            
            .option-tag {
                display: inline-block;
                margin-top: 2px;
            }
            
            .option-tag-quizzes-text {
                left: 46px;
                position: absolute;
                top: 11px;
            }
            
            .tag-checkmark {
                top: 13px;
            }
		}

		/* custom hover effects for fixing bugs on iPad */
		&.no-hover-effect {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;

			li {
				&:hover {
					background: transparent;
				}
			}
		}
	}
    
    .option-tag-text {
        width: 15px;
    }
}
