#loader {
  position: absolute;
  top: 0;
  left: 50%;
  background: @darkBlue;
  border: 5px solid @mainDarkBlue;
  border-top: 0;
  padding: 10px;
  width: 300px;
  margin-left: -165px;
  display: inline-block;
  z-index: 1000;
  color: white;
  text-align: center;

  @media only screen and (max-width: @breakpoint-small) {
    width: 80%;
    left: 10%;
    margin-left: -15px;
  }

  a {
    color: @mainDarkBlue;
  }
}

.spinner {
  display: inline;
  top: 0px;
  height: 22px;
  padding: 5px 2px;
  margin: 0 10px;
  /* margin: 100px auto 0; */
  text-align: center;
}

.spinner > div {
  width: 7px;
  height: 7px;
    margin-right: 2px;
  background-color: #ffffff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}