.help-tooltip-container {
    height: 30px;
    position: relative;
    width: 30px;
}

.help-tooltip-button {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.help-tooltip-button:hover {
    background-color: #e2e2e2;
}

.help-icon {
    left: 5px;
    position: absolute;
    top: 5px;
}

.help-tooltip {
    background-color: #ffffff;
    border-radius: 2px 2px 5px 5px;
    border-top: 4px solid #6d9ec4;
    .box-shadow (0 0 4px #888);
    cursor: default;
    left: -135px;
    padding: 13px 18px 15px;
    position: absolute;
    text-align: left;
    white-space: normal;
    width: 300px;
    z-index: 1;
}

.help-tooltip-above {
    bottom: 38px;
}

.help-tooltip-below {
    top: 38px;
}

.help-title {
    color: #666666;
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    .unselectable;
}

.help-text {
    font-size: 14px;
    line-height: 1.5;
    .unselectable;
}

.help-tooltip-arrow {
    border-right: 16px solid transparent;
    border-top: 16px solid #ffffff;
    .box-shadow(-1px -1px 1px 0px #aaaaaa);
    height: 0;
    left: 7px;
    position: absolute;
    width: 0;
    z-index: 2;
}

.help-tooltip-arrow-above {
    .rotate(225deg);
    top: -16px;
}

.help-tooltip-arrow-below {
    .rotate(45deg);
}
