.icon-label-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 8px;
    position: relative;
    .unselectable;
}

.icon-label-button-icon {
    fill: #8cb4d2;
    height: 24px;
    position: relative;
    top: 6px;
    width: 24px;
}

.icon-label-button-label {
    padding-left: 4px;
}

.icon-label-button-title-tooltip {
    bottom: 46px;
    left: 50%;
    line-height: normal;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    
    .title-tooltip-arrow-above {
        top: 16px;
    }
}

.icon-label-tooltip {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    width: 230px;
}

.icon-label-button-disabled {
    cursor: default;
    
    .icon-label-button-icon {
        fill: #cccccc;
    }
    
    .icon-label-button-label {
        color: rgba(85, 85, 85, 0.5);
    }
}

@media screen and (min-width: @breakpoint-large) {
    
    .icon-label-button:hover {
        background-color: #eeeeee;
    }
    
    .icon-label-button-disabled:hover {
        background-color: transparent;
    }
}
