.loader-container {
    width: 68px;
    
    .loading-text {
        color: rgba(85, 85, 85, 0.5);
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        padding-left: 1px;
    }
    
    .dot1,
    .dot2,
    .dot3 {
        -webkit-animation: dotdelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation: dotdelay 1.4s infinite ease-in-out;
        animation-fill-mode: both;
        background-color: #6d9ec4;
        border-radius: 50%;
        display: inline-block;
        height: 16px;
        margin: 0 3px 0;
        width: 16px;
    }
    
    .dot1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .dot2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
        background-color: rgba(108, 157, 196, 0.5);
    }
    
    .dot3 {
        background-color: rgba(108, 157, 196, 0.25);
    }
}

@-webkit-keyframes dotdelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes dotdelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
