.more-button-container {
    cursor: pointer;
    position: relative;
    text-align: center;
    
    .more-dots-icon {
        fill: #8cb4d2;
        height: 7px;
        width: 24px;
    }
    
    .more-button-text {
        display: block;
    }
    
    .more-button-menu {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        position: absolute;
    }
    
    .more-button-menu-arrow {
        color: #ffffff;
        display: block;
        font-size: 24px;
        position: absolute;
        right: -14px;
        .rotate(90deg);
        .text-shadow(0 -2px 3px rgba(0, 0, 0, 0.19));
    }
}
