.radio-button {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    position: relative;
}

.radio-button-outer {
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 10px;
    width: 20px;
    
    .radio-button-inner {
        background-color: #6d9ec4;
        border-radius: 50%;
        height: 12px;
        left: 3px;
        position: absolute;
        top: 3px;
        width: 12px;
    }
}

.radio-button-outer-selected {
    border: 1px solid #6d9ec4;
}

.radio-button-label {
    line-height: 40px;
    padding-left: 8px;
    .unselectable;
    vertical-align: top;
}
