#renewal-notify-container {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: white;
}
#renewal-notify {
    background: rgba(48, 155, 255, 0.9);
    min-height: 54px;
    position: relative;
    padding: 10px 0 11px 53px;

    span {
        color: white;
        padding: 8px 240px 0 0;
        display: block;
    }

    .info-renewal-icon {
        position: absolute;
        top: 18px;
        left: 18px;
    }

    .close-renewal-icon {
        position: absolute;
        right: 22px;
        top: 18px;
        cursor: pointer;
    }

    .renew-now-button {
        position: absolute; 
        right: 60px;
        top: 8px;
        border-radius: 3px;
        border: solid 1px #ffffff;
        padding: 10px 50px;
        text-align: center;
        min-width: 150px;
        background: transparent;
        font-weight: bold;
        color: white;
        outline: none;
        text-transform: uppercase;
        font-size: 12px;

        .transition(0.3s);

        &:hover {
            background: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }

    &.expired {
        .close-renewal-icon {
            display: none;
        }

        .renew-now-button {
            right: 16px;
        }

        span {
            padding-right: 210px;
        }

        @media only screen and (max-width: @breakpoint-small) {
            span {
                padding: 0 16px 0 30px;
            }
        }
    }

    @media only screen and (max-width: @breakpoint-medium) {
        .close-renewal-icon {
            right: 16px;
        }

        span {
            padding: 0 240px 0 0;
        }
    }

    @media only screen and (max-width: @breakpoint-small) {
        padding: 10px;

        .info-renewal-icon, .close-renewal-icon {
            top: 11px;
        }

        .info-renewal-icon {
            left: 10px;
        }

        span {
            padding: 0 35px 0 30px;
        }

        .actions-container {
            text-align: center;
            margin-top: 10px;
        }

        .renew-now-button {
            position: inherit;
            width: 60%;
            float: none;
            margin: 0 auto;
        }
    }
    
    @media only screen and (max-width: @breakpoint-phone-large) {
        .renew-now-button {
            width: 100%;
        }
    }
}