@textfieldHeight: 3em;
@textinputBackgroundColor: rgba(255, 255, 255, 0.4);
@textinputBackgroundColorNoRgba: #666666;

.placeholder(@color) {
	& ::-webkit-input-placeholder {
		color: @color !important; text-overflow: ellipsis; 
	}

	& :-moz-placeholder {
		color: @color !important; text-overflow: ellipsis; 
	}

	& ::-moz-placeholder {
		color: @color !important; text-overflow: ellipsis; 
	}

	& :-ms-input-placeholder {
        color: @color !important; text-overflow: ellipsis; 
	}
}