@sliderWidth: 60px;
@sliderHeight: 2.3em;
@sliderBorderSize: 1px;
@sliderSwitchWidth: 28px;

@sliderAnimateTime: .3s;

.toggle-slider {
    position: relative; 
    width: @sliderWidth;
    .unselectable;
}

.toggle-slider-checkbox {
    display: none;
}

.toggle-slider-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: @sliderBorderSize solid #ccc; 
    
    border-radius: 17px;
    background-clip: padding-box;
    
    height: 32px;
}

.toggle-slider-inner {
    width: 200%; 
    margin-left: -100%;
    
    .transition( margin @sliderAnimateTime @easeOutQuint 0s );

	&:before, 
	&:after {
    	float: left; 
    	width: 50%; 
    	height: @sliderHeight; 
    	padding: 0; 
    	line-height: @sliderHeight;
    	font-size: 1.2em; 
    	color: @textGray; 
    	.box-sizing(border-box);
	}

	&:before {
	    content: "";
	    padding-left: .9em;
	}

	&:after {
	    content: "";
	    padding-right: .9em;
	    background-color: white; 
	    text-align: right;
	}
}

.toggle-slider-switch {
    width: @sliderSwitchWidth; 
    height: @sliderSwitchWidth;
    margin: 0;
    background: #ccc;
    position: absolute; 
    top: 2px; 
    bottom: 0;
    right: 30px;
    
    border-radius: 50%;
    background-clip: padding-box;
    .transition( all @sliderAnimateTime @easeOutQuint 0s );
}

.toggle-slider-checkbox:checked + .toggle-slider-label .toggle-slider-inner {
    margin-left: 0;
}

.toggle-slider-checkbox:checked + .toggle-slider-label  {
    border-color: @secondaryBlue;
}

.toggle-slider-checkbox:checked + .toggle-slider-label .toggle-slider-switch {
    right: 2px; 
    background: @secondaryBlue;
}

.toggle-slider-checkbox:disabled + .toggle-slider-label {
    border-color: rgba(204, 204, 204, 0.5);
    cursor: default;
}

.toggle-slider-checkbox:disabled + .toggle-slider-label .toggle-slider-switch {
    background: rgba(204, 204, 204, 0.5);
    cursor: default;
}

.toggle-slider-checkbox:checked {
    &.toggle-slider-checkbox:disabled + .toggle-slider-label {
        border-color: rgba(140, 180, 210, 0.5);
        cursor: default;
    }
}

.toggle-slider-checkbox:checked {
    &.toggle-slider-checkbox:disabled + .toggle-slider-label .toggle-slider-switch {
        background: rgba(140, 180, 210, 0.5);
    }
}

.toggle-label {
    cursor: pointer;
}

.toggle-label-disabled {
    cursor: default;
    opacity: 0.5;
}
