
@trueFalseToggleHeight: 4em;

.true-false-toggle {

	.true-false-toggle-button {
		position: relative;
		display: inline-block;
		
		height: @trueFalseToggleHeight;
		width: 50%;

		padding: 0;
		
		background-color: @lightBlue;
		border: 2px solid @darkBlue;
		
		font-size: 1.5em;
		font-weight: 700;
		
		cursor: pointer;
		.transition(0.3s ease all);
        
        .toggle-heavy {
            font-weight: 700;
        }
        
		&:hover {
			background-color: @mainBlue;
		}

		@media only screen and (max-width: @breakpoint-medium ) {
			font-size: 1.3em;
		}

		@media only screen and (max-width: @breakpoint-small ) {
			width: 50%;
		}
	}

	.true-toggle {
		.true-false-toggle-button;
	}

	.false-toggle {
		.true-false-toggle-button;
	}

	.true-false-toggle-on {
		background-color: @mainBlue;
	}
}