{{> header UIcss=true}}
	<div class="aside">
		{{> menu menuList }}
	</div>
	<div class="page-content">
		<div class="section-wrapper clearfix sw-1">
			<section class="view-section">
				<h1>Accounting</h1> <br /><br />
				<div class="form-wrapper">
					<label for="report-email-to">Enter emails to send report*</label>
					<p class="note">*Each email should be separated by a comma</p>
					<textarea id="report-email-to">mshelton@masteryconnect.com, bogdan@masteryconnect.com</textarea>
					<div class="select-dates">
						<label for="start-date">Enter start date</label>
						<input type="text" id="start-date" placeholder="Enter start date" readonly="true" />
						<label for="end-date">Enter end date</label>
						<input type="text" id="end-date" placeholder="Enter end date" readonly="true" />
						<button class="primary" id="submit-report">Submit</button>
						<div class="notify"></div>
					</div>
				</div>
			</section>
		</div>
	</div>
{{> footer accountingPage=true}}