{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Upgrade to Pro</h1>
						<div class="bulk-upgrade-wrapper">
							<div class="form-wrapper bulk-upgrade-container">
                                <div id="file-input-container">
                                    <label for="upgrade-users">CSV file containing first names, last names, and emails</label>
                                    <div class="file-input-and-template">
                                        <input type="file" id="upgrade-users" accept=".csv" />
                                        <a href="/files/upgrade.csv">Download Template</a>
                                    </div>
                                </div>
                                
                                <div id="pro-license-method">
                                    <label for="amount">Buyer First Name</label>
                                    <input type="text" id="buyerFirstName" />

                                    <label for="amount">Buyer Last Name</label>
                                    <input type="text" id="buyerLastName" />
                                    
                                    <label for="amount">Buyer Email</label>
                                    <input type="email" id="buyerEmail" />

                                    <label for="years">License Duration</label>
                                    <select id="years">
                                        <option value="1">1 year</option>
                                        <option value="2">2 years</option>
                                        <option value="3">3 years</option>
                                    </select>

                                    <label for="seats">Number of Seats</label>
                                    <input type="number" id="seats" min="1" />
                                    
                                    <label for="amount">Price Per Seat</label>
                                    <input type="text" id="amount" />
    
                                    <label for="expiration">Optional Expiration Date (MM/DD/YYYY)</label>
                                    <input type="text" id="expiration" />

                                    <div class="send-emails-container">
                                        <input type="checkbox" id="sendEmails" checked />
                                        <label for="sendEmails">Send pro upgrade emails</label>
                                    </div>
    
                                    <button class="primary" id="bulk-upgrade">Upgrade</button>
                                    <div class="notify upgrade-response"></div>
                                </div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer bulkUpgrade=true }}