{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Delete Account</h1>
						<div class="delete-account-wrapper">
							<div class="form-wrapper">
								<label for="email">Enter email</label>
								<input type="text" id="email" />

								<button class="primary" id="delete-account">Delete Account</button>
								<div class="notify"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer deleteAccount=true }}