{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Downgrade User</h1>
						<div class="merge-accounts-wrapper">
							<div class="form-wrapper downgrade-container">
								<label for="email">Enter email</label>
								<input type="text" id="email" />
								<button class="primary" id="downgrade-user">Downgrade</button>
								<div class="notify downgrade-response"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer downgradeUser=true }}