{{> header}}
	<div class="aside">
		{{> menu menuList }}
	</div>
	<div class="page-content">
		<div class="section-wrapper clearfix sw-1">
			<section class="view-section">
				<h1>Dashboard Content</h1> <br /><br />
				- no content -
			</section>
		</div>
	</div>
{{> footer}}