<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Socrative Admin</title>
		<link rel="stylesheet" href="css/main.css" type="text/css">
	</head>
	<body>
		<div class="page-wrapper">
			<div class="login-wrapper">
				<a href="auth/google">
					<img src="images/google_login.png" alt="google login" />
				</a>
			</div>
		</div>
	</body>
</html>