{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Manage Admins</h1>
						<table class="default-table">
							<thead>
								<tr>
									<th>Email</th>
									<th>Role</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="admins-list">

							</tbody>
						</table>
					</section>
				</div>
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<button class="primary" id="add-admin">Add New User</button>
						<div id="add-admin-form">
							<div class="form-row add-admin-container">
								<input type="text" id="email" placeholder="Email"/>
								<select id="role" >
									<option value="64">Editor</option>
									<option value="128">Admin</option>
									<option value="256">Supreme</option>
								</select>
								<div class="notify"></div>
							</div>
							<div>
								<button class="primary" id="submit-user">Add User</button>
								<button id="cancel">Cancel</button>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer manageAdmins=true }}