{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<div id="banner-wrapper">
				            <h1>Manage Banners</h1>
				            <section class="free-section">
				                <div class="clearfix">
				                	<div class="column">
				                		<h2>See active Banner</h2>
				                        <div class="row clearfix active-banner-section">
				                            <div class="form-elm-wrapper">
				                                <button class="primary button" id="view-active-banner">VIEW</button>
				                                <div class="notify"></div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="column add-banner-section">
				                    	<h2>Add New Banner</h2>
				                    	<div class="row clearfix">
				                            <label class="label" for="audience">Audience:</label>
				                            <div class="form-elm-wrapper">
				                                <select id="audience">
				                                    <option value="0">All</option>
                                                    <option value="1">Free</option>
				                                    <option value="2">Pro</option>
				                                </select>
				                            </div>
				                        </div>
				                        <div class="row clearfix">
				                            <label class="label" for="title">Title:</label>
				                            <div class="form-elm-wrapper">
				                                <input type="text" id="title" placeholder="title" />
				                            </div>
				                        </div>
				                        <div class="row clearfix">
				                            <label class="label" for="content">Content:</label>
				                            <div class="form-elm-wrapper">
				                                <textarea id="content" placeholder="Content"></textarea>
				                            </div>
				                        </div>
				                        <div class="row clearfix">
				                            <label class="label" for="force-reappear">Force reappear:</label>
				                            <div class="form-elm-wrapper">
				                                <input type="checkbox" id="force-reappear" /> (Force banner to reappear at next login)
				                            </div>
				                        </div>
				                        <div class="row clearfix">
				                            <label class="label">Action:</label>
				                            <div class="form-elm-wrapper action-container">
                                                <div class="clearfix">
                                                    <input type="radio" checked name="action" value="none" id="no-action" class="pull-left" />
                                                    <label class="label" for="no-action">None</label>
                                                </div>
				                                <div class="clearfix">
				                                    <input type="radio" name="action" value="goProPopup" id="action-popup" class="pull-left" />
				                                    <label class="label" for="action-popup">Go PRO Modal</label>
				                                </div>
				                                <div class="clearfix">
				                                    <input type="radio" name="action" value="externalResource" id="action-link" class="pull-left" />
				                                    <label class="label" for="action-link">External URL</label>
				                                    <input type="text" id="external-link" placeholder="Enter URL" class="pull-left external-link" />
				                                </div>
				                                <button class="primary button" id="deploy-banner">DEPLOY</button>
				                            </div>
				                        </div>
				                        <div class="notify"></div>
				                    </div>
				                </div>
				            </section>
				        </div>
					</section>
				</div>
			</div>
{{> footer manageBanners=true }}