{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Merge Accounts</h1>
						<div class="form-wrapper merge-accounts-wrapper">
							<div class="accounts-container">
								<label for="first-account">Enter first account email (email to keep)</label>
								<input type="text" id="first-account" />
								<label for="second-account">Enter second account email (email to merge)</label>
								<input type="text" id="second-account" />
								<button class="primary" id="merge-accounts">Merge accounts</button>
								<div class="notify merge-response"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer mergeAccounts=true }}