{{> header UIcss=true}}
    <div class="aside">
        {{> menu menuList }}
    </div>
    <div class="page-content">
        <div class="section-wrapper clearfix sw-1">
            <section class="view-section">
                <h1>Price Management</h1>
            </section>
        </div>

        <div class="section-wrapper clearfix">
            <div class="column-view sw-2">
                <section class="view-section base-price-container">
                    <h2>1. Base Price - Current value: 
                        <span class="current-value-wrapper">
                            $<span id="current-value"></span>
                        </span>
                    </h2>
                    <div class="col-wrapper clearfix">
                        <div class="column">
                            <div class="base-price">Base price: <input type="number" id="base-price" /></div>
                        </div>
                        <div class="column">
                            <div class="min-seats">Min seats: <input type="text" id="min-seats" value="" placeholder="Min Seats" disabled="disabled" /></div>
                        </div>
                    </div> 
                    <button class="button primary" id="update-base-price">Update</button>
                    <div class="loading">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div class="notify"></div>
                </section>
            </div>
            <div class="column-view sw-2">
                <section class="view-section top-margin bulk-price-container">
                    <h2>2. Bulk Pricing Tiers</h2>
                    Current tiers:
                    <table class="default-table tiers-listing">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Min Seats</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <div class="add-section">
                        <button class="button primary" id="toggle-tier-form">Add Tier</button>
                        <table class="default-table no-header add-tier-form">
                            <tbody>
                                <tr>
                                    <td><input type="text" value="" placeholder="Tier name" id="add-tier-name" /></td>
                                    <td><input type="number" placeholder="Seats" id="add-tier-seats" /></td>
                                    <td><input type="number" placeholder="Amount" id="add-tier-amount"  /></td>
                                    <td>
                                        <div class="actions-container">
                                            <button class="button btn-small primary" id="add-tier">Add Tier</button>
                                            <button class="button btn-small neutral" id="cancel-tier">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="loading">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div class="notify"></div>
                </section>
                <section class="view-section top-margin coupons-container">
                    <h2>3. Coupons</h2>
                    Active Coupons:
                    <table class="default-table coupons-listing">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Allow Bulk</th>
                                <th>Expiration date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <div class="add-section">
                        <button class="button primary" id="toggle-coupon-form">Add Coupon</button>
                        <table class="default-table no-header add-coupon-form">
                            <tbody>
                                <tr>
                                    <td><input type="text" id="add-coupon-name" placeholder="Coupon Name" value="" /></td>
                                    <td><input type="number" id="add-coupon-amount" placeholder="Amount" value="" /></td>
                                    <td>
                                        <span class="switch-container">
                                            <label class="switch"><input id="add-coupon-allow-bulk" type="checkbox" />
                                                <div></div>
                                            </label>
                                        </span>
                                    </td>
                                    <td><input type="text" id="add-coupon-expiration-date" /></td>
                                    <td>
                                        <div class="actions-container">
                                            <button class="button btn-small primary" id="add-coupon">Add Coupon</button>
                                            <button class="button btn-small neutral" id="cancel-coupon">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="loading">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div class="notify"></div>
                </section>
                <section class="view-section top-margin renewal-prices-container">
                    <h2>4. Renewal Prices</h2>
                    <table class="default-table renewal-prices-list">
                        <thead>
                            <tr>
                                <th>Organization Type</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <div class="loading">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                    <div class="notify"></div>
                </section>
            </div>
        </div>
        <div id="dialog" title="Please Confirm">
            <p id="message"></p>
        </div>
    </div>
{{> footer priceManagement=true}}