{{> header  UIcss=true}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Queries Page</h1>
						<div class="form-wrapper receipt-wrapper">
							<div class="receipt-container">
								<label for="querys">Select a query</label>
								<select id="querys">
									<option value="logins">Login count or email list in date range</option>
									<option value="pro_expiring">PRO accounts purchased in date range</option>
								</select>
								<p class="note special">What this query does:</p>
								
								<div class="description logins">Queries the number of logins that happened in a date range and sends an email with the list of accounts or the number of accounts found.</div>

								<div class="description pro_expiring">Queries the PRO accounts that were purchased in a date range and sends an email with the list of accounts.</div>
								
								<p class="note special">Send query results to: </p>
								<div class="queries-settings">
									<textarea id="emails-to-send">{{email}}</textarea>
									<label for="start-date">Enter start date</label>
									<input type="text" id="start-date" placeholder="Enter start date" readonly="true" />
									<label for="end-date">Enter end date</label>
									<input type="text" id="end-date" placeholder="Enter end date" readonly="true" />

									<div class="additional-settings">
										<p class="note special">Select ORG Type</p>
										<input type="radio" name="org_type" value="k12" id="k12" checked/>
										<label for="k12">K12 Only</label>
										
										<input type="radio" name="org_type" value="non-k12" id="non-k12" />
										<label for="non-k12">non-K12 Only</label>
										
										<input type="radio" name="org_type" value="all" id="all" />
										<label for="all">All account types</label>

										<div class="query-output">
											<p class="note special">Select Output</p>
											
											<input type="radio" name="output" value="count" id="output-count" checked />
											<label for="output-count">Count</label>

											<input type="radio" name="output" value="email-list" id="output-email-list" />
											<label for="output-email-list">Email List</label>
										</div>
									</div>
								</div>
								
								<button class="primary" id="submit-query">Run Query</button>
								<div class="notify"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer queries=true }}