{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Send Receipt</h1>
						<div class="form-wrapper receipt-wrapper">
							<div class="receipt-container">
								<label for="email">Enter email</label>
								<input type="text" id="email" />
								<button class="primary" id="send-receipt">Send Receipt</button>
								<div class="notify send-receipt"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer receipt=true }}