{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Reset Pasword</h1>
						<div class="form-wrapper reset-password-wrapper">
							<div class="password-container">
								<label for="email">Enter email</label>
								<input type="text" id="email" />
								<button class="primary" id="reset-password">Generate link</button>
								<div class="notify password-response"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer resetPassword=true }}