{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Seach by Room Name</h1>
						<div class="search-room-wrapper">
							<div class="form-wrapper">
								<label for="room">Enter room name</label>
								<input type="text" id="room" />

								<button class="primary" id="search-by-room">Search by room name</button>
								<div class="notify"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer searchByRoom=true }}