{{> header}}
			<div class="aside">
				{{> menu menuList }}
			</div>
			<div class="page-content">
				<div class="section-wrapper clearfix sw-1">
					<section class="view-section">
						<h1>Undelete Quiz</h1>
						<div class="form-wrapper undelete-quiz-wrapper">
							<div class="quiz-container">
								<label for="email">Enter email</label>
								<input type="text" id="email" />
								<button class="primary" id="get-deleted-quizzes">Get deleted quizzes</button>
								<div class="notify deleted-quizzes-response"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
{{> footer undeleteQuiz=true }}