/* ==========================================================================
   Custom styles
   ========================================================================== */
#banner-wrapper {
    min-width: 900px;

    .button {
        max-width: 250px;
        position: relative;
    }

    .button.primary {
        margin: 5px 0;
    }

    .arrow-up {
      width: 0; 
      height: 0;
      position: absolute;
      top: 14px;
      right: 20px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      
      border-bottom: 8px solid black;
    }

    .arrow-down {
      width: 0; 
      height: 0; 
      position: absolute;
      top: 14px;
      right: 20px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      
      border-top: 8px solid black;
    }

    h1 {
        text-align: center;
        font-size: 18px;
        padding-bottom: 20px;
    }

    h2 {
        margin-top: 0;
        text-transform: uppercase;
    }

    section {
        padding: 20px;
        border: 1px solid #999;
    }

    section .row  {
        padding-bottom: 15px; 
    }

    section .row .form-elm-wrapper, section .row label {
        float: left;
        width: 9%;
    }

    section .row .label {
        text-align: right;
        padding-right: 10px;
        box-sizing: border-box;
    }

    section .row .form-elm-wrapper {
        width: 75%;
    }

    .form-elm-wrapper.action-container .label {
        width: auto;
    }

    .form-elm-wrapper {
      .clearfix {
        position: relative;
      }
    }

    .copy-container {
        padding: 20px 0;
    }

    input[type="text"], textarea, select, button {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 2px;
        border: 1px solid #ddd;
    }

    .external-link {
      max-width: 250px;
      position: absolute;
      top: -9px;
    }

    .action-container > div {
      margin-bottom: 10px;
    }

    .action-container input[type="radio"] {
      position: relative;
      top: -1px;
      margin-right: 5px;
    }

    .turn-banner-off {
        padding-top: 10px;
        .label {
            position: relative;
            top: 5px;
        }

        #stop-active-banner {
            position: relative;
            top: -10px;
            left: 20px;
        }
    }
    
    .stop-banner {
        margin-bottom: 30px;
        width: 200px;
    }
}
