.hover(@color, @cursor) {
    &:hover {
        background: darken(@color, 10%);
        cursor: @cursor;
    }
}
button {
    padding: 12px 30px;
    color: white;
    .animate(0.3s);
    &.btn-small {
        padding: 10px 12px;
    }

    &.primary {
        background: #4aaaef;
        border: 1px solid darken(#4aaaef, 10%);
        .hover(#4aaaef, pointer);
    }

    &.neutral {
        background: #9e9e9e;
        border: 1px solid darken(#9e9e9e, 10%);
        .hover(#9e9e9e, pointer);
    }

    &.danger {
        background: #f74242;
        border: 1px solid darken(#f74242, 10%);
        .hover(#f74242, pointer);
    }

    &:disabled {
        background: #ececec;
        border: 1px solid darken(#ececec, 10%);
        color: #666;
        .hover(#ececec, not-allowed);
    }
}
/** Switch
 -------------------------------------*/
.switch-container {
    position: relative;
}
.switch input {
    position: absolute;
    opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
    display: inline-block;
    font-size: 20px;
    height: 1em;
    width: 2em;
    background: #E8E8E8;
    border-radius: 1em;

    &:hover {
        cursor: pointer;
    }
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
}

.switch input:checked + div {
    background: #4dd878;
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

/** Notify
 -------------------------------------*/
.notify {
    padding: 10px;
    margin: 10px 0;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }

    &.error {
        background: #ff4242;
        border: 1px solid #c33232;
    }

    &.success {
        background: #4dd878;
        border: 1px solid #3da55d;
    }

    &.info {
        background: #ffd26e;
        boder: 1px solid #bb933a;
    }

    &:empty {
        padding: 0;
        margin: 0;
        background: red;
    }
}

/** Loader
 -------------------------------------*/
 .loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: white;
    opacity: 0.7;
    display: none;

        .spinner {
            margin: 0 auto;
            width: 70px;
            text-align: center;
            position: absolute;
            left: 50%;
            margin-left: -35px;
            top: 50%;
            margin-top: -11px;
        }

        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #333;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% { -webkit-transform: scale(0) }
            40% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% { 
                -webkit-transform: scale(0);
                transform: scale(0);
        } 40% { 
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }


 }

.loading-state {
    .loading {
        display: block;
    }
 }