.login-wrapper {
    a {
        position: absolute;
        width: 200px;

        left: 50%;
        margin-left: -100px;
        top: 45%;

        img {
            max-width: 100%;
        }
    }
}