.add-section {
    padding-top: 10px;
}

.add-tier-form, .add-coupon-form {
    display: none;
}

.current-value-wrapper {
    background: #1b94eb;
    padding: 5px 10px;
    color: white;
    .border-radius(5px);
}

.price-amount {
    position: relative;

    .current-value-wrapper {
        position: absolute;
        top: 14px;
        right: 20px;
    }
}

#add-coupon-name,
.coupon-name {
    text-transform: uppercase;
}

.renewal-price-org-type {
    cursor: default;
}
