.inner-page {
    background: #f5f5f5;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    padding-left: 200px;
    z-index: 9;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    h1 {
        font-size: 14px;
        line-height: 14px;
        padding: 20px 10px;
    }

    li {
        a {
            font-size: 14px;
            color: black;
            text-decoration: none;
            padding: 20px 10px;
            display: inline-block;

            &:hover {
                color: #2d3e4e;
            }
        }
    }
}

.aside {
    background: #2d3e4e;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 10;
    box-sizing: border-box;
    color: white;

    #primary-menu {
        padding-top: 10px;
        ul {
            padding-left: 20px;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px 5px;
            display: block;
            .animate(0.3s);

            &:hover, &.current {
                background: lighten(#2d3e4e, 5%);
            }
        }
    }
}

.note {
    font-size: 12px;
    color: #666;
    padding: 5px 0;

    &.special {
        font-size: 14px;
        color: black;
        font-weight: bold;
        padding: 10px 0 5px;
    }
}

.page-content {
    background: #f5f5f5;
    padding: 60px 0 20px 200px;
    box-sizing: border-box;

    .section-wrapper {
        margin: 10px;

        .view-section {
            background: white;
            border: 1px solid #e4e4e4;
            box-sizing: border-box;
            float: left;
            padding: 10px;
            position: relative;
            width: 100%;

            &.top-margin {
                margin-top: 10px;
            }
        }

        .column-view {
            
            &.sw-2 {
                /* have to use ~"" for operatins. LESS issue */
                width: -moz-calc(~"75% - 5px");
                width: -webkit-calc(~"75% - 5px");
                width: -o-calc(~"75% - 5px");
                width: calc(~"75% - 5px");
                
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &.sw-2 {
            height: 100%;

            .view-section {
                min-height: 100%;
                // have to use ~"" for operatins. LESS issue
                width: -moz-calc(~"50% - 5px");
                width: -webkit-calc(~"50% - 5px");
                width: -o-calc(~"50% - 5px");
                width: calc(~"50% - 5px");
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &.sw-3 {
            .view-section {
                width: 32%;
                margin-left: 2%;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    
    .bulk-upgrade-question {
        margin-bottom: 10px;
    }

    #years {
        display: block;
        margin-bottom: 10px;
    }
    
    .send-emails-container {
        margin: 10px 0 20px;
        
        input,
        label {
            cursor: pointer;
        }
    }
    
    #add-admin-form {
        display: none;
    }

    .default-table {
        width: 100%;

        thead {
            background: #efefef;
        }

        th, td {
            text-align: left;
            padding: 10px 15px;
            border-top: 1px solid #ddd;
        }

        th {
            white-space: nowrap;
        }

        &.no-header {
            tr {
                &:first-child {
                    td {
                        border-top: none;
                    }       
                }
            }
        }

        tr {
            &:hover {
                td {
                    background: #f9f9f9;
                }
            }
        }

        button {
            padding-top: 9px;
            padding-bottom: 9px;
            border: none;
            color: white;

            &.edit {
                margin-right: 10px;
            }
        }

        .actions-container {
            white-space: nowrap;
        }

        input {
            margin-bottom: 0;
        }
    }

    .add-admin-container {
        width: 400px;
        margin-bottom: 10px;
    }

    .form-wrapper {
        width: 50%;
        
        .file-input-and-template {
            display: block;
            margin: 15px 0 25px;
            
            input[type="file"] {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }

    .default-listing {
        padding: 15px 10px;
        position: relative;

        &:hover {
            background: #49bf6e;
        }

        .action-button {
            max-width: 250px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .col-wrapper {
        margin: 10px 0;
        .column {
            margin-left: 10px;
            width: -moz-calc(~"50% - 5px");
            width: -webkit-calc(~"50% - 5px");
            width: -o-calc(~"50% - 5px");
            width: calc(~"50% - 5px");
            float: left;
            box-sizing: border-box;

            &:first-child {
                margin-left: 0;
            }
        }

        .actions-container {
            padding-top: 18px;
        }

        &.four {
            .column {
                width: -moz-calc(~"25% - 7.5px");
                width: -webkit-calc(~"25% - 7.5px");
                width: -o-calc(~"25% - 7.5px");
                width: calc(~"25% - 7.5px");
            }
        }

        &.five {
            .column {
                width: -moz-calc(~"20% - 10px");
                width: -webkit-calc(~"20% - 10px");
                width: -o-calc(~"20% - 10px");
                width: calc(~"20% - 10px");
            }
        }

    }

    .additional-settings {
        padding: 20px 0;
    }
    
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-widget-overlay {
    background: #ffffff;
    opacity: 0.6875;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
}
