// Name:            Base
// Description:     Sets default values for HTML elements
//
// Component:       `h1`, `h2`, `h3`, `h4`, `h5`, `h6`
//                  `link`
//                  `img-preserve`
//
// ========================================================================


// Variables
// ========================================================================

@base-body-background:                          #fff;
@base-body-font-family:                         "Open Sans", Arial, sans-serif;
@base-body-font-weight:                         normal;
@base-body-font-size:                           14px;
@base-body-line-height:                         20px;
@base-body-color:                               #555;

@base-link-color:                               @linkDefault;
@base-link-text-decoration:                     none;
@base-link-hover-color:                         @linkHover;
@base-link-hover-text-decoration:               none;
@base-link-hover-padding:                       0;
@base-link-hover-background-color:              none;
@base-link-visited-color:                       @linkVisited;

@base-code-color:                               #D05;
@base-code-font-size:                           12px;
@base-code-font-family:                         Consolas, monospace, serif;
@base-em-color:                                 #D05;
@base-ins-background:                           #ffa;
@base-ins-color:                                #444;
@base-mark-background:                          #ffa;
@base-mark-color:                               #444;
@base-quote-font-style:                         italic;

@base-margin-vertical:                          0;

@base-heading-font-family:                      @base-body-font-family;
@base-heading-font-weight:                      normal;
@base-heading-color:                            #555;
@base-heading-text-transform:                   none;
@base-heading-margin-top:                       25px;
@base-h1-font-size:                             30px;
@base-h1-line-height:                           36px;
@base-h2-font-size:                             24px;
@base-h2-line-height:                           30px;
@base-h3-font-size:                             18px;
@base-h3-line-height:                           24px;
@base-h4-font-size:                             16px;
@base-h4-line-height:                           22px;
@base-h5-font-size:                             14px;
@base-h5-line-height:                           20px;
@base-h6-font-size:                             12px;
@base-h6-line-height:                           18px;

@base-list-padding-left:                        0px;

@base-hr-margin-vertical:                       @base-margin-vertical;
@base-hr-border:                                @mainBlue;
@base-hr-border-width:                          1px;

@base-blockquote-padding-left:                  15px;
@base-blockquote-border:                        #ddd;
@base-blockquote-border-width:                  5px;
@base-blockquote-font-size:                     16px;
@base-blockquote-line-height:                   22px;
@base-blockquote-font-style:                    italic;

@base-pre-padding:                              10px;
@base-pre-background:                           #f5f5f5;
@base-pre-color:                                #444;
@base-pre-font-size:                            12px;
@base-pre-line-height:                          18px;
@base-pre-font-family:                          @base-code-font-family;

@base-selection-background:                     #39f;
@base-selection-color:                          #fff;
@base-padding:                                  2em;


/* ========================================================================
   Component: Base
 ========================================================================== */

/*
 * 1. Normalizes default `font-family` and sets `font-size` here to support `rem` units
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 * 3. Style
 */

html {
    /* 1 */
    font: @base-body-font-weight @base-body-font-size e("/") @base-body-line-height @base-body-font-family;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* 3 */
    background: @base-body-background;
    color: @base-body-color;
    
    width: 100%;
    height: 100%;

    .hook-base-body;
}

/*
 * Removes default margin.
 * Make the body full screen
 */

body { 
    margin: 0; 
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    box-sizing: border-box;
}

/* Links
 ========================================================================== */

/*
 * Remove the gray background color from active links in IE 10.
 */

a { background: transparent; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover { outline: 0; }

/*
 * Style
 */

a,
.link {
    color: @base-link-color;
    text-decoration: underline;
    cursor: pointer;
    .transition(color 0.2s ease);

    &.special {
        text-decoration: underline;
    }
}

a:hover,
.link:hover {
    text-decoration: none;
    background-color: @base-link-hover-background-color;
    /*padding: @base-link-hover-padding;*/
}


/* Text-level semantics
 ========================================================================== */

/*
 * Addresses style set to `bolder` in Firefox
 */

b,
strong { font-weight: bold; }

/*
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Consolas has a better baseline in running text compared to `Courier`
 */

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
    /* 1 */
    font-size: @base-code-font-size;
    /* 2 */
    font-family: @base-code-font-family;
    /* 3 */
    color: @base-code-color;
    white-space: nowrap;
    .hook-base-code;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Images
 ========================================================================== */

/*
 * 1. Responsiveness: Sets a maximum width relative to the parent and auto scales the height
 * 2. Corrects `max-width` behavior if padding and border are used
 * 3. Remove border when inside `a` element in IE 8/9/10.
 * 4. Remove the gap between images and the bottom of their containers
 */

img {
    /* 1 */
    max-width: 100%;
    height: auto;
    /* 2 */
    .boxsizing(border-box);
    /* 3 */
    border: 0;
    /* 4 */
    vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) { overflow: hidden; }


/* Block elements
 ========================================================================== */

/*
 * Margins
 */

p,
ul,
ol,
pre { margin: 0 0 @base-margin-vertical 0; }

* + p,
* + ul,
* + ol,
* + pre { margin-top: @base-margin-vertical; }


/* Headings
 ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 @base-margin-vertical 0;
    font-family:  @base-heading-font-family;
    font-weight: @base-heading-font-weight;
    color: @base-heading-color;
    text-transform: @base-heading-text-transform;
}

/*
 * Margins
 */

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 { margin-top: @base-heading-margin-top; }

/*
 * Sizes
 */

h1, .h1 {
    font-size: @base-h1-font-size;
    line-height: @base-h1-line-height;
}

h2, .h2 {
    font-size: @base-h2-font-size;
    line-height: @base-h2-line-height;
}

h3, .h3 {
    font-size: @base-h3-font-size;
    line-height: @base-h3-line-height;
}

h4, .h4 {
    font-size: @base-h4-font-size;
    line-height: @base-h4-line-height;
}

h5, .h5 {
    font-size: @base-h5-font-size;
    line-height: @base-h5-line-height;
}

h6, .h6 {
    font-size: @base-h6-font-size;
    line-height: @base-h6-line-height;
}


/* Lists
 ========================================================================== */

ul,
ol { padding-left: @base-list-padding-left; list-style: none;}

/*
 * Reset margin for nested lists
 */

ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul { margin: 0; }


/* Horizontal rules
 ========================================================================== */

/*
 * 1. Address differences between Firefox and other browsers.
 * 2. Style
 */

hr {
    /* 1 */
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    /* 2 */
    margin: @base-hr-margin-vertical 0;
    border: 0;
    border-top: @base-hr-border-width solid @base-hr-border;
}


/* Preformatted text
 ========================================================================== */

/*
 * 1. Contain overflow in all browsers.
 */

pre {
    font-family: @base-body-font-family;
    
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    
    .hook-base-pre;
}


/* Selection pseudo-element 
 ========================================================================== */

::-moz-selection {
    background: @base-selection-background;
    color: @base-selection-color;
    text-shadow: none;
}

::selection {
    background: @base-selection-background;
    color: @base-selection-color;
    text-shadow: none;
}


/* HTML5 elements
 ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

footer { display: block; }

/*
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE and Safari
 */

[hidden] { display: none; }


/* Iframe
 ========================================================================== */

iframe { border: 0; }


/* Fix viewport for IE10 snap mode
 ========================================================================== */

@media screen and (max-width: 400px) {
    @-ms-viewport{
        width: device-width;
    }
}


// Hooks
// ========================================================================

.hook-base-misc;

.hook-base-body() {}
.hook-base-code() {}
.hook-base-pre() {}
.hook-base-misc() {}

.disabled {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    opacity: 0.4;
    cursor: default;
    .unselectable;
}
