// Name:            Button
// Description:     Defines styles for buttons
//

// Variables
// ========================================================================
@button-min-width:                              100px;
@button-height:                                 30px;
@button-mini-height:                            30px;
@button-small-height:                           35px;
@button-large-height:                           42px;

// line heights
@button-line-height:                            30px;
@button-mini-line-height:                       30px;
@button-small-line-height:                      30px;
@button-large-line-height:                      42px;
// font sizes
@button-mini-font-size:                         11px;
@button-small-font-size:                        12px;
@button-large-font-size:                        12px;
// paddings
@button-padding-horizontal:                     12px;
@button-mini-padding-horizontal:                6px;
@button-small-padding-horizontal:               30px;
@button-large-padding-horizontal:               15px;

// base button css
@button-font-size:                              12px;
@button-background:                             #eee;
@button-color:                                  #fff;
@button-hover-background:                       #f5f5f5;
@button-hover-color:                            #fff;
@button-active-background:                      #ddd;
@button-active-color:                           #fff;
@button-font-weight:                            700;

/**
 * Types of buttons
 */
@button-default-color:                          #333;

// PRIMARY
@button-primary-background:                     #ffa100;
@button-primary-color:                          white;
@button-primary-border-width:                   1px;
@button-primary-border-color:                   #ffa100;

@button-primary-hover-background:               #cb7e00;
@button-primary-hover-border:                   #cb7e00;
@button-primary-hover-color:                    white;

@button-primary-active-background:              darken(#ffa100, 2%);
@button-primary-active-color:                   white;

// PRIMARY COMMON
@button-primary-common-background:              white;
@button-primary-common-color:                   #ffa100;

@button-primary-common-hover-background:        #cb7e00;
@button-primary-common-hover-border:            #cb7e00;
@button-primary-common-hover-color:             white;

@button-primary-common-active-background:       white;
@button-primary-common-active-color:            darken(#ffa100, 4%);

// SECONDARY
@button-secondary-background:                   #6D9EC4;
@button-secondary-color:                        white;
@button-secondary-border-width:                   1px;
@button-secondary-border-color:                 #6D9EC4;

@button-secondary-hover-background:             #65849b;
@button-secondary-hover-color:                  white;

@button-secondary-active-background:            darken(#6D9EC4, 4%);
@button-secondary-active-color:                 white;

// SECONDARY COMMON
@button-secondary-common-background:            white;
@button-secondary-common-color:                 #6D9EC4;

@button-secondary-common-hover-background:      white;
@button-secondary-common-hover-color:           darken(#6D9EC4, 2%);

@button-secondary-common-active-background:     white;
@button-secondary-common-active-color:          darken(#6D9EC4, 4%);

// LINK
@button-primary-link-color:                     @secondaryBlue;
@button-primary-link-color-hover:               @darkBlue;


/* ========================================================================
   Component: Button
 ========================================================================== */

/*
 * Removes inner padding and border in Firefox 4+.
 */

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Correct inability to style clickable `input` types in iOS.
 * 2. Remove margins in Chrome, Safari and Opera.
 * 3. Remove borders for `button`.
 * 4. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 5. Correct `font` properties and `color` not being inherited for `button`.
 * 6. Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE
 * 7. Style
 * 8. `line-height` is used to create a height
 * 9. `min-height` is necessary for `input` elements in Firefox and Opera because `line-height` is not working.
 * 10. Reset button group whitespace hack
 * 11. Required for `a`.
 */

.button {
    /* 1 */
    -webkit-appearance: none;
    /* 2 */
    margin: 0;
    /* 3 */
    border: none;
    /* 4 */
    overflow: visible;
    /* 5 */
    font-family: 'Open Sans', Arial, sans-serif;
    color: @button-default-color;
    /* 6 */
    text-transform: uppercase;
    /* 7 */
    display: inline-block;
    .boxsizing(border-box);
    padding: 0 @button-padding-horizontal;
    background: @button-background;
    vertical-align: middle;
    /* 8 */
    line-height: @button-line-height;
    /* 9 */
    min-height: @button-height;
    /* 10 */
    font-size: @button-font-size;
    /* 11 */
    text-decoration: none;
    text-align: center;

    font-weight: @button-font-weight;

    border-radius: 3px;

    min-width: @button-min-width;

    span {
        font: inherit;
        color: inherit;
        font-size: 12px;
    }

    &.pill {
        border-radius: 30px;
        height: 44px;
        min-width: 144px;
        padding: 0 24px;
    }
}



.button:not(:disabled) { cursor: pointer; }
.button:disabled { opacity: 0.7; }

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 * 3. Required for `a` elements
 */

 .button:hover {
    -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
 }

.button:hover,
.button:focus { // 1
    background-color: @button-hover-background;
    color: @button-default-color;
    /* 2 */
    outline: none;
    /* 3 */
    text-decoration: none;
}

/* Active */
.button:active,
.button.active {
    background-color: @button-active-background;
    color: @button-default-color;
}


/* TYPES OF BUTTONS
 ========================================================================== */

/*
 * Modifier: `button-primary`
 */

.button-primary {
    background-color: @button-primary-background;
    color: @button-primary-color;
    border: @button-primary-border-width solid @button-primary-border-color;
    text-transform: uppercase;

    span {
        color: @button-primary-color;
    }
}

/* Hover */
.button-primary:hover {
    background-color: @button-primary-hover-background;
    border: 1px solid @button-primary-hover-border;
    color: @button-primary-hover-color;
}

/* Active */
.button-primary:active,
.button-primary:focus {
    background-color: @button-primary-active-background;
    color: @button-primary-active-color;
}

/*
 * Modifier: `button-primary-common`
 */

.button-primary-common {
    background-color: @button-primary-common-background;
    color: @button-primary-common-color;
    border: @button-primary-border-width solid @button-primary-border-color;
    text-transform: uppercase;  
}

/* Hover */
.button-primary-common:hover,
.button-primary-common:focus {
    background-color: @button-primary-common-hover-background;
    border :1px solid @button-primary-common-hover-border;
    color: @button-primary-common-hover-color;
}

/* Active */
.button-primary-common:active,
.button-primary-common.active {
    background-color: @button-primary-common-active-background;
    color: @button-primary-common-active-color;
}

/*
 * Modifier: `button-secondary`
 */

.button-secondary,
.button-secondary:focus {
    background-color: @button-secondary-background;
    color: @button-secondary-color;
    border: @button-secondary-border-width solid @button-secondary-border-color;
    text-transform: uppercase;

    span {
        color: @button-primary-color;
    }
}

/* Hover */
.button-secondary:hover {
    background-color: @button-secondary-hover-background;
    color: @button-secondary-hover-color;
}

.button-secondary:disabled:hover {
    background-color: @button-secondary-background;
}

/* Active */
.button-secondary:active,
.button-secondary.active {
    background-color: @button-secondary-active-background;
    color: @button-secondary-active-color;
}

/*
 * Modifier: `button-secondary-common`
 */

.button-secondary-common {
    background-color: @button-secondary-common-background;
    color: @button-secondary-common-color;
    border: @button-secondary-border-width solid @button-secondary-border-color;
    text-transform: uppercase;
}

/* Hover */
.button-secondary-common:hover,
.button-secondary-common:focus {
    background-color: @button-secondary-hover-background;
    color: @button-secondary-hover-color;
}

/* Active */
.button-secondary-common:active,
.button-secondary-common.active {
    background-color: @button-secondary-common-active-background;
    color: @button-secondary-common-active-color;
}

/*
 * Modifier: `button-link`
 */

.button-link {
    background-color: transparent;
    padding: 0;
 
    color: @button-primary-link-color;
    text-transform: uppercase;
}

/* Hover */
.button-link:hover,
.button-link:focus {
    color: @button-primary-link-color-hover;
    background-color: transparent;
}

/* Active */
.button-link:active,
.button-link.active {
    color: @button-primary-active-color;
}

/* sizes
 ========================================================================== */

.button-mini {
    min-height: @button-mini-height;
    padding: 0 @button-mini-padding-horizontal;
    line-height: @button-mini-line-height;
    font-size: @button-mini-font-size;
}

.button-small {
    min-height: @button-small-height;
    padding: 0 @button-small-padding-horizontal;
    line-height: @button-small-line-height;
    font-size: @button-small-font-size;
}

.button-large {
    min-height: @button-large-height;
    padding: 0 @button-large-padding-horizontal;
    line-height: @button-large-line-height;
    font-size: @button-large-font-size;
}

/* custom button with fropdown  
 ========================================================================== */
.button-container {
    position: relative;
    display: inline-block;

    .button-dropdown-container {
        position: absolute;
        width: auto;
        text-align: right;
        background: white;
        z-index: 10;
        top: 45px;
        right: 0;

        border-radius: 2px;
        background-clip: padding-box;

        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.33);

        li {
            text-align: left;
            padding: 12px 15px;
            .transition(0.3s);
            white-space: nowrap;
            @media only screen and (max-width: @breakpoint-medium) {
                padding: 1em;
            }

            &:hover {
                background:#ddd;
                cursor: pointer;
            }
        }
    }
}

.action-button {
    background-color: #ffa100;
    border: 1px solid #ffa100;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    
    height: 44px;
    text-transform: uppercase;
}

.action-button:hover,
.secondary-action-button:hover {
    background-color: #CB7E00;
    border: 1px solid #CB7E00;
    color: white;
}

.action-button:focus,
.secondary-action-button:focus,
.action-button-disabled:focus {
    outline: none;
}

.action-button-100 {
    width: 100px;
}

.action-button-132 {
    min-width: 132px;
    width: auto;
}

.action-button-200 {
    width: 200px;
}

.action-button-282 {
    width: 282px;
}

.action-button-full {
    width: 100%;
}

.action-button-disabled {
    .action-button;
    
    background-color: rgba(255, 161, 0, 0.5);
    border: 1px solid rgba(255, 161, 0, 0.5);
    cursor: default;
}

.secondary-action-button {
    .action-button;
    background-color: #ffffff;
    color: #ffa100;
}

.google-login-button {
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
    height: 44px;
    letter-spacing: 0.2px;
    position: relative;
    
    .google-login-icon {
        position: absolute;
        left: 11px;
        top: 13px;
    }
}

.google-login-button:hover,
.google-login-button:active {
    background-color: #eeeeee;
}

.google-login-button:focus {
    outline: none;
}

.edit-button-default {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 36px;
    outline: none;
    width: 36px;
}

.edit-button-default:hover {
    background-color: #eeeeee;
}
