@mainBlue: #AFCBE0; 
@secondaryBlue: #8CB4D2;
@lightBlue: #dfeaf3;
@darkBlue: #6f9fc2;
@mainDarkBlue: #084d65;
@blue-500: #6D9EC4;

// Links
@linkDefault: #6d9ec4;
@linkHover:   #084d65;
@linkVisited: #084d65;

@mainGray: #555;
@textGray: #333;
@borderGray: #cccccc;
@green: #90c15a;
@darkGreen: #83b052;
@lightGreen: #c6e7a2;
@disabled: #CCC;

// MAIN COLORS
// mainly used with buttons/borders etc
@shortAnswerColor: #ff8528;
@shortAnswerLiveResultsColor: #ffb983;
@shortAnswerLiveResultsHoverColor: #ffdfc6;
@shortAnswerLiveResultsHoverBorderColor: #fe7b18;
@incorrectRed: #e31212;
@incorrectRedBorder: #be0700;
@mainDarkRed: #d94d22;
@lightRed: #fdd2be;
@semiLightRed: #FFAD87;
@darkenRed: #ba3e17;

@mainOrange: #e8c400;
@mainDarkOrange: #d9b700;
@lightOrange: #f6ebc6;
@semiLightOrange: #EDDDA6;
@darkenOrange: #b59901;

@orange-500: #ffa100;

@mainPurple: #8c6fcc;
@mainDarkPurple: #785faf;
@lightPurple: #d8d3e9;
@semiLightPurple: #B3ABCC;
@darkenPurple: #594487;

@mainGreen: #6b9d36;
@mainDarkGreen: #1e3406;

@questionResultBackground: #272a2b;
@questionResultBackgroundMidGrey: darken(@questionResultBackground, 6%);
@questionResultBackgroundDark: darken(@questionResultBackground, 12%);



@mainMidGreen: #395c13;
@mainLightGray: lighten(@questionResultBackground, 12%);
@mainLigherGray: lighten(@questionResultBackground, 20%);
@mainSlateBlue: slateblue;
@mainDarkSlateBlue: darkslateblue;



@backgroundBase: #1e2021;
@backgroundHighlight: #272c2f;

@startQuizColor: @mainOrange;
@quickQuestionColor: @mainPurple;

@notifyColor: #44a5ff;
@notifyColorHover: #0084ff;
