@footer-height: 70px;

footer {
    margin-bottom: -@footer-height; 
    font-size: 12px;

    height: @footer-height;
    width: 100%;

    background: #F3F3F3;
    color: @mainGray;

    text-align: center;

    position: relative;

    .footer {
        @media only screen and (max-width: 375px) {
            width: 92.5%;
        }
        @media only screen and (max-width: 768px) {
            width: 93%;
        }
        @media only screen and (max-width: 960px) {
            width: 94%;
        }

        @media only screen and (min-width: 960px) {
            width: 82.5%;
        }
    }
    .socrative, .mc {
    	font-weight: 700;
    }

    .align-left {
        margin-top: 7px;
    }

    @media only screen and (max-width: @breakpoint-small) {
        .align-left, .align-right {
            width: 100%;
            float: none;
            text-align: center;
            font-size: 0.9em;
        }
    }

    .pro-badge-icon-container {
        position: relative;
        margin-right: 4px;
        top: 5px;
    }

    .link {
        position: relative;
        margin-left: 10px;
        top: -1px;
    }
}

