// Name:            Form
// Description:     Defines styles for forms
//
// Component:       `form`
//
// Sub-objects:     `form-row`
//                  `form-help-inline`
//                  `form-help-block`
//                  `form-label`
//                  `form-controls`
//                  `form-controls-condensed`
//                  `form-icon`
//
// Modifiers:       `form-stacked`
//                  `form-horizontal`
//
// Sub-modifiers:   `form-danger`
//                  `form-success`
//                  `form-small`
//                  `form-large`
//                  `form-blank`
//                  `form-width-mini`
//                  `form-width-small`
//                  `form-width-medium`
//                  `form-width-large`
//                  `form-controls-text`
//
// Markup:
//
// <!-- form -->
// <form class="form">
//     <div class="form-row">
//         <label class="form-label" for="form-input-1"></label>
//         <div class="form-controls">
//             <input type="text" id="form-input-1" placeholder="Text">
//         </div>
//     </div>
// </form>
//
// ========================================================================


// Variables
// ========================================================================

// MAIN VARS
@form-height:                                   44px;
@form-padding:                                  0 14px;
@form-border:                                   #BBBBBB;
@form-border-width:                             1px;
@form-background:                               #fff;
@form-color:                                    #333;

// FOCUS INPUTS
@form-focus-border:                             #BBBBBB;
@form-focus-background:                         #fff;
@form-focus-color:                              #444;

// DISALBED INPUTS
@form-disabled-border:                          #ddd;
@form-disabled-background:                      #f5f5f5;
@form-disabled-color:                           #999;

// PLACEHOLDER
@form-placeholder-color:                        #BBBBBB;

@form-gutter:                                   15px;

@form-legend-border:                            #ddd;
@form-legend-border-width:                      1px;
@form-legend-font-size:                         18px;
@form-legend-line-height:                       30px;

@form-small-height:                             25px;
@form-large-height:                             40px;
@form-small-padding:                            3px 3px;
@form-large-padding:                            8px 6px;
@form-small-font-size:                          12px;
@form-large-font-size:                          16px;

@form-danger-border:                            #dc8d99;
@form-danger-background:                        white;
@form-danger-color:                             #d85030;

@form-success-border:                           #8ec73b;
@form-success-background:                       #fafff2;
@form-success-color:                            #659f13;

@form-blank-border:                             #ddd;
@form-blank-border-style:                       dashed;

@form-mini-width:                               40px;
@form-small-width:                              130px;
@form-medium-width:                             200px;
@form-large-width:                              500px;

@form-help-inline-margin-left:                  10px;
@form-help-block-margin-top:                    5px;

@form-controls-condensed-margin-vertical:       5px;

@form-input-checkbox-width:                     18px;
@form-input-checkbox-transition:                250ms;
@form-input-checkbox-border-radius:             3px;

@form-stacked-margin-bottom:                    5px;
@form-stacked-font-weight:                      bold;

@form-horizontal-label-width:                   200px;
@form-horizontal-label-margin-top:              5px;
@form-horizontal-controls-margin-left:          215px;
@form-horizontal-controls-text-padding-top:     5px;

@form-icon-width:                               30px;
@form-icon-font-size:                           14px;
@form-icon-color:                               #999;


/* ========================================================================
   Component: Form
 ========================================================================== */

/*
 * Except for `submit` and `reset` because specificity is to high for button component
 * 1. Define consistent box sizing.
 *    Default is `content-box` with following exceptions set to `border-box`
 *    `button`, `select`, `input[type="checkbox"]` and `input[type="radio"]`
 *    `input[type="search"]` in Chrome, Safari and Opera
 *    `input[type="color"]` in Firefox
 * 2. Address margins set differently in Firefox/IE and Chrome/Safari/Opera.
 * 3. Remove `border-radius` in iOS.
 * 4. Correct `font` properties and `color` not being inherited.
 */

.form input:not([type="submit"]),
.form input:not([type="reset"]),
.form select,
.form textarea {
    /* 1 */
    .boxsizing(border-box);
    /* 2 */
    margin: 0;
    /* 3 */
    border-radius: 0;
    /* 4 */
    font: inherit;
    color: inherit;
}

/*
 * Address inconsistent `text-transform` inheritance which is only inherit in Firefox
 */

.form select { text-transform: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */

.form input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * Removes input focus icons in IE and Safari.
 */

input[type=text]::-ms-clear { display: none; width: 0; height: 0; }
input[type=text]::-ms-reveal { display: none; width: 0; height: 0; }
input[type=email]::-ms-clear { display: none; width: 0; height: 0; }
input[type=email]::-ms-reveal { display: none; width: 0; height: 0; }
input[type=password]::-ms-clear { display: none; width: 0; height: 0; }
input[type=password]::-ms-reveal { display: none; width: 0; height: 0; }
input[type=search]::-ms-clear { display: none; width: 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width: 0; height: 0; }


/*
 * Removes excess padding in IE 8/9/10.
 */

.form input[type="checkbox"],
.form input[type="radio"] { padding: 0; }

/*
 * Improves consistency of cursor style for clickable elements
 */

.form input[type="checkbox"]:not(:disabled),
.form input[type="radio"]:not(:disabled) { cursor: pointer; }

/*
 * Remove default style in iOS.
 */

.form textarea,
.form input:not([type]),
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="number"],
.form input[type="datetime"] { 
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/*
 * Remove inner padding and search cancel button in Chrome, Safari and Opera on OS X.
 */

.form input[type="search"]::-webkit-search-cancel-button,
.form input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove Chrome's increment/decrement buttons.
 */
.form input[type="number"]::-webkit-inner-spin-button,
.form input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Improve readability and alignment in all browsers.
 */

.form textarea {
    /* 1 */
    overflow: auto;
    /* 2 */
    vertical-align: top;
}

/*
 * Removes placeholder transparency in Firefox.
 */

.form ::-moz-placeholder { opacity: 1; }

/*
 * Removes `box-shadow` for invalid controls in Firefox.
 */

.form :invalid { box-shadow: none; }

/*
 * Vertical alignment
 */

.form input:not([type="radio"]):not([type="checkbox"]),
.form select { vertical-align: middle; }


/* Style
 ========================================================================== */

/*
 * Remove margin from the last-child
 */

.form > :last-child { margin-bottom: 0; }

/*
 * Controls
 * Except for `range`, `radio`, `checkbox`, `file`, `submit`, `reset`, `button` and `image`
 * 1. Must be `height` because `min-height` is not working in OSX
 * 2. Responsiveness: Sets a maximum width relative to the parent to scale on narrower viewports
 * 3. Vertical `padding` needed for `select` elements in Firefox
 * 4. Style
 */

.form select,
.form textarea,
.form input:not([type]),
.form input[type="text"],
.form input[type="password"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="week"],
.form input[type="number"],
.form input[type="email"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"] {
    /* 1 */
    height: @form-height;
    /* 2 */
    max-width: 100%;
    /* 3 */
    padding: @form-padding;
    /* 4 */
    border: @form-border-width solid @form-border;
    background: @form-background;
    color: @form-color;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;

    // Focus state
    &:focus {
        border-color: @form-focus-border;
        outline: 0;
        background: @form-focus-background;
        color: @form-focus-color;
    }

    // Disabled state
    &:disabled {
        border-color: @form-disabled-border;
        background-color: @form-disabled-background;

        -webkit-text-fill-color: @form-disabled-color; /* Override iOS / Android font color change */
        -webkit-opacity: 1; /* Override iOS opacity change affecting text & background color */

        color: @form-disabled-color;
    }
}

/*
* Checkbox styling
*
* we use the same thing for the radio and override some of it
*/
.form input[type="checkbox"],
.form input[type="radio"] {

    position: relative;

    border-radius: @form-input-checkbox-border-radius;
    border: 2px solid #ccc;
    background: white;

    width: @form-input-checkbox-width;
    height: @form-input-checkbox-width;

    vertical-align: middle;
    
    -webkit-appearance: none;
       -mox-appearance: none;
            appearance: none;
    
    cursor: pointer;

  &:checked {
        background-color: @secondaryBlue;
        border-color: @secondaryBlue;
    
        .transition(all ease @form-input-checkbox-transition);

        &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: 3px;
            display: table;
            width: 5px;
            height: 10px;
            border: 2px solid #fff;
            border-top-width: 0;
            border-left-width: 0;
            
            .rotate(45deg);

        }
    }

    &:focus {
        outline: none;
    }
}


/*
* Radio
* override some styling inherited from the checkbox
*/
.form input[type="radio"] {
    border-radius: 50%;
    
    &:checked:before {

        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        
        top: -2px;
        left: -2px;

        border: 2px solid #fff;
        
        .scale(0.8);

    }
}


/*
 * Placeholder
 */

.form :-ms-input-placeholder { color: @form-placeholder-color !important; }
.form ::-moz-placeholder { color: @form-placeholder-color; }
.form ::-webkit-input-placeholder { color: @form-placeholder-color; }

.form :disabled:-ms-input-placeholder { color: @form-disabled-color !important; }
.form :disabled::-moz-placeholder { color: @form-disabled-color; }
.form :disabled::-webkit-input-placeholder { color: @form-disabled-color; }


/* Size modifiers
 * Higher specificity needed to override defaults
 ========================================================================== */

select.form-small,
textarea.form-small,
input[type].form-small,
input:not([type]).form-small {
    height: @form-small-height;
    padding: @form-small-padding;
    font-size: @form-small-font-size;
}

select.form-large,
textarea.form-large,
input[type].form-large,
input:not([type]).form-large  {
    height: @form-large-height;
    padding: @form-large-padding;
    font-size: @form-large-font-size;
}


/* Reset height
 * Must be after size modifiers
 ========================================================================== */

.form textarea,
.form select[multiple],
.form select[size] { height: auto; }


/* Validation states
 * Using !important to keep the selector simple
 ========================================================================== */

/*
 * Error state
 */

.form-danger {
    border-color: @form-danger-border !important;
    background: @form-danger-background !important;
    color: @form-danger-color !important;
}
