/*---------- SOCRATIVE PRO TEACHER HEADER ----------*/
.hand-animation {
    .transition(0.3s);

    -webkit-animation: handshake 5s ease-in 2s infinite;
    -moz-animation:    handshake 5s ease-in 2s infinite;
    -o-animation:      handshake 5s ease-in 2s infinite;
    animation:         handshake 5s ease-in 2s infinite;


    @-webkit-keyframes handshake {
        8%    { transform: rotate(8deg); transform-origin: 30% 100%; }
        18%   { transform: rotate(-10deg); transform-origin: 30% 100%; }
        22%   { transform: rotate(0deg); transform-origin: 30% 100%; }
        100%  { transform: rotate(0deg); transform-origin: 30% 100%; }
    }
    @-moz-keyframes handshake {
        8%    { transform: rotate(8deg); transform-origin: 30% 100%; }
        18%   { transform: rotate(-10deg); transform-origin: 30% 100%; }
        22%   { transform: rotate(0deg); transform-origin: 30% 100%; }
        100%  { transform: rotate(0deg); transform-origin: 30% 100%; }
    }
    @-o-keyframes handshake {
        8%    { transform: rotate(8deg); transform-origin: 30% 100%; }
        18%   { transform: rotate(-10deg); transform-origin: 30% 100%; }
        22%   { transform: rotate(0deg); transform-origin: 30% 100%; }
        100%  { transform: rotate(0deg); transform-origin: 30% 100%; }
    }
    @keyframes handshake {
        8%    { transform: rotate(8deg); transform-origin: 30% 100%; }
        18%   { transform: rotate(-10deg); transform-origin: 30% 100%; }
        22%   { transform: rotate(0deg); transform-origin: 30% 100%; }
        100%  { transform: rotate(0deg); transform-origin: 30% 100%; }
    }
}

#header-container,
#student-header-container {
    background-color: @secondaryBlue;
    border-bottom: 1px solid @borderGray;
    height: 68px;
    width: 100%;
    z-index: 6;
    
    @media only screen and (min-width: @breakpoint-medium) {
        height: 133px;
    }
    
    #base-header {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 100%;
        
        .teacher-header-logo {
            cursor: pointer;
            float: left;
            margin-left: 11px;
            margin-top: 12px;
            position: relative;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            z-index: 7;
        }
        
        #header-room-name-container {
            position: absolute;
            text-align: center;
            top: 24px;
            width: 100%;
            z-index: 6;

            &.long-room-name {
                @media only screen and (max-width: @breakpoint-small) {
                    #header-room-name span {
                        font-size: 1em;
                    }
                }

                @media only screen and (max-width: 400px) {
                    #header-room-name span {
                        font-size: 0.8em;
                    }
                }
            }
        }
        
        #header-room-name {
            cursor: pointer;
            display: inline-block;
            position: relative;
            
            &.no-menu {
                cursor: default;
            }
            
            i {
                color: white;
                display: inline-block;
                font-size: 2em;
                position: absolute;
                right: -8px;
                top: 13px;
                z-index: 501;

                &:before {
                    display: block;
                    text-align: left;
                    width: 1em;
                }
            }
            
            .header-animated-wifi-container {
                left: -13px;
                position: absolute;
                top: -10px;
                
                .animated-wifi-symbol {
                    -moz-transform: rotate(-90deg) scale(0.5);
                    -o-transform: rotate(-90deg) scale(0.5);
                    -webkit-transform: rotate(-90deg) scale(0.5);
                    transform: rotate(-90deg) scale(0.5);
                    
                    .animated-wifi-circle {
                        border-color: #ffffff;
                    }
                }
            }
        }
        
        #header-room-name span {
            color: #ffffff;
            font-family: "Roboto Mono";
            font-size: 16px;
            position: relative;
            text-transform: uppercase;
            .unselectable;
        }
        
        .header-down-chevron-large {
            margin-left: 9px;
            margin-bottom: 2px
        }
        
        .header-menu-button {
            cursor: pointer;
            display: block;
            float: right;
            margin-top: 12px;
            padding: 14px;
            position: relative;
            z-index: 6;

            .hand-raised-mobile {
                display: block;
                width: 14px;
                height: 14px;
                background: @orange-500;
                border: 2px solid @secondaryBlue;
                right: 10px;
                top: 6px;
                position: absolute;
                border-radius: 50%;
                z-index: 10;
            }
        }
        
        .header-menu-close {
            margin-right: 4px;
            margin-top: -1px;
        }
        
        #header-user-name-container {
            display: none;
        }
        
        #header-user-name {
            cursor: pointer;
            display: inline-block;
            
            span {
                color: #ffffff;
                font-size: 15px;
                letter-spacing: 0.5px;
                position: relative;
                .unselectable;
            }
            
            .username-chevron {
                margin-bottom: 2px;
                margin-left: 9px;
            }
        }
        
        #account-menu-container,
        #rooms-menu-container,
        #roster-menu-container {
            position: absolute;
            right: 0;
    
            #account-menu,
            #rooms-menu,
            #roster-menu {
                background: white;
                cursor: default;
                height: auto;
                min-width: 13em;
                position: absolute;
                right: -17px;
                top: 5px;
                z-index: 500;
                .transition(all ease 0.75s);
    
                .box-shadow (0 0 8px #888);
    
                i {
                    font-size: 2em;
                    position: absolute;
                    color: white;
                    top: -16px;
                    right: 8px;
                    display: inline-block;
    
                    &:before {
                        text-align: left;
                        display: block;
                        width: 1em;
                    }
                }
                
                li {
                    cursor: pointer;
                    padding: 14px;
                    .unselectable;

                    &.student-handraise {
                        position: relative;

                        &.disabled {
                            display: none;
                        }

                        #handraise-overlay {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            z-index: 100;
                            top: 0;
                            left: 0;
                        }

                        .handraise {
                            position: absolute;
                            top: 4px;
                            right: 10px;
                            &.handraise-off {
                                top: 10px;
                                path {
                                    fill: #CCC;
                                }
                            }

                            &.handraise-on {
                                right: 5px;
                                top: 4px;

                                .hand-animation;

                                path {
                                    fill: #FFA100;
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: #eeeeee;
                    }

                    &.renew-notify {
                        background: @notifyColor;
                        position: relative;
                        padding: 5px 10px 5px 44px;

                        svg {
                            width: 28px;
                            height: 25px;
                            fill: white;
                            position: absolute;
                            top: 10px;
                            left: 10px;
                        }

                        span {
                            font-size: 14px;
                            font-weight: 100;
                        }

                        .date {
                            display: block;
                            font-size: 12px;
                            color: rgba(255, 255, 255, 0.5);
                        }

                        &:hover {
                            background-color: @notifyColorHover;
                            span {
                                color: white;
                                text-shadow: 0px 0 #fff, 0 0px #fff;
                            }
                        }
                    }
                }
            }

            #account-menu {
                width: 200px;
            }
            
            @media only screen and (max-width: @breakpoint-medium) {
                #account-header-menu {
                    width: 33%;
                }
                #account-header-menu {
                    i {
                        right: 6.5%;
                    }
                }
            }
            
            @media only screen and (max-width: @breakpoint-small) {
                #account-header-menu {
                    width: 53%;
                    i {
                        right: 4.5%;
                    }
                }
            }
        }
        
        #rooms-menu-container {
            position: relative;
            right: 1px;
            
            #rooms-menu {
                min-width: 0;
                .transition(none);
                
                li {
                    padding-left: 45px;
                    text-align: left;
                }
            }
        }
        
        #roster-menu-container {
            #roster-menu-no-roster {
                width: 200px;
            }
            
            #roster-menu {
                padding: 16px 0 16px 16px;
                min-width: 275px;
                max-width: 300px;
                
                &.roster-menu-no-roster {
                    padding: 0;
                    min-width: 200px;
                    max-width: 200px;
                }
                
                .clear-room-with-roster,
                .clear-room-no-roster {
                    cursor: pointer;
                    display: block;
                    height: 44px;
                    line-height: 44px;
                    padding-left: 14px;
                    position: relative;
                    text-transform: uppercase;
                    .unselectable;
                }
                
                .clear-room-with-roster {
                    margin-bottom: 11px;
                    padding-left: 2px;
                    text-transform: none;
                    width: 50%;
                }
                
                .clear-room-no-roster:hover {
                    background-color: #eeeeee;
                }
                
                #scrollable-class-list {
                    max-height: 400px;
                    overflow-y: auto;
                    padding-left: 1px;
                }
                
                .roster-class-list-header {
                    margin-bottom: 22px;
                    padding-right: 16px;
                    .unselectable;
                }

                .class-list-text {
                    color: #555555;
                    font-size: 18px;
                    font-weight: 300;
                }
                
                .clear-room-link {
                    font-size: 14px;
                }
                
                .show-ids-row, .handraise-row {
                    padding-bottom: 6px;
                    margin-bottom: 12px;
                    padding-left: 1px;
                }

                .handraise-row {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #e2e2e2;
                }

                #show-student-ids {
                    margin-bottom: 3px;
                }

                label {
                    cursor: pointer;
                    padding-left: 12px;
                    .unselectable;
                }
                
                .header-roster-row {
                    height: 45px;
                    white-space: nowrap;
                    position: relative;
                    
                    .header-logged-in,
                    .header-logged-out-svg {
                        height: 20px;
                        left: -1px;
                        position: relative;
                        top: 11px;
                        width: 20px;
                    }
                    
                    .header-logged-out-path {
                        fill: #cccccc;
                    }
                    
                    .header-student-name-without-id,
                    .header-student-name-with-id {
                        display: inline-block;
                        margin-left: 12px;
                        position: relative;
                        top: -2px;
                    }
                    
                    .header-student-name-without-id {
                        top: 5px;
                    }
                    
                    .header-student-id {
                        color: #bbbbbb;
                        display: block;
                        font-size: 12px;
                        margin-left: 32px;
                        margin-top: -4px;
                    }

                    .student-handraise {
                        position: absolute;
                        right: 10px;
                        top: 0;
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        display: inline-block;
                        z-index: 100;

                        &:hover {
                            background: #eee;
                            z-index: 98;
                            
                            .student-handraise-button {
                                z-index: 100;
                            }
                        }

                        .handraise {
                            position: absolute;
                            z-index: 99;
                            .transition(0.3s);

                            &.handraise-off {
                                width: 100%;
                                height: 100%;
                                padding: 6px 7px;
                                path {
                                    fill: #CCC;
                                }
                            }

                            &.handraise-on {
                                padding: 2px 0px 2px 11px;
                                width: 100%;
                                height: 100%;
                                
                                .hand-animation;

                                path {
                                    fill: #FFA100;
                                }
                            }
                        }

                        .student-handraise-button {
                            position: absolute;
                            z-index: 98;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        
        .student-count-container {
            display: none;
        }
        
        #header-nav {
            bottom: 0;
            display: none;
            position: absolute;
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                
                li {
                    border-bottom: 2px solid transparent;
                    cursor: pointer;
                    display: inline-block;
                    height: 38px;
                    letter-spacing: 0.5px;
                    margin-right: 2px;
                    padding-top: 8px;
                    text-align: center;
                    text-transform: uppercase;
                    .unselectable;
                    width: 100px;
                    
                    span {
                        color: rgba(255,255,255,0.75);
                        font-size: 12px;
                    }
                    
                    &.header-results {
                        position: relative;
                        
                        .results-animated-wifi-container {
                            display: inline-block;
                            height: 0;
                            left: -6px;
                            position: relative;
                            top: -22px;
                            width: 0;
                            
                            .wifi-symbol {
                                -moz-transform: scale(0.5);
                                -o-transform: scale(0.5);
                                -webkit-transform: scale(0.5);
                                transform: scale(0.5);
                                
                                .wifi-circle {
                                    border-color: rgba(255,255,255,0.875);
                                }
                            }
                            
                            .animated-wifi-symbol {
                                -moz-transform: scale(0.5);
                                -o-transform: scale(0.5);
                                -webkit-transform: scale(0.5);
                                transform: scale(0.5);
                                
                                .animated-wifi-circle {
                                    border-color: #ffffff;
                                }
                            }
                        }
                    }
                }
                
                li:hover, li.selected {
                    border-bottom: 2px solid #ffffff;
                    
                    span {
                        color: #ffffff;
                    }
                }
                
                li.selected {
                    span {
                        font-weight: 700;
                    }
                }
                
                li.disabled {
                    border-bottom: 2px solid transparent;
                    cursor: default;
                    
                    span {
                        color: rgba(255,255,255,0.875);
                    }
                }
            }
        }
        
        @media only screen and (min-width: @breakpoint-tablet) {
            .teacher-header-logo {
                margin-left: 33px;
                margin-top: 23px;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
            
            #header-room-name-container {
                top: 33px;
            }
            
            
            
            #header-room-name span {
                font-size: 22px;
                letter-spacing: 0.5px;
            }
            
            .header-down-chevron-large {
                margin-left: 14px;
                margin-bottom: 4px
            }
            
            .header-menu-button {
                display: none;
            }
            
            #header-user-name-container {
                display: block;
                float: right;
                margin-right: 33px;
                margin-top: 33px;
                position: relative;
                z-index: 6;
                
                .pro-badge-icon {
                    left: -38px;
                    position: absolute;
                    top: -4px;
                }
                
                .pro-badge-icon-path {
                    stroke: #ffffff;
                }
            }
            
            #header-nav {
                display: block;
            }
            
            .student-count-container {
                bottom: 10px;
                cursor: pointer;
                display: block;
                margin-right: 33px;
                position: absolute;
                right: 0;
                
                .student-count-number, .hands-raised {
                    background-color: #ffa100;
                    top: -25px;
                    color: #ffffff;
                    display: inline-block;
                    font-size: 12px;
                    height: auto;
                    left: -65px;
                    line-height: 24px;
                    padding: 0 8px;
                    position: absolute;
                    text-align: center;
                    .unselectable;
                    -webkit-border-radius: 16px;
                    -moz-border-radius: 16px;
                    border-radius: 16px;
                    border: 2px solid @secondaryBlue;
                    z-index: 2;
                }

                .hands-raised {
                    left: -100px;
                    border: none;
                    z-index: 1;
                    top: -23px;
                    display: block!important;
                    min-width: 53px;

                    &.two-digits {
                        min-width: 60px;
                        left: -106px;
                    }

                    &.three-digits {
                        min-width: 65px;
                        left: -111px;
                    }

                    .hands-raised-icon {
                        position: absolute;
                        left: 5px;
                        top: 3px;
                    }
                }
                
                .small-count {
                    left: -14px;
                    padding: 0 5px;
                    width: 24px;
                }
                
                .student-count-icon {
                    bottom: 0;
                    display: inline-block;
                    position: absolute;
                    right: 20px;
                    z-index: 1;
                }
                
                .student-count-chevron {
                    margin-bottom: 2px;
                    margin-left: 13px;
                }

                .handraise-icon {
                    position: absolute;
                    top: -32px;
                    right: -9px;
                }
            }
        }
        
        @media only screen and (min-width: @breakpoint-large) {
            #header-room-name span {
                font-size: 24px;
            }
        }
        
        #mobile-teacher-header-menu,
        #mobile-student-header-menu {
            background-color: #ffffff;
            bottom: 0;
            overflow-y: scroll;
            position: fixed;
            right: -100%;
            top: 67px;
            width: 100%;
            z-index: 10;
            
            #mobile-user-menu,
            #mobile-student-menu {
                border-top: 1px solid #dddddd;
                border-bottom: 1px solid #dddddd;
                
                .mobile-header-up-chevron,
                .mobile-header-down-chevron {
                    position: absolute;
                    right: 15px;
                    top: 25px;
                }
                
                .mobile-user-menu-header,
                .mobile-student-menu-header {
                    color: #555555;
                    cursor: pointer;
                    height: 56px;
                    line-height: 56px;
                    margin-left: 15px;
                    position: relative;
                    
                    .mobile-header-icon {
                        position: absolute;
                        top: 15%
                    }
                    
                    .mobile-header-text {
                        color: #555555;
                        margin-left: 44px;
                    }
                    
                    .mobile-go-pro-icon {
                        left: 1px;
                        position: absolute;
                        top: 20px;
                    }
                    
                    .student-count-number, .hands-raised {
                        background-color: #ffa100;
                        bottom: 1px;
                        color: #ffffff;
                        display: inline-block;
                        font-size: 12px;
                        height: auto;
                        left: 11px;
                        line-height: 24px;
                        padding: 0 8px;
                        position: relative;
                        text-align: center;
                        border: 2px solid white;
                        z-index: 2;
                        
                        .unselectable;
                        -webkit-border-radius: 16px;
                        -moz-border-radius: 16px;
                        border-radius: 16px;

                        &.active {
                            margin-left: 70px;
                        }
                    }

                    .hands-raised {
                        border: none;
                        z-index: 1;
                        top: -23px;
                        min-width: 58px;
                        position: absolute;
                        top: 16px;
                        height: 24px;
                        left: 44px;

                        &.two-digits {
                        min-width: 60px;
                        left: 40px;
                        }

                        &.three-digits {
                            min-width: 65px;
                            left: 35px;
                        }

                        .hands-raised-icon {
                            position: absolute;
                            left: 5px;
                            top: 3px;
                        }
                    }
                    
                    .small-count {
                        padding: 0 5px;
                        width: 24px;
                    }
                    
                    .clear-room-link {
                        position: absolute;
                        top: 0;
                        right: 45px;
                    }
                }
                
                .clear-room-with-roster {
                    cursor: pointer;
                    display: block;
                    height: 44px;
                    line-height: 44px;
                    padding-left: 14px;
                    position: relative;
                    text-transform: uppercase;
                    .unselectable;
                }
                
                .clear-room-with-roster {
                    margin-bottom: 1px;
                    padding-left: 19px;
                    text-transform: none;
                    width: 50%;
                }
                
                .mobile-user-menu-item {
                    color: #555555;
                    cursor: pointer;
                    height: 44px;
                    line-height: 44px;
                    margin-left: 15px;
                    position: relative;
                    
                    span {
                        color: #555555;
                    }

                    &.renew-notify {
                        background: @notifyColor;
                        position: relative;
                        padding: 0 0 0 44px;
                        margin-left: 0;

                        svg {
                            width: 28px;
                            height: 25px;
                            fill: white;
                            position: absolute;
                            top: 10px;
                            left: 10px;
                        }

                        span {
                            font-size: 14px;
                            color: white;
                        }

                        .date {
                            display: inline-block;
                            font-size: 12px;
                            padding-left: 7px;
                        }
                    }
                }
                
            }
            
            #mobile-student-menu {
                border-top: none;

                .actions-container {
                    border-bottom: 1px solid #e2e2e2;
                }
                
                .show-ids-row, .handraise-row {
                    margin: 0 16px 6px;
                    padding-bottom: 12px;
                    padding-left: 1px;
                }

                #show-student-ids {
                    margin: 0 0 3px 1px;
                }

                label {
                    color: #555555;
                    cursor: pointer;
                    display: inline-block;
                    padding-left: 12px;
                    margin-top: 10px;
                    .unselectable;
                }
                
                #scrollable-class-list {
                    max-height: 230px;
                    overflow-y: scroll;
                    padding-left: 18px;
                }
                
                .header-roster-row {
                    height: 45px;
                    white-space: nowrap;
                    position: relative;
                    
                    .header-logged-in,
                    .header-logged-out-svg {
                        height: 20px;
                        left: -1px;
                        position: relative;
                        top: 11px;
                        width: 20px;
                    }
                    
                    .header-logged-out-path {
                        fill: #cccccc;
                    }
                    
                    .header-student-name-without-id,
                    .header-student-name-with-id {
                        color: #333333;
                        display: inline-block;
                        margin-left: 12px;
                        position: relative;
                        top: -2px;
                    }
                    
                    .header-student-name-without-id {
                        top: 5px;
                    }
                    
                    .header-student-id {
                        color: #bbbbbb;
                        display: block;
                        font-size: 12px;
                        margin-left: 32px;
                        margin-top: -4px;
                    }

                    .student-handraise {
                        position: absolute;
                        right: 0;
                        top: 0;
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        display: inline-block;

                        .handraise {
                            position: absolute;
                            z-index: 99;

                            &.handraise-off {
                                top: 10px;
                                right: 20px;
                                path {
                                    fill: #CCC;
                                }
                            }

                            &.handraise-on {
                                right: 15px;
                                top: 4px;

                                .hand-animation;

                                path {
                                    fill: #FFA100;
                                }
                            }
                        }

                        .student-handraise-button {
                            position: absolute;
                            z-index: 100;
                            width: 100%;
                            height: 100%;
                            right: 15px;
                        }
                    }
                }
            }
            
            #mobile-nav-menu {
                border-bottom: 1px solid #dddddd;
                
                .mobile-nav-item {
                    cursor: pointer;
                    height: 44px;
                    line-height: 44px;
                    padding-left: 15px;
                    position: relative;
                    
                    .mobile-nav-text {
                        color: #555555;
                        text-transform: uppercase;
                    }
                    
                    .mobile-nav-text-selected {
                        font-weight: 700;
                    }
                    
                    .mobile-nav-chevron {
                        position: absolute;
                        right: 15px;
                        top: 17px;
                    }
                }
                
                #results-mobile-nav-item {
                    position: relative;
                    
                    .mobile-results-animated-wifi-container {
                        display: inline-block;
                        left: -6px;
                        position: relative;
                        top: -4px;
                        
                        .animated-wifi-symbol {
                            -moz-transform: scale(0.5);
                            -o-transform: scale(0.5);
                            -webkit-transform: scale(0.5);
                            transform: scale(0.5);
                            
                            .animated-wifi-circle {
                                border-color: #333333;
                            }
                        }
                    }
                }
            }
        }
        
        @media only screen and (min-width: @breakpoint-large) {
            width: 85%;
        }
    }
}

/*---------- Activity Running Animation ----------*/

.rooms-menu-animated-wifi-container {
    position: relative;
    left: 15px;
    top: 14px;
}

.animated-wifi-symbol {
    float: left;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-transform: rotate(45deg) scale(0.75);
    -o-transform: rotate(45deg) scale(0.75);
    -webkit-transform: rotate(45deg) scale(0.75);
    transform: rotate(45deg) scale(0.75);
}

.animated-wifi-symbol .animated-wifi-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2.85714px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #000000;
    border-style: solid;
    border-width: 1em 1em 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    opacity: 0;
    -o-animation: wifianimation 1.875s infinite;
    -moz-animation: wifianimation 1.875s infinite;
    -webkit-animation: wifianimation 1.875s infinite;
    animation: wifianimation 1.875s infinite;
}

.animated-wifi-symbol .animated-wifi-circle.first {
    -o-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

.animated-wifi-symbol .animated-wifi-circle.second {
    width: 5em;
    height: 5em;
    -o-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.animated-wifi-symbol .animated-wifi-circle.third {
    width: 3em;
    height: 3em;
    -o-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.animated-wifi-symbol .animated-wifi-circle.fourth {
    width: 1em;
    height: 1em;
}

@-o-keyframes wifianimation {
    0% {
      opacity: 0.9;
    }
    5% {
      opactiy: 1;
    }
    6% {
      opactiy: 0.7;
    }
    100% {
      opactiy: 0.7;
    }
}

@-moz-keyframes wifianimation {
    0% {
      opacity: 0.9;
    }
    5% {
      opactiy: 1;
    }
    6% {
      opactiy: 0.7;
    }
    100% {
      opactiy: 0.7;
    }
}

@-webkit-keyframes wifianimation {
    0% {
      opacity: 0.9;
    }
    5% {
      opactiy: 1;
    }
    6% {
      opactiy: 0.7;
    }
    100% {
      opactiy: 0.7;
    }
}

/*---------- Activity Not Running ----------*/

.rooms-menu-wifi-container {
    position: relative;
    left: 15px;
    top: 14px;
}

.wifi-symbol {
    float: left;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-transform: rotate(45deg) scale(0.75);
    -o-transform: rotate(45deg) scale(0.75);
    -webkit-transform: rotate(45deg) scale(0.75);
    transform: rotate(45deg) scale(0.75);
}

.wifi-symbol .wifi-circle {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2.85714px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: rgba(0,0,0,0.25);
    border-style: solid;
    border-width: 1em 1em 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
}

.wifi-symbol .wifi-circle.second {
    width: 5em;
    height: 5em;
}

.wifi-symbol .wifi-circle.third {
    width: 3em;
    height: 3em;
}

.wifi-symbol .wifi-circle.fourth {
    width: 1em;
    height: 1em;
}


/*---------- SOCRATIVE PRO STUDENT HEADER ----------*/

#student-header-container {
    height: 68px;
    margin-top: -68px;
    
    #base-header {
        .student-header-logo {
            float: left;
            margin-left: 11px;
            margin-top: 12px;
            position: relative;
            transform: scale(0.8);
            -webkit-transform: scale(0.8);
            z-index: 2;
        }
        
        #mobile-student-header-items {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            
            .mobile-student-header-item {
                color: #555555;
                cursor: pointer;
                height: 44px;
                line-height: 44px;
                margin-left: 15px;
                position: relative;
                
                &.mobile-student-header-name-row {
                    height: 56px;
                    line-height: 56px;
                    margin-left: 0;
                    padding-left: 15px;
                }
                
                .mobile-header-icon {
                    vertical-align: middle;
                }
                
                .mobile-student-header-name-text {
                    margin-left: 15px;
                }
                
                span {
                    color: #555555;
                }

                .handraise {
                    position: absolute;
                    top: 0;
                    right: 0;

                    &.handraise-off {
                        top: 10px;
                        right: 15px;
                        path {
                            fill: #CCC;
                        }
                    }

                    &.handraise-on {
                        right: 5px;
                        top: 4px;

                        .hand-animation;

                        path {
                            fill: #FFA100;
                        }
                    }
                }
            }
        }
    }
    /* Wide screen view */
    .hand-raised {
        background: @orange-500;
        border-radius: 50%;
        padding: 1px 4px;
        position: absolute!important;
        left: -30px;
        top: -1px;

        svg {
            position: relative;
            top: 2px;
            left: -1px;
        }
    }
    
    @media only screen and (min-width: @breakpoint-medium) {
        height: 92px;
        margin-top: -92px;
        
        #base-header {
            .student-header-logo {
                margin-left: 33px;
                margin-top: 23px;
                transform: scale(1);
                -webkit-transform: scale(1);
            }
        }
    }
}


.transition(...) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}


///////////////////////////////////////////////////////
///////////////// SPACE RACE COLORS ///////////////////
///////////////////////////////////////////////////////

.Blue-team {
    background-color: #276baa;
}
.Magenta-team {
    background-color: #ca2692;
}
.Lime-team {
    background-color: #a2d35d;
}
.Peach-team {
    background-color: #fcbc89;
}
.Violet-team {
    background-color: #7d3990;
}
.Teal-team {
    background-color: #258a8c;
}
.Indigo-team {
    background-color: #5f82c2;
}
.Orange-team {
    background-color: #d76d2c;
}
.Red-team {
    background-color: #b83b24;
}
.Silver-team {
    background-color: #5c646e;
}
.Green-team {
    background-color: #4fa45e;
}
.Rose-team {
    background-color: #ec7c90;
}
.Gold-team {
    background-color: #ba8324;
}
.Maroon-team {
    background-color: #9d3444;
}
.Yellow-team {
    background-color: #fbdb45;
}
.Tan-team {
    background-color: #D2B48C;
}
.Hot.Pink-team {
    background-color: #e602e7;
}
.Sienna-team {
    background-color: #e18942;
}
.Dimgray-team {
    background-color: #c3c3c3;
}
.Crimson-team {
    background-color: #990000;
}
