@baseIconSize: 2em;

.icon(@backgroundColor: transparent) {
    padding: .33em;
    height: @baseIconSize;
    width: @baseIconSize;
    background-color: @backgroundColor;
    border-radius: 50%;
    border: .2em solid white;
    background-repeat: no-repeat;
    
    .boxsizing(border-box);
    background-size: 55%;
    background-position: 50% 45%;
}

.icon-square(@backgroundColor: transparent) {
    .icon;
    border: 0;
    border-radius: 0;
    background-size: 100%;
    background-position: 50%;
}

.space-race-icon {
    .icon-square(darken(@mainGreen, 25%));
    background-size: 100%;
    background-position: 50%;
}

.email-icon-default {
    fill: #8cb4d2;
    height: 22px;
    width: 28px;
}

.download-icon-default {
    fill: #8cb4d2;
    height: 19px;
    width: 14px;
}

.quiz-icon-default {
    fill: #cccccc;
    height: 20px;
    width: 18px;
}

.back-arrow-icon-default {
    fill: #8cb4d2;
    height: 20px;
    width: 22px;
}

.edit-icon-default {
    fill: #8cb4d2;
    height: 24px;
    width: 24px;
}

.empty-folder-icon-default {
    fill: #cccccc;
    height: 79px;
    width: 104px;
}

.folder-icon-default {
    fill: #cccccc;
    height: 20px;
    width: 24px;
}

.folder-icon-current {
    fill: #8cb4d2;
}

.toggle-folder-nav-icon-default {
    fill: #cccccc;
    height: 24px;
    width: 24px;
}

.move-icon-default {
    fill: #cccccc;
    height: 22px;
    width: 24px;
}

.new-folder-icon-default {
    fill: #cccccc;
    height: 23px;
    width: 24px;
}

.restore-icon-default {
    fill: #cccccc;
    height: 25px;
    width: 22px;
}

.right-chevron-default {
    fill: #ff0000;
    height: 20px;
    width: 12px;
}

.right-chevron-thin-default {
    fill: #cccccc;
    height: 12px;
    width: 6px;
}

.down-chevron-icon-default {
    height: 6px;
    width: 10px;
}

.trash-icon-large-default {
    height: 83px;
    width: 76px;
}
