.input-container {
    .input-block {
        border: 1px solid rgba(0, 0, 0, 0); // Invisible border so no shifting occurs when the focus/error border becomes visible.
        position: relative;
        max-width: 100%;
    }
    
    .input-block input:focus,
    .input-block input[type="text"]:focus {
        border: 1px solid #8bb4d3;
        .box-shadow (0 0 0 2px rgba(139, 179, 211, 0.4));
    }
    
    .input-block-error input,
    .input-block-error input:focus,
    .input-block-error input[type="email"],
    .input-block-error input[type="email"]:focus,
    .input-block-error input[type="password"],
    .input-block-error input[type="password"]:focus,
    .input-block-error input[type="text"],
    .input-block-error input[type="text"]:focus {
        border: 1px solid #ce0000;
        .box-shadow (0 0 0 2px rgba(206, 0, 0, 0.4));
    }
    
    .input-error-icon {
        position: absolute;
        top: 12px;
        right: 16px;
    }
}
