// Less file used for the teacher and student login pages
@import "base";
@import "colors";
@import "variables";
@import "utility";
@import "socrative.lib.less";
@import "footer";
@import "buttons";
@import "terms";
@import "input.less";
@import "tooltip.less";
@import "views/teacher-profile";
@import "views/license";
@import "widgets/custom-select";
@import "widgets/help-tooltip";
@import "widgets/dots";
@import "widgets/loader";
@import "views/activate-license";

// message popups
@import "popup-styles";


/* --------------- FONTS ----------------- */
@font-face {
    font-family: "socrative-icon-font";
    src:url("icon-fonts/socrative-icons.eot");
    src:url("icon-fonts/socrative-icons.eot?#iefix") format("embedded-opentype"),
        url("icon-fonts/socrative-icons.woff") format("woff"),
        url("icon-fonts/socrative-icons.ttf") format("truetype"),
        url("icon-fonts/socrative-icons.svg#socrative-icons") format("svg");
    
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "socrative-icon-font" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "socrative-icon-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
