@import "login.less";
@import "login/teacher.less";
@import "login/student.less";

@margin-top:     30px;
@content-margin:  2em;

// this is so that we can use a fixed header and footer
#page-container {

    background: white;
    padding: 0 0 70px; 
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
}


#main-content {
    min-height: 100%;
    // width: 100%;
    text-align: center;

    & .login-logo img {
        margin-bottom: @content-margin;
    }
    
    & .login-logo svg {
        margin: 25px auto;
    }

    .terms-section, .privacy-section {
        font-size: 14px;
        width: 90%;
        margin: 0 auto;
        
        p { 
            text-align: left;
            margin-bottom: 10px;
        }

        ol, ul {
            list-style-type: disc;
            padding-left: 20px;
            text-align: left;
        }
    }
}

.align-center {
    padding-top: @margin-top;
}

// GENERAL TEACHER LOGIN CSS
#center-content {
    
    max-width: 660px;
//    padding: 2em 15px;

    .title {
        padding-top: 0;
        text-align: center;
    }

    .align-center {
        padding-top: 20px;
            
        & button {
            min-width: 200px;
        }
    }


    & input {
        width: 100%;
        font-size: 17px;
    }
    
    &.dual-login {
        padding-bottom: 61px;
    }

}

#join-room-container,
#student-login-container, 
#teacherLoginForm {
    float: left;
    width: 300px !important;

    background-color: @lightBlue;
    #action-button-container {
        padding-top: 32px;
    }
    #action-button-container button {
        font-size: 12px;
    }

    &.forgot-password {
        float: none;
        width: inherit;
        min-width: 315px;
        margin: 0 auto;
    }
    &.reset-password {
        float: none;
        width: inherit;
        max-width: 315px;
        margin: 0 auto;
    }
    
    #resetPwdButton,
    #submitNewPassword {
        width: 100%;
    }
    
    @media screen and (min-width: @breakpoint-phone-medium) {
        width: 355px !important;
    }
    
    @media screen and (min-width: @breakpoint-phone-large) {
        width: 405px !important;
    }
    
    @media screen and (min-width: @breakpoint-tablet) {
        width: 300px !important; // Decrease the width for tablet and higher to accommodate the dual login page.
    }
}

#teacherLoginForm {
    margin-left: 20px;
}

@media screen and (max-width: @breakpoint-small-max) {
    #join-room-container,
    #student-login-container, 
    #teacherLoginForm,
    #center-content {
        .align-center;
        float: none;
        border: none;
        width: inherit;
    }
    
    #join-room-container,
    #student-login-container {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: @breakpoint-small) {
    #center-content {
        max-width: 750px;
    }
    
    #student-login-container #student-login input {
        width: 100%;
    }
    
    #join-room-container #student-login input {
        width: 100%;
    }
}
