@import "base.less";
@import "variables.less";
@import "utility.less";
@import "form.less";

@import "colors.less";
@import "bootstrapfix.less";
@import "socrative.lib.less";
@import "widgets.less";
@import "icons.less";
@import "components/title-tooltip";
@import "widgets/dots";
@import "widgets/loader";
@import "widgets/banner";
@import "widgets/renewal-notify";
@import "footer.less";
@import "buttons.less";
@import "input.less";
@import "tooltip.less";

body, html {
	min-height:100%; 
	padding:0; 
	margin:0;
	font-family: @base-body-font-family;
}

a {
	color: lighten(@mainBlue, 25%);
}

p, span, button {
	font-weight: 400;
	color: @base-body-color;

	& em {
		font-style: italic;
	}

	& strong, b {
		font-weight: 700;
	}
}

.underline {
	text-decoration: underline;
}

.grid {
	width: 100%;
	padding: 0 2%;
}
.main-padding {
	padding: 2% 0;
}


#page-container {
	background: white;
	min-height: 100%;
	margin-bottom: -70px;
	width: 100%;

	&.mobile-menu-active {
		position: fixed;
		z-index: 1;
	}

	&.space-race {
		background: #262628;
	}
}

#page-container:after {
	content: "";
  	display: block;
  	height: 70px;
}

#student-page-container {
	background: white;
	padding: 68px 0 70px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
    
    @media only screen and (min-width: @breakpoint-medium) {
        padding: 92px 0 70px;
    }
}

#header-container {
	height: 110px;
}

#main-content {
	min-height: 100%;
	.grid;
    padding: 0;
}

/* --------------- fonts ----------------- */
@font-face {
	font-family: "socrative-icon-font";
	src:url("icon-fonts/socrative-icons.eot");
    src:url("icon-fonts/socrative-icons.eot?#iefix") format("embedded-opentype"),
        url("icon-fonts/socrative-icons.woff") format("woff"),
        url("icon-fonts/socrative-icons.ttf") format("truetype"),
        url("icon-fonts/socrative-icons.svg#socrative-icons") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "socrative-icon-font" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "socrative-icon-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
