// Name:            Modal
// Description:     Defines styles for modal dialogs
//
// Component:       `modal`
//
// Sub-objects:     `modal-dialog`
//                  `modal-close`
//                  `modal-header`
//                  `modal-footer`
//                  `modal-caption`
//                  `modal-spinner`
//
// Modifiers:       `modal-dialog-lightbox`
//                  `modal-dialog-large`
//
// States:          `open`
//
// Uses:            Close: `close`
//
// Markup:
//
// <!-- modal -->
// <a href="#modal" data-modal=""></a>
// <div id="modal" class="modal">
//     <div class="modal-dialog">
//         <a href="" class="modal-close close"></a>
//         <p></p>
//     </div>
// </div>
//
// ========================================================================


// Variables
// ========================================================================

@modal-z-index:                                 1010;
@modal-background:                              rgba(239,239,239,0.5);

@modal-dialog-margin-vertical:                  60px;
@modal-dialog-padding:                          10px;
@modal-dialog-width:                            400px;
@modal-dialog-min-height:                       100px;
@modal-dialog-background:                       #fff;

@modal-dialog-large-width:                      400px;
@modal-dialog-large-width-large:                600px;

@modal-header-margin-bottom:                    20px;
@modal-header-font-size:                        24px;
@modal-header-line-height:                      30px;
@modal-header-cancel-font-size:                 19px;

@modal-footer-margin-top:                       15px;

@modal-caption-margin-bottom:                   -10px;
@modal-caption-color:                           #fff;

// Confirm modal vars
@confirm-cancel-button-padding:                 0 30px;

/* ========================================================================
   Component: Modal
 ========================================================================== */

/*
 * This is the modal overlay and modal dialog container
 * 1. Hide by default
 * 2. Set fixed position
 * 3. Allow scrolling for the modal dialog
 * 4. Mask the background page
 * 5. Fade-in transition
 */

.modal {
    /* 1 */
    display: none;
    /* 2 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @modal-z-index;
    /* 3 */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* 4 */
    background: @modal-background;
    /* 5 */
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

/*
 * Open state
 */

.modal.open { 
    opacity: 1; 
    display: block; 

    &.wide-popup {
        overflow: hidden;
    }
}


/* Sub-object: `modal-dialog`
 ========================================================================== */

/*
 * 1. Create position context for caption, spinner and close button
 * 2. Set box sizing
 * 3. Min-height needed for initial loading and spinner
 * 4. Set style
 * 5. Slide-in transition
 */

.modal-dialog {
    border-radius: 3px;
    box-shadow: 0 0 8px #888888;
    /* 1 */
    position: relative;
    /* 2 */
    .boxsizing(border-box);
    margin: @modal-dialog-margin-vertical auto;
    padding: @modal-dialog-padding;
    width: @modal-dialog-width;
    max-width: 90%;
    max-width: ~"calc(100% - 20px)";
    /* 3 */
    min-height: @modal-dialog-min-height;
    /* 4 */
    background: @modal-dialog-background;
    /* 5 */
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s ease-out;
    transition: opacity 0.3s linear, transform 0.3s ease-out;

    text-align: center;
    
    &.wide-popup {
        width: 90%;
        max-height: 80%;
        position: relative;
        height: 80%;
        /*min-height: 580px;*/
        /* Tablet and bigger */
        min-height: 80%;
            padding-bottom: 50px;

        #pop-up-message {
            overflow-y: scroll;
            height: 85%;
        }

        .modal-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            border-top: 1px solid #ddd;
            padding: 20px;
            box-sizing: border-box;
            width: 100%;
            background: white;
        }
    }

    &.intermediate-popup {
        min-width: 850px;

        @media (max-width: @breakpoint-large) {
            min-width: 700px;
        }

        @media (max-width: @breakpoint-medium) {
            min-width: auto;
        }
    }

    #confirm-ok-button {
        text-transform: uppercase;
    }

    #confirm-close-button {
        display: none;
        text-transform: uppercase;
        margin-top: 5px;
        text-decoration: underline;
        float: right;
    }
    
    .cancel-button {
        padding: 5px;
        position: absolute;
        top: -2px;
        right: -4px;
        color: #ddd;
        font-size: @modal-header-cancel-font-size;
        line-height: @modal-header-cancel-font-size;

        &:hover {
            color: darken(#ddd, 15%);
        }
    }
}

#pop-up-box {
    color: #777777;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 23px 24px 24px;
    text-align: left;
    width: 436px;
    
    .modal-header {
        position: relative;
    }
    
    .yes-button {
        margin-right: 10px;
    }
    
    .no-button {
        background-color: #ffffff;
        color: #ffa100;
    }
    
    .no-button:hover {
        background-color: #CB7E00;
        border: 1px solid #CB7E00;
        color: white;
    }
    
    .cancel-button {
        color: #cbcbcb;
        font-size: 24px;
    }
    
    .modal-footer {
        margin-top: 21px;
        button {
            /*margin-right: 10px;*/
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

/* Phone landscape and smaller */
@media (max-width: @breakpoint-small-max) {

    /*
     * Fit in small screen
     */

    .modal-dialog {
        width: auto;
        margin: 10px auto;
    }

}

/*
 * Open state
 */

.open .modal-dialog {
    /* 4 */
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);

    z-index: 2000;
}

/*
 * Remove margin from the last-child
 */

.modal-dialog > :not([class*='modal-']):last-child { margin-bottom: 0; }


/* Close in modal
 ========================================================================== */

.modal-dialog > .close:first-child {
    margin: -10px -10px 0 0;
    float: right;
}

/*
 * Remove margin from adjacent element
 */

 .modal-dialog > .close:first-child + *:not([class*='modal-']) { margin-top: 0; }


/* Sub-Object: `modal-header`
 ========================================================================== */

.modal-header {
    margin-top: 0;
    margin-bottom: @modal-header-margin-bottom;
    font-size: @modal-header-font-size;
    line-height: @modal-header-line-height;

    .popup-title {
        color: #666666;
        font-size: 24px;
        font-weight: 300;

        @media only screen and (max-width: @breakpoint-small-max) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    i.close-popup {
        display: inline-block;                    
        &:before {
            text-align: left;
            display: block;
            width: 1em;
        }
    }
}


/* Sub-Object: `modal-footer`
 ========================================================================== */

.modal-footer {
    margin-top: @modal-footer-margin-top;
    text-align: left;
}

/* Sub-Object: `modal-content`
 ========================================================================== */

#pop-up-message {
    h1 {
        font-size: 1.5em;
        text-align: left;
        padding-bottom: 1.1em;
        margin: 0;
    }
}
