
.question-number(@color, @sizeW, @sizeH, @borderColor) {
	display: block;
	background-color: @color;
	text-align: center;
	border: 2px solid @borderColor;

	& h1 {
		font-size: 1em;
		line-height: 2.4em;
		font-weight: 600;
	}
}

