#terms-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
}

#terms-box {
    height: 650px;
    padding: 32px 32px 93px 32px;
    text-align: left;
    width: 90%;
    
    &.modal-dialog {
        margin: 36px auto;
        
        .cancel-button {
            right: 15px;
            top: 15px;
        }
        
        .modal-header {
            margin-bottom: 33px;
        }
        
        #terms-content-container {
            height: 85%;
            overflow-y: scroll;
        }
        
        .modal-footer {
            border-top: 1px solid #cccccc;
            left: 0;
            margin-top: 0;
            padding: 16px;
            position: absolute;
            width: 100%;
            
            .action-button-200 {
                width: 100px;
            }
            
            .terms-cancel-button {
                margin-left: 32px;
            }
            
            @media only screen and (min-width: @breakpoint-medium) {
                padding: 32px;
                
                .action-button-200 {
                    width: 200px;
                }
            }
        }
    }
}

@media only screen and (min-width: @breakpoint-medium) {
    #terms-box {
        width: 700px;
    }
}
