.tooltip-container-above {
    bottom: 51px;
    position: absolute;
    right: 0;
}

.tooltip-container-below {
    position: absolute;
    right: 0;
    top: 51px;
}

@media only screen and (max-width: @breakpoint-medium) {
    
    .tooltip-container-above,
    .tooltip-container-below {
        max-width: 300px;
    }
}

.tooltip {
    background-color: #ffffff;
    border: solid 1px #ce0000;
    max-width: 425px;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    position: relative;
    z-index: 999;
}

.tooltip-title {
    width: 350px;
    border-top: 2px solid #ce0000;
}

.tooltip-title-text {
    vertical-align: top;
    margin-left: 8px;
    font-weight: bold;
    color: #ce0000;
}

.triangle-left-above,
.triangle-right-above {
    background-color: #ffffff;
    bottom: -8px;
    height: 18px;
    position: absolute;
    width: 18px;
    z-index: 2;
}

.triangle-left-above {
    border-left: solid 1px #ce0000;
    right: 14px;
    transform: rotate(-127deg);
    -webkit-transform: rotate(-127deg);
}

.triangle-right-above {
    border-right: solid 1px #ce0000;
    right: 18px;
    transform: rotate(127deg);
    -webkit-transform: rotate(127deg);
}

.triangle-left-below,
.triangle-right-below {
    background-color: #ffffff;
    height: 18px;
    position: absolute;
    width: 18px;
    top: -8px;
    z-index: 2;
}

.triangle-left-below {
    border-left: solid 1px #ce0000;
    right: 18px;
    transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
}

.triangle-right-below {
    border-right: solid 1px #ce0000;
    right: 14px;
    transform: rotate(-53deg);
    -webkit-transform: rotate(-53deg);
}

.tooltip-text {
    color: #ce0000;
    z-index: 3;
}
