// Name:            Utility
// Description:     Collection of useful utility classes to style your content
//
// Component:       `container-*`
//                  `clearfix`
//                  `nbfc-*`
//                  `float-*`
//                  `align-*`
//                  `vertical-align-*`
//                  `height-*`
//                  `responsive-*`
//                  `margin-*`
//                  `border-*`
//                  `heading-*`
//                  `link-*`
//                  `scrollable-*`
//                  `overflow-container`
//                  `position-*`
//                  `display-*`
//                  `visible-*`
//                  `hidden-*`
//                  `invisible`
//
// ========================================================================


// Variables
// ========================================================================

@utility-align-horizontal:                      0;
@utility-align-vertical:                        0;

@utility-height-viewport-min-height:            600px;

@utility-margin:                                0;
@utility-margin-small:                          0;
@utility-margin-large:                          0;

@utility-border-rounded:                        5px;

@utility-heading-large-font-size:               52px;
@utility-heading-large-line-height:             64px;

@utility-link-muted-color:                      #444;
@utility-link-muted-hover-color:                #444;

@utility-scrollable-text-height:                300px;

@utility-scrollable-box-height:                 170px;
@utility-scrollable-box-padding:                10px;
@utility-scrollable-box-border:                 #ddd;
@utility-scrollable-box-border-width:           1px;


/* ========================================================================
   Component: Utility
 ========================================================================== */

/* Clearing
 ========================================================================== */

/*
 * Micro clearfix
* `table-cell` is used with `:before` because `table` creates a 1px gap when it becomes a flex item, only in Webkit
 * `table` is used again with `:after` because `clear` only works with block elements.
 * Note: `display: block` with `overflow: hidden` is currently not working in the latest Safari
 */

.clearfix {
    
    &:before {
        content: "";
        display: table-cell;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* Box sizing border-box
=============================================*/
.boxsizing(@type) {
    -webkit-box-sizing: @type; /* Android ≤ 2.3, iOS ≤ 4 */
       -moz-box-sizing: @type; /* Firefox ≤ 28 */
            box-sizing: @type; /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}


/* Alignment of block elements
 ========================================================================== */

/*
 * Float blocks
 * 1. Prevent content overflow on small devices
 */

.float-left { float: left; }
.float-right { float: right; }

/* 1 */
[class*='float-'] { max-width: 100%; }


/* Alignment of images and objects
 ========================================================================== */

/*
 * Alignment
 */

[class*='align-'] {
    display: block;
    margin-bottom: @utility-align-vertical;
}

.align-left {
    margin-right: @utility-align-horizontal;
    float: left;
}

.align-right {
    margin-left: @utility-align-horizontal;
    float: right;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}


/* Vertical alignment
 ========================================================================== */

/*
 * Remove whitespace between child elements when using `inline-block`
 */

.vertical-align { font-size: 0.001px; }

/*
 *  The `vertical-align` container needs a specific height
 */

.vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*
 * Sub-object which can have any height
 * 1. Reset whitespace hack
 */

.vertical-align-middle,
.vertical-align-bottom {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    /* 1 */
    font-size: 1rem;
}

.vertical-align-middle { vertical-align: middle; }
.vertical-align-bottom { vertical-align: bottom; }


/* Height
 ========================================================================== */

/*
 * More robust if padding and border are used
 */

[class*='height'] {
    .boxsizing(border-box);
}


/* Margin
 ========================================================================== */

/*
 * Create a block with the same margin of a paragraph
 * Add margin if adjacent element
 */

.margin { margin-bottom: @utility-margin; }
* + .margin { margin-top: @utility-margin; }

.margin-top { margin-top: @utility-margin !important; }
.margin-bottom { margin-bottom: @utility-margin !important; }
.margin-left { margin-left: @utility-margin !important; }
.margin-right { margin-right: @utility-margin !important; }

/* Remove from the flow and screen readers on any device */
.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* Text
 ========================================================================== */
.text-center {
    text-align: center;
}
