// Global variables
// ========================================================================

//
// Breakpoints
//
@breakpoint-xsmall:                             320px;
@breakpoint-small:                              480px;
@breakpoint-medium:                             768px;
@breakpoint-large:                              960px;
@breakpoint-xlarge:                             1220px;

@breakpoint-phone-small:  320px;
@breakpoint-phone-small-landscape: 568px;
@breakpoint-phone-medium: 375px;
@breakpoint-phone-large:  414px;
@breakpoint-tablet:       768px;
@breakpoint-desktop-small: 1004px;
@breakpoint-desktop-medium: 1260px;
@breakpoint-desktop-large: 1346px;

@breakpoint-mini-max:                           (@breakpoint-small - 1);
@breakpoint-small-max:                          (@breakpoint-medium - 1);
@breakpoint-medium-max:                         (@breakpoint-large - 1);
@breakpoint-large-max:                          (@breakpoint-xlarge - 1);
