/* Add students popup */

.add-students-container {

	.loader-container {
		margin: 100px auto;
	}
}

.add-students-form {
	padding: 1em 0;

	.input-container {
		max-width: 150px;
		display: inline-block;
		margin-right: 1em;
	}

	.button-container {
		display: inline-block;
	}
}

.add-students-list-container {
	.students-header {
		text-align: left;
		margin-bottom: 5px;
		position: relative;
		span {
			text-align: left;
			text-transform: uppercase;
			font-size: 0.85em;
			color: #666;

			display: inline-block;
			width: 180px;
			&:first-child {
				margin-left: 63px;
			}
			&.remove-header {
				position: absolute;
				top: 0;
				right: 0;
				width: auto;
			}
		}

		&.just-one {
			span {
				&:first-child {
					margin-left: 10px;
				}
			}
		}

		@media only screen and (max-width: @breakpoint-large) {

			span {
				width: 173px;
			}

		}

		@media only screen and (max-width: @breakpoint-medium) {
			display: none;
		}
	}
	.add-student {
		padding-bottom: 15px;

		.student-index {
			    background: #ccc;
			    border-radius: 17px;
			    padding: 6px;
			    font-size: 1em;
			    color: white;
			    display: inline-block;
			    min-width: 32px;
			    /*float: left;*/
			    /*margin: 6px 0 0 20px;*/
			    text-align: center;
			    position: relative;
			    top: 2px;
			    margin-right: 20px;

			    @media only screen and (max-width: @breakpoint-medium) {
			    	margin: 0 0 5px 0;
			    }
		}

		.input-container {
			margin-left: 10px;
			max-width: 170px;
		}

		@media only screen and (max-width: @breakpoint-large) {
	        input {
	        	width: 160px;
	        }
	    }

		@media only screen and (max-width: @breakpoint-small-max) {
	        position: relative;

	        .input-container {
				margin: 0;
				display: block;
				padding-top: 5px;
				width: 100%;
				max-width: 100%;
			}

	        input {
	        	width: 100%;
	        }
	    }
	}
}

.max-students-info {
	font-style: italic;
	padding-bottom: 20px;
	display: block;
}

.add-students-buttons {
	padding-top: 1em;

	.add-another-student {
		color: #333;
		text-transform: uppercase;
		text-decoration: none;
		height: 44px;
    	padding: 0 10px;

		&:hover {
			background: #eee;
		}

		span {
			position: relative;
			top: 3px;
		}

		svg {
			width: 24px;
			height: 25px;
			position: relative;
			top: 9px;
			margin-right: 10px;

		}
	}

	.button-secondary-common {
		margin-left: 10px;
	}
}

.remove-new-student-container {
	padding: 13px; 

	.remove-new-student {
	    fill: #8CB4D2;
	    width: 19px;
	    height: 19px;
	}

	@media only screen and (max-width: @breakpoint-small-max) {
    	position: absolute;
    	top: -5px;
    	right: -10px;
    	margin-right: 0;
    }

	&:hover {
    	cursor: pointer;
    	background: #eee;
    }
}

#modal-wrapper {
	&.full-height {
		.add-students-list-container {
			padding: 100px 0 80px;
			.modal-footer {
				padding: 18px;
			}
		}
	}

	.add-students-list-container {
		.modal-footer {
			padding-top: 24px;
			padding-bottom: 24px;
		}
	}
}

.add-students-list-container {
	@media only screen and (max-width: @breakpoint-small) {
		button {
			min-width: auto;
			padding: 0 12px;
		}
	}
}