


.students-in-room-message {
    position: relative;
    width: 100%;

    background: rgb(174, 203, 225);
    padding: 15px 10px 10px 60px;

    > * {
        color: white;
        font-size: 14px;
    }

    > strong {
        font-weight: 600; 
    }

    .students-in-room-icon {
        position: absolute;
        top: 22px;
        left: 24px;
        font-size: 24px;
    }

    @media only screen and (max-width: @breakpoint-medium) { 
        padding: 15px 10px 10px 50px;

        .students-in-room-icon {
            left: 16px;
        }
    }
}


#modal-content .students-in-room-message {

    left: -24px;
    width: calc(~"100% + 48px");

    @media only screen and (max-width: @breakpoint-medium) {
        left: -16px;
        width: calc(~"100% + 32px");
    }
}

