
// the import popup CSS
.import-roster-buttons {
    padding-bottom: 24px;
    @media only screen and (max-width: @breakpoint-medium) {
        padding-bottom: 16px;
    }

    .loader-container {
        margin: 106px auto;
    }
}

.import-roster-label {
    margin: 20px 0 10px;
    text-align: left;
    font-size: 16px;
    color: #848484;
}
    
.import-roster-by-file {
    
    text-align: left;

    .input-container {
        width: 50%;

        // the label for the file input should have the same styling
        // as the blue button
        label {
        	.button;
        	.button-secondary;
        	.button-large;

        	cursor: pointer;
        }

        .input-block {
            display: none;
        }
    }

    .import-roster-link {
        display: inline-block;
        width: 50%;
        text-align: right;
        vertical-align: middle;

        a {
          color: @blue-500;
        }
    }

    .upload-error-message {
        margin-bottom: 10px;
        display: inline-block;
    }
}

.import-roster-progress {
    
    margin: 0 0 10px;

    .progress-bar {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
      
        background-color: #ccc;
        border-radius: 6px; /* (height of inner div) / 2 + padding */
        padding: 0;
        
        .progress {

            background-color: @darkBlue;
            width: 0%; /* Adjust with JavaScript */
            height: 8px;
            border-radius: 3px;
        }
    }

    .button-container {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .upload-error {

        text-align: left;
        line-height: 25px;
        margin-bottom: 10px;

        i {
            color: @mainDarkRed;
            font-size: 24px;
            padding-right: 6px;
            vertical-align: middle;
            font-weight: bold;
        }

        span {
            font-size: 14px;
            font-weight: bold;
            color: @mainDarkRed;
        }
    }

}
