// the green notification for success actions
.notify {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 65px;
	color: white;
	background: #A0CC6E;
	opacity: 0.9;
	z-index: 1000000;
	font-size: 1.2em;

	.notify-content {
		position: relative;
		left: 30px;
		top: 15px;
	}

	.icon {
		font-size: 1.5em;
		position: relative;
		left: 25px;
		top: 20px;
		margin-right: 10px;
		display: inline-block;
	}

	@media only screen and (max-width: @breakpoint-medium) {
        .notify-content {
			left: 13px;
		}

		.icon {
			left: 13px;
		}
    }
}
