// the red band that appears on popups with errors
.modal-errors-container {
	position: fixed;
    width: 100%;
    color: white;
    background: #E72119;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: left;
    opacity: 0.9;
    z-index: 10000;

    span {
    	color: white;
    }

    i {
    	position: relative;
    	font-size: 1.5em;
    	margin-right: 15px;
    	top: 5px;
    }
}