// the popup to go preimum
.migrate-to-premium {
	.go-pro-icon-container {
		text-align: center;
		padding-bottom: 45px;

		@media only screen and (max-width: @breakpoint-medium) {
			padding-bottom: 20px;
		}
	}
	.premium-popup-content {
		margin-bottom: 10px;
	}
	.col {
		color: #555555;
		span.pro-badge-icon {
			margin-top: 225px;
			display: inline-block;
			@media only screen and (max-width: @breakpoint-medium) {
				margin-top: 0;
			}
		}
		
		width: 50%;
		float: left;
		
		padding: 10px 0;

		p {
			padding-top: 20px;
			font-family: 'Open Sans',Arial,sans-serif;
			font-size: 16px;
			line-height: 1.4em;
			span {
				display: block;
			}
		}

		li {
			padding: 10px 15px 10px 40px;

			i {
				color: #f89e1b;
				display: inline-block;
				font-size: 1em;
				margin-right: 10px;
				position: relative;
				top: 1px;
			}
		}
	}
    
    .no-go-pro-button {
        margin-bottom: 78px;
    }
    
	.btn-container {
		text-align: center;
		padding: 50px 0 20px;

		.premium-pill-button {
			background: none;
			border: 2px solid #444;
			color: #444;
			fill: #444;
			text-transform: uppercase;
			text-align: center;
			min-width: 200px;
			height: 47px;
            outline: none;
			border-radius: 100px;
			margin: 20px 0 35px 0;

			&:hover {
				cursor: pointer;
				background: #444;
				fill: #fff;
			}
		}
	}

	@media only screen and (max-width: @breakpoint-medium) {
		.col {
			width: 100%;
			border-left: 0;
			p {
				padding: 20px 0;
			}
		}
	}
}



#modal-wrapper {
	&.full-height {
		.go-pro-modal {
			.modal-header {
				border: none;
				min-height: 70px;
			}
			.migrate-to-premium {
				padding: 70px 0 100px;

				&.no-go-pro-button {
					padding-bottom: 0;
				}
			}

			.premium-pill-button {
				margin: 4px 0 6px 0;
			}
		}
	}
}