

// the css for the a room row
.room-entry {

    position: relative;
    border-bottom: 1px solid #ddd;

    input {
        max-width: 180px
    }

    .clearfix();

    .disabled {
        opacity: 1;
        color: @disabled;
        
        &:hover {
            color: @disabled;
        }
    }

    .add-students-container {
        position: absolute;
        right: 8em;
        top: 3.5em;
        background: white;
        border: 1px solid #ddd;
        z-index: 1;
        min-width: 16em;

        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.19);;

        li {
            padding: 10px 20px;

            &:hover {
                background: #ddd;
                cursor: pointer;
            }
        }
    }

    /**
     * Default Room CSS
     */
    &.default-room {
        // make the checkbox for the default room look disable
        input[type="checkbox"] {
            background-color: #ddd;
            border-color: #ddd;
        }

        .room-name-column {
            position: relative;
        }

        .edit-room-name-container {
            position: absolute;
            top: 4px;
            right: -24px;
        }

    }

    .default-room-container {
        position: relative;
        .room-name {
            float: none;
            padding: 6px 0 0;
        }

        .default-room-info {
            display: block;
            margin-right: -100px; // Don't affect the edit icon position.
            white-space: nowrap;
            line-height: 14px;
            width: 100%;
            color: rgba(85, 85, 85, 0.5);
        }
    }

    .edit-room-btns-container {
        float: right;
        margin-top: 3px;

        .mobile-save-button, .mobile-cancel-button {
            cursor: pointer;
            margin-top: 8px;
        }

        .mobile-save-button {
            margin-right: 5px;
        }
    }

    .room-name {
        border: none;
        display: inline-block;
        overflow: hidden;
        padding: 12px 0;
        float: left;
        margin-right: 12px;
        color: @blue-500;
        text-decoration: underline;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 300;
        font-size: 1.1em;
        text-transform: uppercase;

        &.edit-room-name {
            color: #333;
            text-decoration: none;
            
            border: 1px solid #ddd;
            padding: 0 14px;
            &:hover {
                cursor: text;
            }
        }


        &:disabled {
            background: transparent;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
        }

        @media only screen and (max-width: @breakpoint-small) {
            width: 120px;
            margin-right: 5px;
        }

        @media only screen and (max-width: 400px) {
            width: 85px;
            margin-right: 5px;
        }
    }

    // room name editing
    .desktop-cancel-button {
        .button;
        .button-secondary-common;
        .button-large;
    }

    .desktop-save-button {
        .button;
        .button-secondary;
        .button-large;

        margin-right: 10px;
    }

    .mobile-save-button,
    .mobile-cancel-button {
        .button;
        display: none;
        min-width: 0;
        background: transparent;
    }

    .more-actions-button {
        display: none;

        position: relative;
        float: right;
        
        width: 62px;
        height: 62px;
        text-align: center;
        cursor: pointer;
        padding-top: 7px;

        &:hover {
            cursor: pointer;
            background: #eee;
        }

        .more-actions-button-icon {
            height: 15px;
            margin-top: 6px;
        }

        .more-actions-button-text {
            font-size: 11px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    .more-actions-container {
        .add-students-container;
        
        display: none;
        top: -14px;
        right: 4em;
        text-align: left;

        .more-actions-container-icon {
            
            .rotate(90deg);
            .text-shadow(0 -2px 3px rgba(0, 0, 0, 0.19));

            display: inline-block;
            position: absolute;
            right: -13px;
            top: 24px;

            font-size: 24px;
            color: white;
        }

        .delete-room {
            text-align: left;
            margin-right: 9px;
            top: 6px;
            left: -3px;

            &.disabled {
                color: @disabled;
            }
        }

        .tooltip-container-above {
            right: -61px;

            .triangle-left-above {
                left: 89px;
            }

            .triangle-right-above {
                left: 85px;
            }
        }

        .in-room-mobile-checkbox {
            margin-right: 15px;
        }

    }

    .student-more-actions-container {
        .more-actions-container();
        
        display: block;
        top: -12px;

        .student-action {
            margin-right: 10px;
        }

    }


    &.current-room {
        span.room-name {
            color: #555;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                cursor: default;
            }
        }
    }

    .activity-status-column {
        line-height: 42px;
    }

    .activity-status {
        width: 20px;
        height: 20px;
        display: inline-block;
        position: relative;
        top: 6px;
    }

    .in-menu-checkbox {
        width: 10%;
        text-align: left;
        display: inline-block;
        float: left;
        padding: 9px 0;

        input {
            margin: 12px auto;
        }
    }

    .activity-status-column,
    .in-room-column {
        float: left;
        display: inline-block;
        width: 10%;
        padding: 9px 0;
    }

    .edit-room-name-container {
        position: relative;

        .tooltip-container-above {
            bottom: 32px;
            right: -20px;

            @media only screen and (max-width: @breakpoint-medium) {
                right: -136px;

                .triangle-left-above {
                    left: 149px;
                }

                .triangle-right-above {
                    left: 145px;
                }
            }
        }
    }

    .action-icon-button {
        color: @blue-500;
        font-size: 1.7em;
        position: relative;
        top: 10px;

        .transition(0.3s);

        &:hover {
            cursor: pointer;
            color: darken(@blue-500, 10%);
        }

        &.disabled {
            color: @disabled;
            cursor: default;
        }
    }

    .right-buttons {
        height: 62px;
        min-width: 124px;

        .roster-action-button,
        .delete-button-container,
        .share-button-container {
            padding: 9px 0;
            height: 62px;
        }
    }

    .share-button-container {
        display: inline-block;
        min-width: 62px;
        margin: 0 25px;
        text-align: center;
        float: left;

        fill: #8CB4D2;

        &:hover {
            cursor: pointer;
            background: #eee;
        }

        svg {
            position: relative;
            top: 11px;
        }
    }

    .share-button-container-mobile {
        fill: #8CB4D2;

        svg {
            position: relative;
            top: 6px;
            margin-right: 12px;
        }
    }

    .delete-button-container {
        display: inline-block;
        min-width: 62px;
        margin: 0 25px;
        text-align: center;
        float: right;    

        .tooltip-container-above {
            bottom: 58px;
            right: 29px;
            text-align: left;

            @media only screen and (max-width: @breakpoint-medium) {
                right: 0px;
            }
        }

        &.disabled {

            .delete-room {
                color: @disabled;
                cursor: default;
            }
        }

        &:not(.disabled):hover {
            cursor: pointer;
            background: #eee;
        }
    }

    .roster-action-button {
        position: relative;

        display: inline-block;
        min-width: 62px;
        margin: 0 25px;

        /*for the svg*/
        fill: #8CB4D2;

        text-align: center;
        .transition(0.3s);
    
        &:not(.disabled):hover {
            cursor: pointer;
            background: #eee;

            .in-roster-students {
                border: 2px solid #eee;
            }
        }

        &.mobile:not(.disabled):hover {
            background: transparent;
            .in-roster-students {
                border: 2px solid white;
            }
        }

        &.mobile:not(.disabled):active {
            background: #eee;
            .in-roster-students {
                border: 2px solid #eee;
            }
        }

        &.disabled {
            .add-roster-icon,
            .in-edit-icon > g {
                fill: @disabled;
            }

            .in-roster-students { 
                background: @disabled;
            }
        }

        .add-roster-icon {
            margin-top: 6px;
        }

        .in-edit-icon {
            font-size: 1.5em;
            
            position: absolute;
            right: 8px;
            bottom: 20px;

            > g {
                fill: #8cb4d2;
            }
        }

        .icon-class {
            padding-top: 20px;
            padding-right: 10px;
        }

        .label {
            display: block;
        }

        .not-rostered {
            font-size: 1.5em;
            position: absolute;
            top: 10px;
            left: 32px;
            color: #8CB4D2;
        }

        .in-roster-students {
            position: absolute;
            top: 11px;
            left: 24px;
        
            width: 26px;
            height: 26px;
            border: 2px solid white;
            
            background: #8CB4D2;
            color: white;
            line-height: 22px;
            font-size: 10px;
            
            .border-radius(15px);
            .transition(0.3s);
        }

        .tooltip-container-above {
            right: 0px;
            bottom: 65px;
            text-align: left;

            @media only screen and (max-width: @breakpoint-medium) {
                right: -64px;

                .triangle-left-above {
                    right: 77px;
                }

                .triangle-right-above {
                    right: 81px;
                }
            } 
        }
    }

    .student-count {
        position: relative;

        .in-roster-students {
            position: absolute;
            top: -30px;
            right: -27px;
            background: #ffa00a;
            padding: 2px 5px;
            color: white;
            font-size: 10px;
            min-width: 24px;
            
            .border-radius(15px);
        }

        i {
            font-size: 2em;
        }
    }

    .in-room-students {
        background: #ffa00a;
        padding: 4px 5px;
        color: white;
        font-size: 1em;
        position: relative;
        top: 9px;
        min-width: 27px;
        display: inline-block;
        text-align: center;
        
        .border-radius(15px);

    }

    .room-name-column {
        display: inline-block;
        padding: 9px 0;
    }

    .in-edit {
        .room-name-column {
            width: 80%;
        }
    }


    @media only screen and (max-width: @breakpoint-medium) {
        
        .room-name-column {
            width: auto;
        }

        .in-edit {
            .activity-status-column,
            .in-room-column {
                display: none;
            }

            .room-name-column {
                width: 100%;
            }

            .input-container {
                width: 70%;
            }

            .input-block,
            .room-name {
                width: 100%;
            }
        }

        .roster-action-button {
            width: 5em;
            min-width: 0;

            margin: 0;
            width: 62px;

            .not-rostered {
                left: 36px;
            }
        }

        .share-button-container,
        .delete-button-container,
        .desktop-cancel-button,
        .desktop-save-button,
        .in-menu-checkbox {
            display: none;
        }

        .mobile-save-button,
        .mobile-cancel-button {
            display: inline-block;
        }


        .activity-status-column, 
        .in-room-column {
            width: 15%;
            // text-align: center;
        }

        .more-actions-button {
            display: inline-block;
        }

        .more-actions-container {
            display: block;
        }

    }

    @media only screen and (max-width: @breakpoint-small) {
        
        .in-edit {
            .input-container {
                width: 60%;
            }
        }
    }
}