.roster-container {

    margin-top: 2em;
    
    .add-student-form.edit-view {
        @media only screen and (max-width: @breakpoint-small-max) {
            .input-container {
                width: 33.33%;
            }
        }
        @media only screen and (max-width: @breakpoint-small) {
            .student-data-wrapper {
                display: block;
            }

            .input-container {
                width: 100%;
                margin-top: 5px;
            }
        }
        
    }


    .manage-roster-buttons {
        text-align: right;
        margin-bottom: 1.5em;

        .roster-action-buttons {
            .padding-right-30 {
                padding-right: 30px;
                position: relative;
            } 

            .add-student-icon {
                position: absolute;
                top: 17px;
                right: 8px;
            }
        }
        

        @media only screen and (max-width: @breakpoint-small-max) {
            .roster-action-buttons {
                display: block;
                width: 100%;
            }
            .download-list-btn, .delete-list-btn {
                float: left;
            }

            .delete-list-btn button {
                margin-left: 0;
            }

            .button {
                min-width: 0;
            }
        }

        .button {
            margin-left: 10px;
        }
    }

    .pagination-container {
        float: left;
        text-align: left;
        width: auto;
        @media only screen and (max-width: @breakpoint-small-max) {
            text-align: left;
            padding-top: 20px;
            width: 100%;
        }
        
        .button {
            margin: 0;
            min-width: 20px;
            min-width: 10px;
            
            width: 40px;
            height: 40px;
            
            padding: 0;
            font-weight: 500;
            font-size: 37px;
            line-height: 34px;
            
            &:disabled {
                opacity: 0.5;
            }
        }

        .students-on-page {
            padding-left: 20px;
            color: #cccccc;
            vertical-align: middle;
        }
    }
    
    .pagination-number {
        display: inline-block;
        width: 40px;
        height: 40px;

        // padding: 11px 15px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        font-size: 15px;
        color: #cccccc;
        vertical-align: middle;

        &:hover {
            background-color: @blue-500;
            color: white;
        }

        &.active {
            background-color: @blue-500;
            color: white;
        }
    }

    .next-page,
    .previous-page {
        height: 42px;
    }

    .previous-page {
        .border-radius(3px 0 0 3px);
    }

    .next-page {
        .border-radius(0 3px 3px 0);
    }

    input {
        width: auto;
    }
    
    .list-view {
        input[type="text"] {
            border: none;
            width: auto;
            background: transparent;
        }
    }

    .roster-header {
        text-transform: uppercase;
        padding: 1.2em 0;

        .align-right {
            min-width: 16em;
            .col {
                min-width: 8em;
                text-align: center;
            }
        }

        .in-room,
        .student-name,
        .student-id {
            display: inline-block;
            cursor: pointer;
        }

        .in-room {
            width: 11%;
            white-space: nowrap;
        }

        .logged-in-students {
            display: inline-block;
            padding: 1px 4px;
            margin-left: 5px;
            
            background: #ccc;
            border-radius: 50%;
            min-width: 22px;
            
            text-align: center;
            color: white;
            font-size: 12px;
        }

        .student-name {
            width: 20%;
        }

        .student-id {
            width: 20%;
            
            @media only screen and (max-width: @breakpoint-medium) {
                display: none;
            }
        }

        .roster-filter {
            i {
                display: none;
            }

            &.active {
                span {
                    font-weight: bold;
                }
                i {
                    display: inline-block;
                    font-size: 1.2em;
                    position: relative;
                    top: 4px;
                    color: @blue-500;
                }
            }
        }

        @media only screen and (max-width: @breakpoint-medium) {
            .in-room {
                width: 20%;
            }
            .student-name, .student-data-wrapper {
                width: 80%;
            }
        }

        @media only screen and (max-width: @breakpoint-small) {
            .in-room {
                width: 30%;
            }
            .student-name, .student-data-wrapper {
                width: 70%;
            }
        }
    }

    .roster-list {
        .add-student-form {
            &.list-view {
                
                .transition(0.3s);
                border-radius: 3px;

                @media only screen and (max-width: @breakpoint-medium) {
                    &.list-view {
                        padding: 1em 0;
                    }

                    .presence {
                        float: left;
                        width: 20%;
                    }

                    .student-data-wrapper {
                        width: 60%;
                        float: left;
                    }

                    .right-buttons {
                        min-width: 0;
                        width: 20%;
                    }

                    .input-container {
                        display: block;
                        width: 100%;
                    }

                }

                @media only screen and (max-width: @breakpoint-small) {
                    .presence {
                        float: left;
                        width: 30%;
                    }

                    .student-data-wrapper {
                        width: 60%;
                    }
                    .right-buttons {
                        width: 10%;
                    }

                    .input-container {
                        width: 80%;
                    }
                }
            }
        }

        .presence {
            
            display: inline-block;
            width: 11%;

            text-align: left;

            i {
                font-size: 24px;
                color: #90C356;
                position: relative;
                top: 7px;
            }

            svg {
                vertical-align: middle;
                width: 24px;
                height: 25px;
            }

            &.absent {
                i {
                    color: #CCC;
                }
            }
        }

        .edit-view {
            .input-container {
                @media only screen and (max-width: @breakpoint-medium) {
                    width: 33.33%;
                }

                @media only screen and (max-width: @breakpoint-small) {
                    width: 100%;
                }
                
                width: auto;

                
            }
        }
        
        .input-container {
            width: 20%;

            input:disabled {
                padding: 0;
            }
        }

        .edit-student-container,
        .delete-student-container {
            .room-entry .delete-button-container;
        
            padding: 10px 0;
            height: 62px;
            
            @media only screen and (max-width: @breakpoint-medium) {
                display: none;
            }
        }


        .student-action {
            color: @blue-500;
            font-size: 1.7em;
            position: relative;
            top: 10px;

            &:hover {
                cursor: pointer;
            }
        }

    }
    
    .edit-students-btns {
        width: 30%;
        text-align: right;

        button {
            &:first-child {
                margin-right: 10px;
            }
        }
        .button-container {
            width: 50%;
            display: inline-block;
        }

        @media only screen and (max-width: @breakpoint-medium) {
            width: 100%;
            margin-top: 10px;
        }
    }

    .student-btn-container {
        .edit-button,
        .delete-button {
            display: inline-block;
            width: 50%;
            text-align: center;
        }

        @media only screen and (max-width: @breakpoint-medium) {
            .edit-button,
            .delete-button {
                display: none;
            }
        }
    }


    .loader-container {
        margin: 0 auto 20px;
    }

    // when we are showing the message there is a margin top of 1.5 em that we should get rid of
    .students-in-room-message {
        margin: -1.5em 0 10px;
    }

}