.share-room-container {

	.share-room-copy {
		
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
		color: #555555;
	}
	&.form {
		.share-room-form {
			.share-url {
				border: 1px solid #ddd;
			    border-right: none;
			    position: relative;
			    padding: 11px 0 11px 10px;
			    width: 100%;
			    
			    &.copied {
			    	border: 1px solid #8fc254;
			    }
				
				.url {
					border: 0;
					padding: 0;
					height: auto;
					width: 80%;

					&.copied {
						color: #8fc254;
					}
				}

				.url::selection{
				  	background: #b0d6ff;
				  	color: #555;
				}

				.url::-moz-selection{
				  	background: #b0d6ff;
				  	color: #555;
				}
				
				button {
					position: absolute;
					top: -1px;
					right: 0;
					min-width: 96px;
					border-radius: 0 3px 3px 0;
					fill: white;

					.ok-icon-circle {
						position: relative;
						top: 10px;
						margin-right: 6px;
					}

					&.copied {
						background: #8fc254;
						border-color: #8fc254;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
			&.highlighted {
				.share-url {
					.url {
						width: 85%;
					}
					.url::selection{
					  	background: #309bff;
					  	color: white;
					}

					.url::-moz-selection{
					  	background: #309bff;
					  	color: white;
					}
				}
			}
		}

		&.mobile-form {
			.share-room-form {
				.share-url {
					border-right: 1px solid #ddd;
					padding: 11px 10px;

					&.copied {
				    	border-right: 1px solid #8fc254;
				    }

					.url {
						width: 100%;
					}
				}

				button {
					top: 55px;
					border-radius: 3px;
					right: -1px;
				}
			}

			.generate-new-button {
				margin: 9px 20px 0 0;
			}

			.share-info-text{
				margin: 20px 0 0;
				display: block;
				width: 100%;
			}
		}
	}
	

	.current-room {
		font-size: 14px;
		font-weight: 400;
		color: #555555;
		padding: 10px 0; 
	}

	.share-room-bottom {
		padding: 20px 0; 

		@media only screen and (max-width: @breakpoint-medium) {
			padding: 16px 0 10px; 
			min-height: 70px;
		}

		.generate-new-button {
			float: left;
			fill: #6D9EC4;
			margin: 3px 20px 0 0;

			span {
				text-decoration: underline;
				position: relative;
				color: #779bb7;
			    left: 10px;
			    top: -4px;

			    &:hover {
			    	text-decoration: none;
			    }
			}
		}

		.share-info-text {
			span {
				font-size: 14px;
				font-weight: 700;
				line-height: 1.5;
				color: #309bff;
				position: relative;
				left: 10px;
				top: -5px;
			}
		}
	}
}