.login-error-banner {
    background-color: rgba(229, 8, 0, 0.9);
    min-height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 18px 50px 18px 18px;
    .login-banner-icon {
        position: relative;
        top: 3px;
        margin-right: 10px;
    }
    .login-banner-text {
        color: white;
    }

    .login-banner-error-close {
        position: absolute;
        right: 18px;
        top: 18px;

        &:hover {
            cursor: pointer;
        }
    }
}

#page-container-student-id {

    background: white;
    padding: 0 0 70px; 
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
}

#main-content-student-id {
    min-height: 100%;
    text-align: center;

    & .login-logo img {
        margin-bottom: 2em;
    }
    
    & .login-logo svg {
        margin: 25px auto;
    }
}

#join-room-container,
#student-login-container {
    background-color: @lightBlue;
    border-radius: 5px;
    padding: 32px 16px;
    text-align: left;

    .student-login-title {
        margin-bottom: 46px;

        h1 {
            color: #555555;
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
        }
    }

    .student-roster-room-name {
        font-size: 18px;
        font-weight: 600;
        margin: 13px 0;
        text-transform: uppercase;
    }

    .cancel-button {
        float: right;
        font-size: 14px;
        text-decoration: underline;
        text-transform: none;
        color: #6d9ec4;
        font-weight: 600;
    }
    
    .info-block {
        padding: 13px;
        margin-bottom: 20px;
        color: white;
        background: @mainBlue;

        .info-icon {
            position: relative;
            
            svg {
                position: absolute;
                top: 10px;
            }
        }

        .info-text {
            margin-left: 33px;
            span {
                color: white;
            }
        }
    }

    #student-login {
        padding-top: 0;
        margin-bottom: 20px;
        .input-container {
            width: 100%;
        }

        #studentRoomName {
            text-transform: uppercase;
            width: 100%;
        }
        
        input {
            font-family: "Roboto Mono";
            
            width: 100%;
            font-size: 17px;
            &::-webkit-input-placeholder { 
                font-family: @base-body-font-family;
                text-transform: capitalize;
            }
            &:-moz-placeholder,
            &::-moz-placeholder {
                font-family: @base-body-font-family;
                text-transform: capitalize;
            }
            &:-ms-input-placeholder {
                font-family: @base-body-font-family;
                text-transform: capitalize;
            }
        }
    }

    .submit-button-container {
        .align-center;

        padding: 12px 0 0;
    }

    #studentLoginButton {
        width: 100%;
    }

    &.single-display {
        margin: 28px 0 0 0;
        width: 300px;
        
        @media screen and (min-width: @breakpoint-tablet) {
            padding: 32px;
            width: 489px !important;
        }
    }
}

@media screen and (max-width: @breakpoint-small) {
    
    #student-login-container #student-login input {
        width: 100%;
    }
    
    #join-room-container #student-login input {
        width: 100%;
    }

    .button-large {
        .button-small;
        min-height: 44px;
    }
}

.outer-join-room-container {
    
    #join-room-container {
        float: none;
    }
    
    .join-room-language-menu {
        cursor: pointer;
        display: inline-block;
        float: right;
        height: 44px;
        line-height: 44px;
        margin-bottom: 61px;
        padding: 0 8px;
        position: relative;
        
        .language-menu-button {
            position: relative;
        }
        
        .language-menu-flag-selected {
            margin-right: 8px;
            .unselectable;
        }
        
        .language-menu-text {
            margin-right: 8px;
            .unselectable;
        }
        
        .language-menu-chevron {
            position: relative;
            top: -2px;
        }
        
        .language-menu-arrow {
            border-right: 16px solid transparent;
            border-top: 16px solid #ffffff;
            .box-shadow(-1px -1px 1px 0px #aaaaaa);
            height: 0;
            position: absolute;
            right: 6px;
            width: 0;
            z-index: 1;
        }
        
        .language-menu-arrow-above {
            .rotate(225deg);
            top: -7px;
        }
        
        .language-menu-arrow-below {
            .rotate(45deg);
            top: 35px;
        }
        
        .language-menu {
            background-color: #ffffff;
            .box-shadow (0 0 4px #888);
            max-height: 308px;
            overflow-y: scroll;
            position: absolute;
            right: 0;
            -webkit-overflow-scrolling: touch;
            width: 238px;
            
            .language-menu-item {
                padding: 0 16px;
                text-align: left;
                
                .language-menu-flag {
                    margin-right: 12px;
                    .unselectable;
                }
                
                .language-menu-checkmark {
                    color: #8cb4d2;
                    float: right;
                }
            }
            
            .language-menu-item-hover:hover {
                background-color: #eeeeee;
            }
            
            .language-menu-item-selected {
                background-color: #eeeeee;
            }
        }
        
        .language-menu-above {
            bottom: 42px;
            right: -6px;
        }
        
        .language-menu-below {
            top: 42px;
        }
        
        @media screen and (min-width: @breakpoint-tablet) {
            .language-menu {
                right: -20px;
            }
        }
    }
}
