@import "../input.less";
@import "../views/modal.less";
@import "../views/rooms/premium-popup.less";
@import "../views/register.less";

@google-color:  #dd4b39;
@input-width:   100%;
@inputCheckbox: 20px;
@marginTop:     20px;


#teacherLoginForm {
    background-color: @lightBlue;
    border-radius: 5px;
    padding: 32px 16px;
    text-align: left;
    
    .teacher-login-title {
        margin-bottom: 46px;

        h1 {
            color: #555555;
            font-size: 24px;
            font-weight: 300;
            line-height: 24px;
        }
    }
    
    .loginInput {
        font-size: 14px;
        font-weight: 300;
    }
    
    #teacherLoginButton {
        width: 100%;
    }
    
    &.single-display {
        margin: 28px 0 61px 0;
        
        @media screen and (min-width: @breakpoint-medium) {
            padding: 32px;
            width: 489px !important;
        }
    }
}

#teacher-password,
#teacher-password2 {
    margin-top: 10px;
}

#reset-email {
    margin-top: 32px;
}

.google-sign-in {
    margin-top: 41px;
    
    .teacher-login-google-button {
        width: 100%;
    }
}

@circle-radius: 5px;
#bottom-links {
    padding-top: 15px;
    
    #getAnAccount {
        float: right;
    }
}

.forgot-password-explanation {
    display: block;
}
